[2018-07-25 22:32] amanda-phet opened #145 "create sim primer"
@CWilson4960 and I will be meeting in the next couple weeks to start the sim primer process.

[2018-07-26 15:23] jonathanolson commented on #143
Equality explorer has been patched as part of https://github.com/phetsims/special-ops/issues/112 (waiting on testing). masses-and-springs was also patched.

Can we close this issue now, or leave open until the production deploys happen?

[2018-08-13 16:49] pixelzoom commented on #143
@jonathanolson What is the status of this issue? https://github.com/phetsims/special-ops/issues/112 is now closed. Was this fixed in the 1.0.1 maintenance release?

[2018-08-13 16:50] pixelzoom commented on #141
@jonathanolson What is the status of this issue? https://github.com/phetsims/special-ops/issues/112 is now closed. Was this fixed in the 1.0.1 maintenance release?

[2018-08-13 17:05] pixelzoom commented on #143
According to @jonathanolson via Slack... This issue was addressed in 1.0.1.  Closing.

[2018-08-13 17:05] #143 closed

[2018-08-13 17:06] pixelzoom commented on #141
According to @jonathanolson via Slack... This issue was _not_ addressed in 1.0.1.  It will be addressed in the maintenance release that is being tracked in https://github.com/phetsims/special-ops/issues/114.

[2018-08-15 20:51] jonathanolson commented on #141
@pixelzoom the patches were deployed just now. Anything else to do?

[2018-08-15 20:59] #141 closed

[2018-11-07 20:05] pixelzoom commented on #1
@ariel-phet see https://github.com/phetsims/equality-explorer/issues/1#issuecomment-407917529. Have you added this sim to Gooru and Edmodo?

[2018-11-07 20:06] pixelzoom opened #146 "add to Gooru and Edmodo"
From the master checklist in #1:

In https://github.com/phetsims/equality-explorer/issues/1#issuecomment-407917529, @amanda-phet said:

[2018-11-07 20:08] pixelzoom opened #147 "create auxiliary screenshots"
From the master checklist in #1:

[2018-11-07 20:10] pixelzoom commented on #1
Remaining checklist items are covered by #145, #146 and #147.

Closing.

[2018-11-07 20:10] #1 closed

[2018-11-07 23:53] phet-steele commented on #147
@KatieWoe please take these screenshots and follow the naming scheme from other sims:

The first is one @KatieWoe had in #125 that I thought could be used for an alternate:

![image](https://user-images.githubusercontent.com/5863899/48163845-04521b00-e29e-11e8-8f5e-34eb9024ba02.png)
![image](https://user-images.githubusercontent.com/5863899/48165349-85abac80-e2a2-11e8-8b7d-6b7c557a1d8d.png)

For t

[2018-11-07 23:56] amanda-phet commented on #147
One request- a different value for x in the first one. Since 1 is the
default it is nice to show that x can be something like 20.

On Wed, Nov 7, 2018, 4:53 PM phet-steele <notifications@github.com wrote:

[2018-11-08 16:04] KatieWoe commented on #147
Since some changes were requested I'm posting the screenshots here for final review before committing them.  @amanda-phet
![equality-explorer-screenshot-alt1](https://user-images.githubusercontent.com/41024075/48210797-4d08e300-e335-11e8-9d2d-dd7254989b53.png)
![equality-explorer-screenshot-alt2](https://user-images.githubusercontent.com/41024075/48210798-4da17980-e335-11e8-959f-ca3f7cbdf4ed.png)

[2018-11-08 16:19] amanda-phet commented on #147
Now that the operations screen is more unbalanced, I have one more request. Can you make the Basics screen a little less unbalanced, and leaning to the right? Just for some more visual interest, so that all 4 together have two balanced, one unbalanced to the left, and one unbalanced to the right. Thanks!

[2018-11-08 16:50] KatieWoe commented on #147
@amanda-phet
![equality-explorer-screenshot-alt2](https://user-images.githubusercontent.com/41024075/48213718-ad028800-e33b-11e8-983c-ade6eec3959b.png)

[2018-11-08 17:03] amanda-phet commented on #147
Looks good. Thanks!

[2018-11-13 15:51] KatieWoe commented on #147
This should be done

[2018-11-13 15:51] #147 closed

[2018-11-14 00:02] ariel-phet commented on #146
Added, closing

[2018-11-14 00:02] #146 closed

[2018-11-30 20:53] pixelzoom commented on #135
Perhaps a workaround like AccordionBox https://github.com/phetsims/graphing-quadratics/issues/86 could be used?

[2019-01-30 18:26] samreid opened #148 "Eliminate usage of frameStartedEmitter"
From https://github.com/phetsims/joist/issues/534, we would like to eliminate `frameStartedEmitter`.  Equality Explorer uses it like so:

[code]

It seems like this code needs to be called after the nodes have been attached to the view.  Could this be done through `stepSimulationEmitter`?

[2019-01-31 01:15] pixelzoom commented on #148
@samreid asked:

No idea. See https://github.com/phetsims/joist/issues/534#issuecomment-459176061.

[2019-01-31 01:44] pixelzoom commented on #148
`stepSimulationEmitter` as currently implemented is not a replacement for `frameStartedEmitter`.  It does not notify listeners at the start of the frame, it notifies them at the end of the frame.  See (2) in https://github.com/phetsims/joist/issues/534#issuecomment-459181469.  The callback in this sim needs to be executed _before_ the first step is performed by Sim.js.

[2019-01-31 04:16] pixelzoom commented on #148
In https://github.com/phetsims/joist/issues/534#issuecomment-459205595, @samreid proposed that using `sim.endedSimConstructionEmitter` might be more appropriate.   I experimented with it, and it seems to work.  But a couple of questions before I commit and push:

(1) Does `endedSimConstructionEmitter` emit after the scenegraph is built? The documentation says "indicates sim construction completed"

[2019-01-31 04:21] pixelzoom commented on #148
Here's a patch for using `endedSimConstructionEmitter` in `TermCreatorNode`.

[code]

[2019-01-31 04:26] samreid commented on #148
Yes, it is called after all screen models and views are fully constructed.

From the documentation:

[code]

It is exercised frequently by PhET-iO and also leveraged by Legends of Learning.

[2019-01-31 04:28] samreid commented on #148
I added a note to the documentation, let me know if that helps!

[2019-01-31 05:04] pixelzoom commented on #148
Replaced frameStartedEmitter with endedSimConstructionEmitter in the above commits.  Tested all screens manually after startup.  Tested with `?ea&fuzz`.

@samreid please take a quick peek, close if this looks OK.

[2019-01-31 13:54] samreid commented on #148
The commits look good.  I also added console.log statements to verify that they were happening at the appropriate time.  However, this revealed that one step() is called before `endedSimConstructionEmitter` emits.  This will not cause a problem in practice, since the splash screen is still showing when the step() runs, but I'll create a joist issue where we can discuss further.

Up to you if you w

[2019-01-31 15:43] KatieWoe opened #149 "CT attempt to access positiveLocation before it was initialized"
This same error is in basics and two variables as well
[code]

[2019-01-31 16:41] pixelzoom commented on #149
@samreid This started immediately after switching to `endedSimConstructionEmitter` in #148.  I will be switching back to `frameStartedEmitter`.

[2019-01-31 16:43] pixelzoom commented on #148
#149 immediately started in CT after making this switch, so I'm reverting.  And I don't have time to investigate this.  So if you think it's vital to eliminate frameStartedEmitter, someone else will need to handle.

[2019-01-31 16:47] pixelzoom commented on #149
I reverted #148.   I'll watch CT to verify that this issue goes away.

[2019-01-31 18:46] pixelzoom commented on #149
CT has been through 4 cycles without a problem, so I'll close this issue.

[2019-01-31 18:46] #149 closed

[2019-02-04 03:29] samreid commented on #148
In https://github.com/phetsims/joist/issues/534 it was determined we will keep both `frameStartedEmitter` and `frameEndedEmitter`.  However, we also changed https://github.com/phetsims/joist/issues/550 to make `endedSimConstructionEmitter` emit before the  first step.  I'll leave it up to you if you want to reinvestigate using `endedSimConstructionEmitter`, or leave it as it is and close.

[2019-02-04 16:53] pixelzoom commented on #148
I'm going to leave it as is.  Closing.

[2019-02-04 16:53] #148 closed

[2019-02-11 16:09] samreid opened #150 "Convert usages of `get Node.disposed` to use `Node.isDisposed`"
From https://github.com/phetsims/scenery/issues/899, we would like to be consistent about using `isDisposed` instead of `disposed`.  I'm not too familiar with this sim, but it seems `Term` extends `EqualityExplorerMovable` which introduces `this.disposed`, which is used in several places.  There is also one occurrence of `Node.disposed` which should be changed to `Node.isDisposed` (in UniversalOpe

[2019-02-11 17:42] pixelzoom commented on #150
Looks OK to me, go for it.  Please assign back to me after commit/push.

[2019-02-11 17:44] samreid commented on #150
Committed/pushed, back to you.

[2019-02-11 18:00] pixelzoom commented on #150
👍 Reviewed, tested, closing.

[2019-02-11 18:00] #150 closed

[2019-02-11 18:05] pixelzoom opened #151 "Add support for PhET-iO"
Things to consider when this sim is instrumented for PhET-iO.

EqualityExplorerMovable defines `isDisposed` and `dispose`.  If it needs to extend `PhetioObject`, these definitions will shadow definitions in `PhetioObject`.

[2019-04-08 20:11] pixelzoom opened #152 "remove Tween preload"
This issue applies to the entire equality-explorer suite.

TWEEN was replaced by twixt over in https://github.com/phetsims/twixt/issues/18.  But I still see this in package.json, which I suspect should be removed:

[code]

[2019-04-08 20:38] pixelzoom commented on #152
Tween preload was removed, tested requirejs and built versions of all 3 sims. Closing.

[2019-04-08 20:38] #152 closed

[2019-04-16 22:20] KatieWoe opened #153 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56247892-8f141e80-6063-11e9-9e0f-9bd27532

[2019-04-16 22:20] #153 closed

[2019-07-29 17:34] amanda-phet opened #154 "Consider using PropertyFractionNode (common)"
Any sim that uses a fraction in a display might want to consider using (and modifying, if needed) the new fraction common code that was added due to https://github.com/phetsims/fractions-intro/issues/7 .

[2019-08-02 14:41] KatieWoe opened #155 "CT cannot read property 'count' of undefined"
Also in EEB and EETV
[code]

[2019-08-02 16:39] pixelzoom commented on #155
This is related to ActionIO:

[code]

@zepumph @samreid have been working on this, so looping them in here to review.

[2019-08-02 20:44] zepumph commented on #155
Fixed above, see https://github.com/phetsims/equality-explorer/issues/155. Closing

[2019-08-02 20:44] #155 closed

[2019-08-12 16:03] pixelzoom commented on #154
I have investigated.  The advantage to doing this is almost negligible, and the amount of work is large.   Even if there were some a11y or PhET-iO advantage, those features should be addressed for equations _in general_, not just fractions.

So I'm going to close this as "won't fix".  @amanda-phet feel free to reopen if you disagree.

[2019-08-12 16:03] #154 closed

[2020-01-23 17:30] zepumph opened #156 "CT failure invalid value for range"
From https://github.com/phetsims/axon/issues/274#issuecomment-577737728

CT is failing after work was done in that issue to validate the range more. The problem seems to be in `Variable.js`. By the looks of this, there is a misspelled var. I think `xRange` may want to be `range`.

[2020-01-23 17:33] zepumph commented on #156
After further investigation, the passed in range doesn't seem to be correct for the passed in value. Here is a patch that allows the sim to run:

<details>

[code]
</details>

Assigning to responsible dev to see if this seems like the correct approach for the fix.

[2020-01-23 17:47] pixelzoom commented on #156
@zepumph can you speculate on why it's necessary to provide `range` for 'dog':

`new ObjectVariable( 'dog', dogImage, dogShadowImage, { value: 11, range: new Range( 0, 11 ) } )`

... but not for 'cat' and 'turtle'?

[2020-01-23 17:51] zepumph commented on #156
I know nothing about the sim, and don't think my patch is necessarily the best. It was just something that got the sim running. The reason only dog was needing a special range was because of the default provided by `ObjectVariable`, which is [1,10].

[2020-01-23 18:13] pixelzoom commented on #156
Thanks for investigating @zepumph.  Patch in https://github.com/phetsims/equality-explorer/issues/156#issuecomment-577787384 is not appropriate.

Fixed in the above commit. Tested with and without https://github.com/phetsims/axon/commit/d4b681297503cd91bb83ef1cdc78f162e48fa881 (which is still up for discussion in https://github.com/phetsims/axon/issues/274.

I'll leave this open until CT verifies.

[2020-01-23 19:59] pixelzoom commented on #156
Added an assertion in the above commit so that this type of problem will be caught before it ever gets to NumberProperty validation.

[2020-01-23 19:59] pixelzoom commented on #156
Passing CT, closing.

[2020-01-23 19:59] #156 closed

[2020-01-24 17:53] pixelzoom opened #157 "CT: value failed isValidValue: -70"
CT is failing consistently with errors like the one below.  This is likely related to NumberProperty range changes in https://github.com/phetsims/axon/issues/274.

[code]

[2020-01-24 17:56] pixelzoom commented on #157
Reproduced manually with `?ea&screens=5&fuzz&log`.  It doesn't happen immediately, so let it run awhile.

The problem is that `xVariable` (x) for SolveItScene has range [-40,40].  But "level 1, type 3" challenges (for example) _derive_ the value of `xVariable`. Based on the range of coefficients a, b, c, d, x value derived by the challenge generator can be outside that range.  Having a range for x

[2020-01-24 18:58] pixelzoom commented on #157
Now that NumberProperty is more strict about its range, this issue and #156 popped up.

There were 3 problems here: (1) all "variables" (Variable.js) had a default range, (2) the default was not generally appropriate, and (3) ranges were set for variables that shouldn't have a range, for example the _derived_ value of 'x' in certain game challenges.

The only variables that require a range are tho

[2020-01-24 21:12] pixelzoom commented on #157
CT is happy for 3 cycles, closing.

[2020-01-24 21:12] #157 closed

[2020-01-24 22:39] zepumph commented on #157
Thanks for taking care of this!

[2020-03-12 21:37] pixelzoom commented on #135
According to https://phet.colorado.edu/en/help-center/running-sims, iPad system requirements are:

This issue was unique to iOS9, which is no longer supported.  Closing.

[2020-03-12 21:37] #135 closed

[2020-09-08 23:28] pixelzoom opened #158 "replace deprecated input listeners"
Related to https://github.com/phetsims/scenery/issues/1078.

- [x] ObjectPicker: ButtonListener > FireListener, FireOnHoldInputListener > FireListener
- [x] LockControl: DownUpListener > FireListener
- [x] SnapshotControl: DownUpListener > FireListener
- [x] TermCreatorNode: SimpleDragHandler > DragListener
- [x] TermDragListener: SimpleDragHandler > DragListener

[2020-09-09 02:06] pixelzoom commented on #158
ObjectPicker is complicated. Whatever is done for NumberPicker in phetsims/scenery#1078 should be applied in ObjectPicker.

TermCreatorNode and TermDragListener were not straightforward due to event forwarding, so I'm going to wait on those.

[2020-09-09 14:58] KatieWoe opened #159 "CT duplicates are not allowed"
[code]

[2020-09-09 14:59] KatieWoe commented on #159
Applies to other Equality Explorer sims as well.

[2020-09-09 18:43] pixelzoom commented on #159
CT shows this occurring in built and unbuilt versions.  I reproduced it in unbuilt equality-explorer with `?brand=phet&ea&fuzz`.

Two cases of DownUpListener were replaced with FireListener in this sim, for https://github.com/phetsims/equality-explorer/issues/158.  The shas for the commits are 517290b and 7213438.  I don't see anything obviously wrong with the usages there.

In PressListener, the

[2020-09-09 19:16] jonathanolson commented on #159
I believe this is probably related to https://github.com/phetsims/scenery/issues/1021, is there a point where a node with an input listener is removed? `pressListener.clearOverPointers()` is the current workaround.

[2020-09-09 19:18] pixelzoom commented on #159
Yes, see SnapshotControl.js line 171, where `upListener` is an instance of FireListener:

[code]

This is executed when SnapshotControl has no associated snapshot, and therefore is not interactive. I can certainly use the `clearOverPointers` workaround, or work around it by not removing the listener. But it sounds like a general problem that needs to be addressed.

[2020-09-09 19:36] pixelzoom commented on #159
I've reopened phetsims/scenery#1021 and labeled it high priority.  If we're converting to these new input listeners, then we should be able to remove a listener without things breaking, or having to resort to workarounds or reimplementing.

In the meantime, I've reimplemented SnapshotControl to avoid removing the offending listener.  Looks OK in local fuzz testing.  I'll leave this open until CT v

[2020-09-09 20:08] pixelzoom commented on #159
CT is happy. Closing.

[2020-09-09 20:08] #159 closed

[2020-11-04 21:10] pixelzoom opened #160 "CT: nextOperandIndex out of range: 41"
This assertion failure occurred once in CT, but is worthy of investigation, with low priority:

[code]

[2020-11-06 16:27] KatieWoe opened #161 "CT cannot read property x of null"
Happening in Basics and Two Variables as well
[code]

[2020-11-06 16:33] pixelzoom commented on #161
This error started occurring 11/5/202 at 4:43PM.  It's occurring consistently.  And it is immediately reproducible with unbuilt fuzz testing in my working copy.   The most recent changes in equality-explorer where some class renames on 10/27/2020, so I suspect this regression is due to common code changes.

[2020-11-06 18:10] zepumph commented on #161
The ordering of input fuzzing changed over in https://github.com/phetsims/phet-io-wrappers/issues/371. This was done after discussion with @jonathanolson and @samreid. Input fuzzing is no longer part of the stepSimulation() function, but happens before. This seems to be the cause of this issue. Adding myself as an assignee.

[2020-11-06 18:13] zepumph commented on #161
This bad workaround fixes the error and confirms that it is from the first fuzz, which occurs before any stepSimulation has occurred:

[code]

[2020-11-06 18:19] zepumph commented on #161
Fixed with the above commit. @samreid will you please review this in concert with https://github.com/phetsims/phet-io-wrappers/issues/371.

[2020-11-07 02:02] samreid commented on #161
That seems good.  I also considered running the fuzz after stepOneFrame (without a frameCounter check), but it's better to process input events first. Thanks!  Closing.

[2020-11-07 02:02] #161 closed

[2020-11-10 04:50] pixelzoom commented on #160
Steps to reproduce manually:

1. Run the sim unbuilt with ?ea
2. Go to the "Solve It!" screen
3. Select Level 1
4. Press and hold the up arrow on the ObjectPicker for the operand. When it hits the max, it will fail with this assertion:

[code]

If you press and hold the down-arrow on the ObjectPicker, when it hits the min it will fail with:

[code]

[2020-11-10 04:59] pixelzoom commented on #160
This appears to be a problem with ObjectPicker.  The same error occurs if you increment/decrement by pressing once for each value (instead of press-and-hold).  When you get to the max or min, even though the arrow appears to be disabled, you can still click.  It also occurs with the ObjectPickers in the Operations screen.

The most likely candidate for this regression is https://github.com/phetsim

[2020-11-10 18:35] pixelzoom commented on #160
Fixed in the above commit.  Verified manually and with `?screens=4&ea&fuzz` in working copy.  I'll leave this open for a few CT cycles.

[2020-11-10 18:59] pixelzoom commented on #158
Equality Explorer is now free of deprecated input listeners. I'll wait a couple of CT cycles before closing.

[2020-11-10 20:16] pixelzoom commented on #160
Looks good in CT, closing.

[2020-11-10 20:16] #160 closed

[2020-11-10 20:16] pixelzoom commented on #158
Looks good in CT, closing.

[2020-11-10 20:16] #158 closed

[2021-02-09 18:09] oliver-phet opened #162 "User suggestion: undo feature"

[2021-02-09 19:05] amanda-phet commented on #162
@oliver-phet can you forward this user email to me so I can reply? We won't be making an undo button.

[2021-02-09 20:04] amanda-phet commented on #162
Responded 2/9/21.

Thank you for your suggestion! I'm so glad to hear you're using the sim with your students.

When we interviewed students using the Equality Explorer sim, we found that *not* having an undo button was a *feature* of the game. I observed students wanting to undo their operation, and had to use the inverse operation to do so. That process led them to a more solid understanding of

[2021-02-09 20:04] #162 closed

[2021-04-05 17:37] pixelzoom opened #163 "Add a query parameter to constrain Level 1 challenges to have positive coefficients."
On Slack, @kathy-phet requested a query parameter that constrains the _Solve It!_ challenges for Level 1 to have positive coefficients for _x_.

The full specification for the Level 1 challenges can be found in this design doc: https://docs.google.com/document/d/1vG5U9HhcqVGMvmGGXry28PLqlNWj25lStDP2vSWgUOo/edit#heading=h.tuc0yye6ee0b.  Here's a summary of the 3 types of challenges in Level 1:

* `

[2021-04-05 17:56] pixelzoom commented on #163
@kathy-phet here's a dev version, to confirm that this is behaving as desired:

https://phet-dev.colorado.edu/html/equality-explorer/1.1.0-dev.2/phet/equality-explorer_en_phet.html?easyLevel1

If this looks OK, let me know and I'll patch it into the 1.0 release branch.

[2021-04-05 18:11] pixelzoom commented on #163
In Slack, @kathy-phet verified that 1.1.0-dev.2 is behaving as desired.  I'll proceed with patching into the 1.0 branch, and creating the RC.

[2021-04-05 18:35] pixelzoom commented on #163
Patching the 1.0 branch was a tad more work than usual.  I could not cherry-pick, because the branch predates the conversion to ES6.  So I had to manually patch the affected files.  Anyway...

The RC version has been deployed. The link, with `easyLevel1` query parameter, is:

https://phet-dev.colorado.edu/html/equality-explorer/1.0.13-rc.1/phet/equality-explorer_en_phet.html?easyLevel1

@kathy-phe

[2021-04-05 22:08] kathy-phet commented on #163
Thanks! Closing.

[2021-04-06 22:45] pixelzoom commented on #163
Reopening.

Now that this change is in both master and the 1.0 release branch, there are consequences.

First, is this going to be a new "official" feature?  If so, it needs to be added to the query-parameters spreadsheet, QA tested, etc.

Second, there's the issue of having an unpublished/untested change in a production branch. For the 1.0 branch, this change will automatically be published, with

[2021-04-07 00:11] kathy-phet commented on #163
@amanda-phet and I can discuss about the future of this query parameter after we hear back from the teacher about how the sim use went. So in a week or so.

[2021-04-20 18:13] pixelzoom commented on #44
For https://github.com/phetsims/special-ops/issues/198, this branch needs to be deleted again.  Reopening and self assigning.

[2021-04-22 21:25] pixelzoom commented on #44
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:25] #44 closed

[2021-04-26 20:57] pixelzoom commented on #163
@amanda-phet @kathy-phet checking in to see how use of this query parameter went.  How would you like me to proceed?

[2021-04-27 17:23] amanda-phet commented on #163
@kathy-phet and I discussed this.

@pixelzoom I'm thinking I'd like to add a new level between 1 and 2 (so a new level 2).

**Level 1**: "easy" level 1 [what is currently `?easyLevel1`]
**Level 2**: challenges with negative coefficients [modified Level 1, only challenge types 1 and 3, with a = [-10,-1] and d = [-10,-1] with the first challenge being type 1 and a=-1]
**Level 3**: [current level 2,

[2021-04-27 21:43] pixelzoom commented on #163
This would be relatively straightforward, but time consuming.   Here are the tasks and time estimates.

@amanda-phet design:
*  Update [the design doc](https://docs.google.com/document/d/1vG5U9HhcqVGMvmGGXry28PLqlNWj25lStDP2vSWgUOo/edit.). Because it is referenced in the code for each level's challenge generator, it's important that the doc is kept up-to-date.
* Decide what the layout should be fo

[2021-04-27 22:55] kathy-phet commented on #163
@pixelzoom - We have funding for this, and it would be good to have for our grant work. There is no current deadline for this work, but in general I think it would be nice to have it published with this by start of 2021-22 school year.

[2021-04-27 23:52] pixelzoom commented on #163
Sounds good.  As @amanda-phet suggested, let's schedule a quick design meeting about this, to make sure we're all on the same page.

[2021-04-28 23:39] pixelzoom opened #164 "Changes to Solve It! game"
In https://github.com/phetsims/equality-explorer/issues/163, we added the `easyLevel1` query parmeter that was used in a study.  It simplified the challenges for level 1.

As a result of that study, changes to the game were proposed in https://github.com/phetsims/equality-explorer/issues/163#issuecomment-827778502.

@amanda-phet said:

[2021-04-28 23:39] pixelzoom commented on #164
In https://github.com/phetsims/equality-explorer/issues/163#issuecomment-827950501, I provided a list of tasks and time estimates:

This would be relatively straightforward, but time consuming.   Here are the tasks and time estimates.

@amanda-phet design:
*  Update [the design doc](https://docs.google.com/document/d/1vG5U9HhcqVGMvmGGXry28PLqlNWj25lStDP2vSWgUOo/edit). Because it is referenced in t

[2021-04-28 23:40] pixelzoom commented on #164
In https://github.com/phetsims/equality-explorer/issues/163#issuecomment-828000540, @kathy-phet said:

I replied:

[2021-04-28 23:41] pixelzoom commented on #163
Since revising the game is a different (and larger) task than adding a query parameter, I've moved the game revision to https://github.com/phetsims/equality-explorer/issues/164.  Let's continue the discussion there.

Closing.

[2021-04-29 13:12] pixelzoom commented on #164
For discussion at 4/29 design meeting...

 - [x] Do you want this in a 1.0 maintenance release? It's not going to be straightforward to patch into the 1.0 branch, because that branch pre-dates the switch to ES6.

**DECISION: master only, no maintenance release.**

-  [x] Clarify level 1 requirements

To clarify... You still want all 3 challenge types in level 1, but types 1 & 3 should be adjusted

[2021-04-29 13:36] pixelzoom commented on #164
Here are the options for button layout.  Spacing is adjustable in either case.

Single row:
<img width="1031" alt="screenshot_967" src="https://user-images.githubusercontent.com/3046552/116559292-8646bc00-a8bd-11eb-8a24-0d04cf938df5.png">

Grid:
<img width="1034" alt="screenshot_968" src="https://user-images.githubusercontent.com/3046552/116559304-8a72d980-a8bd-11eb-931b-42ead55426a1.png">

[2021-04-29 13:40] pixelzoom commented on #164
To clarify... You still want all challenge types in level 1, but type 1 & 3 should be adjusted as for the `easyLevel1` query parameter.  Is that correct?

[2021-04-29 21:28] pixelzoom opened #165 "Add gameLevels query parameter."
From https://github.com/phetsims/vegas/issues/86...

Add a public query parameter to specify which game levels to include.  Name it `gameLevels`, and add it to EqualityExplorerQueryParameters.js. Levels should retain their original numbers on buttons, descriptions, etc.

Estimate: 2 hours to implement, test, in master only.

[2021-04-29 21:50] pixelzoom commented on #164
4/29/21 design meeting @amanda-phet @kathy-phet @pixelzoom

We discussed the items in https://github.com/phetsims/equality-explorer/issues/164#issuecomment-829226364.  Decisions are interspersed in that comment with "DECISION".

[2021-04-29 23:07] pixelzoom commented on #165
This is fully implemented.

The values for `gameLevel` must be unique integers, in ascending order, from the range [1,5].

Examples:

Valid: `gameLevels=1,3,5`
Invalid: `gameLevels=5,3,1` // not in ascending order
Invalid: `gameLevels=1,2,2,3`  // contains duplicates
Invalid: `gameLevels=1,3,6` // contains an invalid level number

I'll wait to have this reviewed with https://github.com/phetsims/eq

[2021-04-29 23:09] pixelzoom commented on #164
A bug chunk of this has been completed in the above commit.

Still to be done:
- [x] Revise level 1 challenge generator
- [x] Revise level 2 challenge generator
- [x] Remove `easyLevel1` query parameter in master and 1.0, in https://github.com/phetsims/equality-explorer/issues/163

[2021-04-30 00:03] pixelzoom commented on #163
Reopening to remove `easyLevel1` query parameter, for #164.

[2021-04-30 00:10] pixelzoom commented on #163
`easyLevel1` query parameter was removed from master and 1.0 in the above commits.

[1.0.13-rc.1](https://phet-dev.colorado.edu/html/equality-explorer/1.0.13-rc.1/phet/equality-explorer_en_phet.html) was the only version to support `easyLevel1`.

Closing.

[2021-04-30 00:10] #163 closed

[2021-04-30 00:16] pixelzoom commented on #163
I've finished this work, but noted a problem in Level 2 specification.  In the [design doc](https://docs.google.com/document/d/1vG5U9HhcqVGMvmGGXry28PLqlNWj25lStDP2vSWgUOo/edit#):

Type #3 does not include `a`.  And if this was supposed to be `d=-1`, then the first two challenges will both be of the form `-x = c`, and `c` is highly likely to be the same for both challenges (and changing that would

[2021-04-30 00:18] pixelzoom commented on #164
I've finished this work, but noted a problem in Level 2 specification.  In the [design doc](https://docs.google.com/document/d/1vG5U9HhcqVGMvmGGXry28PLqlNWj25lStDP2vSWgUOo/edit#):

Type 3 does not include `a`.  And if this was supposed to be `d=-1`, then the first two challenges will both be of the form `-x = c`, and `c` is highly likely to be the same for both challenges (changing that would be a

[2021-04-30 00:19] pixelzoom commented on #165
@amanda-phet @kathy-phet ready for review in [1.1.0-dev.3](https://phet-dev.colorado.edu/html/equality-explorer/1.1.0-dev.3/phet/equality-explorer_en_phet.html)

[2021-04-30 00:21] pixelzoom commented on #164
By the way... Running with `?showAnwers` might make this easier to review.  To use that query parameter, you need to follow the instructions to identify yourself as a PhET team member in your browser, see the "How to identify yourself as a PhET team member" section of https://github.com/phetsims/special-ops/blob/master/doc/phetTeamMember.md#how-to-identify-yourself-as-a-phet-team-member

[2021-04-30 15:07] amanda-phet commented on #164
Thanks for pointing that out. We should only specify the first challenge and the rest can be random. I've updated the design doc.

[2021-04-30 15:13] amanda-phet commented on #164
The levels all look perfect!

[2021-04-30 15:15] amanda-phet commented on #165
Seems to be working well. I checked the info button, button icons, and level descriptions. All seems to be working.

[2021-04-30 15:31] pixelzoom commented on #164
Excellent.   Let me know if there's anything else to be done here.  If not, feel free to unassign yourself.

In the meantime, I'll label this as "fix-awaiting-deploy" for verification in the next QA cycle.

[2021-04-30 15:31] pixelzoom commented on #165
Excellent. Labeling as "fix-awaiting-deploy" for verification in the next QA cycle.

[2021-05-04 21:36] Matthew-Moore240 opened #166 "Movable objects stick to the walls"
**Test device**
Win 10 Chrome
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
The animals and other objects stick to the walls or bottom of the sim

Note from @KatieWoe
it impacts the whole family of sims

**Steps to reproduce**
On any of the screens besides the "solve it" screen just drag the movable objects into the walls
**Visuals**
![Lots of stuck balls in equality-explo

[2021-05-05 15:49] KatieWoe commented on #166
This is for https://github.com/phetsims/QA/issues/642

[2021-05-10 19:58] pixelzoom commented on #166
Discussed briefly with @jonathanolson on Slack.

When a drag ends, the dragged object is supposed to animate to either a scale plate, or back to the toolbox where it originated.  It looks like the sim is not getting the message that the drag has ended, and that animation is not running.  That results in the object remaining where it was when the drag ended.

I would expect a similar problem in Fun

[2021-05-12 20:00] liammulh commented on #165
The `gameLevels` query parameter seems to be working as intended on master. Reassigning @pixelzoom.

[2021-05-12 20:29] liammulh commented on #164
The changes described above seem to have been implemented correctly. Reassigning @pixelzoom.

[2021-05-12 21:25] pixelzoom commented on #165
Thanks @liam-mulhall.

I've added `gameLevels` to the [query parameters spreadsheet](https://docs.google.com/spreadsheets/d/1TddeTtD8zAayJzs02g0fL7dR1iWYczs1CMFdYd3SBNc/edit#gid=0).

Closing.

[2021-05-12 21:25] pixelzoom commented on #164
Thanks @liam-mulhall.

Closing.

[2021-05-13 20:25] jonathanolson commented on #166
This is present in master, likely `interrupt()` is not implemented on the input listener being used here.

[2021-05-13 20:31] pixelzoom commented on #166
See TermDragListener.js.  Definitely not implementing `interrupt()`, because there was previously nothing in the sim that required it.  The recent changes to iframe interrupting apparently changes that.   Can this be resolved by adding this?

`interrupt: ( event, trail ) => self.end( event, trail )`

We want the same behavior as `end`; that is, the objects return to the scale or toolbox.

[2021-05-13 20:53] jonathanolson commented on #166
It's actually implementing interrupt through SimpleDragHandler. However it's explicitly doing nothing in the interrupt case:

https://github.com/phetsims/equality-explorer/blob/master/js/common/view/TermDragListener.js#L214

Does it make sense to remove that line for the sim?

[2021-05-13 21:12] pixelzoom commented on #166
Ah, I see. Try removing that line and see if it fixes the problem?  Let me know if you'd like me to investigate.

[2021-05-13 21:15] pixelzoom commented on #166
Oh wait.... I don't understand this:

I don't see SimpleDragHandler used in this sim. It was converted to DragListener awhile back.

[2021-05-13 21:16] pixelzoom commented on #166
Also wondering how you're testing this. I don't see an option in phetmarks to run a sim in an iframe.

[2021-05-13 21:27] pixelzoom commented on #166
@jonathanolson and I worked on this. I fixed in master (above commit).  @jonathanolson will maintenance release for the 3 sims in this family.

[2021-05-13 21:33] jonathanolson commented on #166
Patched up on the 3 relevant sims, unassigning

[2021-06-18 15:31] jonathanolson commented on #166
Closing, handled in maintenance release deployment.

[2021-06-18 15:31] #166 closed

[2021-08-11 17:48] pixelzoom commented on #151
@kathy-phet asked for an estimate to add PhET-iO instrumentation. Here it is:

It’s difficult to provide an estimate without knowing the PhET-iO requirements.  But assuming that we instrument all 3 sims in this family, and assuming there’s nothing ununsual like the special query parameters in Natural Selection..  My estimate is 200-300 hours.

Here’s how I arrived at that estimate:
* pH Scale took

[2021-08-17 14:05] pixelzoom commented on #165
Reopening. As I learned over in https://github.com/phetsims/fourier-making-waves/issues/145, excluding the creation of any instrumented element will change the PhET-iO API of the running sim, and cause an "API compatibility failure".  It can also cause a failure during playback, for example if you exclude a game level and playblack a session that contained the exclused level.

Nothing about the pu

[2021-08-22 19:37] pixelzoom commented on #165
Done, this implementation will now play nice with PhET-iO.  Nothing in the model and view is conditionally instantiated.  `gameLevels` simply affects visibility of the level-selection buttons.

Tested with a bunch of different values, including `?gameLevels=1,3,5`, `?gameLevels=2,4`, and (for errors) `?gameLevels=4,2` and `?gameLevels=1,6`.

Closing.

[2021-09-05 11:58] pixelzoom commented on #165
Ready for testing the next time that a new release of this sim is published.

[2021-09-05 12:23] pixelzoom commented on #164
Assigning to @amanda-phet to decide when and how this gets deployed. Note that this work was only done in master, so a maintenance release would require more work.

[2021-09-05 12:23] pixelzoom commented on #165
Assigning to @amanda-phet to decide when and how this gets deployed. Note that this work was only done in master, so a maintenance release would require more work.

[2021-10-27 04:54] kathy-phet opened #167 "Equality Explorer 1.1: republish with game enhancements"
_@pixelzoom edit, because this comment was empty._

The goal is to publish these 2 enhancements:

* #164
* #165

[2021-11-01 20:01] amanda-phet commented on #164
@pixelzoom I think we are ready to publish this sim, and QA has capacity to test. Can you go ahead and start the maintenance release process?

[2021-11-01 20:02] amanda-phet commented on #165
@pixelzoom I think we are ready to publish this sim, and QA has capacity to test. Can you go ahead and start the maintenance release process?

[2021-11-02 01:25] pixelzoom commented on #167
With the exception of #164 and #165, there have been no significant changes to this sim since 1.0 was published, so I don't expect any sim-specific problems.  On the other hand, the 1.0 branch was created in July 2018, more than 3 years ago. It predates the switch to ES6, and there have probably been thousands of significant common-code changes since then.  If we do have any problems, it's most li

[2021-11-02 01:25] pixelzoom commented on #165
Unassigning until there's a QA plan in https://github.com/phetsims/equality-explorer/issues/167.

[2021-11-02 01:26] pixelzoom commented on #164
Unassigning until there's a QA plan in https://github.com/phetsims/equality-explorer/issues/167.

[2021-11-02 01:27] pixelzoom commented on #164
@amanda-phet asked:

From https://github.com/phetsims/equality-explorer/issues/164#issuecomment-829226364:

This cannot be done via a maintenance release. The 1.0 branch is pre-ES6, and cannot be easily patched. Re-publishing requires a full QA process.

Unassigning until there's a QA plan in https://github.com/phetsims/equality-explorer/issues/167.

[2021-11-02 01:27] pixelzoom commented on #165
@amanda-phet asked:

This cannot be done via a maintenance release. The 1.0 branch is pre-ES6, and cannot be easily patched. Re-publishing requires a full QA process.

Unassigning until there's a QA plan in https://github.com/phetsims/equality-explorer/issues/167.

[2021-11-02 01:32] pixelzoom commented on #167
With the exception of #164 and #165, there have been no significant changes to this sim since 1.0 was published, so I don't expect any sim-specific problems.  On the other hand, the 1.0 branch was created in July 2018, more than 3 years ago. It predates the switch to ES6, and there have probably been thousands of significant common-code changes since then.  If we do have any problems, it's most li

[2021-11-03 18:06] kathy-phet commented on #167
@pixelzoom - My recommendation would be a dev-lite just to check it out reasonably quickly, followed by a full rc.

[2021-11-03 18:29] pixelzoom commented on #167
In Slack, @amanda-phet said:

[2021-11-03 18:40] pixelzoom commented on #167
11/3/21 dev version published for dev-lite testing:

* https://github.com/phetsims/qa/issues/732

EDIT: test completed on 11/5/21

[2021-11-04 15:07] KatieWoe commented on #164
@pixelzoom to clarify:
QA should test that
1. The changes to level described in https://github.com/phetsims/equality-explorer/issues/164#issue-870485681 took place
2. The levels can all be completed as expected
3. No new bugs in the game were introduced

Is this correct? Or is there an aspect that I'm missing?

[2021-11-04 15:50] pixelzoom commented on #164
Yes @KatieWoe, that's correct.   And the challenges for each level are fully described in [Equality Explorer - game challenge generation](https://docs.google.com/document/d/1vG5U9HhcqVGMvmGGXry28PLqlNWj25lStDP2vSWgUOo/edit#heading=h.73cauoe0e0wx) (aka, "the design doc").

[2021-11-05 12:44] Nancy-Salpepi opened #168 "Should Smiley Face appear when user selects 'Show Answer'?"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari 15

**Problem description**
https://github.com/phetsims/qa/issues/732

On the Solve It! Screen, when the user selects 'show answer' they receive a star and the smiley face appears. Should that happen or should the only thing that appears after the answer is displayed, be the 'next' button?

**Visuals**

![showan

[2021-11-05 12:53] Nancy-Salpepi commented on #168
ignore this!! I just realized it was because I had show answer on!

[2021-11-05 12:53] #168 closed

[2021-11-05 13:49] Nancy-Salpepi opened #169 "Sim freezes once Level 5 is completed"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
safari 15

**Problem description**
https://github.com/phetsims/qa/issues/732
On the Solve It! Screen, once Level 5 is completed, the sim freezes.

**Steps to reproduce**
Using ?showAnswers query parameter, complete 10 challenges in Level 5.

**Visuals**
![simfreezes](https://user-images.githubusercontent.com/87318828/1

[2021-11-05 16:02] pixelzoom commented on #169
Reproduced in unbuilt master. The unobfuscated stack trace is:

[code]

The number of levels in the game increased from 4 to 5, but an additional reward was not added for the Reward dialog.  So when we request the reward for Level 5, it doesn't exit.    So we'll need to add a reward level.  And we'll need to revisit all of the rewards, because the rewards were specific to level, and (according to

[2021-11-05 17:10] pixelzoom commented on #169
@amanda-phet I need your input on what the rewards should be for the new Level 1 and Level 2.    If you need to decide by playing with the sim, use master.
Running with `?showAnswers&rewardScore=1` will make it easier to get to rewards.

The challenges for each level are described in [Equality Explorer - game challenge generation](https://docs.google.com/document/d/1vG5U9HhcqVGMvmGGXry28PLqlNWj25l

[2021-11-05 17:40] pixelzoom commented on #169
I went ahead and made the changes that I recommended to Level 1 & 2 rewards. @amanda-phet please review in master.  Let me know if you want to change anything.   And again, running with `?showAnswers&rewardScore=1` will make it easier to get to rewards.

[2021-11-05 19:30] KatieWoe opened #170 "Beating Level 5 leads to sim freezing on victory screen"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/732. `?showAnswers` was used to move through the level quickly. This happens when all game levels are available and with `?gameLevels=5`
When the 10th question of level 5 is beaten, the win sound and dialog appear, but no confetti does and the sim completely freezes

[2021-11-05 20:26] pixelzoom commented on #170
Duplicate of https://github.com/phetsims/equality-explorer/issues/169.  Closing.

[2021-11-05 20:26] #170 closed

[2021-11-05 20:32] KatieWoe opened #171 "Scale is thrown off when one side is full and lock is on"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/732. Seems to happen in published 1.0.14.
If one side of the scale is full of one type of object, the other side has another type of object, and the scale is locked, moving one of the objects can cause either floating objects, an unbalanced scale when it should be b

[2021-11-05 20:49] pixelzoom commented on #171
Reminder to self that there is an entire document that described "lock feature scenario", see https://github.com/phetsims/equality-explorer/blob/master/doc/lock-scenarios.md.  Might need to update/extend that document, if something was missed.

[2021-11-05 21:27] KatieWoe commented on #165
Looks good in dev.4

[2021-11-05 21:27] #165 closed

[2021-11-05 21:49] KatieWoe commented on #164
Challenges look ok, but leaving open for now due to https://github.com/phetsims/equality-explorer/issues/169

[2021-11-05 22:54] KatieWoe commented on #171
May be connected to scenario 11 in that document https://github.com/phetsims/equality-explorer/blob/master/doc/lock-scenarios.md#scenario-11

[2021-11-08 19:04] pixelzoom commented on #171
Reproduced in 1.0.0-dev.4 and master.

This is behaving oddly in 1.0.0-dev.4 because there is actually an assertion failure.

Here's the assertion failure in unbuilt master:

[code]

[2021-11-08 19:07] pixelzoom commented on #171
[Scenario 11](https://github.com/phetsims/equality-explorer/blob/master/doc/lock-scenarios.md#scenario-11) is indeed the failing scenario.  It can be reproduced more quickly by limiting the number of items that can be put on a plate, e.g. `?rows=2&columns=2&showGrid`

Checking other screens that have the lock feature...

This also occurs in the _Numbers_ screen, where the stack trace is:

[code]

[2021-11-08 19:30] pixelzoom commented on #171
Clicking on a term causes it to pop up.  In this case, it needs to be animated back to the plate.  But as far as the model is concerned, the term is still on the plate.  So at the end of the animation, trying to put the term on the plate fails, because it's already on the plate.

In the worst case, this could be addressed by removing this assertion in TermCreator.js

[code]

But I'm going to inves

[2021-11-08 20:01] pixelzoom commented on #171
Fixed in the above commit.

@KatieWoe please review in master. Also check the general behavior of dragging terms on/off the plate, since this fix involved touching that drag listener.

Note that you can speed up your testing by running with `?ea&rows=2&columns=2&showGrid`.

[2021-11-08 20:06] pixelzoom opened #172 "Changes to QA credits for version 1.1"
@KatieWoe any changes QA credits for the upcoming 1.1 release?  So far, that would be anyone who worked on https://github.com/phetsims/qa/issues/732.

Current credits are:

<img width="591" alt="screenshot_1410" src="https://user-images.githubusercontent.com/3046552/140810620-4141d0a5-086e-481c-bda1-8390987166fe.png">

[2021-11-08 20:08] pixelzoom commented on #172
Current credits are:

<img width="591" alt="screenshot_1410" src="https://user-images.githubusercontent.com/3046552/140810620-4141d0a5-086e-481c-bda1-8390987166fe.png">

[2021-11-08 20:27] KatieWoe commented on #172
Nancy Salpepi should be added.

[2021-11-08 20:34] amanda-phet commented on #169
I like the suggested changes. The only issue I see right now is Level 2. I sometimes see 0x and 1x, so something is off about how you are defining negative coefficients.

![image](https://user-images.githubusercontent.com/7852916/140814079-7fcab955-f9b8-4cf0-b630-728e50de5d09.png)

[2021-11-08 21:13] KatieWoe commented on #171
Looks fixed on master. I didn't see any problems putting objects on the scale or taking them off. If you have any more specific tests, let me know. I did notice that cancelations when they should be possible aren't, but it seems like a much less serious problem.
![wontcancel](https://user-images.githubusercontent.com/41024075/140819022-8c5dbafc-256b-4459-b8b3-b853f528bbd7.gif)

[2021-11-08 22:11] pixelzoom commented on #169
Good catch @amanda-phet. For Level 2, I had the coefficient range set to [-9,1] instead of [-9,-1].  Fixed in the above commit.

[2021-11-08 22:11] pixelzoom commented on #169
@Nancy-Salpepi back to you to verify in master. Note that running with `?showAnswers&rewardScore=1` will make it faster to get to rewards.

To verify:

1. Play Level 5 and verify that the sim doesn't crash when you get the reward.
2. Verify that the reward for Level 1 consists of: variable terms with POSITIVE integer coefficients, constant terms with integer values, red spheres, and blue squares.

[2021-11-08 22:19] pixelzoom opened #173 "Inverse terms do not cancel when scale is full and lock is on."
For phetsims/qa#732.

In https://github.com/phetsims/equality-explorer/issues/171#issuecomment-963579116, @KatieWoe reported that inverse terms do not cancel when the scale is full.  See the example below.  If there was an empty space on the right scale, then cancellation would occur on the left side, and -x would be put in the empty space on the right side.  There is no requirement that x and -x

[2021-11-08 22:20] pixelzoom commented on #171
Thanks @KatieWoe.  What you've described in https://github.com/phetsims/equality-explorer/issues/171#issuecomment-963579116 is a different issue (an unsupported scenario), so I've created https://github.com/phetsims/equality-explorer/issues/173 to track it.

This issue can be closed.

[2021-11-08 22:20] #171 closed

[2021-11-08 22:32] pixelzoom commented on #164
#169 is resolved and in review, so this issue can be closed.

[2021-11-08 22:32] #164 closed

[2021-11-09 12:39] Nancy-Salpepi commented on #169
Looks good on master.

[2021-11-09 12:39] #169 closed

[2021-11-09 18:15] amanda-phet commented on #173
Since both sides of the balance are full, I don't find this scenario to be extremely confusing. Trying to add another term to both sides doesn't make a ton of sense to me if both sides are full. And the user *can* still remove an x from both sides if they want. My recommendation is to leave this as it is and not support this edge case in this release or in any future release, since there isn't rea

[2021-11-09 18:15] #173 closed

[2021-11-09 18:25] pixelzoom commented on #167
11/9/21:  1.1 release branch created, RC test created:

* https://github.com/phetsims/qa/issues/735

EDIT: 11/19/21 test completed. Another RC spot-check will be needed.

[2021-11-11 13:53] Nancy-Salpepi opened #174 "Accordion panels shift when balance moves"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/735

On the Variables and Operations screens, when the balance moves up and down, the accordion panels on the right side shift. I do not see this in the published version.

**Steps to reproduce**
1. Select the Operations screen
2. Open the Snapshots

[2021-11-11 19:22] pixelzoom commented on #174
Reproduced on macOS 12.0.1 + Chrome 95.0.4638.69.

Does not occur on macOS 10.13.6 + same Chrome 95.0.4638.69.

This is a scenery problem that has been coming up repeatedly over the past several months. See https://github.com/phetsims/scenery/issues/1289.   I guess I'll add the same `preventFit: true` workaround to this sim.

[2021-11-11 19:57] pixelzoom commented on #174
Workaround applied to all screens in the above commits, in master and 1.1 branches.

@Nancy-Salpepi please verify in master. If it looks OK, change the label to "fixed-awaiting-deploy".

[2021-11-11 20:18] Nancy-Salpepi commented on #174
Looks good in master.

[2021-11-12 13:12] Nancy-Salpepi opened #175 "Pressing open/close button on accordion panel adjusts panel in all game levels"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/735

On the Solve It! Screen, if I open (or close) the Snapshots accordion panel on one level, if will be opened (closed) for all levels. Is that correct behavior or should they be independent of one another?

**Steps to reproduce**
1. Pick any level

[2021-11-12 13:55] Nancy-Salpepi opened #176 "Rewards look odd with zoom in/out"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/735

If you complete a level of the game while zoomed in, the rewards won't take up the entire screen when you zoom back out.

**Steps to reproduce**
1. Using rewardScore=1, go to any of the game levels
2. Zoom in
3. Solve for x
4. Zoom out once the

[2021-11-12 23:40] pixelzoom commented on #176
I have no control over this in the sim. RewardNode (common code) automatically adjusts itself when the size of the ScreenView changes, so things work correctly when the browser window is resized.  But I'm not familiar with how zoom is implemented, or how it's affecting RewardNode.

@jessegreenberg Can you please have a look at this, suggest what might be causing this, and recommend a fix?

@Nancy-

[2021-11-12 23:46] pixelzoom commented on #175
Each game level used to have its own state for the accordion box. But a single global state for all levels was requested by @kathy-phet in https://github.com/phetsims/equality-explorer/issues/124.    It's also documented in the code:

[code]

I recommend no change, and closing this issue as "won't fix".  @amanda-phet please review this issue, discuss with @kathy-phet if necessary.  If you are stil

[2021-11-13 15:25] pixelzoom opened #177 "UI sounds were enabled unintentionally."
For https://github.com/phetsims/qa/issues/735.

While testing this sim for the 1.1 release, I suddenly realized that UI sounds have been enabled.  We didn't do this intentionally, and this sim has never had a sound design, or even a discussion about sound.

@jbphet enabled all UI sounds when he switched to tambo-based for `GameAudioPlayer`, common code (in vegas) which plays sounds related to the

[2021-11-15 14:28] Nancy-Salpepi commented on #176
@pixelzoom and @jessegreenberg this seems to be a general problem. In Master, I tested Fourier and Fractions Equality and saw the same results.

<img width="1304" alt="Screen Shot 2021-11-15 at 9 05 19 AM" src="https://user-images.githubusercontent.com/87318828/141798649-ee81aeb0-0bbb-476f-b2a9-ba56f7809a19.png">
<img width="1304" alt="Screen Shot 2021-11-15 at 9 25 10 AM" src="https://user-images

[2021-11-15 14:51] pixelzoom commented on #176
Thanks @Nancy-Salpepi.

Since it's been established that this is a general problem, I've created https://github.com/phetsims/vegas/issues/97 to investigate, assigned to @jessegreenberg.   When we find out what is involved in fixing it, we can decide whether to fix it for Equality Explorer 1.1.  In the meatime, this issue is on hold.

[2021-11-15 14:54] pixelzoom commented on #176
@amanda-phet Does this need to be fixed for the 1.1 release?

[2021-11-15 17:56] amanda-phet commented on #176
@pixelzoom this is not a priority for the 1.1 release. When https://github.com/phetsims/vegas/issues/97 gets resolved, I think we can decide how to proceed.

[Edited to clarify] I am not concerned about pan/zoom with the reward node at this time. Since it is not specific to this sim, I don't want to delay publication of EqEx while we wait for a fix.

[2021-11-15 18:26] amanda-phet commented on #175
Thanks for finding that historical issue @pixelzoom ! I remembered it being an intentional decision to keep the state of the accordion boxes. We should leave this as-is.

[2021-11-15 18:26] #175 closed

[2021-11-15 18:36] pixelzoom commented on #176
https://github.com/phetsims/equality-explorer/issues/176#issuecomment-969169326 sounds like you'd like @jessegreenberg to investigate, then evaluate whether the fix goes into the 1.1 release. Do I understand that correctly @amanda-phet?

My recommendation is that we should punt on this totally for the 1.1 release. While the game enhancements were the motivation for 1.1, this will also be the first

[2021-11-15 20:36] pixelzoom commented on #176
Based on @kathy-phet's comment in https://github.com/phetsims/vegas/issues/97#issuecomment-969292488, this issue will not be addressed for the 1.1 release.  Labeling as "deferred", to be addressed in a future release or maintenance release.

[2021-11-16 03:13] pixelzoom commented on #177
My recommendation for addressing this in Equality Explorer 1.1 is described in https://github.com/phetsims/vegas/issues/77#issuecomment-969214191.

[2021-11-16 15:52] Nancy-Salpepi opened #178 "Game level 3 is a 1-step equation when a=1."
For phetsims/qa#735.

Level 3 of the Solve It! game is Two-Step Equations. When 'a' has a value of 1, it is a one-step equation.
![Screen Shot 2021-11-16 at 10 42 21 AM](https://user-images.githubusercontent.com/87318828/142018648-6aeaeec7-5f5d-4452-a0b5-a4abd8f750ab.png)

[2021-11-16 16:25] pixelzoom commented on #178
Level 3 is indeed supposed to be two-step equations.  From the info dialog:

<img width="809" alt="screenshot_1440" src="https://user-images.githubusercontent.com/3046552/142025894-2ac13b52-0f7c-4d69-afe0-e97a7d2ad90b.png">

From the [design doc](https://docs.google.com/document/d/1vG5U9HhcqVGMvmGGXry28PLqlNWj25lStDP2vSWgUOo/edit#heading=h.vjeb381yleoi):

It would be trivial to also exclude a = 1.

[2021-11-16 16:29] pixelzoom commented on #178
Do we have a similar problem in Levels 4 & 5?  Those levels are supposed to be "multi-step equations".

[2021-11-16 17:22] amanda-phet commented on #178
We should definitely exclude a=1, good catch! I excluded b=0 for the same reason.

Thanks for quickly looking at that @pixelzoom . I'd like to make that change.

[2021-11-16 17:26] amanda-phet commented on #178
I just added the suggestion to the design doc, and confirmed that level 4 and 5 shouldn't need any changes.

[2021-11-16 20:08] pixelzoom commented on #178
I also confirmed with @amanda-phet that a = -1 is OK.

Changed in the above commits, in master and 1.0 branches.  a=1 is now excluded from Level 3.

@Nancy-Salpepi please verify in master, and change label to "fixed-awaiting-deploy" if it looks OK.

You could verify this by running with `?showAnswers`, going to Level 3, and repeatedly pushing the "show answer" and "Next" buttons. But it will take

[2021-11-16 20:47] Nancy-Salpepi commented on #178
Thanks for the shortcut method @pixelzoom. All looks good in master.

[2021-11-16 21:13] KatieWoe opened #179 "Pan does not work when dragging items from the toolbox."
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/735.
When zoomed in, the sim does not pan around when dragging an object to the edge of the screen. Other methods of panning seem to work as expected. This is probably a fairly minor issue.

**Visuals**
![pandragobjects](https://user-images.githubusercontent.com/410

[2021-11-16 21:25] pixelzoom commented on #179
I'm not familiar with pan, so I'm not clear on what the expected behavor is here.  If it's not expected, there's nothing sim-specific (afaik) that is causing this.

@amanda-phet @jessegreenberg ?

[2021-11-16 23:35] KatieWoe commented on #178
I saw this as well on Firefox Win 11. I tried 50+ levels with `?showAnswers` on Chrome and wasn't able to reproduce it, so it may be a bit rare.

[2021-11-16 23:46] jessegreenberg commented on #179
I would have expected it to keep the Node in view here. Pan and Zoom is not handling the creator pattern well, that is why it doesn't work when you pull out a term from the toolbar but does work for subsequent drags. It is not sim specific. Ill work on it in the above issue.

[2021-11-16 23:49] pixelzoom commented on #178
The range of `a` was [-10,10], integers, with zero excluded.  Values are selected random, so (over a large number of samples) there was a 1 in 20 chance that you'd see a=1.

[2021-11-17 00:02] pixelzoom commented on #179
@amanda-phet Do you want this issue to be addressed for Equality Explorer 1.1 release?  Or do you want to make that decision after @jessegreenberg has investigated?

[2021-11-17 00:05] pixelzoom commented on #179
In https://github.com/phetsims/vegas/issues/97#issuecomment-969292488, @kathy-phet evaluated another problem with pan/zoom, and said:

I suspect that this issue will not block Equality Explorer 1.1 for the same reasons, and should be included in the same "quarterly planning" discussion.  But @amanda-phet or @kathy-phet please confirm.

[2021-11-17 00:07] pixelzoom commented on #179
@KatieWoe could you please test this in a few other sims?  I'd like to verify that this is a general problem, so that this can be promoted to a general GitHub issue.  Test in master, try some sims that have toolboxes or buckets.

[2021-11-17 16:54] KatieWoe commented on #179
I am seeing the same thing in a number of sims on master.

[2021-11-17 16:59] KatieWoe commented on #179
@samreid this is in https://github.com/phetsims/qa/issues/736 as well

[2021-11-17 17:31] stemilymill opened #180 "Should "Next" button in game screen show up faster?"
For https://github.com/phetsims/qa/issues/735.

While testing the Solve It! screen, it always seemed like the "Next" button should come up more quickly (and maybe the smiley face too); it felt like the time in between questions interrupted game flow a bit.

[2021-11-17 18:19] pixelzoom commented on #179
I've create general issue https://github.com/phetsims/joist/issues/769, assigned to @jessegreenberg.

Labeling this issue as "on-hold" until https://github.com/phetsims/joist/issues/769 is addressed, or someone tells me that this is not a prerequisite for EqEx 1.1 release.

[2021-11-17 18:43] pixelzoom commented on #180
The delays that you are perceiving are not in fact delays.  There is a necessary sequence here, due to the (requested) animatons that run before the operation is applied, and before we can proceed to the next challenge.

When you push the "apply operation" button (yellow button with ↴ symbol), the operation is not immediately applied. An animation of the operation begins, showing the operation fal

[2021-11-17 22:01] pixelzoom commented on #172
Based on issues like #180, it looks like I need to add Emily Miller to QA credits.

_EDIT: done._

[2021-11-17 22:26] stemilymill commented on #174
@pixelzoom would this visual shift be related? I saw it in the Solve It! screen first in the rc version and then checked master and saw it there as well.

I have only observed this in Win10 Firefox 94.0.1 so far.

There is noticeable movement in the spinner and buttons next to it in all game levels, but the movement in the equation panels is either much more subtle or only present in later levels.

[2021-11-17 23:38] pixelzoom commented on #174
Thanks for reporting @stemilymill.  I'm fairly certain that I applied the workaround to all screens, but I'll confirm.

[2021-11-18 02:50] jessegreenberg commented on #179
@pixelzoom I discussed https://github.com/phetsims/joist/issues/769 with @kathy-phet in over slack and she said that the issue is something to work on now but that it does not need to be resolved before the EqEx 1.1 publication.

[2021-11-18 04:14] pixelzoom commented on #179
Thanks for the update @jessegreenberg.

Changing label to "deferred", to be addressed in a future release or MR.

[2021-11-18 15:54] Nancy-Salpepi commented on #174
Using MacBook Air (m1 chip) macOS 12.0.1 + safari 15.1/chrome 95.0.4638.69

I don't see https://github.com/phetsims/equality-explorer/issues/174#issuecomment-972157049 on master.
![operationsbuttons](https://user-images.githubusercontent.com/87318828/142449748-7bbe360d-4cbc-41c4-bf3e-ce34651d229b.gif)

[2021-11-18 21:06] pixelzoom commented on #177
11/18/21 design meeting:

The workaround in https://github.com/phetsims/vegas/issues/77#issuecomment-969214191 was approved.  I'll need to:
- [x] turn off 'ui-sounds' category
- [x] cherry-picking fixes from https://github.com/phetsims/vegas/issues/98

[2021-11-18 21:24] pixelzoom commented on #177
Fixes for phetsims/vegas#98 were cherry-picked in https://github.com/phetsims/vegas/commit/e2629f81b185932a4404c74952724241f60611ab and https://github.com/phetsims/scenery-phet/commit/8a4f7f6b1d3592327f9ed1d22c32ac15ccdaeb5e.

[2021-11-18 21:33] pixelzoom commented on #177
Work is done in master and 1.1 branches.

@KatieWoe would you please assign someone from QA to test this?

If this looks OK, change the label to "fixed-awaiting-deploy".

To test:

1. Run the sim from master with `?showAnswers&reward=2`
2. Verify that there is no sound for the UI controls. (You don't need to test every one of them, just a random sample.)
3. In the Game screen, verify that there is

[2021-11-18 21:48] amanda-phet commented on #180
@pixelzoom is correct that a challenge isn't correct/incorrect until the operation has been fully applied, so I do want that animation to finish and see "x = 5" before it can be marked correct/incorrect. My guess is that since we are not the ones learning this content, we are more annoyed by the extra time, but a kid just learning this might benefit from the current pace.

[2021-11-18 21:48] #180 closed

[2021-11-18 22:13] pixelzoom commented on #174
I verified that I applied the workaround to the _Solve It!_ screen:

[code]

[code]

Testing in master...

I do NOT see this problem with:
* MacBook Pro (Intel) + macOS 12.0.1 + Safari 15.1 or Chrome 96.0.4664.55 (latest)
* Mac Pro + macOS 10.13.6 + Safari 13.1.2 or Chrome 96.0.4664.55 (latest)

I DO see this problem with:
* MacBook Pro (Intel) + macOS 12.0.1 + Firefox 94.0.1 (latest)
* Mac Pro +

[2021-11-18 22:15] pixelzoom commented on #174
The control that we're interacting with is `UniversalOperationControl`.  I tried adding `preventFit: true` to its options, and there is no change.

[2021-11-18 22:24] pixelzoom commented on #174
@jonathanolson could you please have a look? To summarize:

* QA reported that parts of the screen were shifting around while interacting with the UI.
* I applied the `preventFit: true` workaround identified in phetsims/scenery#1289. It was applied to all screens at the ScreenView level.  See `EqualityExplorerConstants.SCREEN_VIEW_OPTIONS`.  It seemed to be effective for all screens. But then...
*

[2021-11-19 18:01] markgammon opened #181 "Support for UI sounds"
As part of the work done for https://github.com/phetsims/vegas/issues/77, UI sounds got turned on for this simulation.  Before the sim is published again from master, we should decide whether to turn the UI sounds off, leave them on and design and implement sounds for the rest of the interactions, or publish with a partial sound design.

If the decision is to turn them off, this can be accomplishe

[2021-11-19 18:55] KatieWoe commented on #177
Looks good on master

[2021-11-19 22:28] jonathanolson commented on #174
Confirmed that this looks like SVG just... flickering due to antialiasing changes in Firefox. Testing shape-rendering:geometricPrecision didn't fix. I tried some `layerSplit: true` cases, which isolated each part (and helped), but it seems impractical.

I don't see a good fix for this (besides WebGL in Scenery wouldn't do this).

[2021-11-19 22:57] pixelzoom commented on #174
Thanks @jonathanolson.  So there is no known fix for Firefox at this time. I'll make a note about this in https://github.com/phetsims/scenery/issues/1289.

@amanda-phet In a nutshell, there is still some minor “shifting” of UI components in the _Solve It!_ screen on Firefox, as demonstrated in https://github.com/phetsims/equality-explorer/issues/174#issuecomment-972157049. @jonathanolson  had a lo

[2021-11-19 23:33] pixelzoom commented on #181
UI sounds were turned off for the 1.1 release in https://github.com/phetsims/equality-explorer/issues/177.  So I'm going to retitle this issue accordingly, and adjust its status.

[2021-11-20 01:19] amanda-phet commented on #174
I agree that it should not block publication of 1.1, this is low priority. Firefox often gives us weird issues, and even still, this is not a major one IMO.

[2021-11-20 03:40] pixelzoom commented on #177
To verify in 1.1.0-rc.2, follow the steps in https://github.com/phetsims/equality-explorer/issues/177#issuecomment-973289661.

[2021-11-20 03:41] pixelzoom commented on #178
To verify in 1.1.0-rc.2, follow the instructions in https://github.com/phetsims/equality-explorer/issues/178#issuecomment-970638240.

[2021-11-20 03:43] pixelzoom commented on #167
11/19/21: RC test created:

* https://github.com/phetsims/qa/issues/743

EDIT: 11/22/21 test completed, ready to publish.

[2021-11-22 17:00] KatieWoe commented on #178
The `test challenge generators` doesn't seem to show up in RC.2. So I hit the yellow refresh equation button several times and did not see a=1 come up. @pixelzoom is this enough? If so, I think it is safe to close

[2021-11-22 17:24] KatieWoe commented on #177
Looks good in RC.2

[2021-11-22 17:24] #177 closed

[2021-11-22 17:27] pixelzoom commented on #178
Ah, right. I forgot that `?showAnswers` cannot be enabled in built versions.

Yes, that's sufficient.  Closing.

[2021-11-22 17:27] #178 closed

[2021-11-22 22:08] KatieWoe commented on #172
No new additions for rc.2

[2021-11-22 22:59] pixelzoom commented on #172
Ready to publish 1.1, so closing this issue.

[2021-11-22 22:59] #172 closed

[2021-11-22 23:22] pixelzoom commented on #167
1.1.0 published to https://phet.colorado.edu/en/simulations/equality-explorer.   Closing.

[2021-11-22 23:22] #167 closed

[2021-12-02 23:24] zepumph opened #182 "Move LockControl to scenery-phet"
In https://github.com/phetsims/ratio-and-proportion/issues/414 it was requested to have these two toggle-able icons be a part of the ratio-lock checkbox. I'm thinking that we move this to common code, and add an option called `interactive` which adds the FireListener, but otherwise the provided Property just changes the icon.

@pixelzoom you are the responsible dev, does that seem reasonable to yo

[2021-12-03 14:01] terracoda commented on #182
@zepumph, we should discuss today because if the actual checkbox is not visually present, the lock on it's own is likely better as a toggle button rather than a checkbox.

If the checkbox is visually present, and the lock is part of the label the lock itself is not the interaction, the interaction is an HTML checkbox. If only the lock is visually present, it is playing double duty as a label and a

[2021-12-03 14:45] pixelzoom commented on #182
As described, moving LockControl to common code doesn't seem like the right approach.  It would be better to have a LockNode whose visual changes based on a BooleanProperty `lockedProperty`. Then reuse that in LockControl and your checkbox.  If you'd like me to take the lead on that, let me know.

In the case that @terracoda mentioned (where the checkbox is hidden), I don't know you want to addres

[2021-12-03 15:48] terracoda commented on #182
Just to be clear, I didn't suggest changing the role of an element in a simulation.

[2021-12-03 16:31] zepumph commented on #182
@terracoda and I met, and we agree with @pixelzoom. Do you mind moving just the `LockNode` to common code for us?

[2021-12-03 17:46] pixelzoom commented on #182
Will do!  I might get to it later today Fri 12/3, but can definitely get it done by end of day Mon 12/6.

[2021-12-03 18:02] zepumph commented on #182
I won't act on this until perhaps 12/10, so take your time!

[2021-12-03 20:05] KatieWoe commented on #179
Noting this in https://github.com/phetsims/qa/issues/748

[2021-12-03 20:15] pixelzoom commented on #182
In the above commits, I factored out `LockNode`, and migrated it (along with images and asset) to scenery-phet.   Note that it's a .js file, not .ts, because TS didn't recognize `Image` as a subtype of `Node`, and was therefore giving me grief about the arguments to `super`.  I also didn't want to spend time on `options` because I'm not clear on the recommend TS pattern.

@zepumph please review.

[2021-12-03 20:21] pixelzoom commented on #179
@KatieWoe it would be preferrable to mention the general issue https://github.com/phetsims/joist/issues/769 in phetsims/qa#748, not this issue.

[2021-12-03 20:21] KatieWoe commented on #179
Sorry, I didn't see that one

[2021-12-06 20:30] zepumph commented on #182
Looks really good. Thanks for the quick turn around.

[2021-12-06 20:49] pixelzoom commented on #182
Happy to help. Closing.

[2021-12-06 20:49] #182 closed

[2022-03-21 02:09] pixelzoom opened #183 "Support for alternative input"

[2022-03-22 18:49] pixelzoom commented on #181
@kathy-phet asked me to evaluate the technical lift of adding UI sound to this sim.  @amanda-phet FYI.

There are very few common-code UI components in this sim, only a handful of buttons on each screen.  Most of the interaction involves moving items between the toolboxes and the scale.  So simply turning on UI sounds is not going to provide a good/useful sound experience.

So there will be a lot

[2022-03-22 19:46] amanda-phet commented on #181
After a discussion with Ashton many months ago, my understanding is that sound design is a big chunk of work for everyone involved as there is a lot of thought that goes into it (similar to your questions you've listed) as well as lots of iterating on the design. So it's a lengthy process that takes time. Is this a Q2 goal? I have other sims where sound design has come into question and I think I

[2022-03-22 21:46] pixelzoom commented on #181
My understanding is that @kathy-phet wants to have a discussion about this, sometime towards the beginning of Q2 2022.  So assigning to @kathy-phet and @amanda-phet.

[2022-03-22 22:25] pixelzoom commented on #183
As with UI sound #181, there's very little alternative input that will come for free with this sim. This sim doesn't use many standard UI components -- a handful of push buttons, radio buttons, number pickers, and accordion boxes. Most of the interaction occurs with things that are custom to this sim.

The first heavy lift will be design, involving many people, a big job for someone to lead.

The

[2022-03-22 22:29] pixelzoom commented on #151
My understanding is that @kathy-phet would like to discuss this sometime towards the beginning of Q2 2022. So assigning to @kathy-phet and @amanda-phet.

[2022-03-22 22:31] pixelzoom commented on #151
As we did with Natural Selection, the first phase of adding PhET-iO support needs to be design.  Identify sim-specific features, provide as much information as possible to make sure that PhET-iO instrumentation is done in a way that it can support those features.

EDIT: PhET-iO design is being tracked in https://github.com/phetsims/equality-explorer/issues/191

[2022-04-19 16:46] pixelzoom opened #184 "Levels that are not included in ?gameLevels should not be shown in game Info dialog."
Related to  https://github.com/phetsims/vegas/issues/104

[2022-04-19 16:51] pixelzoom commented on #184
On hold until general design decisions have been made, see https://github.com/phetsims/vegas/issues/104#issuecomment-1102871139.

[2022-04-22 14:41] KatieWoe opened #185 "CT this.allTerms.getArrayCopy is not a function"
Also in off-shoot sims.
[code]

[2022-04-24 19:28] pixelzoom commented on #185
I don't see this error occuriring in CT any more.  I'm guessing that someone temporarily broke ObseverableArray, and that it's now fixed.  @KatieWoe can you please verify that that is the case?  If so, please close this issue.

[2022-04-26 18:48] #185 closed

[2022-05-06 03:31] pixelzoom commented on #184
In https://github.com/phetsims/vegas/issues/104#issuecomment-1119190311, @amanda-phet said:

[2022-05-06 03:50] pixelzoom commented on #184
@amanda-phet please review in master. For example, test with `?gameLevels=1,3,5` and verify that the correct level-selection buttons and level descriptions (in the Info dialog) are shown.

[2022-05-06 03:57] pixelzoom commented on #184
In Slack, @amanda-phet asked:

Only show info for relevant levels, similar to how level-selection buttons are treated.

[2022-05-09 19:22] amanda-phet commented on #184
Looks great to me!

[2022-05-09 19:25] #184 closed

[2022-05-11 21:30] pixelzoom commented on #151
According to @kathy-phet in Slack, "we are going to postpone that work on EE for now".  So unassigning myself, and labeling as deferred.

[2022-05-11 21:30] pixelzoom commented on #181
According to @kathy-phet in Slack, "we are going to postpone that work on EE for now".  So unassigning myself, and labeling as deferred.

[2022-05-11 21:31] pixelzoom commented on #183
According to @kathy-phet in Slack, "we are going to postpone that work on EE for now".  So unassigning myself, and labeling as deferred.

[2022-09-14 19:09] pixelzoom opened #186 "Convert to TypeScript"
Requested by @kathy-phet, in preparation for adding new features (dynamic locale, PhET-iO, ...)

Includes equality-explorer-basics and equality-explorer-two-variables.

[2022-09-14 19:10] pixelzoom opened #187 "Add support for dynamic locale"
Requested by @kathy-phet. Includes equality-explorer-basics and equality-explorer-two-variables.

[2022-09-14 19:19] pixelzoom commented on #186
Baseline dev versions for `brands=phet`, published before making changes:

* https://phet-dev.colorado.edu/html/equality-explorer/1.2.0-dev.2/phet/equality-explorer_en_phet.html
* https://phet-dev.colorado.edu/html/equality-explorer-basics/1.1.0-dev.1/phet/equality-explorer-basics_en_phet.html
* https://phet-dev.colorado.edu/html/equality-explorer-two-variables/1.1.0-dev.1/phet/equality-explorer-t

[2022-09-20 21:12] pixelzoom opened #188 "'hi' translation has NPBS suffix on every string value."
While working on #187 (support for dynamic locale), I discovered that equality-explorer-strings_hi.json has a problem.  Every string value has "NBSP" at the end of it, which I assume is a non-breaking space.  For example:

<img width="354" alt="screenshot_1878" src="https://user-images.githubusercontent.com/3046552/191365066-c5e310fc-59e3-4f87-8b83-8d75974ee8ce.png">

The problem then is that noth

[2022-09-20 21:54] pixelzoom commented on #187
The bulk of this work is done. But...

There are 2 remaining TODOs, labeled with:

[code]

These TODOs involve cases where a variable symbol ('x', 'y') appears in an equation. Those variable symbols are translated strings -- `xStringProperty` and `yStringProperty, to be specific. Equations are created dynamically, and therefore must be disposed in order to unlink from those StringProperties.  The

[2022-09-20 22:06] pixelzoom commented on #187
I addressed the easier of the two memory leaks in the commit above.

[2022-09-20 22:43] pixelzoom commented on #187
The more difficult memory leak was addressed in the above commit, by factoring out class ExpressionNode, with its own `dispose` method.

[2022-09-20 22:44] pixelzoom commented on #187
Support for dynamic locale is complete.  This sim was relatively easy (4.25 hours) because it does not have many strings.

@amanda-phet ready for review.

[2022-09-21 20:16] KatieWoe opened #189 "CT: If maxWidth and preferredWidth are both non-null, maxWidth should NOT be smaller than the preferredWidth"
Also in basics and two variables:
[code]

[2022-09-22 01:12] pixelzoom commented on #186
As expected, this sim is a much more difficult and time-consuming conversion than any previous sim.

equality-explore is partially converted:  10912 lines of TypeScript, 1923 lines of JavaScript.  The remaining files are difficult.   There are 9 TODOs (mostly ts-ignores) that will need to be addressed.

equality-explorer-basics is fully converted, 341 lines of TypeScript. Most of its code comes fr

[2022-09-22 01:53] pixelzoom commented on #189
I suspect that CT may have been working with an incomplete checkout, since I've been doing a lot of TypeScript conversion in #186. I can't reproduce this locally.  And the most recent run of CT does not show this problem.

It's also not clear to me why CT is doing a fuzz test for `stringText=xss`.  See https://github.com/phetsims/aqua/issues/159.

So I'm going to wait a bit before investigating th

[2022-09-22 20:43] pixelzoom commented on #189
CT is no longer reporting this problem.  So I suspect is was working with an incomplete checkout of TypeScript changes.

Closing. Will reopen if it reoccurs.

[2022-09-22 20:43] #189 closed

[2022-09-23 01:17] pixelzoom commented on #186
Down to 4 files, and wow are they proving to be difficult.

[code]

There are also 15 TODOs to address, most of which are also difficult.

Most of these "difficult" cases are related to uses of duck-typing, and some subtle class hierarchy problems.

[2022-09-26 15:34] pixelzoom opened #190 "CT: Assertion failure in CombineTermsDragListener.ts"
Likely caused by #186 (convert to TypeScript)

[code]

[2022-09-26 15:39] pixelzoom commented on #186
The remaining TypeScript conversion is liable to result in some significant code changes. So I published [1.2.0-dev.4](https://phet-dev.colorado.edu/html/equality-explorer/1.2.0-dev.4/phet/equality-explorer_en_phet.html) as a baseline before proceeding.

[2022-09-26 15:47] pixelzoom commented on #190
This is failing where I relocated one line of code -- assignment of `const sumToZeroParent`.   In the above commit, I've restored the assignment to its original location.  I can't tell why it should matter, but we'll see if it resolves the issue.

[2022-09-26 15:50] pixelzoom commented on #190
I figured out why it matters, documented in the above commit:

[code]

[2022-09-26 22:47] pixelzoom commented on #190
CT is happy. Closing.

[2022-09-26 22:47] #190 closed

[2022-09-27 23:58] pixelzoom commented on #186
All files are converted to TypeScript.  There are still 23 TODOs in the code that need to be addressed. Most are related to a ts-ignore or eslint-disable, and they are all difficult.

[2022-09-29 23:03] pixelzoom commented on #186
Conversion to TypeScript is complete. The final line count is 13,500 lines for the 3 sims. This was a major project, much more difficult/costly than conversion of any previous sim.  It took 40 hours.

As noted in https://github.com/phetsims/equality-explorer/issues/186#issuecomment-1247200744, before doing any conversion, I published these dev versions:
* https://phet-dev.colorado.edu/html/equalit

[2022-09-29 23:03] #186 closed

[2022-10-07 18:47] pixelzoom commented on #151
@kathy-phet would like me to do the "basic" PhET-iO instrumentation for this sim; no custom IOTypes or dynamic elements, just the stuff that is straightforward. I did a little bit of that as part of TypeScript conversion #186, since some of PhET’s APIs now require tandems when used with TypeScript. This will also get me more familiar with the things that are going to be more difficult, and I'll tr

[2022-10-07 20:17] pixelzoom opened #191 "PhET-iO Design"
From https://github.com/phetsims/equality-explorer/issues/151#issuecomment-1075712054 ...

I'm not clear on who is doing the PhET-iO design for this sim, so I'm assigning to both @amanda-phet and @arouinfar.   Whoever is not doing the design, please unassign yourself

[2022-10-08 05:29] kathy-phet commented on #191
It will be @amanda-phet with @catherinecarter participating in PhET-iO pedagogy / instructional design ideation. Removing @arouinfar. Thanks for doing some baseline instrumentation. As you come across your own questions or ideas, @pixelzoom, please feel free to add here, of course. I would say we will aim to have design ideas by 10/27 (after the dev common code sprint week).

[2022-10-08 14:48] pixelzoom opened #192 "PhET-iO Instrumentation Process Checklist"
# PhET-iO Instrumentation Process Checklist

## Initial Steps

### Gathering requirements

- [ ]  Create a google doc for documenting requirements
- [ ]  Identify internal and any client iO requirements
- [ ]  Determine the developer that will be instrumenting the simulation. It is best for the simulation's responsible
  developer to perform the PhET-iO instrumentation. They have important insight

[2022-10-08 15:27] pixelzoom commented on #192
Note that the "Before touching any code" section says:

I'm skipping that for this sim, because I've been asked to proceed, and there are no outstanding GitHub issues that I think are relevant here.  @amanda-phet if you feel otherwise, please let me know asap.

[2022-10-08 15:34] pixelzoom commented on #191
See https://github.com/phetsims/equality-explorer/issues/192 for checklist, which includes many "Design" items.

[2022-10-09 03:22] pixelzoom commented on #192
Good progress on "initial instrumentation" today in the above commits. I'll resume working on this the week of 10/17/2022.

[2022-10-10 17:34] KatieWoe opened #193 "CT required tandems must be supplied"
Also in Basics and Two Variables
[code]

[2022-10-11 02:07] pixelzoom opened #194 "Enabled PhET-iO testing for CT."
While PhET-iO instrumentation is in-progress, some CT testing has been disabled. This issue is a reminder to enable testing when instrumentation has been completed.

- [ ] Remove these entries from phet-io-state-unsupported:

[code]

- [ ] Remove this from package.json files:

[code]

[2022-10-11 02:12] pixelzoom commented on #193
In Slack, @samreid suggested:

[code]

In the above commits, I believe that I've turned off PhET-iO valiation tests for CT.  Unfortunately I can't stick around to confirm, since I'm on vacation.  @KatieWoe if this looks OK after a CT cycle, please close.  Otherwise assign back to me.

[2022-10-11 12:41] pixelzoom commented on #193
This has failed CT for (at least) 4 consecutive cycles since I added `validation: false`.   I confirmed that I added where it occurs in package.json for other sims (arithmetic, bending-light,...

@samreid @zepumph could one of you please investigate?

[2022-10-11 12:44] pixelzoom commented on #193
I'll also note that this fails in my local working copy with phetmarks.  Running with the defaults for "studio" mode, which include:

http://localhost:8080/studio/?sim=equality-explorer&locales=*&keyboardLocaleSwitcher&phetioWrapperDebug=true&phetioElementsDisplay=all

Note that the default includes:

<img width="368" alt="screenshot_1931" src="https://user-images.githubusercontent.com/3046552/195

[2022-10-11 12:49] pixelzoom commented on #193
Apparently it's necessary to run `grunt update`, and that's not mentioned in the technical guide (it is now).  So I ran `grunt update` for all sims in the suite, verified that they run locally with default Studio settings, and pushed.

I'll wait to see if this makes CT happy.

[2022-10-11 15:09] zepumph commented on #193
Right. The only way any package.json flags make it into the development HTML runnable is by regenerating that runnable in `grunt generate-development-html`.

Good luck! Please do assign us any issues that involve phet-io assertions from here. Ideally validation:false would be enough to ignore everything you'd encounter in PhET-iO.

[2022-10-11 21:30] pixelzoom commented on #193
CT has been happy for several cycles. Closing.

[2022-10-11 21:30] #193 closed

[2022-10-13 20:42] jbphet commented on #188
Here are some notes from my initial investigation of this.  These are primarily for my own future reference.

- The 'hi' local is Hindi
- The UTF-8 sequence for this character is 0xC2 0xA0 (c2a0)
- The UTF documentation I found refers to this as No-Break Space, see https://www.fileformat.info/info/unicode/char/00a0/index.htm
- It seems like it would be possible to search and replace these characte

[2022-10-13 20:43] jbphet commented on #188
@oliver-phet - Could you please reach out to the Hindi translator (I can get you the user ID if you need it) and ask whether this was something that was done intentionally?

[2022-10-13 21:14] oliver-phet commented on #188
I've emailed that translator. It looks like that translation was done 4 years ago, so we'll see if they are responsive!

[2022-10-14 17:48] oliver-phet commented on #188
It's a bit hard to decipher, but it sounds to me like this was accidental.

[2022-10-16 11:47] pixelzoom commented on #188
NBSP and &nbps are  standard representations "non-breaking space".  It's typically used in HTML to create a space in a line that cannot be broken by word wrap.

I suspect that what happened with the 'hi' translation is that the translator had a space at the end of his/her translated strings, and the browser (or possibly Rosetta) converted that to NBSP.

So I think it would be wise to verify that R

[2022-10-17 11:58] pixelzoom commented on #151
Basic PhET-iO instrumentation is being done as part of https://github.com/phetsims/equality-explorer/issues/192.

[2022-10-20 21:32] jbphet commented on #188
@liammulh and I discussed this and, since the indications so far are that people are not adding NBSP intentionally, we should change Rosetta 1.0 and 2.0 to prevent them from occurring and remove the existing ones in the translations.  NBSP characters that are at the beginning or end of a string will be removed, instances that are in the middle of a string will be replaced with a regular "normal" U

[2022-10-21 12:57] pixelzoom opened #195 "How to make OopsDialogIO extend DialogIO?"
To instrument equality-explorer for #192, I'm using a PhetioCapsule to manage scenery-phet.OopsDialog.

Here's the relevant code in EqualityExplorerSceneNode:

[code]

Here's the current definition of `OopsDialogIO` in OopsDialog.ts:

[code]

But this definition of OopsDialog doesn't seem quite right to me. OopsDialog is a subclass of Dialog, so OopsDialogIO should be a subclass of DialogIO. So I

[2022-10-21 13:20] pixelzoom opened #196 "Use a single instance of OopsDialog"
Related to https://github.com/phetsims/equality-explorer/issues/192 and #195 ...

OopsDialog is currently instantiated from a couple of places in the sim: EqualityExplorerSceneNode and SeparateTermsDragListener.  The latter is problematic, because SeparateTermsDragListener is itself dynamic, so I can't use a PhetioCapsule there.

Since OopsDialog is modal, I think a better approach would be to eag

[2022-10-21 15:08] samreid commented on #195
Do I need to apply a patch to see this assertion error?

[2022-10-21 19:18] zepumph commented on #195
I believe all that is needed here is making sure the core type is providing the right phetioType too:

[code]

[2022-10-21 21:03] pixelzoom commented on #195
Ah yes, thanks -- the old "missing phetoioType" problem.  This is something that I unfortunately do all the time, in many different places. And the error messages are almost always incomprehensible and downstream.   Usually it only wastes my time. Sorry to have dragged 2 more devs in this time.

[2022-10-22 02:56] pixelzoom commented on #195
OopsDialogIO has been redefined in the above commit. Closing.

[2022-10-22 02:56] #195 closed

[2022-10-23 18:04] pixelzoom commented on #196
That is unfortunately not possible. Attempting to instantiate a Dialog as a static global results in a failure of this assertion in Dialog.ts:

[code]

So in the above commit, I'm using one static instance of OopsDialog per screen for the "numer too big" message.  I still need to address the OopsDialog in SeparateTermsDragListener.

[2022-10-23 20:40] pixelzoom opened #197 "Does animation need to be stateful?"
Some big design questions have come up in #192 during initial instrumentation, both of which are related to animation.

(1) There an many sim-specific animations. Terms animate to the toolbox or plates when released. Terms fade out when they sum to zero. Universal Operations animate to the plates in the Operations and Solve It screens. Etc.  Do these animation need to be stateful? I.e., if the sim

[2022-10-23 20:40] pixelzoom commented on #191
See https://github.com/phetsims/equality-explorer/issues/197 for some high-prority design questions related to statefulness of animation.

[2022-10-23 20:41] pixelzoom commented on #197
I should mention that these are general issues, and decisions here will likely apply to other sims that use twixt animations and vegas RewardNode.

[2022-10-25 02:32] pixelzoom commented on #196
Done.

We now have 3 static instances of OopsDialog, under `equalityExplorer.global.view.dialogs`.  EqualityExplorerSceneNode is responsible for creating those instances at startup.  There are no PhetioCapsules involved.

I've also added documentation about how to test these dialogs, see  EqualityExplorerSceneNode.ts.

Closing.

[2022-10-25 02:32] #196 closed

[2022-10-26 21:48] pixelzoom commented on #151
Doing this work in https://github.com/phetsims/equality-explorer/issues/192, per the "process". Closing.

[2022-10-26 21:48] #151 closed

[2022-10-26 22:21] pixelzoom opened #204 "How to use PhetioGroup when an object has multiple creation patterns?"

[2022-10-26 23:12] pixelzoom opened #198 "Class hierachy improvements"
The class hierachy for variables, terms, and term creators could stand to be improved.  It's a little confusing, and lacks some symmetry.

Current implementation:

[code]

Instead, we should differentiate between "symbolic variables" (which have a symbol, like 'x') and "object variables" (which are represented by an image, like turtle.png).

So perhaps something like this:

[code]

This would be a

[2022-10-27 18:54] pixelzoom opened #199 "Revise snapshot implementation"
The snapshot feature currently works correctly in the sim.  But there are multiple deficiencies
that are exposed by PhET-iO, including:

- [x] The model (Snapshot) is not used by the view (SnapshotNode).

- [x] The snapshot of a Term (TermSnapshot) is rather odd, and is created dynamically. A better approach would be to save a copy of the original Term, which is what is eventually done in `TermCre

[2022-10-27 23:30] pixelzoom commented on #199
Lot of work, many changes here. But the end result is much better, the Studio tree makes more sense, and there are fewer dynamic elements.

The first checklist item above was a bit of a compromise, but as I noted in SnapshotNode.ts:
[code]

Closing.

[2022-10-28 00:06] pixelzoom opened #200 "PhET-iO instrumentation of dynamic elements"
Related to #192 (https://github.com/phetsims/equality-explorer/issues/192). @amanda-phet @kathy-phet FYI.

Here's a summary of my current understanding of this sim's dynamic elements.

IOTypes that will be needed:

* TermIO and its subclasses (ConstantTermIO, ObjectTermIO, VariableTermIO)
* SnapshotIO and its components (PlateSnapshotIO, TermCreatorSnapshotIO, TermSnapshotIO)

PhetioGroups that wi

[2022-10-28 00:09] pixelzoom commented on #192
Dynamic elements have been identified in https://github.com/phetsims/equality-explorer/issues/200.  There are no plans to work on that until the initial instrumentation has been reviewed.

[2022-10-28 00:09] pixelzoom commented on #198
There are no plans to work on this until the initial instrumentation has been reviewed, and the initial PhET-iO design has been completed.

[2022-10-28 00:11] pixelzoom commented on #200
There are no plans to work on this until the initial instrumentation has been reviewed, and the initial PhET-iO design has been completed.  Reminder that I have not commited to completing dynamic instrumentation.

This issue is also blocked by https://github.com/phetsims/equality-explorer/issues/204 (PhetioGroup does not support Prototype pattern).

[2022-10-28 01:26] pixelzoom commented on #204
This blocks instrumentation for most of the dynamic elements identified in https://github.com/phetsims/equality-explorer/issues/200.

[2022-10-28 04:16] pixelzoom commented on #199
Reopening.  There are a couple of additional tasks to do:

- [x] Check the memory implications of using full Terms versus object literals in snapshots.
- [x] update implementation-notes.md

[2022-10-29 00:59] samreid commented on #204
PhetioGroup uses this creation function: `createElement: ( t: Tandem, ...p: P ) => T`.  So the Prototype pattern could be implemented like so:

[code]

[2022-10-29 14:23] pixelzoom commented on #204
I don't follow the proposed implementation in https://github.com/phetsims/equality-explorer/issues/204.  Are you proposing that I use an entirely separate PhetioGroup instance to make element copies (ie, use the Prototype pattern)?  So if I have N creation patterns in my sim, I need N PhetioGroup instances?

[2022-10-29 14:52] samreid commented on #204
No, I'm just showing that PhetioGroup is flexible about how objects are created.  It is not locked in to using constructors, for example.  So you can use `copy` methods or other strategies when generating group elements.  Maybe I will understand the problem better with more context.

[2022-10-29 18:01] pixelzoom commented on #204
I understand that PhetioGroup doesn't restrict you to any specific implementation of `createElement`.  But it restricts you to _one_ implementation of `createElement`, so a specific PhetioGroup instance only supports one pattern for creating elements.    That's not a good fit for elements that support (and require) multiple creation patterns.

So if PhetioGroup is going to be the means for creatin

[2022-10-29 18:23] samreid commented on #204
Here is a demonstration of calling `new` and `copy` within one PhetioGroup.createElement implementation, and a use case at the end to demonstrate creating 2 Terms, one using each approach:

[code]

[2022-10-30 16:02] pixelzoom commented on #204
Great, we have something that could unblock Term in equality-explorer.  But it works for Term because its creation patterns (`new` and `copy`) support the same set of options, and you're willing to overload `createMethod` via mutually-exclusive `GroupOptions`.

This smells like a workaround, not a general solution. What if I have a class where `new`, `copy`, and a factory method all have very diff

[2022-10-30 16:18] pixelzoom commented on #204
The above example also demonstrates how overloading `createElement` via a mutually-exclusive `GroupOptions` approach leads to overly-complicated code and (in the case of Term) errors.

As I understand it, the general idea for `GroupOptions` was to support mutually-exclusive combinations of GroupOptions fields by using `never`.  I've seen this in other places in PhET code, and imo it's a pattern to

[2022-10-30 16:30] pixelzoom commented on #204
Also ... PhetioGroup is really difficult to work with and understand, and a big cost when retrofitting code.  Do you really want to make it even more difficult to understand, and more difficult to retrofit, by using a pattern like `GroupOptions`?

[2022-10-30 16:36] samreid commented on #204
The central implementation feature of PhetioGroup and PhetioCapsule is that it is able to trigger the same group member creation code in a simulation and during a PhET-iO state set operation.  To me, that seems at-odds with the idea of having lots of different ways to create the objects.

[2022-10-30 16:38] samreid commented on #204
In Mean: Share and Balance we switched from PhetoiGroup to pattern where we preallocate a pool of objects and use an `isActiveProperty` on each one, and it seems to be working well in that sim.

[2022-10-30 22:51] pixelzoom commented on #204
Having multiple creation patterns is a very legitimate and common OO programming pattern.  So if "the central implementation feature of PhetioGroup" is that it expects all instances to be created with the same pattern, then I'd say that PhetioGroup is a bad match for PhET sims.

So yes, I agree - PhetioGroup is at odds with how standard creation patterns are applied, and the needs of PhET sims.  C

[2022-10-30 22:53] pixelzoom commented on #204
That approach would require pre-allocating 216+ Terms for each screen in _Equality Explorer_.  288+ Terms for _Equality Explorer: Two Variables_.  It would also require lots of changes to the most complicated sim that I've ever written for PhET, not something that I'm interested in doing.

(EDIT: 6x6 grid = 36 spaces on each balance-scale plate * 2 plates = 72 instances per Term type)

[2022-10-30 23:12] pixelzoom commented on #204
For the record...  I don't think that either PhetioGroup/ PhetioCapsule are serving PhET particularly well.   We are going out of our way to architect software so that we don't need to use them (e.g. Fourier, MSaB), making choices/compromises that we would not otherwise make, to the detriment of the software.  And when we have no choice but to use PhetioGroup/ PhetioCapsule, they are painful to us

[2022-10-30 23:17] kathy-phet commented on #204
Hey Guys, Let's plan to take this to a design meeting conversation, and ideate together in real time about the architectural needs of PhET and the current PhET-iO group approach. This week we are busy with POSE, but let's pick this up the following week.

[2022-10-31 22:14] pixelzoom commented on #199
Using copies for Term for snapshots uses more memory than object literals, but still seems reasonable.  Since it simplifies the implementation (and eventually the IOType), I think it's worth the extra memory resources.

Closing.

[2022-11-01 21:32] pixelzoom commented on #198
I've taken multiple passes at this, spent a good 2 hours on it, and it's just too difficult and destabilizing. So punting, and closing.

[2022-11-01 21:32] #198 closed

[2022-11-04 15:11] pixelzoom opened #201 "CT: Assertion failed: term is disposed"
This assertion failure is occuring for all sims in the suite, for all `Term` subclasses.  This problem was likely introduced by TypeScript conversion and PhET-iO instrumentation.  It looks like this started around 11/2/2022 8:13:10 PM, but I'm not certain, because CT history does not go back very far.

For example, `ConstantTerm`:

[code]

`ObjectTerm`:

[code]

`VariableTerm`:

[code]

[2022-11-04 15:16] pixelzoom commented on #201
In all cases... While restoring a snapshot, a `Term` that was previously disposed is being put on the plate by `TermCreator.putTermOnPlate`. This was introduced by #199 (revise snapshot implementation), where a snapshot now consists of copies of `Term`.   So why is a snapshot making a copy of a disposed Term, and why is a disposed Term on the plate at the time that a snapshot is taken?

[2022-11-07 18:07] pixelzoom commented on #199
Reopening. I neglected to dispose of the Terms created for the snapshots.

[2022-11-07 18:10] pixelzoom commented on #201
To reproduce manually:

1. Start sim, go to Basics screen
2. Put 1 sphere on the plate, take a snapshot (snapshot1)
3. Select snapshot1 and restore it.
4. Press the clear button on the balance scale.
5. Select snapshot1 and restore it. This will trigger the failure.

The problem is that the snapshot Terms are being put on the scale, then disposed when the clear button is pressed. When restoring a

[2022-11-07 18:25] pixelzoom commented on #201
Fixed in the above commit, by making a copy of each Term when restoring a snapshot.

Closing.

[2022-11-07 18:25] #201 closed

[2022-11-07 21:47] pixelzoom commented on #199
Summary of the above changes:

* Moved the entire implementation of a Snapshot into Snapshot.ts
* Implemented dispose for Snapshot
* fixed VariableValueNode so that SnapshotNode displays the correct variable values

Closing.

[2022-11-07 21:47] #199 closed

[2022-11-07 21:58] pixelzoom commented on #197
There are currently 8 TODOs in the code that reference this issue:

[code]

[2022-11-07 21:59] pixelzoom commented on #200
There are currently 31 TODOs in the code that reference this issue:

[code]

[2022-11-07 22:11] pixelzoom opened #202 "Presentation of equations in Studio and the data stream"
This sim displays equations in a number of places. There is one or more equations above the balance scale, and zero or more equations in the Snapshots accordion box. Examples:

<img width="603" alt="screenshot_1946" src="https://user-images.githubusercontent.com/3046552/200425907-93ca863e-df88-48fe-8aa4-9ee0f683997e.png">

<img width="598" alt="screenshot_1947" src="https://user-images.githubuserc

[2022-11-07 22:14] pixelzoom commented on #192
I've completed initial instrumentation.

Baseline versions:
* https://phet-dev.colorado.edu/html/equality-explorer/1.2.0-dev.6/phet-io/
* https://phet-dev.colorado.edu/html/equality-explorer-basics/1.1.0-dev.3/phet-io/
* https://phet-dev.colorado.edu/html/equality-explorer-two-variables/1.1.0-dev.3/phet-io/

Nexts steps are for designers @amanda-phet @catherinecarter - see https://github.com/phets

[2022-11-07 22:40] pixelzoom commented on #191
I've completed the initial instrumentation for https://github.com/phetsims/equality-explorer/issues/192. Caveats:
* Initial instrumentation covers static elements only. There are no dynamic elements or custom IOTypes.
* Because there are no dynamic elements, the State wrapper will definitely not work.
* Focus on Studio. Wrappers other than Studio are unlikely to work at this stage.

Next steps for

[2022-11-07 22:58] catherinecarter commented on #202
We talked about this issue today (the fact that each equation has to be personally laid out by the developer). We brought up Latex, which includes a math equation parser, that's not currently in any of the sims. Being new, I'm unclear whether building in Latex is either wanted or possible.
In terms of the studio tree, I'm going to defer to Amanda since I'm still learning studio and I'd like to lea

[2022-11-07 23:21] pixelzoom commented on #202
This is a little different than how the equations are rendered, and certainly smaller in scope.

I was thinking we might want a Property for each equation, whose value is a plaintext string.  For the examples in the above screenshots:

"3x > 2"
"2x > 1"
"3x > 2"
"-x = -18"
"-x = -18"
"-x + 3 = -15"
"-x + 2 = -16"

But I'm not sure if those would really be useful, whether they would need to be pars

[2022-11-07 23:25] pixelzoom commented on #200
@amanda-phet @catherinecarter Before reviewing the Studio tree, read through [model.md](https://github.com/phetsims/equality-explorer/blob/master/doc/model.md) and [implementation-notes.md](https://github.com/phetsims/equality-explorer/blob/master/doc/implementation-notes.md).   The essential elements to understand are:

* Scene
* Term
* TermCreator
* Snapshot
* UniversalOperator

[2022-11-08 16:32] amanda-phet commented on #202
Discussed 11/8/22: Decision is to use a text string that a program could parse. This is closer to what the model knows, is human-readable, and is parsable by a program.

Examples:

"1 cat + 2 dog + 3 turtle > 0 cat + 1 dog + 0 turtle"

"1/10 x + 3/10 = 2/10 x + -5/10"

[2022-11-08 17:57] pixelzoom commented on #202
More notes from 11/8/22 design meeting:

* delimiter used in string representation will be space `' '`
* terms whose coefficient or value is 0 will always be present in the string
* number of terms on each side of the equation is equal to the number of TermCreators
- [ ] string representation will be available via the following PhET-iO-only Properties:
  * `balanceScale.equationProperty: Property<

[2022-11-08 18:00] pixelzoom opened #203 "Set the game score at which the reward is shown"
From 11/8/2022 design meeting... The PhET-iO client should be able to set the game score at which the reward is shown.

TODO:

* make `rewardScore` a public query parameter
* add `solveItScreen.model.rewardScoreProperty`, initialized with EqualityExplorerQueryParameters.rewardScore
* add `phetioDocumentation` for `rewardScoreProperty`

[2022-11-08 18:13] pixelzoom commented on #197
@amanda-phet @catherinecarter and I discussed this at 11/8/2022 design meeting.  Summary:

* Saving state while animating does not serve any pedagogical purpose, and is probably a mistake if it happens.
* There is currently no way to prevent the instructional designer from making this mistake. The sim does not know that it's animating, and cannot tell Studio to disable buttons (Preview, Download,.

[2022-11-08 18:14] pixelzoom commented on #191
At 11/8/2022 design meeting, I reviewed the checklist in https://github.com/phetsims/equality-explorer/issues/191#issuecomment-1306323892 with @amanda-phet and @catherinecarter.

[2022-11-08 21:32] pixelzoom commented on #203
@amanda-phet please review.

* `?rewardScore` is now a public query parameter. It must be a positive integer, and it defaults to 10.  If you use an invalid value, you'll see any Oops dialog when the sim starts.
* `equalityExplorer.solveItScreen.model.rewardScoreProperty` is the new Property. Its initial value is the query parameter `?rewardScore`.  This Property can be changed via PhET-iO.  It's p

[2022-11-08 22:58] arouinfar commented on #197
Agreed! Note that there is now a single [PhET-iO Guide](https://github.com/phetsims/phet-io-sim-specific/blob/master/client-guide-common/client-guide/phet-io-guide.md) shared by all sims, so documentation should be written in a general way. It has a section for Limitations to Customizing State with a list of things that aren't stateful (e.g. transient behavior) so we can add animations to the list