[2017-04-27 22:56] pixelzoom opened #1 "Equality Explorer - master checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 08/15/2016)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Sim suggestions doc reviewed**
- [x] **Learning goals and standards identified** (Date: 09/06/2016)
- [x] **Design concept comple

[2017-06-09 18:14] ariel-phet commented on #1
## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed**
- [ ] **Learning goals and standards identified** (Date: //)
- [ ] **Design concept complete**  (Date: //)

[2017-06-09 18:28] ariel-phet commented on #1
## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed**
- [ ] **Learning goals and standards identified** (Date: //)
- [ ] **Design concept complete**  (Date: //)

[2017-06-27 22:48] pixelzoom opened #2 "credits"
Finalize credits in [equality-explorer-main.js](https://github.com/phetsims/equality-explorer/blob/master/js/equality-explorer-main.js).

I've started with the credits that are shown at the top of the Google design doc.

When RC testing is completed, any credit updates should be done in both the 1.0 and master branches.

[2017-06-28 23:51] pixelzoom opened #3 "better titles for accordion boxes"
As I'm testing the sim while implementing, the title "Equation or Inequality" feels a bit clunky. Can we brainstorm some other possibilities?

![screenshot_289](https://user-images.githubusercontent.com/3046552/27665437-60511920-5c2a-11e7-9b22-1c5ca3d180cd.png)

[2017-06-29 00:02] pixelzoom commented on #3
The "My" on "My Snapshots" also makes me gag a little. It's so Microsoft Windows.

[2017-06-29 00:04] pixelzoom commented on #3
The "My" on "My Snapshots" also makes me gag a little. It's so Microsoft Windows.  I don't mind it so much when it's something that's "custom" (e.g. "My Solution").  But there aren't any snapshots here other than the ones that the user has created.

[2017-06-29 16:57] amanda-phet commented on #3
Tried brainstorming the "equality or inequality" title and that seemed to be the most accurate label.

We can just call the snapshots panel "Snapshots".

[2017-06-29 18:26] amanda-phet commented on #3
Tried brainstorming the "equality or inequality" title and that seemed to be the most accurate label. I'm happy to consider other options!

We can just call the snapshots panel "Snapshots".

[2017-07-18 19:15] pixelzoom opened #4 ""organize" the scale"
There are lots of ways that this could be done, and it's going to be non-trivial to implement. So @amanda-phet, I'd like to hear what you had in mind for how items on the scale should be rearranged when the "organize" button is pressed.

Should items be arranged left-to-right on the scale, in the same order that they appear in the equation?  Its seems like "yes", since that would make it easier to

[2017-07-18 19:17] pixelzoom commented on #4
The easiest implementation would be to populate the 6x6 grid from left-to-right, bottom-to-top, in the same order that items appear in the equation.  Move to a new column for each type of item (if possible, not always possible).

Here's what that would look like for the scenarios above.

I'm using `_ _ _ _ _ _` to indicate the 6 columns in the grid.

1 A
[code]

3 A
[code]

7 A
[code]

12 A
[code]

[2017-07-18 19:35] pixelzoom commented on #4
Keep in mind that we need to come up with a general algorithm for doing this.  If we get to hung up on aesthetics and special cases, this will be a real nightmare to implement and test.

For example, the general algorithm that I described above yields this arrangement:

8 A, 8B, 8C
[code]

Three piles of 4 items might be more aesthetically appealing:

8 A, 8B, 8C
[code]

... but is difficult to de

[2017-07-19 16:24] amanda-phet commented on #4
The implementation described in https://github.com/phetsims/equality-explorer/issues/4#issuecomment-316168850 is exactly what I had in mind. The only difference might be that it would look nice to distribute the different items if there is room, so in the case of

6 A, 4 B, 6C
[code]

or 6A 4B
[code]

The piles start more spaced out. However this is not necessary- it would just be nice to have the

[2017-07-19 16:28] pixelzoom commented on #4
@amanda-phet Thanks, that's great. I'll start by implementing what I described, then see if I can add the horizontal "pile spacing" that you've described above.

[2017-07-19 16:29] pixelzoom commented on #4
@kathy-phet @ariel-phet If you have any opinion on this, or had something in mind other than what @amanda-phet and I have agreed on --- now is the time to speak up.  This will be expensive to change.

[2017-07-19 16:34] amanda-phet commented on #4
how soon are you implementing this? @kathy-phet is on vacation this week..

[2017-07-19 16:35] kathy-phet commented on #4
I took a peak. It looks good, but just to confirm, this is on the "reorganize" button push, correct? Otherwise, the pieces just slot into the column where they were placed and can be disorganized, correct. So its not constantly shifting around.

[2017-07-19 16:37] pixelzoom commented on #4
@amanda-phet: I hope to be implementing this within the next 2 weeks.

@kathy-phet: Correct.  My question was:

[2017-07-19 16:50] ariel-phet commented on #4
The suggested approach seems logical and reasonable to me.

[2017-07-19 16:54] kathy-phet commented on #4
OK -- yes, sounds good to me.

[2017-08-30 19:42] #3 closed

[2017-08-31 17:26] pixelzoom opened #5 "emphasize the relational operator in equations"
The relational operator (>, <, =) is important in this sim.  @amanda-phet and I noticed that it's a bit "lost" in equations.

Related design questions:

(1) How can we emphasize the relational operator?

(2) Should the relational operator be emphasized in both the "Equation or Inequality" and "Snapshots" panels?

(3) Would it help to keep the relational operator centered in the "Equation or Inequa

[2017-09-01 18:46] pixelzoom commented on #5
@amanda-phet please review the "Basics" screen in [1.0.0-dev.8](http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.8/equality-explorer_en.html).

Changes include:
(1) The relational operator remains centered in the "content area" of the accordion box.
(2) The relational operator uses a larger, bold font for emphasis.
(3) The equation (EquationNode) has the following options

[2017-09-01 18:57] amanda-phet commented on #5
(1) I really like how it is centered
(2) It might be too large the way it is.. it dwarfs the 0s at startup. However it seems balanced with the fruits.

Can we increase the size of the equation text, or decrease the size of the fruits? Maybe something comparable to these proportions:
<img width="427" alt="screen shot 2017-09-01 at 12 53 39 pm" src="https://user-images.githubusercontent.com/7852916/

[2017-09-01 19:22] pixelzoom commented on #5
@amanda-phet said:

You should look at the "polygons" and "spheres" scenes, because "fruits" is not worst case (has only 2 icons that appear in equation).

I noticed this too.  But as the equation gets "noisier" (more terms, more icons) it does look OK.  So I think this will involve a compromise.

Please clarify. Are you requesting identical font size for _all_ text elements? (numbers, operators)

[2017-09-01 19:35] pixelzoom commented on #5
Here's a "worst case" example with bold relational operator, larger coefficients/constants, and item icons that are the same size as in the play area.  Note that the accordion box is significantly wider.

![screenshot_371](https://user-images.githubusercontent.com/3046552/29984992-4a6ebdd8-8f1a-11e7-90af-b759e702b0cd.png)

Here's how it looks for "0 = 0":

![screenshot_372](https://user-images.git

[2017-09-01 19:37] pixelzoom commented on #5
EquationNode options for the above example are:

[code]

... so increased font size for '+' and numbers, less space around relational operator.

[2017-09-01 19:44] amanda-phet commented on #5
I definitely prefer the larger font for coefficients and operations. It looks more balanced to me.

I was never bothered by the objects in the equation box being smaller than those in the play area since they aren't interactive and are representative of the play area, so I still think I'd prefer to see everything (at this point) scaled down to make the panel smaller overall.

Thanks for making the

[2017-09-01 20:06] pixelzoom commented on #5
@amanda-phet please have a look at [1.0.0-dev.9](http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.9/equality-explorer_en.html), which includes the following changes to the equation:

• item icons are scaled by 75%
• reduce font size from 32 to 28 for numbers and '+'
• reduce font size from 50 to 40 for relational operator
• "worst case" screenshot shown below

Note that a

[2017-09-01 20:19] amanda-phet commented on #5
I compared in each scene and like this a lot. When we get to the other scenes that include x I think these sizes will hold up well, but I agree we should probably not spend too much time on this at the moment. Since we addressed emphasizing the relational operator I'll close the issue. Thanks!

[2017-09-01 20:19] #5 closed

[2017-09-01 21:45] pixelzoom opened #6 "items for "Basics" screen"
The "Basics" screen is cruising towards feature completeness, and I'm starting to tweak layouts, etc.  So we need to make a decision about the item icons.

From 6/8/2017 meeting notes in the [design doc](https://docs.google.com/document/d/1xu9nawWcndFqgg5zyCGm25h-OFUsuFYnXF3QHW42spQ/edit#heading=h.o05zor9rg52o):

Stick figures
Shapes
CCK grab bag items
Coins from ExEx
FB shapes?
Cars from unit rat

[2017-09-01 21:53] pixelzoom commented on #6
Important considerations:

• Icons are arranged in a 2D grid on the scale. All cells in the grid have the same dimensions.  The cell dimensions are determined by determining the maximum width and maximum height of all icons. Icons are positioned on the bottom center of each cell. (Run with `?showGrid` to see the grid.)

• Icons should have similar heights so that they stack nicely on the scale.  I

[2017-09-01 22:15] pixelzoom opened #7 "disabling the Organize button"
This is the Organize button (herein "the button"), found on the scale:

![screenshot_376](https://user-images.githubusercontent.com/3046552/29989325-77313b92-8f2f-11e7-9f03-39470cbb3c17.png)

I believe that we decided that the button should be disabled when (a) the scale is empty, or (b) the scale is already organized.

I’ve implemented the “scale is empty” requirement, which is very easy to detec

[2017-09-05 17:13] pixelzoom commented on #7
Btw... There's precedent for the compromise that I described above. The "Reset All" button in all sims is in fact _never_ disabled, because it's currently too complicated to determine whether the sim needs to be reset.

[2017-09-05 18:08] amanda-phet commented on #7
That sounds perfectly reasonable to me. Please go ahead and implement the button this way.

[2017-09-05 18:13] pixelzoom commented on #7
Done, closing.

[2017-09-05 18:13] #7 closed

[2017-09-08 21:04] pixelzoom commented on #7
Disable the button when it pressed: https://github.com/phetsims/equality-explorer/commit/bb9b5dac4500b8b2018feedd447b3bda8b5a4eda

[2017-09-08 21:08] pixelzoom commented on #4
The specification described in https://github.com/phetsims/equality-explorer/issues/4#issuecomment-316168850 is implemented in [1.0.0-dev.10](http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.10/equality-explorer_en.html).  I verified all of the examples shown in https://github.com/phetsims/equality-explorer/issues/4#issuecomment-316168850.

@amanda-phet please review and l

[2017-09-08 21:15] amanda-phet commented on #4
Looks like it's working well to me. What do you think about adding the horizontal pile spacing described in https://github.com/phetsims/equality-explorer/issues/4#issuecomment-316441119? It is not necessary, but I think a more distributed appearance would look nice on the plates.

[2017-09-08 21:21] pixelzoom commented on #4
Rather than spacing the piles, how about centering the piles?  E.g.:

6A, 4B
[code]

6 A, 4B, 6C
[code]

[2017-09-08 21:31] amanda-phet commented on #4
I think that could work! And it sounds easier. Let's do that.

[2017-09-08 21:52] pixelzoom commented on #4
@amanda-phet please review [1.0.0-dev.11](http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.11/equality-explorer_en.html), which centers the items in the grid.  Run with `?showGrid` so you can see the grid.

Important to note that, since this is a grid, it's not possible to ensure that the stacks are visually centered on the scale's weighing platform. When the number of emp

[2017-09-08 22:09] pixelzoom commented on #6
I'll also need to know the "weight" for each Item.  For example, items in the "fruit" scene are currently using the following weights: apple=3, orange=2, one=1.

[2017-09-10 15:50] pixelzoom commented on #4
[1.0.0-12](http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.12/equality-explorer_en.html) contains fixes for a couple of non-obvious cases.

[2017-09-11 17:37] pixelzoom opened #8 "query parameters for populating the scale on startup"
Fully testing this sim requires examining lots of different scenarios.  Dragging items to the scale individually takes a lot of time, and gets old really fast.  So I'm going to add query parameters that allow you to specify how many of each item you want on the left vs right side of the scale.  This will speed up development, and should be useful during testing.

This feature is intended for debug

[2017-09-11 18:02] pixelzoom commented on #8
In [EqualityExplorerQueryParameters.js](https://github.com/phetsims/equality-explorer/blob/master/js/common/EqualityExplorerQueryParameters.js), I've added 2 query parameters,`leftItems` and `rightItems`. They specify the number of items to put on the scale's left and right weighing platforms respectively.

Let's start with an example. `?showGrid&leftItems=4,3,5&rightItems=12,0,12` looks like this

[2017-09-11 18:08] pixelzoom commented on #8
You can test drive these query parameters in [1.0.0-dev.13](http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.13/equality-explorer_en.html).

@amanda-phet @phet-steele Assigning to you as an FYI, so that you're familiar with this feature, since I suspect you'll be using it a lot.  Unassign yourself when you've had a look.  Last one to unassign please close this issue.

[2017-09-11 18:35] pixelzoom opened #9 "icon for "organize" button"
According to 5/4/17 meeting notes in the [design document](https://docs.google.com/document/d/1xu9nawWcndFqgg5zyCGm25h-OFUsuFYnXF3QHW42spQ/edit), the icon for the "organize" button is "similar to current one but still needs design work".    Since the "organize" feature is now fully functional (see #4), that design work should be able to proceed.

The current icon (shown in the screenshot below) is

[2017-09-11 19:38] pixelzoom commented on #4
After playing with this for a few days, there's one improvement that I might make to this algorithm. That is, to prefer "full columns" when possible.

For example, for `?rightItems=16,7,8`, here's how the items are currently organized. Note how the 1's are arranged.

![screenshot_381](https://user-images.githubusercontent.com/3046552/30293275-2ee02d7a-96f6-11e7-9cb2-7abc8f3c2e6a.png)

Would it be

[2017-09-11 19:44] pixelzoom commented on #4
Here's another example, `?rightItems=26,8,0`.

Organized with current algorithm:

![screenshot_383](https://user-images.githubusercontent.com/3046552/30293574-47ef8030-96f7-11e7-8059-fc60dd93875a.png)

Would this be better? Easier to count?

![screenshot_384](https://user-images.githubusercontent.com/3046552/30293596-5839f7fe-96f7-11e7-806a-f57f4e84dfb3.png)

[2017-09-11 20:09] amanda-phet commented on #4
We don't really need to be able to easily *count* objects, because they're counted in the equation, but we want them to be grouped so they mimic the equation. At quick glance, we want the information to correspond. If someone wants to rearrange into piles that suit them better they always can.

I tried ?rightItems=16,7,12 and in this case, I definitely prefer the proposed solution.
Current impleme

[2017-09-11 20:11] amanda-phet commented on #4
In the case of ?rightItems=16,7,13, would the proposed organization have a different outcome than this?
![screen shot 2017-09-11 at 2 11 02 pm](https://user-images.githubusercontent.com/7852916/30294648-11936d4a-96fb-11e7-834e-105eb715ba70.png)

[2017-09-11 20:21] pixelzoom commented on #4
For `?rightItems=16,7,13`, the organization would be as you've shown in https://github.com/phetsims/equality-explorer/issues/4#issuecomment-328644586. That's the only way to keep items of the same type grouped together.

I'll put in a little time to investigate "fill columns", as I proposed in https://github.com/phetsims/equality-explorer/issues/4#issuecomment-328636180.  If it turns out to be too

[2017-09-12 17:00] pixelzoom commented on #4
After about 1.5 hours, the "fill columns" approach proved to be very complicated, and I never could get it to work right.  In https://github.com/phetsims/equality-explorer/issues/4#issuecomment-328644088, @amanda-phet indicated that the current algorithm was sufficient. So I'm going to punt on "fill columns".

@amanda-phet let me know if there's anything else to do here.  Otherwise you can close t

[2017-09-18 20:50] #4 closed

[2017-09-19 16:09] phet-steele commented on #8
Love it...this breaks in a way you didn't mention above: `?leftItems=0.1,-36,36`, but I love it! I'll try to use it responsibly....

[2017-09-19 19:27] amanda-phet commented on #8
Oop, never closed this. I've used it a bunch already and love it. Thanks for making it. I won't have a problem using it responsibly :)

[2017-09-19 19:45] pixelzoom commented on #8
@phet-steele said

I added verification that all values are integers that are >= 0.

[2017-09-22 19:51] pixelzoom commented on #6
Also keep in mind that the item with the most weight determines how much (or how little) the scale will move per unit weight.   For example, with apple=3, orange=2, one=1, you can clearly see the "ones" move.  If you decide on apple=6, orange=3, one=1, then the "ones" will move half as much as they do now.

[2017-09-22 21:54] pixelzoom opened #10 "specify values that determine scale motion"
There are many parameters associated with the scale that affect it's range of motion, including:

• height of the fulcrum
• height of the platform supports
• length of the balance beam
• weights of the items
• range of the balance beam's rotation on the fulcrum
• amount of horizontal and vertical space available in the play area

In order to fine-tune how the scale responds to items place on plate

[2017-09-24 22:12] pixelzoom commented on #10
I've added the following query parameters:

`fruitWeights` - the weights of the items in the "Fruit" scene of the "Basics" screen. Default is `fruitWeights =3,2,1` (apples, oranges, ones).  The largest weight determines how much the scale moves for 1 unit of weight.  The larger the difference between largest and smallest weights, the less movement will occur for 1 unit of weight.

`scaleY` - y coo

[2017-09-24 22:20] pixelzoom commented on #10
Examples....

Here's what the defaults look like, with `?showGrid&leftItems=36,0,0` (scale fully loaded):

![screenshot_391](https://user-images.githubusercontent.com/3046552/30787460-2fa5161c-a146-11e7-8c95-fe1c02efb3b5.png)

Here's a configuration that maximizes use of vertical space:
`?&showGrid&leftItems=36,0,0&fulcrumHeight=60&plateSupportHeight=70&maxScaleAngle=20`

![screenshot_392](https:/

[2017-09-24 22:37] pixelzoom commented on #10
@amanda-phet You now have full control over the item weights and how the scale's balance beam moves.  This should allow you to tune the sim to the desired behavior.  After addressing #6, let me know what default values you want for each of the query parameters described above.

[2017-09-24 22:43] pixelzoom commented on #10
Here's a dev version with support for the new query parameters:
http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.16/equality-explorer_en.html

[2017-09-25 20:18] pixelzoom commented on #10
In Slack conversation with @amanda-phet, a new requirement was provided: for all screens, make the scale bottom out at a weight of 30 units.   So that you can experiment with this, I've added query parameter `maxWeight`, which defaults to 30.

I've also tweaked the default values for the other query parameters so that use of the vertical space is maximized, and the scale looks "bottomed out".   Wh

[2017-09-25 20:21] pixelzoom commented on #10
Here's [1.0.0-dev.17](http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.17/equality-explorer_en.html) with `?leftItems=12,5,4&showGrid`, a scenario where the scale is bottomed out.  Note that the arrow also turns 'red' when the scale is bottomed out.

![screenshot_394](https://user-images.githubusercontent.com/3046552/30828965-aca84a06-a1fc-11e7-89f3-ccea504e9187.png)

[2017-09-26 04:14] pixelzoom commented on #8
@amanda-phet @phet-steele FYI....

As I've started to flesh out the other screens, I realized that we need similar query parameters for each screen.  So I've changed things quite a bit.  Here are the new query parameters for specifying the number of items on the scale at startup:

// Basics screen (array of 3 integer values)
leftBasics
rightBasics

// Numbers screen (array of 2 integer values)
lef

[2017-09-26 20:22] amanda-phet opened #11 "How to cue when the balance is in "linked" mode"
This sim has a linked mode, which when active, allows the user to add/remove objects from *both sides of the balance at the same time.*

The current design of this sim uses an interactive train coupler to cue when the two sides are linked or unlinked. There are some issues with this design, namely that the actual balance doesn't get the same visual cue as the panels (other than a color change that

[2017-09-26 20:24] pixelzoom commented on #11
The radio-button approach in (2) above is demonstrated in http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.18/equality-explorer_en.html

[2017-09-26 20:59] pixelzoom commented on #11
Some of my comments that didn't get transferred from the Slack thread:
• With the "train couplers" in the design doc, it's odd that the coupling is associated with the panels, since it’s not solely the panels that are coupled.  If you take something off the scale, that doesn’t involve the panels at all.
• What the coupling _is_ associated with is the scale. When coupled, the angle of the scale wil

[2017-09-26 21:06] pixelzoom commented on #11
Maybe it would help to clarify this if we stopped using terms like "coupled" and "linked".  When items are added to the scale, the balance beam's angle typically changes (unless the scale is "bottomed out").  What we're doing is locking the balance beam, so that it can't move.  When the balance beam is locked, if you change the weight on one side of the scale, the weight on the other side of the s

[2017-09-27 20:55] pixelzoom commented on #6
In 9/27/17 design meeting, we decided to add a 4th scene to Basics.

Raising priority of this issue to "top".  There are so many layout and behavior issues related to the items that we need these asap.

[2017-09-27 20:56] pixelzoom commented on #11
9/27/17 design meeting:
• Remove color coding from plates and panels.
• Try the padlock shown in approach (1) above, but place the padlock between the 2 panels.  @amanda-phet will provide @pixelzoom with the artwork.

[2017-09-28 17:40] pixelzoom commented on #6
To summarize what I need...

For each scene:
• the items
• the order of the items in the panel
• which item to use on the radio button to select the scene
• the max weight for the scale (if different than 30)

For each item:
• icon
• drop shadow
• weight

[2017-09-28 20:15] amanda-phet commented on #6
update: since we decided to add a fourth scene, I won't have artwork for that scene for at least a few days (I am working with Cheryl and she is going to draw some animals).

Would it be useful for you to have all of the above info for the first three scenes, which I know for sure? Or just wait until you have all of it at once?

[2017-09-28 20:20] pixelzoom commented on #6
I'll take the first 3 screens whenever they're ready.

[2017-09-28 20:32] amanda-phet commented on #6
![screen shot 2017-09-28 at 2 31 04 pm](https://user-images.githubusercontent.com/7852916/30989086-b0bf89c4-a459-11e7-98e8-b1bfc36fded9.png)

Emailing you the .ai file now. I have one file for objects without shadows and another for objects with shadows. If you prefer to have separate .ai files for every object let me know, they can be organized that way instead. (so, apple without and apple with

[2017-09-28 20:44] pixelzoom commented on #6
When doing the icons for 4th scene (animals), reminder that they will be scaled _way_ down in the Snapshots accordion box.  So recommended to avoid unnecessary detail, and make them different enough that it’s easy to tell them apart when they’re very tiny.

[2017-09-29 01:59] pixelzoom commented on #11
All of the decisions in https://github.com/phetsims/equality-explorer/issues/11#issuecomment-332652682 have been implemented in [1.0.0-dev.24](http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.24/equality-explorer_en.html).  I realize that we won't be able to properly evaluate whether there's enough feedback until the "coupling" feature has been implemented and interviewed.

[2017-09-29 03:21] pixelzoom commented on #6
@amanda-phet I've integrated the images for the first 3 scenes into [1.0.0-dev.25](http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.25/equality-explorer_en.html), no drop shadows yet.

Thoughts on the icons:

• Two of the coins have a lot of light gray in them, which doesn't work too well on the light yellow screen background and gray scale plates. The coin with the triang

[2017-09-29 03:30] pixelzoom commented on #6
In the code, I'm referring to scenes 1-4 as the "shapes", "fruits", "coins" and "animals" scenes respectively.  Let me know if you'd like to use different names.

[2017-09-29 15:47] amanda-phet commented on #6
The coins look a little blah, I agree... Maybe I'll swap out the gray one with a different one. The problem is all of the coins have those colors in them, to look slightly metallic, so I may need to go back to the drawing board for that one. I wish I could use those cute veggies but I'm concerned about how they might stack.

I think the lemons look nice and in general I like the fruits, so I'd rat

[2017-09-29 17:04] amanda-phet commented on #9
Here is the design for the organize button. Do you think the circles and squares are too small to be discernible?
<img width="237" alt="screen shot 2017-09-29 at 11 04 03 am" src="https://user-images.githubusercontent.com/7852916/31027041-ff897f22-a505-11e7-8aff-6d069cb1ac00.png">

[2017-09-29 17:07] amanda-phet commented on #11
Since this issue was opened to address the design, and we've come up with a decision, I'll open a new one if interviews expose issues with the linked functionality (or reopen this one if we want to change the design).

[2017-09-29 17:07] #11 closed

[2017-09-29 17:08] amanda-phet commented on #11
Also, I'm really happy with the appearance at the moment.. the balance looks much cleaner (which was the hope with the simple design) and the lock seems to stand out to me in a good way. Seeing it start in an unlocked state makes me think it can be locked.

I am very interested to see what students thing.. if they find it and click on it, and if they understand what it does!

[2017-09-29 17:40] amanda-phet commented on #6
This is what the veggies could look like if stacked in the grid. There is obviously a lot of space between the objects.. is it too strange? @ariel-phet @kathy-phet thoughts?

<img width="503" alt="screen shot 2017-09-29 at 11 41 50 am" src="https://user-images.githubusercontent.com/7852916/31028444-3d2dd7ba-a50b-11e7-9eff-d2378c01f938.png">

[2017-09-29 19:46] pixelzoom commented on #9
Size of the circles and squares seems fine.  I'm a little concerned that arrow might be interpretted as "move items from left plate to right plate".  Any reason why it's blue instead of the standard "button yellow"?

[2017-09-29 19:49] pixelzoom commented on #6
Veggies stacks look very strange to me.  Also possibly more difficult to count.

[2017-09-29 20:06] amanda-phet commented on #9
I changed the color because of all of the yellow, discussed in https://github.com/phetsims/equality-explorer/issues/6#issuecomment-333163546.

[2017-09-29 20:13] pixelzoom commented on #9
Think I'd change the item before changing the button color.  Imo, the more colorful a sim is, the more
important it is to stick to standard/consistent button colors.  But your call.

[2017-09-29 20:49] amanda-phet commented on #11
Idea that we may want to consider: when the user clicks "lock", a simple lock appears ON the balance for some immediate feedback.

[2017-09-29 21:23] ariel-phet commented on #6
@amanda-phet not a fan of the veggies (except for sending a healthful message!)

It seems reasonable "square" aspect ration items are best

[2017-09-29 21:27] kathy-phet commented on #6
Agreed. Veggies look odd.

[2017-09-29 21:51] pixelzoom commented on #9
@amanda-phet and I discussed on the phone.  Here's what we came up with, implemented in the above commit:

![screenshot_67](https://user-images.githubusercontent.com/3046552/31037414-0595694e-a52e-11e7-9f5c-03d1bb4e78a5.png)

[2017-09-29 21:52] pixelzoom commented on #6
How about beer cans :)

[2017-09-29 21:56] pixelzoom commented on #9
Forgot to mention.... @amanda-phet, I think your mockup of the above had 2 columns of squares on the left.  I tried that and the squares looked very heavy.  Switching the squares and circles made it feel more balanced, and also matches (somewhat) the ordering of the "Shapes" scene.

[2017-09-29 22:27] amanda-phet commented on #9
My mockup had 5 circles on the left actually, so the stacks weren't both full. I'm fine with either. Thanks for making the change.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chris Malley <notifications@github.com>
Sent: Friday, September 29, 2017 3:56:53 PM
To: phetsims/equality-explorer
Cc: Amanda McGarry; Mention
Subject: Re: [phetsims/equality-explor

[2017-09-29 22:27] amanda-phet commented on #6
Those would stack nicely!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chris Malley <notifications@github.com>
Sent: Friday, September 29, 2017 3:52:57 PM
To: phetsims/equality-explorer
Cc: Amanda McGarry; Mention
Subject: Re: [phetsims/equality-explorer] items for "Basics" screen (#6)

How about beer cans :)

—
You are receiving this because you were men

[2017-09-29 22:37] pixelzoom commented on #9
Updated icon appears in http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.26/equality-explorer_en.html

[2017-09-29 22:37] pixelzoom commented on #6
Updated coin icons appear in http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.26/equality-explorer_en.html.

[2017-09-30 03:23] pixelzoom opened #12 "shadows on dragged items"
When an item is being dragged, it should have a drop shadow.

In Slack, @amanda-phet proposed two "looks" for the shadow:

(1) Adobe Illustrator shadow effect:

![pasted image at 2017_09_28 12_56 pm](https://user-images.githubusercontent.com/3046552/31042041-623d5412-a55c-11e7-9991-04c2065c1d08.png)

(2) Simple shadow, ala Area Builder sim:

![pasted image at 2017_09_28 12_57 pm](https://user-imag

[2017-09-30 03:26] pixelzoom commented on #12
[1.0.0-dev.28](http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.28/equality-explorer_en.html) implements simple shadows ala Area Builder.  Shadows have xOffset=3, yOffset=3, and opacity=40%.  @amanda-phet your thoughts?

[2017-10-02 15:45] pixelzoom commented on #12
@amanda-phet I was playing around with Area Builder some more, and noticed that it's requirements for the shadow are different.  The shadow is shown while dragging _and while animating_.   Showing the shadow while animating seems a bit unnecessary to me in Equality Explorer, and it's certainly more complicated.  Let me know your thoughts on this.

[2017-10-02 15:49] amanda-phet commented on #12
I played around with it a bunch and really like it! I would like to try an offset of 4px each way, but I like the opacity where it is.

The behavior you describe in Area Builder makes a lot of sense, because the shadow is there whenever the objects is *not* on the plate, but if you release the object and it is already animating toward the plate or the panel, I think it is fine to not have the shad

[2017-10-02 15:54] pixelzoom commented on #12
Offset of 4px for both x and y axes:
http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.29/equality-explorer_en.html

[2017-10-02 17:44] amanda-phet commented on #12
Thanks, I like that a lot! I think this issue can be closed since we have the shadow implemented, or do you want to wait until you have all of the artwork?

[2017-10-02 17:48] pixelzoom commented on #12
OK to close. Tracking artwork in #6.

[2017-10-02 17:48] #12 closed

[2017-10-02 18:13] pixelzoom commented on #9
The organize icon (as shown above in https://github.com/phetsims/equality-explorer/issues/9#issuecomment-333247574) is a pretty ugly bit of code.  I've converted it to an Illustrator (.ai) file, which I then saved as SVG.  Then I'm using the SVG path description directly in the code.  This replaces a big chunk of code with an Illustrator file that can be easily modified, while preserving the rende

[2017-10-02 22:14] pixelzoom opened #13 "colors for the scale's arrow"
The arrow on the scale is currently color coded to represent the 3 possible states of the scale, as shown below. Because the arrow is always a bright color (in all 3 states), the color change isn't very noticeable.

green → balanced

![screenshot_399](https://user-images.githubusercontent.com/3046552/31101723-232b7614-a78c-11e7-9c4c-ecadcc91254d.png)

red → bottomed out

![screenshot_400](https://

[2017-10-02 22:18] pixelzoom commented on #13
[1.0.0-dev.30](http://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.30/equality-explorer_en.html) uses 'black' for the "unbalanced" state. Playing around with it, this seems to make the 'red' and 'green' color changes much more noticeable.  (Note that I also tried 'white' and it looked too bright.)

@amanda-phet your thought?

![screenshot_402](https://user-images.githubuserco

[2017-10-03 00:31] pixelzoom commented on #10
`fruitWeights` query parameter has been deleted.

[2017-10-03 00:32] pixelzoom commented on #10
Since weights were provided in #6, `fruitWeights` query parameter has been deleted.

[2017-10-03 16:14] pixelzoom commented on #6
In phetsims/tasks#894:

[2017-10-03 16:18] pixelzoom commented on #6
@amanda-phet @clmccutchan Please add the artwork for the "Animals" scene to the existing .ai files, not in a new .ai file.  The existing .ai files should be obtained from GitHub, so that you have the latest versions (with the hex coin rotated).  Those files are:

https://github.com/phetsims/equality-explorer/blob/master/assets/basics-artwork-shadows.ai
https://github.com/phetsims/equality-explorer

[2017-10-03 16:37] clmccutchan commented on #6
@pixelzoom Will do! @amanda-phet will know which scene this are for far better than I.

[2017-10-03 16:39] amanda-phet commented on #6
I'll take care of anything to do with the assets once we have the final artwork from @clmccutchan .

[2017-10-03 17:19] pixelzoom commented on #10
To summarize, we now have these query parameters:

@amanda-phet Let me know if you'd like to change any of the defaults values, then assign this issue back to me.  I'm planning to delete these query parameters when we resolve this issue.

[2017-10-03 18:00] amanda-phet commented on #13
I've played around with it and I like the black arrow a lot. Good choice.

[2017-10-03 18:01] pixelzoom commented on #13
Great, then closing.

[2017-10-05 20:14] amanda-phet commented on #10
I think the current values look great. I played around a little and can't find any changes that make sense.

[2017-10-05 20:44] amanda-phet commented on #9
Thanks @pixelzoom . I have updated the .ai file (deleted one circle). Should I upload it to github? I don't want to mess anything up by doing that so I'm just making sure.

[2017-10-06 16:19] amanda-phet opened #14 "Design screen icons"

[2017-10-06 16:20] amanda-phet commented on #2
Please add Cheryl McCutchan to graphic arts.

[2017-10-07 15:41] pixelzoom commented on #9
You can either push the modified to GitHub, or email me me the file. Whatever is easier for you.

[2017-10-09 19:08] amanda-phet commented on #9
ok thank I pushed it.

[2017-10-11 13:33] pixelzoom commented on #9
Reopened until I do my piece of the work.

[2017-10-11 13:35] pixelzoom commented on #9
New asset files were pushed in https://github.com/phetsims/equality-explorer/commit/342dec42acc68a57647d3ee92e6358fc8ca5b099.    The .svg is incorrect, it needs to be generated as a single path, as described in https://github.com/phetsims/equality-explorer/blob/master/assets/README.md.  I'll handle fixing it.

[2017-10-11 13:38] pixelzoom commented on #9
.svg file is fixed, and revised path is integrated into the code.  Closing.

[2017-10-11 13:38] #9 closed

[2017-10-11 13:43] pixelzoom commented on #10
Query parameters deleted. Closing.

[2017-10-11 13:54] pixelzoom commented on #10
Oops. We still have a problem, so I've restored the query parameters.

In the Solving screen, the grid overlaps the Universal Operation control.  Screenshot:

![screenshot_407](https://user-images.githubusercontent.com/3046552/31444253-e9e6684a-ae58-11e7-8406-f9c95cfbdfca.png)

I don't think that scaling down the Universal Operation control is the right answer, it would need to be 65% of it's curr

[2017-10-11 15:39] amanda-phet commented on #10
The solving screen uses a different grid, right? It's just a grid of two objects. So first I'd rather see how it looks with just the two composite objects, then consider scaling those down to fit.

[2017-10-11 15:42] amanda-phet commented on #10
Just a quick attempt at how large the composite objects will be, and this looks like it will be fine:

<img width="632" alt="screen shot 2017-10-11 at 9 41 21 am" src="https://user-images.githubusercontent.com/7852916/31451115-77711296-ae68-11e7-86c3-694f2030146f.png">
<img width="616" alt="screen shot 2017-10-11 at 9 41 35 am" src="https://user-images.githubusercontent.com/7852916/31451116-77833f

[2017-10-11 21:46] pixelzoom commented on #10
Ah, right, no grid in the Solving screen.  Thanks for the mockups, looks like we'll be fine.

[2017-10-16 12:50] pixelzoom commented on #10
Re-removed query parameters. Closing.

[2017-10-16 12:50] #10 closed

[2017-10-17 20:36] amanda-phet commented on #6
updated .ai files have been committed. @pixelzoom let me know if you'd like me to export the images as well.

[2017-10-18 14:54] pixelzoom commented on #6
I'll handle creation of PNG files.

[2017-10-18 15:29] pixelzoom commented on #2
I inadvertently discovered that Mariah Hermsmeyer created the coins, which came from expression-exchange.  I'll add her to main.js credits and fix images/license.json.

@jbphet FYI, you don't have any credits in expression-exchange/images/license.json, which resulted in incorrect credits in equality-explorer.

[2017-10-18 16:01] pixelzoom opened #15 "review license.json for images"
@amanda-phet Please verify the accreditation for images in
https://github.com/phetsims/equality-explorer/blob/master/images/license.json

[2017-10-18 16:32] amanda-phet commented on #15
All looks correct to me.

[2017-10-18 16:32] #15 closed

[2017-10-18 16:49] pixelzoom commented on #6
Here's a dev version with the animal icons integrated, and "worst case" scenario shown in the Snapshots accordion box:
https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.32/equality-explorer_en.html

Questions:

• Shadows don't look great.  Can we live with this? Our shadow offset (4,4) doesn't really work for these icons because they are unlike the icons in the other scene

[2017-10-18 16:58] amanda-phet commented on #6
The dog looks like it has the shadow of a cat, so fixing that might help improve the shadow issue.

I think the shadows are fine, personally. It could the the fact that the shadow is visible under the small tail, so we could try reflecting the cat and dog.
<img width="248" alt="screen shot 2017-10-18 at 10 54 35 am" src="https://user-images.githubusercontent.com/7852916/31731590-c4bcb7dc-b3f2-11e7

[2017-10-18 17:04] pixelzoom commented on #6
The dog shadow is indeed incorrect.  I had fixed it, but forgot to rebuild the dev version before publishing.

Reflecting the dog and cat will indeed reduce the shadow problem.

Gray cat will have the same problem as gray coins - it will disappear on the plates.

Let me know how you want to proceed.

[2017-10-18 17:04] kathy-phet commented on #6
Maybe with a black stroke around that cat features, like the dog has?

@amanda-phet - I also noticed that the 2nd and 3rd coins look pretty similar in the equation - since they have the same base color. Can the third one be all silver, or somehow a bit more distinctive from the 2nd at that small scale

And perhaps at the small scale, a one pixel stroke around the outside of the image could help ma

[2017-10-18 17:05] pixelzoom commented on #6
@kathy-phet asked:

We tried silver coins. They disappear on the gray plate.

[2017-10-18 17:07] pixelzoom commented on #6
@kathy-phet said:

We do not have separate icons for "the small scale".   Because the scale varies dynamically for equations (based on how much space is available) we need to use the same icons everywhere.

[2017-10-18 17:09] amanda-phet commented on #6
@kathy-phet we could try this two-toned coin instead, if you think it would provide more contrast than the current one. I suspect it will.
<img width="64" alt="screen shot 2017-10-18 at 11 07 46 am" src="https://user-images.githubusercontent.com/7852916/31732147-ac0f0d00-b3f4-11e7-8088-6043dc9d22ea.png">

The gray cat would need a black stroke similar to the dog, I just didn't get a chance to work

[2017-10-18 17:15] pixelzoom commented on #6
Here's a dev version with the dog and cat reflected about the y axis:
https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.33/equality-explorer_en.html

If we like the reflected dog and cat, we need to change the .ai files.

[2017-10-18 17:19] pixelzoom commented on #6
While we're talking about the coins... In addition to the color issue:

• I'm wondering if these will even be interpreted as coins in this context. The salmon-colored coin doesn't look at all like a coin to me.
• I really can't make out the PhET logo and PhET girl on the coins, even on desktop.

[2017-10-18 17:22] pixelzoom commented on #6
For the "shapes" scene, we have 2 shapes that are circles. Should the sphere be changed to some non-circle shape, to prevent "discussion" confusion with the '1'?

![screenshot_409](https://user-images.githubusercontent.com/3046552/31732683-92a5cfc8-b3f6-11e7-84c2-a461aa92eaae.png)

[2017-10-18 17:23] amanda-phet commented on #6
Yeah I haven't been too thrilled with the coins either. They look very bland on this screen that has other fun, colorful objects.

[2017-10-18 17:26] pixelzoom commented on #6
Perhaps we should replace the coins with some other category of items?

[2017-10-18 17:28] pixelzoom commented on #6
Note to self: If we like the reflected dog and cat, we need to change the .ai files.

[2017-10-18 17:29] amanda-phet commented on #6
yes, perhaps... I will go back to brainstorming. One idea that was on the table was to use mystery presents similar to Balancing Act.

[2017-10-18 17:31] kathy-phet commented on #6
toy cars/trucks?
emojis?
toy sea animals or fish?

[2017-10-18 17:33] kathy-phet commented on #6
Also - Amanda, in playing I noticed equation lists the "1"? Did we discuss that? Should it be optional?

[2017-10-18 17:34] pixelzoom commented on #6
@amanda-phet said:

We discussed presents ala Balancing Act.  The issues were:

• The bow at the top doesn't facilitate stacking.  May not be a problem, or may look odd. Best to mock it up first.
• The icons will need to be labeled in some way (A, B, C) in order to identify them in discussions. This is not difficult, but will require creating the labels programmatically, and making them translatab

[2017-10-18 17:36] pixelzoom commented on #6
@kathy-phet said:

The current requirement was to hide the '1' coefficient for variable ('x') terms and show them for terms in the Basics screen.  I can certainly change that, but wanted you to know that it didn't happen by accident.

[2017-10-18 17:39] pixelzoom opened #16 "add a control to show/hide '1' coefficients"
In https://github.com/phetsims/equality-explorer/issues/6, @kathy-phet asked an unrelated question. I'm deleting it from that issue and moving it here.

[2017-10-18 17:39] pixelzoom commented on #16
FYI... The current requirement is to hide the '1' coefficient for variable ('x') terms and show them for terms in the Basics screen. I can certainly change that, but wanted you to know that it didn't happen by accident.

[2017-10-18 17:41] kathy-phet commented on #16
Thanks for starting a new issue - and for the info. Yes, I figured it wasn't an accident. I think its nice to have it there, but also wondering if should be optional to toggle as we do in other sims.

[2017-10-18 17:43] pixelzoom commented on #16
Are you suggesting a check box? query parameter?

[2017-10-18 17:45] kathy-phet commented on #16
I'm thinking about expression exchange. There it is a checkbox. But let's just say, I am suggesting a discussion item.

[2017-10-18 17:51] pixelzoom commented on #16
My first concern would be whether such a control is really necessary in this sim.  The UI is already relatively cluttered, so we should think carefully about adding anything else.

If we do want to add a check box... Our options for where to locate additional controls are limited. This control should be located in close proximity to the equation accordion box, but there's no space for it.  The onl

[2017-10-18 17:53] pixelzoom commented on #16
Labeling as high priority.  This affects so many things that I need to know immediately if you want this feature.

[2017-10-18 18:04] amanda-phet commented on #16
I don't think it is necessary to add a control for coefficients. Here are some of my thoughts about the current implementation:

* In ExEx, it was a major part of the learning goals, because you could combine coins to create "stacks" that were only indicated as such by a coefficient, so it is natural to want to see a coefficient of 1 to be consistent, or turn it off if you already understand the c

[2017-10-18 18:08] pixelzoom commented on #16
@amanda-phet said:

It's not just you, I agree :)

@kathy-phet Are you OK with decision not to add this feature?  If not, please discuss with @amanda-phet at your earliest convenience.

[2017-10-18 18:34] pixelzoom commented on #6
I've removed the "priority:top" label from this issue, since it's not currently blocking me.  But let's not lose momentum on this issue. Feedback on this issue was requested in the 6/8/2017 design meeting (3.5 months ago), and the coins have been in the sim for almost a month.  So we should be converging on resolution.

[2017-10-19 00:48] clmccutchan commented on #6
@pixelzoom  After reading this thread, I talk to @amanda-phet about boosting the contrast on the coins. See what you think of them now.

![basics-101817_new coins](https://user-images.githubusercontent.com/25354670/31749051-bc5616fa-b434-11e7-97b0-16415d4e18bf.png)

[2017-10-19 16:03] pixelzoom commented on #6
Like 'em.

[2017-10-19 16:39] amanda-phet commented on #6
@clmccutchan those look really great! Here's a quick comparison in context:

<img width="627" alt="screen shot 2017-10-19 at 10 36 20 am" src="https://user-images.githubusercontent.com/7852916/31782803-6579fd4e-b4b9-11e7-9a0a-a0d796dc9a6b.png">

<img width="623" alt="screen shot 2017-10-19 at 10 36 05 am" src="https://user-images.githubusercontent.com/7852916/31782814-6a4d4a38-b4b9-11e7-8055-863d2

[2017-10-19 19:42] clmccutchan commented on #6
@amanda-phet I can tweak the copper coin a bit to be more red, adjust the details on the cat, and then send you the .ai file.

[2017-10-23 18:57] pixelzoom commented on #6
There are now 2 “without shadows” files checked into GitHub: basic-artwork-without-shadows.ai (plural) and basic-artwork-without-shadow.ai (singular).   I can certainly check the dates and figure out which is the most current.  But that begs the question of how this happened.  @amanda-phet are you using files on your hard drive instead of the files from a GitHub working copy?

[2017-10-23 18:59] pixelzoom commented on #6
I'll fix things so that there is only 1 "without shadows" file.  It will be named basic-artwork-without-shadows.ai, for symmetry with basic-artwork-shadows.ai.

[2017-10-23 19:11] pixelzoom commented on #6
"without shadows" file is fixed, full github history was preserved.

[2017-10-23 19:17] pixelzoom commented on #6
I asked:

I answered this question.  The new file you checked in still has the turtle layer "locked".  This is something that I fixed previously (and will now fix again).   So you must not be using the latest file from GitHub.  This is a problem.

[2017-10-23 19:27] pixelzoom commented on #16
@kathy-phet still waiting for your reply.

[2017-10-23 19:31] pixelzoom commented on #6
The latest icons are integrated into https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.35/equality-explorer_en.html.

[2017-10-23 20:05] amanda-phet commented on #6
@pixelzoom Sorry about that, yes I must've been using the wrong version. I normally download the file directly but I got an updated one from @clmccutchan and used that one instead, so I'm sure that's where the problem arose. Thanks for taking care of it.

I think all of the artwork is looking great!!

[2017-10-23 20:05] amanda-phet commented on #6
I would like some feedback from @kathy-phet and @ariel-phet before closing this issue.

[2017-10-23 20:11] pixelzoom commented on #6
@amanda-phet I'm also wondering about https://github.com/phetsims/equality-explorer/issues/6#issuecomment-337664459 - having 2 "circles" in the first scene.

[2017-10-23 20:13] pixelzoom commented on #6
In https://github.com/phetsims/equality-explorer/issues/6#issuecomment-337657365, @amanda-phet said:

@amanda-phet The cat is still black. Did you decide that this is not a problem?

[2017-10-24 17:48] ariel-phet commented on #6
@amanda-phet I think on the selection buttons is might be good to used a different shaped coin, but otherwise all looks pretty good. I personally don't have a issue with the cat getting confused for a number.

[2017-10-24 18:20] amanda-phet commented on #6
I don't have a problem with two circles because one of them is a "1", and likely wouldn't be referred to as a circle.

As for the cat, I think it looks more distinct from the number now because we flipped it and there is naturally more negative space between the number and the cat, so I'm good with it the way it is.

@ariel-phet thanks for the feedback.

[2017-10-24 20:11] pixelzoom commented on #16
As noted 6 days ago in https://github.com/phetsims/equality-explorer/issues/16#issuecomment-337674354:

To be clear... I'm not proceeding with some development until this issue is resolved. And I'm waiting for response from @kathy-phet.

[2017-10-24 20:14] amanda-phet commented on #6
@kathy-phet says they look great too.

In interviews, if students seem considerably more attracted to the animal scene than the coin scene, we may want to consider replacing coins with other fun artwork, but for now I like the idea of using an object that may be associated with a value other than weight. (ex: fruit could be cost, coins could be value).

[2017-10-24 20:14] #6 closed

[2017-10-24 20:16] kathy-phet commented on #16
I'm OK leaving as is. Thanks for discussing it.

[2017-10-24 20:19] #16 closed

[2017-11-03 16:10] pixelzoom opened #17 "requirements for "sum to zero" feature"
In Equality Explorer, we want to remove similar items that sum to zero.  The design document doesn't adequately describe this feature, and there has been related discussion in Slack that needs to be captured.  So I'm creating this issue, which can be referred to in the [design document](https://docs.google.com/document/d/1xu9nawWcndFqgg5zyCGm25h-OFUsuFYnXF3QHW42spQ/edit#).

Currently, the entire s

[2017-11-03 16:11] pixelzoom commented on #17
Added to the design document:

[2017-11-03 16:20] pixelzoom commented on #17
About this requirement:

Expression Exchange is doing the animation in the model, which was surprising to me. Talking with @jbphet, it sounds like there's a reason to represent zero in the model, so he chose to do the animation there.

In Equality Explorer, there is no reason to represent zero in the model. The '0' and '0x' serves only as visual indicators that 2 terms have been deleted because th

[2017-11-03 16:51] amanda-phet commented on #17
The description above sounds accurate. Can you clarify: does "end of a drag" refer to the moment when the mouse click ends?

A few comments:
* I haven't seen the yellow halo yet, so there's a chance I'll want to change it if something about it doesn't look good.
Are you thinking something like this?
![screen shot 2017-11-03 at 10 42 30 am](https://user-images.githubusercontent.com/7852916/32385441

[2017-11-03 16:59] pixelzoom commented on #17
@amanda-phet asked:

Yes, but it's generally "pointer" not "mouse click".

FYI, a drag cycle has 3 phases:
• start - when the pointer goes down (e.g. mouse button pressed, finger contacts tablet)
• drag - moving the pointer while its down (e.g. mouse moved, finger moved)
• end - when the pointer is released (e.g. mouse button released, finger removed from tablet)

I'll make the look of what's behi

[2017-11-03 17:34] pixelzoom commented on #17
Here's a list of subtle issues and non-so-obvious scenarios that we need triage, numbered to make it easier to refer to them in subsequent discussions. Handling all of these would result in a very expensive/complicated implementation. We may be able to ignore some (all?) of the multi-touch issues, since they are unlikely to occur and/or occur only if you keep the dragged item stationary.

- [x] (1

[2017-11-03 21:44] pixelzoom commented on #17
Additional requirement in Slack, added to checklist in https://github.com/phetsims/equality-explorer/issues/17#issue-271032750:

While you’re dragging an item, it displays a drop shadow.  Having both the yellow halo and the drop shadow looks quite odd.  Should the drop shadow disappear when the halo is visible? ExEx has no drop shadow, so there is no similar conflict.

That makes sense to remove t

[2017-11-07 01:37] pixelzoom commented on #17
@amanda-phet FYI, the background color of the "Variables" screen (greenish yellow) doesn't work at all with the yellow halos.

[2017-11-07 19:27] pixelzoom commented on #17
@amanda-phet FYI, I've changed the Variables screen background color to 'rgb( 175, 246, 204 )', the color used for the first 3 screens in Expression Exchange.  This seems to work well with the yellow halo.  If you want to change it to something else, let me know.

[2017-11-07 20:05] pixelzoom commented on #17
@amanda-phet please review [1.0.0-dev.37](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.37/equality-explorer_en.html).  I'd like feedback on the look of the halos, fade animation, etc.

Caveats:

This dev version implements all of the requirements in https://github.com/phetsims/equality-explorer/issues/17#issue-271032750, _except_ it uses circular halos for x, -x and '

[2017-11-07 20:07] pixelzoom commented on #17
@amanda-phet I should mention that you can use the `?slowMotion` query parameter to slow down all animations, including motion and fades.  Use this if you want to closely examine the look of the halos around '0' and '0x'.

[2017-11-07 21:20] amanda-phet commented on #17
I don't love the new shade of green, so let me play around to find another shade. Alternatively, the halo could not be yellow, but I don't have a great idea for that and like the consistency with ExEx.

Overall I really like the halo, and I think the timing is great.

I would prefer a square halo for sure, and might want to see what others think before you work for too long on that.

The halo seem

[2017-11-07 21:58] pixelzoom commented on #17
@amanda-phet said:

Hmmm... Since you were the designer on Expression Exchange, I'm curious about why you like that color in Expression Exchange but not in Equality Explorer.   Both sims have a similar "look" and layout, and we're trying to mimic the halos in Expression Exchange.  That said, it's easy to change the color, just let me know what you'd prefer.

I'll hold off on square halos - how do

[2017-11-09 17:59] pixelzoom commented on #17
(Reopened, accidentally closed 2 days ago.)

[2017-11-09 19:09] pixelzoom commented on #17
In https://github.com/phetsims/scenery/issues/707, we decided not to work on common-code support for shadows/halos until January 2018 at the earliest (after chipper:2.0 work).

For EqEx, that means that:
(1) we continue to use separate PNG files for shadows
(2) we don't have common-code support for rectangular halos

@ariel-phet's opinion is that circular halos on all items looks fine.

[2017-11-13 18:27] pixelzoom opened #18 "usability of dragging with touch"
Similar to https://github.com/phetsims/expression-exchange/issues/133 ... When dragging an item on touch devices, your finger covers the item.  It's difficult to see the item, difficult to see the "halos" when inverse items overlap,...   (And I have relatively slim finger tips :)

There is nothing about this in the design document. I recommend that at least the top 2/3 of the item should remain vi

[2017-11-13 18:31] pixelzoom commented on #18
This came up while investigating the multi-touch issues enumerated in https://github.com/phetsims/equality-explorer/issues/17#issuecomment-341774489.  I'm finding it difficult to use this sim on iPad.

[2017-11-13 18:41] ariel-phet commented on #18
@pixelzoom we have certainly used this strategy in other sims like charges and fields, and I am fine with using it again. I say go ahead and implement your proposed strategy.

[2017-11-13 19:05] pixelzoom commented on #18
With mouse, the item continues to move slightly up and left at the start of a drag (no change from previous versions).

[code]

With touch, the item now moves straight up by 70% of its height at the start of a drag:

[code]

This feels good with my specific finger, your mileage may vary.  Easy to change by tweaking values in the above code.

This change is present starting with [1.0.0-dev.38](http

[2017-11-13 20:33] pixelzoom commented on #18
As I continued to work on #17, I really wasn't happy with what I did in [1.0.0-dev.38](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.38/equality-explorer_en.html).  So I rewrote the bit of code that handles positioning the item relative to the pointer (for both mouse and touch).  See [1.0.0-dev.39](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-

[2017-11-13 21:03] pixelzoom commented on #17
Note to self: Investigate addressing multi-touch issues in https://github.com/phetsims/equality-explorer/issues/17#issuecomment-341774489 by adding `this.changedEmitter = new Emitter()` to Plate.  When the Plate changes in any way (location, number of items on the plate, position of items on the plate,...), then `this.changedEmitter.emit()`.   Make ItemNode register as a listener to `changedEmitte

[2017-11-13 23:44] pixelzoom commented on #17
All of the multi-touch scenarios in https://github.com/phetsims/equality-explorer/issues/17#issuecomment-341774489 were addressed by adding `changedEmitter` to Plate, as noted in https://github.com/phetsims/equality-explorer/issues/17#issuecomment-344056965.

I'll need to discuss the remaining items in https://github.com/phetsims/equality-explorer/issues/17#issuecomment-341774489, since I don't kn

[2017-11-14 18:53] pixelzoom opened #19 "requirements for "locked" feature"
As I'm beginning to implement the "couplers" feature, I have many questions that are not answered by the [design document](https://docs.google.com/document/d/1xu9nawWcndFqgg5zyCGm25h-OFUsuFYnXF3QHW42spQ/edit).   So I'm creating this issue, which can be referred to in the design document.

I'll number each of my questions (so they can be referred to in comments) and make them checklist items (so th

[2017-11-14 19:07] pixelzoom commented on #19
- [x] (1) What is the terminology for this feature? There's been various terminology floating around (coupled, linked, locked, dragged item, ghost item, equivalent item, ...) and that's problematic for clarity of code and GitHub issues.
**DECISION**: locked, dragged item, ghost item, inverse item, zero pair

- [x] (2) Multi-touch: What happens when coupling is turned ON while we're in the process

[2017-11-14 19:49] pixelzoom commented on #19
Some decisions that were made in previous discussions, most of which don't appear in the design document. @amanda-phet please review these to make sure that I have them correct.

- [x] (12) How does the ghost item move relative to the dragged item?
**DECISION**: While dragging an item, the ghost item moves y-proportionally below the plate. Above the plate it tracks exactly. x-axis movement is trac

[2017-11-14 19:54] pixelzoom commented on #19
- [16] Multi-touch: What happens if the plate becomes full after the dragged item is released? This can occur with either the dragged item's plate or the ghost item's plate.  Example: left plate empty, right plate has one empty space, drag 1 to left plate, 1 ghost follows, drag another 1 to right plate to make the plate full, related the dragged 1 - what happens to the dragged 1 and ghost 1, now t

[2017-11-22 18:26] amanda-phet commented on #17
(1) I'm not sure how to handle this, because in this case the 0x is in a very odd location. The entire action happens so quickly that I'm not sure how serious it is, and I don't have a great idea for how to handle it. Ideally the 0x occurs right on the plate and the plate doesn't move, but that is not possible and doesn't make sense.
![screen shot 2017-11-22 at 11 22 24 am 2](https://user-images.g

[2017-11-22 20:14] amanda-phet commented on #19
(1) The design doc uses linked and unlinked in the terminology section, but when we switched from a coupler to a lock, I believe locked and unlocked started getting used interchangeably. Reading below, it seems you are using coupling on and coupling off. If that is easier for you we can use that terminology instead, but since there are no couplers anymore I think we should use different terms. I’m

[2017-11-27 18:51] pixelzoom commented on #17
@amanda-phet said:

It is impossible to do this in "the same manner as the Variables screen."  According to the design doc, there are at most 2 terms on the scale (variable and constant).  And the size of those terms (size of the rectangle and circle) does not change, they are always large.   So consider the scenario where I have a big "-x" (or perhaps it's "-1x") on the scale.  Are you saying tha

[2017-11-27 18:56] pixelzoom commented on #17
@amanda-phet said:

There are 2 options for location of the "sum to zero" animation, both relative to the item that was deleted from the scale:

(a) at the location where the deleted item was _before_ the scale moved
(b)  at the location where the deleted item _would have been after_ the scale moved

Option (a) is what is currently implemented, and option (b) makes no sense to me.

[2017-11-27 21:12] amanda-phet commented on #17
Ah, regarding (9), I hadn't thought about the size discrepancy. Let's discuss options for this. I have some ideas.

For (1) I don't think option (b) is that bad. It seems like the 0 would appear at the same time the plate jumps so there shouldn't be any weirdness. Or maybe both options are just going to be weird in the worst case scenario.

[2017-11-28 15:45] pixelzoom commented on #19
@amanda-phet and I are going to meet about this issue today.

@amanda-phet I don't understand (6) and (8), and it sounds like you don't understand the implications of (10). So we'll need to discuss those.

[2017-11-28 15:47] pixelzoom commented on #17
Imo, option (b) is nonsensical because the scale will not move until the the item is removed from the scale. And the item is not removed from the scale until it has summed to zero.  So showing the sum-to-zero animation at a location other than where the summing took place is confusing.

[2017-11-28 15:47] pixelzoom commented on #17
@amanda-phet and I are going to meet about this issue today, specifically (1) and (9).

[2017-11-28 15:49] pixelzoom commented on #17
@amanda-phet and I are going to meet about this issue today, specifically:

- [x] decision for (1)
DECISION: Try option (b), which is to perform the animation in the cell that the deleted item occupied, but in the location of that cell after the scale has moved.

- [x] decision for (9)
DECISION: Small and big items both get a halo, "sum to zero" animation has a "0" or "0x" that is the size of the

[2017-11-28 15:52] pixelzoom commented on #19
@amanda-phet and I are going to meet about this issue today, specifically:

- [x] (1) decide on consistent terminology, apply to design doc
**DECISION**: locked, dragged item, ghost item, inverse item, zero pair

- [x] I don't understand reply to (6) in https://github.com/phetsims/equality-explorer/issues/19#issuecomment-346461741
Got it, as described.

- [x] I don't understand reply to (8) in htt

[2017-11-28 16:05] pixelzoom opened #20 "update the design document?"
The design document is lagging behind. New information hasn't been added, questions/comments have gone unresolved for months, it doesn't reflect some of the decisions made, mockups are out of date, there's a general lack of scenarios, no info on multi-touch, ...   Consequently I'm finding it to be less and less useful.

Options are to bring the document up to date, or (as we've done with some othe

[2017-11-28 16:07] pixelzoom commented on #18
@amanda-phet this is still awaiting your review.

[2017-11-28 19:03] pixelzoom commented on #19
@amanda-phet and I talked about how ~80% of the code is likely to be written to handle multi-touch scenarios that are unlikely to ever happen.  (For example, animation having to adapt to its target cell being filled.)  To handle these cases, it might be easier (and less costly) to simply make the sim go immediately to the "end state" -- eg, items move immediately to locations, instead of animating

[2017-11-28 19:17] pixelzoom commented on #18
Reviewed with @amanda-phet, looks good, closing.

[2017-11-28 19:17] #18 closed

[2017-11-28 21:37] pixelzoom commented on #17
Related to (1), in https://github.com/phetsims/equality-explorer/issues/17#issuecomment-347287201 I described the 2 options for where to show the "sum to zero" animation:

(b) at the location where the deleted item _would have been after_ the scale moved

Option (a) was implemented in [1.0.0-dev.41](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.42/equality-explorer_en.

[2017-11-28 22:14] amanda-phet commented on #17
I like option (b) very much!!! Thanks for making that change.

[2017-12-05 17:26] pixelzoom opened #21 "screen background colors"
Finalize screen background colors.

Variables screen is the only one that's truly problematic -- the yellow halos for "sum to zero" animation don't look very good on the greenish-yellow background.  I tried the background color from Expression Exchange ( `rgb( 175, 246, 204 )`, see [1.0.0-dev.40](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.40/equality-explorer_en.htm

[2017-12-05 22:59] pixelzoom opened #22 "how to display value of 'x' in Snapshots?"
@amanda-phet How do you want the value of 'x' displayed in the Snapshots accordion box?

A couple of possibilities, using a "-x + 1 < 2x + 3" as a sample equation:

(a) -x + 1 < 2x + 3, x = 4
(b) -x + 1 < 2x + 3 (x = 4)
(c) something else?

I'm implementing this feature, so high priority.

[2017-12-05 23:05] pixelzoom commented on #22
Please also indicate whether there are any i18n requirements.  Configuring the placement of the x value based on locale would be very problematic.

[2017-12-05 23:57] pixelzoom opened #23 "refine UX for snapshots feature"
With the exception of the "restore" button, the Snapshots feature is fully functional in [1.0.0-dev.43](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.43/equality-explorer_en.html).

@amanda-phet please review and let me know what changes you'd like to make to the UX.

[2017-12-05 23:57] pixelzoom commented on #22
Options (b) above is implemented in [1.0.0-dev.43](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.43/equality-explorer_en.html).  I'm going to close this issue and we can discuss this and other UX issues in the broader https://github.com/phetsims/equality-explorer/issues/23.

[2017-12-05 23:57] #22 closed

[2017-12-06 00:06] pixelzoom commented on #23
A few notes about the implementation in 1.0.0-dev.43:

• font size is 28, identical to "Equation or Inequality" accordion box (can be customized)
• spacing between parts of the equation is identical to "Equation or Inequality" accordion box (can be customized)
• equations are scaled down to fit the width of the accordion box
• spacing between equation and "(x = 2)" is 10
• selected snapshot is out

[2017-12-06 17:04] amanda-phet commented on #23
* I think the spacing between parts of the equation in the snapshots should be modified a bit. The current equality symbol is much larger than the surrounding text, and in the snapshot that isn't necessary. Can you scale the equality symbol down to match the weight and size of the rest of the snapshot text?
* The snapshot outline needs a little more spacing to the left and right of the equation wi

[2017-12-06 17:21] pixelzoom commented on #23
@amanda-phet said:

Spacing is currently identical to the equation in the "Equations and Inequalities" accordion box.  Here are the spacing options, please provide specifics on what you'd like to change:

[code]

You mean the relational operator? Will do.

Will do.

No -- but the mockups are so out of date that I wasn't certain about which parts of the mockups are requirements, stale, etc.  And si

[2017-12-06 17:58] pixelzoom commented on #23
In [1.0.0-dev.44](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.44/equality-explorer_en.html):

• deemphasized the relational operator
• change selection rectangle (`cornerRadius:0, stroke:'rgb( 128, 128, 128 )'`)
• added margin inside selection rectangle

I'm not wild about the `cornerRadius:0` (square corners), it's inconsistent with PhET radio buttons and subtly sev

[2017-12-06 18:00] pixelzoom commented on #23
@amanda-phet here's what's left to do:

• Specify how you want the horizontal spacing adjusted. See https://github.com/phetsims/equality-explorer/issues/23#issuecomment-349711478.

• Decide whether a small cornerRadius is OK, or whether you really want square corners on the selection rectangle.

[2017-12-06 18:53] amanda-phet commented on #23
* I don't think I meant the spacing, just the relational operator. Sorry about that. I must've started one thought and finished with another. The spacing looks good to me.

* I think you're right that the square corners don't work here. I also think a color might work for the stroke if it could also match the "reload" button color. The reload button becoming active is pretty subtle in a colorful s

[2017-12-06 23:41] pixelzoom commented on #23
Requests in https://github.com/phetsims/equality-explorer/issues/23#issuecomment-349738365 are incorporated in [1.0.0-dev.45](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.45/equality-explorer_en.html), including:

• use 'white' for color of snapshot buttons
• use 'rgb( 85, 169, 223 )' for color of reload button and selection rectangle
• lineWidth:3 (was 2) for selecti

[2017-12-07 21:39] amanda-phet commented on #23
I am really happy with the blue outline and button (but am certainly open to other color choices). I think we should stop tweaking UX at this point and wait to see what happens in interviews.

The one thing I have an open question about is whether to decrease the font size of *all* of the snapshots, not just the extra long ones. We've discussed this in the past so I'm happy moving forward with our

[2017-12-07 21:59] pixelzoom commented on #23
@amanda-phet said:

This is relatively simple for me to try out.  Would you like to see a dev version?

If we do make the font size consistent, then another thing to consider is whether to horizontally align the relational operator of all snapshots.  (I may already have support for that, but would need to confirm.)

[2017-12-07 22:04] pixelzoom commented on #23
More thoughts about https://github.com/phetsims/equality-explorer/issues/23#issuecomment-350107481....

Making the font size uniform on the Basics screen might not be a good idea - it means that all of the equations will be very tiny (and they get pretty tiny).   We could investigate uniform font size on screens 2,3,4 only, but that would be a little more involved.

Aligning the relational operato

[2017-12-08 17:31] amanda-phet commented on #23
Right, that's why I hesitate. But on screens 2-4 they don't get quite as tiny. What we could do, instead of a special case for those screens, is just have a smaller "maximum" size on all 4 screens. Then there is less variability overall. Thoughts?

I don't think we should align the relational operators.

[2017-12-08 18:00] pixelzoom commented on #23
@amanda-phet said:

@amanda-phet please take a look at [1.0.0-dev.45](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.46/equality-explorer_en.html), where I've reduced the Snapshots font size from 28 to 20 for all 4 screens.  It looks much more harmonious to me.

Use this URL if you want to initialize with "worst case" scenarios:
https://www.colorado.edu/physics/phet/dev

[2017-12-08 18:13] amanda-phet commented on #23
This look more harmonious to me, too! I think it was a good change. On the one hand, we want things to be large and easy to read, but in these cases where the length of the equation can change, there is a must less drastic change in text size. I think it looks great.

![screen shot 2017-12-08 at 11 10 09 am](https://user-images.githubusercontent.com/7852916/33779055-994efee6-dc08-11e7-93b8-8b2b607

[2017-12-08 18:16] pixelzoom commented on #23
Excellent.  We'll undoubtedly do more pixel polishing, but I think we can now close this issue.  Closing.

[2017-12-08 18:16] #23 closed

[2017-12-11 18:01] pixelzoom commented on #17
Re:

We decided to stick with circular halos throughout, since they look fine, and since we won't have common-code support for awhile (see phetsims/scenery#707).

[2017-12-11 18:09] pixelzoom commented on #17
I think we've enumerated all of the requirements for this feature, and it's implemented in all screens except Solving.  I'm going to go ahead and close this issue, since I understand the requirements for the Solving screen.

[2017-12-11 18:09] #17 closed

[2017-12-18 21:14] pixelzoom opened #24 "when a snapshot is created, automatically select it"
In a request for feedback on [1.0.0-dev.48](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.48/equality-explorer_en.html), @ariel-phet suggested via email:

[2017-12-18 21:15] pixelzoom commented on #24
I think this is a good suggestion - when the user creates a snapshot, they will be immediately introduced to the look of a selected snapshot.  5 minutes to implement.

[2017-12-18 21:17] pixelzoom commented on #24
@amanda-phet This suggestion is implemented in [1.0.0-dev.50](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.50/equality-explorer_en.html).  Do you approve?

[2017-12-18 21:19] pixelzoom commented on #20
@amanda-phet have you and @ariel-phet discussed this?

[2017-12-18 21:51] amanda-phet commented on #20
Yes, on 11/28/17 I brought this up in slack and we determined that design docs are intended to be a sketch of the sim intent, but once development starts the github discussions include the most up-to-date decisions. We will link to github issues when they are discussed, especially in meeting notes, and try to include a table of github issues for future reference.

I think it is fair to say that th

[2017-12-18 21:53] pixelzoom commented on #20
If there's nothing else to do here, feel free to close.

[2017-12-18 21:55] amanda-phet commented on #20
We meant to bring it up at status so at some future status (or developer) meeting it would be good to make sure everyone on the team is on the same page.

[2017-12-18 21:55] #20 closed

[2017-12-18 21:56] amanda-phet commented on #24
I like this change a lot!

[2017-12-18 21:59] pixelzoom commented on #24
Great.  Then change accepted and closing.  Thanks for the suggestion @ariel-phet.

[2017-12-18 21:59] #24 closed

[2017-12-19 20:52] pixelzoom commented on #21
Starting with [1.0.0-dev.51](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.51/equality-explorer_en.html), I've swapped the background colors for the Numbers and Variables screens because:

(1) Mockups in the design document use 2 different colors for the Numbers screen, but a single consistent color (`'rgb( 214, 233, 254 )'`) for Variables.

(2) I'm working mostly in t

[2017-12-19 21:04] samreid opened #25 "Assertion failed: cannot dispose while event is in progress"
I noticed this problem while fuzzing Equality Explorer as part of https://github.com/phetsims/tandem/issues/46

[code]

This assertion was newly introduced in https://github.com/phetsims/phet-io/issues/1281 and may indicate a problem in the library or in the sim code, I'm not sure which.  Co-assigning to @pixelzoom and @samreid.

[2017-12-19 21:16] pixelzoom commented on #25
Looks like `startEvent` was called, and I'm calling `dispose` before `endEvent` has been called.  This sim isn't instrumented, so I'm not clear on why `startEvent` was called.   This also has big general implications -- e.g. if some Node is being dragged, and an action is taken that causes the Node to be disposed (like pressing Reset All button), then this assertion failure will presumably occur.

[2017-12-19 21:16] pixelzoom commented on #25
Raising priority to high.  I need this to be resolved, since it's impacting my ability to do effective fuzz testing.

[2017-12-19 21:18] pixelzoom commented on #25
I said:

`ItemDragListener` is a subtype of `SimpleDragHandler`, which calls `startEvent` and `endEvent`.   So looks like I get this whether I asked for it or not.

[2017-12-19 21:23] pixelzoom commented on #25
The implementation of `dispose` in `SimpleDragHandler` looks wrong to me, it duplicates a lot of stuff that's in `endDrag`:

[code]

Perhaps it should be:

[code]

... but will `endDrag( null )` cause problems?    I sure hope not, because that's the current recommended way of ending a drag cycle programmatically (for SimpleDragHandler), and is used in function-builder and unit-rates.

[2017-12-19 21:25] samreid commented on #25
The SimpleDragHandler.dispose was added by @jonathanolson in https://github.com/phetsims/scenery/issues/647

I wonder if we need to apply the same strategy to PhetioObject--ending an in-progress action (if any).

[2017-12-19 21:30] pixelzoom commented on #25
Calling `endDrag( null )` looks generally dangerous to me, because of this:

[code]

If the client provide an `options.end` callback that requires an event, then boom.

[2017-12-19 21:31] pixelzoom commented on #25
I tried changing SimpleDragHandler `dispose` to:

[code]

... and I'm still experiencing the assertion failure with fuzzMouse.

[2017-12-19 21:33] pixelzoom commented on #25
@samreid said:

@jonathanolson can you comment on why `dispose` does only _some_ of the "cleanup" things that normally occur in `endDrag`?   If `dispose` is called during a drag cycle, `this.dragging` remains `true`, the client's `options.end` callback is never called, and `this.pointer` still holds a reference to the pointer.

[2017-12-19 21:43] pixelzoom commented on #25
This has nothing to do with sim-specific code and is blocking my ability to fuzz test.  So I commented out the failing assertion in the above commit.

@samreid @jonathanolson There appear to be 2 problems here:

(1) `startEvent`/`endEvent` pairing is not considering the possibility of an interrupted drag cycle.

(2) The cleanup done by SimpleDragHandler `dispose` appears to be incomplete, when com

[2017-12-19 21:47] pixelzoom commented on #25
Continuous testing report shows that many sims are experiencing this assertion failure.

[2017-12-20 07:11] jonathanolson commented on #25
Presumably if there's a chance of dispose() being called during a drag, we COULD add interrupt() to the dispose()? It feels slightly unclean to DO things other than dispose during a dispose call, and I'd consider requiring clients to make sure they don't dispose something while dragging.

As for the unchanged variables on the SimpleDragHandler, it shouldn't matter. If you dispose it, you shouldn't

[2017-12-20 09:23] samreid commented on #25
Currently, `endEvent` requires the message ID for cross-checking.  This makes it difficult to end the event from a different context than where `startEvent` was called (because the `id` would not be available).  However, we added enough assertion checking in PhetioObject (checking `eventInProgress` at startEvent and endEvent) that I think it will be possible to convert the `var id = ...` to an ins

[2017-12-20 09:26] samreid commented on #25
Commits are https://github.com/phetsims/tandem/commit/b4f52211961982d614dd3c14572cbfab85479a89 and https://github.com/phetsims/scenery/commit/8ad4f42933eb050ddd092c1bb7b2f0bd17029894

@pixelzoom can you please review the preceding comment and the change sets?

[2017-12-20 10:05] samreid commented on #25
I discovered an attempted re-entrant startEvent during area-model-multiplication fuzzing.  If I understand correctly, DragListener extends PressListener and both of their `release` methods are trying to start/end event.  Removing the event from the subtype appears to help (at least fuzzing is passing a lot longer), I'll commit that change here:

[2017-12-20 10:07] samreid commented on #25
I'm still seeing far too many `Uncaught Error: Assertion failed: cannot start event while event is in progress` on Bayes, I'm going to comment out the assertion again and look into this more tomorrow (today).

[2017-12-20 18:08] pixelzoom opened #26 "fonts for snapshot"
In a request for feedback on [1.0.0-dev.48](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.48/equality-explorer_en.html), @ariel-phet said via email:

My response was:

@amanda-phet's response was:

More on the decisions related to this issue can be found in https://github.com/phetsims/equality-explorer/issues/23#issuecomment-350330029 (refine UX for snapshots).

[2017-12-20 18:09] pixelzoom commented on #26
@ariel-phet are you satisfied with the compromise described above?  If so, we can close this issue.  If not, please discuss with @amanda-phet.

[2017-12-20 18:11] pixelzoom opened #27 "simplify animal icons?"
This issue concerns the icons (dog, cat, turtle) in the "Animals" scene, found in the "Basics" screen.

In a request for feedback on [1.0.0-dev.48](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.48/equality-explorer_en.html), @ariel-phet said via email:

My response was:

[2017-12-20 18:39] pixelzoom commented on #25
From a quick look at the commits... Making PhetioObject `eventInProgress` public is not a good direction. This flag is an implementation detail that should be private to `PhetioObject`, and now it's leaked into SimpleDragHandler.   It also does nothing to address the general issue of interrupted event cycles -- which will presumably also be a problem in DragListener.

[2017-12-20 19:09] ariel-phet commented on #26
I leave it to designer discretion here. I understand the concerns, and why they were compromised they way they were.

[2017-12-20 19:52] pixelzoom commented on #13
Reopening. In a request for feedback on [1.0.0-dev.48](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.48/equality-explorer_en.html), Argenta Price said via email:

I'm not sure how to fix this. Maybe you can exaggerate the differences if they're nearly equal, but that's not great because then the amount of scale-tilt wouldn't be linearly related to the difference in wei

[2017-12-20 19:56] pixelzoom opened #28 ""sum to zero" animation is obscured by item that drops down"
In a request for feedback on [1.0.0-dev.48](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.48/equality-explorer_en.html), Argenta P. said via email:

I replied:

[2017-12-20 19:59] pixelzoom commented on #26
In a request for feedback on 1.0.0-dev.48, Argenta Price said via email:

[2017-12-20 20:08] pixelzoom commented on #25
Removing high-priority label since this is no longer preventing me from fuzz testing.

[2017-12-20 21:42] pixelzoom commented on #13
@amanda-phet I'm reluctant to change our decision on colors here.  There's so much color going on in this sim, and I still think that using 'black' makes the 'red' and 'green' cases more noticeable.  The arrow is also not the sole indicator of "balanced".  Putting a single '1' on the scale is the "least movement" scenario, and the scale is still obviously not balanced.  (Solving screen will have s

[2017-12-21 00:15] pixelzoom commented on #28
Via email, Argenta said:

[2017-12-26 01:24] samreid commented on #25
I moved the comments about SimpleDragHandler dispose to a new scenery issue https://github.com/phetsims/scenery/issues/725

[2017-12-27 17:57] samreid commented on #25
I made `eventInProgress` private again and addressed interrupted events.  The `endEvent` and `dispose` got more complicated, but I couldn't see a better solution given our constraints.  @pixelzoom can you please review?

[2017-12-27 19:54] samreid commented on #25
Oops there is still a bad `eventInProgress` reference, self-assigning to investigate.

[2017-12-28 01:11] samreid commented on #25
OK that's fixed, reassigning to @pixelzoom to review the changes to PhetioObject.js

[2017-12-28 16:05] pixelzoom commented on #25
So let me summarize to see if I inferred the solution correctly from the commits...

The solution is to allow `endEvent` to be called on a PhetioObject that has been disposed, and the `endEvent` in that case is a no-op.  The data stream will contain a "start" event with no matching "end" event, and that won't be a problem.

Is that correct?

[2017-12-28 16:09] samreid commented on #25
That is correct.

That is incorrect.  If disposed during event processing, `endEvent()` is called from `dispose` (line 135), so there will be a matching end event.

[2017-12-28 16:13] pixelzoom commented on #25
Thanks for clarifying, I missed that while reading through the commits.

I think we're done here, so closing. (Reopen if there's more to do.)

[2017-12-28 16:13] #25 closed

[2017-12-28 19:34] pixelzoom commented on #28
@amanda-phet I think we can improve the clarity of the "sum to zero" animation by tweaking the animation parameters a bit.

In [1.0.0-dev.51](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.51/equality-explorer_en.html), the initial opacity is 0.85 (slightly transparent) and the duration is 500 ms.  So the animation is already a little fuzzy when it starts (because it's

[2018-01-02 18:55] amanda-phet commented on #13
The colors make the most sense to me right now, and until we have interviews we should wait on changing any colors.

The scale's "responsiveness" was heavily discussed in other issues so I don't think we need to rehash it, but we decided on a final responsiveness that showed some movement in all cases until the scale bottomed out, and didn't want the scale to bottom out any sooner than it currentl

[2018-01-02 18:55] #13 closed

[2018-01-02 18:59] pixelzoom commented on #13
@amanda-phet said:

This is true for the first 3 screens only.   The 4th screen (Solving) has no limitations on the coefficient for x, and (using the universal operator and division) we can end up with very small fractions.  E.g. if the scale contains '1/100 x', then even large changes in x will result in little or no perceptible change to the position of the plates.

[2018-01-02 19:04] amanda-phet commented on #13
Thanks for clarifying @pixelzoom. I was thinking only of the first screen where we fine tuned it, and the 3rd screen where we played with scenarios with x being large. By the 4th screen we are less concerned, but if it is problematic in interviews we could take an approach similar to other interactive where they simply show an unbalanced state and a balanced state, and nothing in between.

[2018-01-02 19:16] pixelzoom opened #29 "adjust the cutoff for whether an item is on or off the scale"
In a request for feedback on 1.0.0-dev.48, @ariel-phet said via email:

The current "cutoff" is that the center of the item must be above the center of the plate.  This is easy to tweak, just let me know what you'd prefer.  Note that the same cutoff is used for items that are dragged from the scale, or from the panels below the scale.  If you want different cutoffs (which I think would be potentia

[2018-01-02 19:29] pixelzoom opened #30 "make it easier to "coordinate information" while changing value of x"
In a request for feedback on 1.0.0-dev.48, @kathy-phet said via email:

Snapshots of @kathy-phet's EE_Mockup.ppx attachment:

Slide 1 (current UX?):
![screenshot_440](https://user-images.githubusercontent.com/3046552/34496831-5f89a3e6-efb8-11e7-9eaa-f524eed73b6a.png)

Slide 2:
![screenshot_441](https://user-images.githubusercontent.com/3046552/34496834-64588766-efb8-11e7-9f91-ffe458d6f5db.png)

Sl

[2018-01-02 19:35] pixelzoom commented on #30
**Option 1**:  replace 'x' with its value, similar to Expression Exchange

In Expression Exchange, see the "Variable Values" check box in the Negatives screen.  When not checked, a term looks like this:
![screenshot_438](https://user-images.githubusercontent.com/3046552/34497017-f4f07324-efb8-11e7-92a5-a3abbd08f478.png)

When checked, the same term looks like this (where x = 2):
![screenshot_439](

[2018-01-02 19:51] pixelzoom commented on #30
**Option 2**: show 'x = value' in (or near) the "Equation or Inequality" accordion box (Slides 2 & 3)

This option would be relatively easy to add. But I don't like the control as shown in Slides 2 & 3. The control should be located close to (or better yet, inside) the "Equation or Inequality" accordion box, since that's what it affects. And it should not be labeled "Show x"; it does the same thin

[2018-01-02 20:08] pixelzoom commented on #30
**Option 3**: move the x picker closer to the "Equation or Inequality" accordion box (Slide 4)

One could argue that the proper location for the x picker is somewhere in close proximity to the equation. This is supported by @kathy-phet's complaint of having to move her eye "a fairly long distance".

Slide 4 shows the picker below the Equation accordion box.  But that space is reserved for the "uni

[2018-01-02 20:10] pixelzoom commented on #30
Note that putting the "Variable" accordion box at the top has one significant usability disadvantage. Since it's at the top of the screen, your hand may be more apt to cover parts of the screen while you're changing the value.

[2018-01-02 20:14] pixelzoom commented on #30
Another problem with option 2...  If you want to hide the variable value, that now involves 2 controls -- close the Variable accordion box, and turn off the "Show x value" check box for the Equation accordion box.

[2018-01-02 20:46] pixelzoom commented on #29
I've added a query parameter in [1.0.0-dev.53](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.53/equality-explorer_en.html) that will let you play around with where the cutoff is located.   The new query parameter is `plateYOffset`, default value `0`.   When you run with `?dev`, the cutoff is represented by a horizontal red dashed line below each plate.

Examples:

[1.0

[2018-01-02 20:48] pixelzoom commented on #29
Also highly recommended to test this on both desktop on iPad.  Being able to flick items on/off the plates is especially useful on iPad.

[2018-01-03 19:17] pixelzoom commented on #29
As I mentioned in https://github.com/phetsims/equality-explorer/issues/29#issue-285513145:

@phet-steele I'd like your recommendation on the default value for `?plateYOffset` (see above), so that we don't need to revisit this issue after the sim enters QA.

[2018-01-03 19:23] pixelzoom opened #31 "features for PhET-iO"
From the master checklist in https://github.com/phetsims/equality-explorer/issues/1:

My understanding is that we're ignoring PhET-iO for this sim, and will instrument the sim at a later (post-publication) date.  Since there are no guidelines about what to do (or what not to do) to make a sim easy to instrument, I may (or may not) be making implementation decisions that impact instrumentation.

@a

[2018-01-03 19:38] pixelzoom commented on #30
@amanda-phet @kathy-phet I edited my comments/feedback for the 3 options above.  So please read the comments here in GitHub, and ignore the email notifications from GitHub.

[2018-01-03 20:05] ariel-phet commented on #31
@pixelzoom your understanding for this sim is correct. I think after Faraday's law iO work is complete we will have a better idea and can work on such guidelines.

Closing.

[2018-01-03 20:10] pixelzoom commented on #31
Thanks. I'll mark this item as addressed in the master checklist.

[2018-01-04 03:23] samreid commented on #31
I don't know what the schedule is for this simulation or what the long term plan for PhET-iO instrumentation is.  But it seems it would save the most time in the long run to have a PhET-iO Design meeting early on (while the simulation is being designed and/or developed).  This way the primary developer will be able to account for the features in the main architecture of the simulation rather than

[2018-01-04 03:53] samreid commented on #31
We discussed in slack, and @ariel-phet pointed out that deadlines for this sim as well as uncertainty about PhET-iO design and instrumentation strategy indicate we should postpone PhET-iO design for this sim at the moment.  I'll leave this open and assigned to @ariel-phet in case he wants to capture any more of the slack conversation here.

[2018-01-04 06:54] #31 closed

[2018-01-05 18:31] amanda-phet commented on #28
I prefer the slightly transparent feel in dev.51 over the fully opaque look in dev.52, so overall I prefer the animation in dev.51.

[2018-01-05 18:37] pixelzoom commented on #28
What about the slightly longer animation time in dev.52?

[2018-01-05 18:42] amanda-phet commented on #28
I almost asked if you could do a combo of 0.85 initial transparency and 750ms animation time, but I wasn't sure that made much sense since it doesn't have as far to go in terms of disappearing. Should we try that?

[2018-01-05 18:44] pixelzoom commented on #28
I think it makes sense.   When an item drops down and the animation occurs, that's a lot of stuff happening at once.  A longer animation time gives the user more time to process what's happening.

[2018-01-05 18:49] amanda-phet commented on #29
I really like the offset of 25 on the desktop! I've been meaning to ask if we could tweak this and the parameter makes this really easy to test.

The tricky thing on the iPad is that the items jump up above your finger, so that combined with the lower offset makes it really difficult to remove items. plateYOffset=18 seems to work a bit better for me on the iPad, and logically feels like the right

[2018-01-05 19:27] pixelzoom commented on #29
@amanda-phet If we need different offsets for mouse vs touch, that's possible.

[1.0.0-dev.54](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.54/equality-explorer_en.html?dev) has default `plateYOffset=18`. Here's a screenshot, showing the cutoff as a dashed line when running with `?dev`:

![screenshot_457](https://user-images.githubusercontent.com/3046552/34624452-9b97

[2018-01-05 19:39] pixelzoom commented on #29
Example of how the default aliases are inappropriate. With default alias for `ls`, I get the classic blue-on-black coloring for directories:

![screenshot_460](https://user-images.githubusercontent.com/3046552/34625261-43fa1f70-f215-11e7-9e48-88f6b6afbb17.png)

[2018-01-05 19:47] amanda-phet commented on #28
I'm happy with the latest tweaks (longer fade time, 0.85 starting opacity for the glow, 1.0 starting opacity for the "0"). Thanks!

[2018-01-05 19:49] amanda-phet commented on #29
I don't recall all of the conversations about Unit Rates, but I don't think we want to go too low. For the moment, and the interviews I have scheduled, let's stick with 18. Maybe I should do one interview on iPad and one on laptop.

[2018-01-05 20:00] pixelzoom commented on #28
Unassigning for now. We will revisit after @amanda-phet has done informal interviews on 1/8/18.

[2018-01-05 20:09] pixelzoom opened #32 "informal interviews"
@amanda-phet is planning to do informal interviews on Monday 1/8/18.  She has two 7th-graders scheduled.  One interview on desktop, one on iPad.

The dev version for those interviews is [1.0.0-dev.55](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.55/equality-explorer_en.html).  The "lock" feature and "Solving" screen are hidden.

[2018-01-09 22:54] pixelzoom commented on #29
@phet-steele If you could find some time to give input on this, I'd appreciate it.  I'd like to have our "best guess" on this before I send it back to @kathy-phet for verification.

[2018-01-10 18:09] phet-steele commented on #29
I'm liking `plateYOffset=18` for these reasons:

1. It tested well in interviews
2. In a sim such as this where we have a moving target (the scale in UR was static), it's more important to have the cutoff in a location that is visually consistent with the scale. In other words, It should look like I'm about to place/take off an item based on its relative position to the plate. It's difficult to fi

[2018-01-10 18:58] pixelzoom commented on #29
Thanks @phet-steele.

@amanda-phet let me know if you want to change anything here.  If nothing to change, please please solicit feedback from @kathy-phet.

[2018-01-11 16:46] amanda-phet commented on #32
I interviewed two 7th graders on Monday, both using an iPad (it was already set up, and I thought that would be more valuable for assessing #27 and #29)

First student:
- seemed really motivated to want to balance the two sides, but often put the same items on both sides in order to do this
- 11 minutes in to the interview he was "done" so I asked some questions to gain more insight into use (espe

[2018-01-11 17:36] pixelzoom commented on #32
@amanda-phet said:

I don't see any observations related to #27 and #29.  And #28 was also a priority (per https://github.com/phetsims/equality-explorer/issues/28#issuecomment-355651129).  Any observations related to those issues?

General conclusions?

[2018-01-11 18:16] amanda-phet commented on #27
Students seemed to enjoy the items on the Basics screen and  didn't have trouble distinguishing between items or reading the snapshots. For the most part they named them appropriately, except that one student referred to the red coin as the one with the "curly hair". If that coin wasn't already in a published sim I would recommend changing the image.

The interviews were done on an iPad (so a smal

[2018-01-11 18:19] amanda-phet commented on #29
Two students were interviewed using iPads and they did not have any trouble with putting objects on or off the plates. There may have been a handful of times that they tried to put it on the plate and it didn't make it, but immediately after they were able to successfully place the item.

I think the current offset is logical and functioning well.

@kathy-phet can you let us know what you think of

[2018-01-11 18:31] amanda-phet commented on #28
The students in interviews didn't use the sum to zero functionality very much. One student didn't use it until prompted, the other accidentally found it. In both cases, students understood the meaning but didn't further explore it in complicated cases.

This github issue was about the specific situation where an object drops down and is obscured by a zero pair, so if we want to know about how a st

[2018-01-11 18:32] amanda-phet commented on #28
@pixelzoom what do you think I should do in regards to this issue?

[2018-01-11 18:53] pixelzoom commented on #28
We do want this feature, and I think the tweaks we've made have been significant improvements. So I'm also OK with closing this issue, and will do so.

[2018-01-11 18:53] #28 closed

[2018-01-11 18:55] pixelzoom commented on #29
@kathy-phet the dev version for your review is:
https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.54/equality-explorer_en.html

Add the `?dev` query parameter to show a horizontal line indicating where the cutoff is.
Use `plateYOffset=25` (for example) to shift the cutoff line. The default is 18.

[2018-01-11 19:13] kathy-phet commented on #29
This seems good to me. Thanks!

[2018-01-11 19:17] pixelzoom commented on #29
Excellent, thanks @kathy-phet. Closing.

[2018-01-11 19:17] #29 closed

[2018-01-12 23:03] pixelzoom commented on #29
Noet: After closing this issue, I changed the query parameter used to show the cutoff line.  It was previously shown with `?dev`, but that's a common-code query parameter.  It's now shown with `?showOrigin`, along with the origins of various other things (items, scale, plates,...)

[2018-01-12 23:37] pixelzoom commented on #29
Changed my mind again... Back to using `?dev` to should the cutoff line, and all other "debug nodes".

[2018-01-13 00:14] ariel-phet commented on #27
@amanda-phet I am not concerned about things being misinterpreted. The iPad you were using was likely a retina screen. My concern was more that things looking aliased. The sim looks pretty clean on chrome, but for instance, when I look at it on FF the anmials (even in the equation) are a bit aliased. (below is a screenshot at full screen size on FF)

![animals](https://user-images.githubuserconten

[2018-01-13 00:20] pixelzoom commented on #27
@ariel-phet said:

Hmmm... Surprisingly, these images do look a little mangled on FF, even with FF 57+ and its new Quantum rendering engine.

[2018-01-13 00:33] pixelzoom commented on #27
@ariel-phet said:

The "aliased" problem isn't specific to the animal icons.  It's an issue with _all_ of the image-based icons (everything except 1, -1, x, -x). Rendered images look ragged on FF 57.0.4 (latest).  Disappointing, since I was hopeful that Quantum was going to address the render-quality issue that we've historically had with FF.  @jonathanolson FYI.

So if @ariel-phet is not concerne

[2018-01-13 00:41] pixelzoom opened #33 "items look ragged on Firefox"
This issue was broken out of https://github.com/phetsims/equality-explorer/issues/27.

In https://github.com/phetsims/equality-explorer/issues/27#issuecomment-357389793, @ariel-phet reported that icons looked "aliased" on Firefox.  I confirmed with FF 57.0.4 Quantum.  Investigate ways to improve.

[2018-01-13 00:41] pixelzoom commented on #27
Investigating improvements to FF rendering quality in https://github.com/phetsims/equality-explorer/issues/33.

[2018-01-13 00:43] pixelzoom commented on #33
One thing I noticed immediately is that our PNG files have height of 100 px, while the icons in the sim are scaled to a uniform height of 32 px.   In the past, my experience has been that the more extreme the scaling, the lousier the rendering quality on FF.  So if we reduce the height of the PNG files to ~50 px, that will reduce the amount of scaling, and I would expect quality to improve.

[2018-01-13 00:48] pixelzoom commented on #33
I did a quick test, reducing the height of the dog, cat and turtle PNG files to 50 px.  There's a dramatic improvement.

Before:

![screenshot_468](https://user-images.githubusercontent.com/3046552/34900836-90434d2e-f7c0-11e7-9e87-54035730a82d.png)

After:

![screenshot_467](https://user-images.githubusercontent.com/3046552/34900840-93eaa0e4-f7c0-11e7-8bcb-63f89ee33502.png)

I see no reason not to

[2018-01-13 00:52] pixelzoom commented on #27
@amanda-phet There is one bit of detail in the dog icon that I do recommend getting rid of. That's the detail in the tail, shown in the screenshot below.  In the screenshots in #33, it shows up as a black dot on the tail.  I keep thinking it's dirt on my screen :)

![dog-dot](https://user-images.githubusercontent.com/3046552/34900900-3a8347c6-f7c1-11e7-95b0-867c110e360e.jpg)

[2018-01-13 00:55] pixelzoom commented on #27
@amanda-phet There is one bit of detail in the dog icon that I do recommend getting rid of. That's the detail in the tail, shown in the screenshots below.  I keep thinking it's dirt on my screen :)

![dog-dot](https://user-images.githubusercontent.com/3046552/34900900-3a8347c6-f7c1-11e7-95b0-867c110e360e.jpg)

![small-dog-dot](https://user-images.githubusercontent.com/3046552/34900944-a7320f56-f7c

[2018-01-13 05:01] jonathanolson commented on #27
It looks like the `image!` plugin is being used, instead of the `mipmap!` plugin (which would hopefully improve the appearance on Firefox). Is that worth a try?

[2018-01-13 16:36] pixelzoom commented on #27
@jonathanolson I don't think the mipmap plugin is necessary, this seem to be an issue caused by extreme down-scaling, see #33.

[2018-01-15 18:10] amanda-phet commented on #33
That looks much improved to me!

[2018-01-15 18:12] amanda-phet commented on #27
I agree we can remove that bit of detail on the dog. I will give it a shot and if it's too difficult for me I will ask Cheryl to do it.

[2018-01-15 18:42] amanda-phet commented on #27
How about this?
![screen shot 2018-01-15 at 11 42 46 am](https://user-images.githubusercontent.com/7852916/34957076-40f41cdc-f9e9-11e7-9ab7-d73a849f0743.png)

[2018-01-15 19:02] ariel-phet commented on #33
@pixelzoom yes, that is acceptable to me, feel free to close.

[2018-01-15 19:47] pixelzoom commented on #27
@amanda-phet That looks great. Reminder that the same change must be applied to the shadow.

Please revise these .ai files:

https://github.com/phetsims/equality-explorer/blob/master/assets/basics-artwork-without-shadows.ai
https://github.com/phetsims/equality-explorer/blob/master/assets/basics-artwork-shadows.ai

You can either send me the new files, or push the changes to GitHub yourself, if you

[2018-01-15 19:49] pixelzoom commented on #33
OK, I'll proceed with this change (nothing has been committed yet), then close.

The lock icons have a similar problem, I'll take care ofthem too.

[2018-01-15 20:26] amanda-phet commented on #27
The new .ai files are uploaded. Do I need to export the artwork as well or will you do that? I recall there were a lot of issues with exporting...

[2018-01-15 20:28] pixelzoom commented on #27
I'm handle creating the PNG files. FYI, the process for creating PNG files from .ai is documented in https://github.com/phetsims/equality-explorer/blob/master/assets/README.md.

[2018-01-15 20:55] pixelzoom commented on #27
@amanda-phet Looks like you checked in `assets/Screen Shot 2018-01-15 at 11.41.48 AM.png`, the screenshot in https://github.com/phetsims/equality-explorer/issues/27#issuecomment-357760633.  I'm going to delete it. If there's some reason that you want it checked in, let me know and I'll restore it.

[2018-01-15 20:57] pixelzoom commented on #27
@amanda-phet Looks like you changed basics-artwork-shadows.ai.  But basics-artwork-without-shadows.ai still contains the old dog icon.

[2018-01-15 21:14] pixelzoom commented on #33
Icons have been revised in [1.0.0-dev.56](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.56/equality-explorer_en.html).  Compare to [1.0.0-dev.54](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.56/equality-explorer_en.html).

@amanda-phet @ariel-phet please review. Last one to review please close.

[2018-01-15 21:15] pixelzoom commented on #27
Dog icon has been revised in [1.0.0-dev.56](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.56/equality-explorer_en.html).  Compare to [1.0.0-dev.55](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.55/equality-explorer_en.html).

@amanda-phet please review, feel free to close.

[2018-01-15 21:16] pixelzoom commented on #33
Icons have been revised in [1.0.0-dev.56](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.56/equality-explorer_en.html). Compare to [1.0.0-dev.54](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.54/equality-explorer_en.html).

@amanda-phet @ariel-phet please review. Last one to review please close.

(EDIT: Fixed link to 1.0.0-dev.54 above.)

[2018-01-15 21:37] amanda-phet commented on #27
I like it quite a bit. Good suggestion.

[2018-01-15 21:37] #27 closed

[2018-01-15 21:37] amanda-phet commented on #33
I'm happy with the fix. Thanks Chris.

[2018-01-15 22:05] amanda-phet commented on #30
We do want students thinking about substituting a value for a variable when assessing the state of the balance, so having it front and center does make sense to me.

Chris's mockup of option 3 is my favorite. Kathy's slides 2 and 4 don't work because of the Variables screen (as Chris mentioned).

I also like Kathy's slide 3, since the format is similar to the snapshots. In that vein, it would make

[2018-01-15 22:14] pixelzoom commented on #30
A few of things with my "option 3", from an impromptu discussion that we had between 1/11/18 design meetings...

(1) By moving the picker to the top, it's going to be difficult (impossible?) to keep the relational operator in the equation centered on the scale.  And it sounded like that might be important.

(2) By moving the picker to the top, changing the value of 'x' will cause your hand to obsc

[2018-01-16 16:38] ariel-phet commented on #33
Much improved. Closing

[2018-01-18 21:12] pixelzoom commented on #32
Observations related to #27, #28, #29 were added to those issue.

[2018-01-18 21:50] pixelzoom commented on #30
(3) If we make the Equation accordion box narrower in the Solving screen, coefficients and constants will become illegible much more quickly than they do in the terms on the scale.

[2018-01-18 21:51] pixelzoom commented on #30
1/18/18 design meeting:  We discussed option 3, but creates problems. So we decided to defer this until interview.

[2018-01-18 21:53] pixelzoom commented on #30
1/18/18 design meeting: We discussed option 3, but creates problems. So we decided to leave this "a sis", and defer until interview, to see if students experience the same problems that @kathy-phet did.

[2018-01-18 22:20] amanda-phet commented on #32
I think we can close this issue since interviews are complete, observations were summarized here and in the design doc and shared with the team.

[2018-01-18 22:20] #32 closed

[2018-01-19 19:27] amanda-phet commented on #30
I took a shot at mocking this up and there is not enough room for the variable accordion if we keep the equality statement centered and large enough unless we want to start decreasing the font size sooner (which is an option, if we discover after interviews that this is important)

![screen shot 2018-01-19 at 12 15 36 pm](https://user-images.githubusercontent.com/7852916/35167855-2c69237e-fd14-11e

[2018-01-19 19:43] pixelzoom commented on #30
In the above mockup, the "Variable" accordion box (with 'x' picker) is slightly unrealistic. For an accordion box that hides its title when expanded, the box's button must be fully to the left of the box's content.  You're showing some overlap.  So there's slightly less horizontal space available than what's shown in the mockup.

And I agree that this is not a feasible layout.  To use this layout,

[2018-01-19 20:04] pixelzoom opened #34 "Solve It! screen"
In 1/18/18 design meeting, we discussed the possibility of adding a 5th screen -- call it the "Mystery" screen, for the sake of discussion. In this screen, the student is presented with equations (challenges) and must solve for 1 variable (x).

Tentative conclusions:

• the value of x is always be an integer
• coefficients and constants are integers or fractions (proper or improper; as in other sc

[2018-01-19 20:13] pixelzoom commented on #34
@amanda-phet @kathy-phet @ariel-phet I've created this issue for further discussion of the  (tentatively titled) Mystery screen.  1/18/18 meeting notes in the design document were a bit incomplete, so the above is a superset of what's in the design doc.

The suggestion to add this screen comes at an awkward time. The Mystery screen is based on the Solving screen. I'm in the middle of implementing

[2018-01-19 20:14] amanda-phet commented on #34
All of the bullets look correct to me.

I'm having a hard time figuring this one out as I'm playing around with mockups today. This seems like the biggest design challenge to me at this point.

I am also thinking we should have a prompt like "solve it!" because the Mystery screen in Function Builder that we are modeling this off of has question marks to indicate the mystery, as well as a way to re

[2018-01-19 20:16] amanda-phet commented on #34
Can you add a bullet for **remove "x = ?" checkbox**, or modify the snapshots bullet to include this change.

[2018-01-19 20:17] pixelzoom commented on #34
I edited this bullet item:

[2018-01-19 22:12] amanda-phet commented on #34
I just noticed your questions.

As I play aroudn with this screen, I think we should think about the model used in Make a Ten. At the top is the original problem. Students can't so anything right or wrong when interacting. Once they achieve the goal of finding the final number (or in our case, isolating x on one side of the balance), a "next" button appears that takes them to another problem, so t

[2018-01-19 22:49] amanda-phet commented on #34
In terms of learning goals, I think it's pretty straightforward:
• Solve a given equation using only universal operations
• Interpret a solution as the value that balances x

Here is a first mockup that includes new components.
![screen shot 2018-01-19 at 3 51 08 pm](https://user-images.githubusercontent.com/7852916/35175370-9c0b253a-fd30-11e7-99a6-128be1ed0aed.png)

[2018-01-19 22:57] pixelzoom commented on #34
@amanda-phet said:

In the above mockup, is the "next" button the one in the upper-right corner of the screen? (Same "next" button as Function Builder's "Mystery" screen?)

If the "next" button doesn't appear using they've achieved the goal (solved for 'x'), what happens if they get stuck on a challenge and want to skip it?

[2018-01-19 23:00] amanda-phet commented on #34
I don't have a next button in the mockup because I only included elements from the original list of changes... if we want to follow that model I'd re-think this a bit.

The refresh button at the top is supposed to give a new challenge to work on. I don't like the current location, but that top bar seems like a logical place for it.

If we want a button to reset the problem being worked on we'll ne

[2018-01-19 23:01] pixelzoom commented on #34
In https://github.com/phetsims/equality-explorer/issues/34#issuecomment-359103977 @amanda-phet said:

If you're referring to the "Game" screen in Make A Ten, it provides a score (number of correct answers) in the upper right corner.  E.g.:

![screenshot_472](https://user-images.githubusercontent.com/3046552/35175672-0b8e92d8-fd32-11e7-8f8e-bba68edc12b9.png)

[2018-01-19 23:03] pixelzoom commented on #34
@amanda-phet said:

I don't understand.  If the "refresh" button provides a new challenge, how is that different from a "next" button? And why are both needed?

[2018-01-22 21:42] amanda-phet commented on #34
Yes, the Game screen, but more the model for interacting with the challenge. This screen reminded me a lot of the Make a Ten game because you can play around a lot and nothing is "wrong", but once you reach the goal (in MaT that is combining the numbers, in EqEx that is isolating x), a next button appears to indicate that you've achieved the goal and you are prompted to try another problem.

[2018-01-22 21:46] pixelzoom commented on #34
I still don't understand this UX. But I'll wait for mockups + scenarios.

[2018-01-22 21:49] amanda-phet commented on #34
It would be helpful to have feedback from @ariel-phet and @kathy-phet, too.

Can we have a design meeting Thursday and bring more mockups then? Or should we try to meet sooner?

[2018-01-22 21:59] pixelzoom commented on #34
Thursday is plenty early for me. I have no shortage of things to work on.  And the logic I'm working on for the remainder of this week is not dependent on this screen.

Ultimately, we need to describe these scenarios:

(1) solving a challenge
(2) advancing to the next challenge
(3) switching between levels
(4) resetting (can you reset a challenge? a level? or can you only reset all?)

For a design

[2018-01-22 22:25] pixelzoom commented on #34
The mockup in https://github.com/phetsims/equality-explorer/issues/34#issuecomment-359111575 shows a set of radio buttons for switching between levels.  That's similar to Function Builder, which has no scoring.  If you want to show a score (e.g. # of stars), then you might consider a level-selection UI, like the "Game" screen in Make a Ten or Expression Exchange.

[2018-01-22 22:38] pixelzoom commented on #34
@amanda-phet said:

In addition to feedback on the UX design, we'll need feedback from @ariel-phet and @kathy-phet on the cost/impact of adding (or not adding) this screen.  If included in 1.0, it will push out the schedule of this sim and Gas Properties.  If we don't include it in 1.0, it is likely to be very costly (and certainly destabilizing) to add in the future, based on how complicated this

[2018-01-22 22:43] kathy-phet commented on #34
Thanks for the input, Chris. I would like to go ahead with the design of this screen to nail that down, and then revisit how the development of the current features set in this sim is going over the next 6 weeks and see where we are at in early to mid-March so we can better estimates before making a decision about adding this screen now or later. OK?

[2018-01-22 23:38] pixelzoom commented on #34
OK.  In the meantime, I'll try to keep this screen in mind as I'm implementing the Solving screen.

[2018-01-23 19:03] pixelzoom opened #35 "specification of animation for universal operation"
The animation associated with the universal operation control (herein "the control") is under-specified in the design document.  It's mentioned in one sentence:

Questions:

- [x] If you want both motion and fading, that's not supported by PhET's current library of reusable animations (twixt).  I'll need to either create a new animation, or use Tween (3rd-party library) directly.

DECISION: Want b

[2018-01-23 21:07] pixelzoom commented on #35
1/23/18 call with @amanda-phet, decisions interspersed above.

[2018-01-23 23:28] pixelzoom commented on #35
@amanda-phet [1.0.0-dev.58](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.58/phet/equality-explorer_en_phet.html) implements everything we discussed, except for the sum-to-zero animation.  Before proceeding further, I'd like to know if this is in the ballpark of what you had in mind.

The animations are set up as follows:
Motion: duration=500ms, easing=Quadratic.In (Li

[2018-01-24 18:37] amanda-phet commented on #35
Definitely in the ballpark. I'd like to play around a little with the easing for the motion. The fade looks fine, but for some reason I'm not a fan of the motion. Can we try Quadratic.Out? Maybe we can play with these in-person on Thursday between meetings, if you're available.

Also, the path for the operation animation seems a little short. I bottomed out the scale but it's hard to tell since th

[2018-01-24 19:13] pixelzoom commented on #35
[1.0.0-dev.59](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.59/phet/equality-explorer_en_phet.html) uses `easing=Quadratic.Out` for motion, which causes the operations to decelerate as they fall.  Happy to experiment with other easing options in-person on Thursday. Easing is trivial to change, but non-trivial to provide a query parameter.

Yes, the animation distance

[2018-01-24 19:24] pixelzoom commented on #35
Removing high priority label, since we're in the ballpark.

[2018-01-24 20:00] pixelzoom commented on #35
Slack discussion with @amanda-phet about the sum-to-zero animation:

Chris Malley [12:58 PM]
Do you want the animation to show ‘0x’ and ‘0’, for x term and constant term respectively?

Amanda McGarry [12:59 PM]
yes that is ideal

[2018-01-24 20:06] phet-steele commented on #35
@amanda-phet you can preview different easing here: http://phettest.colorado.edu/twixt/twixt_en.html?brand=phet&ea

[2018-01-24 20:17] pixelzoom commented on #35
@phet-steele I don't recommend using that demo. It's not using Tween animation, it's using easing code that is documented as:

... and therefore is not something that I will use in production code.  The easing names are similar to the Tween easing functions, but not guaranteed to be the same.

[2018-01-24 20:36] pixelzoom commented on #34
This issue did not make the cut for design meetings this week. Hopefully for Feb 1?  Adding "high priority" label to underscore the urgency of designing this screen.

[2018-01-24 21:09] kathy-phet commented on #34
@pixelzoom - I believe, yes, goal is to bring it next week to design, with mock ups.

[2018-01-24 21:15] phet-steele commented on #35
Roger that!

[2018-01-30 19:33] pixelzoom commented on #21
We'll also need a color for the "Mystery" screen, added in #34.  I'm using white for now.

[2018-01-30 19:35] pixelzoom commented on #35
@amanda-phet and I tweaked the animation during an in-person meeting on 1/25.  See commit immediately above this comment.   Motion duration was increased to 700 ms, motion easing was changed to Quintic.In.

[2018-01-30 20:59] pixelzoom commented on #35
@amanda-phet I implemented the sum-to-zero animation for universal operations applied to terms on the scale.  Please have a look at [1.0.0-dev.60](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.60/phet/equality-explorer_en_phet.html) and let me know if this is what you had in mind.  There are no halos. The '0' and '0x' use the same font size as the terms.  I tried using

[2018-01-31 19:10] amanda-phet commented on #35
I added 8 and then subtracted 8 to see the 0. I also multiplied by 0 to see both 0x and 0. Are there any other scenarios I should be trying?

It looks great to me. The animation feels very similar to the previous screens (I can't discern if it's exactly the same or not) and looks good without the halo.

[2018-01-31 19:53] pixelzoom commented on #35
@amanda-phet asked:

As long as you've seen both a '0' and '0x', you've seen it all.

The animation uses identical parameters (duration, easing,...) on all screens.

All requirements in the checklist https://github.com/phetsims/equality-explorer/issues/35#issue-290956098 have been implemented, so closing.

[2018-01-31 19:53] #35 closed

[2018-02-01 01:11] samreid opened #36 "Use Property.validValues instead of isValidValue"
I came across this code today:

[code]

Would it work equally well to use `{validValues}` like so?

[code]

I also used `scenes` in both spots instead of `this.scenes` in one spot.

[2018-02-01 17:56] pixelzoom commented on #36
The above code is in `EqualityExplorerModel`. Good catch, agreed.  Implemented, closing.

[2018-02-01 17:56] #36 closed

[2018-02-01 19:21] pixelzoom opened #37 "Assertion failure: attempt to stop animation that was not started"
@phet-steele verbally reported this exception with fuzzMouse:

This occurs in `UniversalOperationAnimation.stop`.

[2018-02-01 19:27] phet-steele commented on #37
Here ya go!

[code]

[2018-02-01 20:45] pixelzoom commented on #37
This should be fixed in the above commit. I didn't see it occur after 10 minutes of fuzzMouse. But it was a very unlikely sequence of interactions that was causing the problem, so fuzzMouse may simply not have generated that sequence.  I'm going to close this issue, and I'll reopen if it appears again in CT report.

[2018-02-01 20:45] #37 closed

[2018-02-01 20:46] pixelzoom commented on #19
I'm working on the Solving screen (and Mystery screen?) before this feature. So unassigning for now, until I resume working on it.

[2018-02-01 21:52] pixelzoom commented on #34
In 2/1/18 design meeting, we decided to name this screen "Solve It!"

[2018-02-01 21:59] pixelzoom commented on #34
2/1/18 design meeting decisions, summarized with @amanda-phet:

• Screen name is "Solve It!"
• Use standard level-selection screen
• Returning to a level restores the state that the level was in, does not generate a new challenge
• "New Challenge" button on scale is always available
• Smiley face appears + audio "ding" when challenge has been solved. Smiley face fades out.
• "New Challenge" button

[2018-02-02 19:17] amanda-phet commented on #34
Mockups are in the design doc. https://docs.google.com/document/d/1xu9nawWcndFqgg5zyCGm25h-OFUsuFYnXF3QHW42spQ/edit#heading=h.9axhf449f0q7

[2018-02-02 19:30] amanda-phet commented on #34
I believe we've addressed everything in the checklist, so I'm assigning to you Chris to implement or close.

[2018-02-06 21:32] pixelzoom commented on #34
Related to this feature... I added our 2/1/18 meeting to the design document. And I fixed up the table of contents in the design document (missing Solve It! and meeting links).

[2018-02-06 21:33] pixelzoom commented on #34
I'll leave this issue open until I've implemented this screen. Implementation is on hold, pending resolution of https://github.com/phetsims/make-a-ten/issues/279 (migrate game components to vegas).

[2018-02-06 22:41] pixelzoom commented on #34
Note to self: Details on how to generate challenges are in https://docs.google.com/document/d/1vG5U9HhcqVGMvmGGXry28PLqlNWj25lStDP2vSWgUOo/edit.  There is currently 1 unresolved comment in that document.

[2018-02-07 20:27] amanda-phet commented on #34
I addressed that last comment so this document should be good to go.

[2018-02-08 21:55] pixelzoom commented on #34
In https://github.com/phetsims/vegas/issues/59#issuecomment-364256834, we decided that the challenge to be solved will not be displayed in the "status bar".  So the "Solve It!" screen needs to be redesigned to put the challenge in the play area.  Need to figure out how to make everything fit in the play area, and create new mockups for the design doc.  Assigning to @amanda-phet.

[2018-02-10 00:08] pixelzoom opened #38 "implement challenge engine"
Challenge generation for the "Solve It!" (game) screen is described in it's own design document. See https://docs.google.com/document/d/1vG5U9HhcqVGMvmGGXry28PLqlNWj25lStDP2vSWgUOo/edit.

It may be possible to structure this as a self-contained module that I could spin off to another developer. In 2/9/18 Slack conversation, @ariel-phet and I discussed the possibility of having @andrea-phet work on

[2018-02-13 19:55] pixelzoom commented on #34
@amanda-phet Raising the priority of game revision to "high".

@andrea-phet will resume working with PhET as early as this week.  Implementation of the new game components has been identified as a possible project for her, see https://github.com/phetsims/vegas/issues/59#issuecomment-364601658.  We identified reusable game components in 2/8/18 design meeting.  But we also identified that Equality E

[2018-02-13 22:13] amanda-phet commented on #34
Do we have time to wait until Thursday so we can have a design meeting?

My best idea right now is to have the original equation pre-loaded as the first snapshot. (We could even add an extra snapshot row- we have the space). This would solve the problem.

In general, I think it's a good practice not to put challenge-specific directions in the status bar. We noticed in Area Builder interviews that

[2018-02-14 19:43] pixelzoom commented on #34
I suspect that Thursday would be OK.  Please consult with @ariel-phet about what he has in mind for phetsims/vegas#59 timeline.

I'm not a fan of putting the challenge in Snapshots. Many reasons:
(1) The student has had experience in 4 previous screens with Snapshots, and now it would be serving an additional purpose.
(2) Snapshots are somewhat secondary in all previous screens (and indeed in this

[2018-02-14 20:01] pixelzoom commented on #34
I'm also unclear on what to display to the right of the back button in the status bar.  Just the level, e.g. "Level 1"? Anything else?

[2018-02-14 20:27] pixelzoom commented on #21
As of [1.0.0-dev.62](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.62/phet/equality-explorer_en_phet.html), I'm using `rgb( 248, 227, 226 )` for the "Solve It!" screen background color, as shown in mockups is #34.

Summary:

screen | color
:--- | :---
Basics | `rgb( 255, 250, 227 )`
Numbers | `rgb( 239, 253, 218 )`
Variables | `rgb( 214, 233, 254 )`
Solving | `rgb( 237

[2018-02-14 20:29] amanda-phet commented on #34
Your mockup seems perfect to me. I hadn't thought of shortening the height of the balance components. We'd potentially need a new location for the "new challenge" button if the base is that small, but I think we could just put it under the balance to the right.

Next to the level I might also add a description, such as "Level 1: one-step equations". That may help teachers and students with underst

[2018-02-14 20:44] pixelzoom commented on #34
Scale base could stay unchanged to support the "New Challenge" button.  Shortening the fulcrum would buy us similar vertical space.

[2018-02-14 20:54] amanda-phet commented on #34
We may not even need to adjust the balance. Since it will always be balanced, the operators can be closer (since we don't need to worry about the case of it being completely unbalanced).

<img width="682" alt="screen shot 2018-02-14 at 1 53 31 pm" src="https://user-images.githubusercontent.com/7852916/36227492-73c06488-118e-11e8-988c-4a07d1a1bc44.png">

Anyway, this seems like a reasonable solutio

[2018-02-14 21:04] pixelzoom commented on #34
I'm not wild about the "New Challenge" button being on the scale, it's nowhere near the challenge.  And in all previous screens, the buttons on the scale have done something to what's on the scale.

How about putting the "New Challenge" button to the right of the challenge, and putting a box around everything related to the challenge (ala Graphing Lines).

![soliveit2](https://user-images.githubus

[2018-02-14 21:07] amanda-phet commented on #34
That kind of proximity works for me. I agree we want it close to the challenge, and at one time *on the scale* was pretty close. This seems like an improvement over that.

[2018-02-15 18:30] amanda-phet commented on #34
In 2//15/18 design meeting with @ariel-phet @kathy-phet and @amanda-phet, we settled on this design for this screen. We preferred to not have the extra boxes, and chose to use the refresh button that is typical on our game screens (ExEx, Fraction Matcher, Function Builder, etc.). The Level text, Solve for x text, and left side of the equation readout are left-aligned. The refresh button and equati

[2018-02-15 22:07] pixelzoom commented on #34
@amanda-phet said:

In general, alignment  with the "Level" text is not possible -- it moves as the size of the browser window changes.   See for example the Game screen in [Make A Ten](https://phet.colorado.edu/sims/html/make-a-ten/latest/make-a-ten_en.html).  As the browser window is resized, the status bar expands to fill the window, and the stuff on the ends of the status bar remains left and

[2018-02-15 22:10] pixelzoom commented on #34
@amanda-phet said:

Who is "we"? And can I have any input, or is this a done deal?

In general, alignment  with the "Level" text is not possible -- it's position is not fixed, it moves as the size of the browser window changes.   See for example the Game screen in [Make A Ten](https://phet.colorado.edu/sims/html/make-a-ten/latest/make-a-ten_en.html).  As the browser window is resized, the status b

[2018-02-15 22:10] amanda-phet commented on #34
That makes sense to me. So for a fixed browser window, like a tablet, it would be aligned. That's fine.

[2018-02-15 22:11] amanda-phet commented on #34
Sorry, I should have specified who was in the discussion.

You can always have input :)

KP, AP, and I had a design meeting this morning and reviewed the discussion you and I had here on github and liked your final mockup best, and we just made a few tweaks.

[2018-02-16 19:12] pixelzoom commented on #34
I reviewed all of the above, and I don't see any problems with the current design.

In https://github.com/phetsims/equality-explorer/issues/34#issuecomment-359596160, @kathy-phet said:

Assuming that's still the plan...  The next step is to decide whether this screen will be included in 1.0 release, and what impact that will have on other projects.   I'll leave this assigned to @amanda-phet to rev

[2018-02-21 17:25] pixelzoom opened #39 "Automated testing failure: column out of range"
This automated testing failure has been occurring intermittently since `2/20/2018, 6:05:28pm`. Undoubtedly related to the massive refactoring/rewriting that I'm in the midst of.

[code]

[2018-02-21 21:15] pixelzoom commented on #39
Looks like there's a problem when the term's location is exactly on `maxX` and/or `maxY` of the grid's bounds. This is not something that has changed recently, so unlikely to be a new issue.

Placing a `debugger` at the end of `Plate` constructor (for the _left_ plate), first we inspect the bounds of the grid:

[code]

The grid is 6x6, so there are 36 cells with indices 0-35.

Cell for a location

[2018-02-21 21:34] pixelzoom commented on #39
`grid.getCellAtLocation` is called only if `grid.containsLocation` is true for a term's locations.   Still with `debugger` at end of `Plate` constructor:

[code]

This all looks correct.  So the issue is probably with the computation of `row` and `column` in Grid `getCellAtLocation`, i.e.:

[code]

[2018-02-21 21:39] phet-steele commented on #39
@pixelzoom I have some info on Slack for you that I could repeat here, but mostly I'm wondering why you aren't on Slack!

[2018-02-21 21:50] pixelzoom commented on #39
With `debugger` at end of Grid constructor for _left_ plate:

[code]

So the issue is definitely with the `row` and `column` computations in Grid `getCellAtLocation`.

[2018-02-21 22:06] pixelzoom commented on #39
Here's the fix for Grid `getCellAtLocation`, to handle the edge case:

[code]

Again with `debugger` at the end of Grid constructor of _left_ plate:

[code]

All of the above looks good.

[2018-02-21 22:12] pixelzoom commented on #39
Fuzz testing looks good, fix pushed.  I'm going to close this.  If it pops up again in CT, we can reopen.

[2018-02-21 22:12] #39 closed

[2018-03-02 21:16] pixelzoom opened #40 "regression test after major changes"
I recently made huge changes to just about everything in Equality Explorer. Before proceeding, I want to make sure that everything that is currently implemented is working properly.   That includes everything in the first 3 screens, with the exception of the "lock" feature.

On Slack, I asked @ariel-phet:

He replied:

@phet-steele Please test the first 3 screens of [1.0.0-dev.64](https://www.colo

[2018-03-02 21:18] pixelzoom commented on #40
@amanda-phet FYI. Feel free to have a look too.

[2018-03-02 21:22] pixelzoom commented on #40
@phet-steele In case there are any query parameters that might make your testing easier (e.g. slow motion animation), see [EqualityExplorerQueryParameters](https://github.com/phetsims/equality-explorer/blob/master/js/common/EqualityExplorerQueryParameters.js).

[2018-03-02 22:57] phet-steele opened #41 "Terms can be left stranded at the end or their animations"
1. Stack two terms onto one side of a scale.
2. Quickly "double click" the bottom term. Place your cursor towards the bottom center of this term to make it easier.

The idea behind the double click is that you are moving the fallen term on the second click before the first term reaches the end of its animation back up. This leaves the top term (previously the bottom term) stranded with nothing bel

[2018-03-02 23:03] phet-steele commented on #40
@pixelzoom did what I could in ~one hour. Sim is sane.

[2018-03-02 23:17] pixelzoom commented on #40
Thanks @phet-steele!  #41 is a good find that's apparently been there since the beginning.  Looks like I didn't create any new/obvious problems. So mission accomplished, and I'll proceed with new features.

Closing.

[2018-03-02 23:17] #40 closed

[2018-03-05 16:58] pixelzoom commented on #41
Reproduced.  The bottom term is not really being double-clicked.  It's easier to see what's going on if you use 2 terms with different types, for example:

![screenshot_500](https://user-images.githubusercontent.com/3046552/36988164-655ed92a-205b-11e8-90da-297dc1bbb84f.png)

The first click removes the square from the grid, and sphere immediately moves down.  The second click then selects the sphe

[2018-03-05 17:36] pixelzoom commented on #41
There a general deficiency in TermDragListener.  When a term is released, a target cell in the grid is identified, and the term animates to that cell.  In the meantime, a cell _below_ the target cell may become empty.

Here's another scenario that doesn't involve double clicking.  Run with `?showGrid&speed=0.25` to show the grid and slow the animation.  Start with a square on the scale:

![screens

[2018-03-05 18:56] pixelzoom commented on #41
Fixed in [1.0.0-dev.65](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.65/phet/equality-explorer_en_phet.html).  When a term is added to (or removed from) the grid, the associated column is compacted if it contains holes.

@phet-steele please verify.

[2018-03-05 21:17] phet-steele commented on #41
Works for me, thanks.

[2018-03-05 21:17] #41 closed

[2018-03-07 17:14] phet-steele opened #42 "Assertion failed: coefficient cannot be zero"
1. Solving screen, drag positive X to the scale.
2. Grab a negative X and release it AWAY from the positive term (no overlap). Release it so it animates towards the scale.

When the terms collide at the end of the animation:

[code]

[2018-03-07 17:21] pixelzoom commented on #42
Thanks @phet-steele.  x and -x correctly sum to zero on endDrag when the terms overlap.  But there's obviously a problem when the terms don't overlap, and animation is involved - scenario I hadn't tested yet.

[2018-03-07 18:21] pixelzoom commented on #42
Fixed in above commit.  Note that terms that sum to zero in this way (at the end of an animation) or via the universal operator (e.g. 'x 0') do not currently display the "sum to zero" animation.  That's not a bug - I just haven't implemented that yet.

@phet-steele ready for your review.

[2018-03-07 19:31] pixelzoom commented on #42
Above I said:

It's now implemented, in case you're looking at master

[2018-03-07 19:32] pixelzoom commented on #42
Above I said:

It's now implemented for animating terms that sum to zero, in case you're looking at master. (Still not animated for universal operations that cause a term to become zero.)

[2018-03-07 19:46] phet-steele commented on #42
Things are fixed.

[2018-03-07 19:46] #42 closed

[2018-03-10 21:23] pixelzoom commented on #34
@amanda-phet @kathy-phet @ariel-phet It's now "early to mid March", so time to discuss whether this screen is included in the 1.0 release.

@andrea-phet has made a nice start on the game components that will be needed, see https://github.com/phetsims/vegas/issues/59.   And the challenge generation engine should go quickly.  So I'm expecting this game to be a bit less expensive than most PhET games

[2018-03-10 21:28] pixelzoom commented on #14
With the exception of the "lock" feature, the first 4 screens are feature complete.  So it's not impossible that we'll meet the "March 26 interviews" milestone.  And if we're going to do interviews, perhaps it's time to create screen icons.

[2018-03-10 21:28] pixelzoom commented on #21
With the exception of the "lock" feature, the first 4 screens are feature complete.  So it's not impossible that we'll meet the "March 26 interviews" milestone.  And if we're going to do interviews, perhaps it's time to solidify the background colors.

[2018-03-11 14:21] kathy-phet commented on #34
Great. That's my vote too. I think the Solve It screen adds value, so let's plan to have that in v1.0 release.

[2018-03-12 15:07] amanda-phet commented on #34
Sounds great to me, too!

[2018-03-12 15:15] amanda-phet commented on #21
I'd like to see how Solve It! looks once we have more of the features implemented, so that color might change. We don't have many more colors left to choose from so it will likely still be a shade of "pink."

I would still like to switch the Numbers and Variables colors back because the different backgrounds will offer better contrast to the new elements (the 1s on Numbers contrast better with blu

[2018-03-12 16:04] pixelzoom commented on #21
@amanda-phet said:

Do you mean _swap_ colors for these 2 screens?  Your reason for swapping discusses the merits based on the term colors.  But are you considering the halo color? As I've mentioned previously, the greenish-yellow background color is (imo) not harmonious with the yellow halos.

In https://github.com/phetsims/equality-explorer/issues/21#issue-279461614:

In https://github.com/phets

[2018-03-12 16:24] pixelzoom opened #43 ""Solving" and "Solve It!" screen names are too similar"
Consider renaming the "Solve It!" (game) screen. Having 2 screens with very similar names (Solving, Solve It!) is already proving to be confusing.

Slack conversation with @amanda-phet:

[code]

[2018-03-12 16:59] pixelzoom opened #44 "branch: combined-term-creators"
In this branch, I combined positive and negative term creators (e.g. x and -x, 1 and -1) into a single term creator that is responsible for all like terms. I will likely abandon this approach, but since it was a significant amount of work, I decide to commit it to a branch.

Pros:
• a TermCreator doesn't need to know about its inverse
• might make it easier/cleaner to implement the "lock" feature,

[2018-03-12 21:21] amanda-phet commented on #21
Yes, swap.

The halo is on both screens, so the yellow halo will be over a green background anyway unless we re-work all screen colors.

I din't mind the greenish-yellow background as much as you, I guess! Unfortunately with so many screens we really need 4 contrasting colors because otherwise they can look too similar. But the game screen doesn't necessarily need to be a 5th color, so I can go ba

[2018-03-12 21:54] pixelzoom commented on #21
I've swapped colors for Numbers and Variables screens. The change will appear in dev versions >= 1.0.0-dev.70 (not published yet).

[2018-03-12 22:01] pixelzoom opened #45 "universal operations: add support for operands that are variable terms"
Summary of discussion with @amanda-phet about this feature that was proposed by @kathy-phet.

The universal operation control currently supports 4 operators (`+,−,×,÷`) , and integer operands in the range `[-10,10]`.   Universal operations are applied to terms on both sides of the scale. If there is no variable term on the scale, there is currently no way to create one on the scale using a univers

[2018-03-12 22:01] pixelzoom commented on #45
The UX proposal that @amanda-phet described for me involves having the operators `[ +,−]` appear twice in the operator picker, with visual cues to indicate that one pair is applicable to constant terms and one pair is applicable to variable terms. Imo, that proposal has numerous problems, mostly relate to the duplication of operators − difficult to design effective visual cues, potentially confusi

[2018-03-12 22:02] pixelzoom commented on #45
In https://github.com/phetsims/scenery-phet/issues/357#issuecomment-372474105, @amanda-phet said:

Thanks @pixelzoom this is a really good summary.

I'd like to discuss the implications and timeline with @kathy-phet a bit. It sounds like this could push out the deadline for publishing this sim by at least a week, and we should weigh that with the benefits of having the sim published in time for ou

[2018-03-12 22:03] pixelzoom commented on #43
Another option is to rename the "Solving" screen.

[2018-03-12 22:06] pixelzoom commented on #43
Another option is to rename the "Solving" screen.  @amanda-phet suggested renaming "Solving" to "Operations", since it introduces the universal operation.

[2018-03-12 22:12] pixelzoom commented on #38
https://github.com/phetsims/equality-explorer/issues/45 proposes adding support for variable terms to the universal operation control. The main motivation is to make it possible to have challenges with variables on both sides of the equations.  And that will require revising the specification for levels and challenges.  So implementation of the challenge engine is on hold pending resolution of #45

[2018-03-12 22:14] kathy-phet commented on #45
I think this could be conceptually confusing for the students. When you are working through deciding next steps, you typically want to separate ideas of working with the x terms from working with the constant term. So I would think the original suggestion would do a better job of having students focus on which of those operations they were trying to do at that time.

[2018-03-12 22:16] kathy-phet commented on #45
I was thinking that there was equal value to having this in the "Solving" screen, as it enables addressing this goal, and affirms for students that the types of actions they are doing apply equally to the variable terms as they do to the constants.

[2018-03-12 22:17] pixelzoom commented on #45
@kathy-phet What's your proposal for addressing the challenges identified in https://github.com/phetsims/equality-explorer/issues/45#issuecomment-372477647?

[2018-03-12 22:19] pixelzoom commented on #45
From https://github.com/phetsims/equality-explorer/issues/45#issuecomment-372481076

If that's the goal, then why do you need 2 sets of the same operators? Having a single instance of each operator and showing that it can be applied to both constant and variable terms seems to be exactly what you're describing.

[2018-03-12 22:21] kathy-phet commented on #45
I think this would be addressable in the descriptive text. You will need to be describing the change in the operator as is, so I think it could be a simple "add an integer term" vs "add an x term". or subtract similarly. But we can have a side conversation with Taliesin to see if she sees something complex that would make it harder than I'm thinking.

[2018-03-12 22:24] kathy-phet commented on #45
That's not really how I think about it, but I'm happy to discuss at an upcoming design meeting. I also think it could be annoying/confusing to have to push up twice to move from -10 to -9.

[2018-03-13 19:47] pixelzoom commented on #19
Solving screen is completed, with the exception of the lock feature.  Self-assigning this issue, since the lock feature is the next thing to implement.

[2018-03-13 20:32] phet-steele opened #46 "Halos should appear whenever a combination can occur"
In Equality Explorer, halos are used to:

- show that two terms will combine to zero.

In Expression Exchange (where the halos came from), they are used to:

- show that two terms will combine.....not necessarily to zero.

The Expression Exchange version makes much more sense to me, it shows a halo every time like/inverse terms overlap and can be combined. With Equality Explorer, the only case tha

[2018-03-13 20:39] pixelzoom commented on #46
@phet-steele you'll have to discuss this one with @amanda-phet.  I implemented what was requested. Adding halos whenever 2 like terms overlap (regardless of their sum) will take 1-3 hours.

[2018-03-13 23:09] pixelzoom commented on #19
Related to https://github.com/phetsims/equality-explorer/issues/19#issuecomment-347629182, the proposal to make simplifications for multi-touch scenarios:

One such simplification related to this feature was proposed at a recent design meeting. I can't recall for sure who raised it, but my handwritten notes suggest @ariel-phet.  The suggestion was to ignore changes to the lock control once a drag

[2018-03-13 23:59] pixelzoom commented on #19
Summary of some multi-touch scenarios that I discussed with @amanda-phet on slack. We hadn't considered these previously.

For terms taken off the scale:

(a) Start with 'x' on left, 'x' on right, lock off.  Take 'x' off left, turn lock on.  A new 'x' ghost is created, not taken from the right.

(b) Start with 'x' on left, 'x' on right, lock on.  Take 'x' off left, which also removes 'x' ghost fro

[2018-03-14 00:03] pixelzoom commented on #19
@amanda-phet and I discussed another simplification via Slack.  Summary:

When the state of the lock is changed, delete all terms that are not on the scale.  This includes all terms that are dragging or animating.   This is easy to describe, and is arguably preferable to some of the complicated/weird multi-touch scenarios that we would otherwise need to support.

We both think this may be a winner

[2018-03-14 00:38] pixelzoom commented on #19
Re the simplification in the previous comment... Deleting all terms that are _not_ on the scale when the lock state is changed required 4 lines of new code and 15 minutes to implement and test (see previous commit).  And bonus -- it's totally independent of the dragging and animation code. That's a _huge_ implementation savings over what we had previously discussed doing.

[2018-03-15 16:12] pixelzoom commented on #46
Labeling with high priority, since this sim is supposed to be "feature complete" by March 26.

[2018-03-15 16:12] pixelzoom commented on #45
Labeling with high priority, since this sim is supposed to be "feature complete" by March 26.

[2018-03-15 16:13] pixelzoom commented on #19
Labeling with high priority, since this sim is supposed to be "feature complete" by March 26.

[2018-03-15 19:32] pixelzoom opened #47 "halo for '0' and '0x'"
@ariel-phet asked me to create an issue for this.

Should '0' and '0x' always have a yellow halo when terms sum to zero?  It seems more consistent than the current behavior, and draws attention to the '0' and '0x'.

I had previously asked @amanda-phet about this, and she liked the current behavior, where the halo is present only if the terms overlapped at the end of a drag.

[2018-03-15 19:38] pixelzoom commented on #47
3/15/18 design meeting:
Halo is a cue that dragged term overlaps a like term, not designed to highlight the '0' or '0x'.  So leave "as is".

[2018-03-15 19:38] #47 closed

[2018-03-15 19:39] pixelzoom commented on #45
3/15/18 design meeting:
Add halo whenever like terms will combine, not just for when they will sum to zero.

[2018-03-15 19:40] pixelzoom commented on #46
3/15/18 design meeting:
Add halo whenever like terms will combine, not just for when they will sum to zero.

[2018-03-15 19:51] phet-steele opened #48 "Hitting max (and min?) integer limit"
On the Solving screen, the user can continuously multiply and increase the size of the number on the scale. Once hitting the memory limit, the sim just freezes (without `?ea`). This can be reached with multiplication and division, both positive and negative:

<img width="1123" alt="screen shot 2018-03-15 at 1 46 59 pm" src="https://user-images.githubusercontent.com/5863899/37487523-6444b524-2857-1

[2018-03-15 20:11] pixelzoom commented on #45
3/15/18 design meeting consensus:
• reimplement universal operation to use terms for operand, so I don't run into issues when implementing lock feature
•  try this proposal for UX first: https://github.com/phetsims/equality-explorer/issues/45#issuecomment-372477647

[2018-03-15 20:13] pixelzoom commented on #48
We'll need to decide what happens when we reach the limits of numeric representation.

We also need to stop before exponential notation is used.

[2018-03-15 20:31] amanda-phet commented on #48
So this seems like the scenario I was describing before. If you try to divide by 10 to "undo" all of your previous operations, you can't get back to 1 because of the rounding.

Anyway, I think we should have a max number that an integer/numerator/denominator can reach. At that time, we could either

(1) disable the "apply" button if an operation would make the maxed out number any larger, and/or
(

[2018-03-15 20:54] pixelzoom commented on #48
Which option(s) would you like me to proceed with?

[2018-03-15 23:14] pixelzoom commented on #46
Implemented in [1.0.0-dev.70](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.70/phet/equality-explorer_en_phet.html).

@amanda-phet @phet-steele please verify.

[2018-03-15 23:20] pixelzoom commented on #48
@amanda-phet Shall we pick a "reasonable" maximum value for the numerator and denominator, say 1,000,000?  That would ensure that the terms on the scale don't get insanely small - see screenshot below. Or is there pedagogical value to having larger values?

![screenshot_514](https://user-images.githubusercontent.com/3046552/37495883-2562163a-2875-11e8-9e16-af5358d1796c.png)

[2018-03-15 23:28] pixelzoom commented on #48
If there are more than 21 digits before the decimal point, JavaScript switches to displaying numbers in exponential format.   See http://2ality.com/2012/03/displaying-numbers.html

[2018-03-16 02:14] amanda-phet commented on #46
Verified. Looks good to me!

[2018-03-16 02:17] pixelzoom commented on #46
@phet-steele feel free to have a look, then close if all is well.

[2018-03-16 02:49] pixelzoom commented on #45
@amanda-phet Please see [1.0.0-dev.71](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.71/phet/equality-explorer_en_phet.html). This is a very quick-&-dirty implementation of variable term operands.  (The code is now littered with "TODO" items for things that I need to address.)

This version does not skip over operations that are invalid -- i.e., divide by 0, multiply a

[2018-03-16 03:05] pixelzoom commented on #45
@amanda-phet Please use [1.0.0-dev.72](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.72/phet/equality-explorer_en_phet.html). The previous dev version wasn't ignoring all of the invalid operations, and could crash in some situations.

[2018-03-16 04:55] phet-steele commented on #46
I like it. Thanks @amanda-phet and @pixelzoom.

[2018-03-16 05:09] phet-steele commented on #46
oooooooooh but if I'm to be pedantic, then this function's error (in `Term.js`) should say "isInverseTerm", @pixelzoom.

[code]

[2018-03-16 15:20] pixelzoom commented on #46
Good catch. This change required a new function, `isLikeTerm`.  I renamed `isInverseOf` to `isInverseTerm` for symmetry, but neglected to change the Error message.  Fixed in the above commit. Closing.

[2018-03-16 15:20] #46 closed

[2018-03-16 16:50] pixelzoom commented on #48
In a Slack conversation with @phet-steele, he pointed out that this issue is not specific to the universal operation.  The limit can also be exceeded by dragging terms from the toolboxes to the scale.  And that is not addressed by the options proposed in https://github.com/phetsims/equality-explorer/issues/48#issuecomment-373513075.

[2018-03-16 16:51] pixelzoom commented on #48
In a Slack conversation with @phet-steele, he pointed out that this issue is not specific to the universal operation.  The limit can also be exceeded by dragging terms from the toolboxes to the scale.  And that is not addressed by the options proposed in https://github.com/phetsims/equality-explorer/issues/48#issuecomment-373513075.

[2018-03-16 16:52] pixelzoom commented on #48
Raising priority to high since I'm currently revising the universal operation, and this is related.

[2018-03-17 03:25] amanda-phet commented on #48
We decided long ago that there wasn't harm in going into the realm of unreadable, because there's no mathematical reason why you couldn't keep applying operations. So, I don't think we need to stop that soon (you could get there in just 6 clicks of x10).

This makes the solution a bit more difficult. @phet-steele any ideas? This makes me think we should go with option (2) where the balance maxes o

[2018-03-17 17:56] pixelzoom commented on #48
Re the proposal in https://github.com/phetsims/equality-explorer/issues/48#issuecomment-373553462, @amanda-phet said:

The proposal was to pick a min/max.  The value I threw out (1,000,000) was less important.

We are limited to at most 1E20 (20 clicks of x10, see https://github.com/phetsims/equality-explorer/issues/48#issuecomment-373554866), so it is highly likely that this limit will be encount

[2018-03-17 18:01] pixelzoom commented on #48
For the scenario where dragging something to scale would cause the limit to be exceeded, how about displaying the dialog, then deleting all terms that are currently animating or being dragged? (similar to changing the lock control)

[2018-03-17 18:02] pixelzoom commented on #48
For the scenario where dragging something to scale would cause the limit to be exceeded, how about: as the term is being put on the scale (either by dragging or animating), display the dialog, then delete all terms that are currently animating or being dragged. (similar to changing the lock control)

[2018-03-17 18:03] pixelzoom commented on #48
Raising priority to "top", since this has gotten complicated.

[2018-03-17 18:03] pixelzoom commented on #48
Raising priority to "top", since this has gotten complicated.  We absolutely must have a proposed solution for this by early this coming week.

[2018-03-19 21:08] pixelzoom opened #49 "can't "undo" operations because of precision errors"
In https://github.com/phetsims/equality-explorer/issues/48#issuecomment-373513075, @amanda-phet said:

Please provide a specific reproducible scenario that demonstrates the problem.

[2018-03-20 19:05] amanda-phet commented on #48
Playing with the sim a bunch and noticed rounding after 1•10^16 (e.g., when I divided 100000000000000000 ÷ 9 I should see 100000000000000000/9 but instead saw 111111111111111112). So, I propose that we make 1•10^16 the largest integer (either in the numerator or denominator). The values in the equation are legible enough to me at this point, and the user won't reach it really soon if they are play

[2018-03-20 19:29] amanda-phet commented on #14
@DianaTavares is working on these. Diana, please upload a screenshot of your design here and @pixelzoom will implement in code.

[2018-03-20 20:13] amanda-phet commented on #49
If you multiply by 10 (37 times), then divide by 10 (22 times), you will see weird behavior, like this fraction:
![screen shot 2018-03-20 at 2 02 13 pm](https://user-images.githubusercontent.com/7852916/37680071-6c05bab6-2c48-11e8-8cdd-cb49d11c4395.png)

If you continue (I don't remember how many times I did it in this video), you can get back to 1, but the journey isn't pretty, and mathematically

[2018-03-20 20:46] amanda-phet commented on #45
The order of the operands works for me. However the starting value should still be 1 (currently -10). I'm not sure I like the picker wrapping around. It's not that hard to get from one end to the other by just clicking and holding, and it is a little confusing for me when dealing with numerals, because I expect negatives to be at the "bottom" and positives to be at the "top" of the picker.

[2018-03-20 20:54] DianaTavares commented on #14
Here are the icons:
![screen shot 2018-03-20 at 2 53 29 pm](https://user-images.githubusercontent.com/26031501/37682222-87f1cfc0-2c4e-11e8-85d3-9ecad00b3106.png)

[2018-03-20 20:57] kathy-phet commented on #45
I agree, not wrapping around on the value pickers. And I agree with starting value of 1.

I think it is great to be able to do this action of adding/subtracting x values too.

[2018-03-20 21:05] pixelzoom commented on #45
Change requests implemented. In [1.0.0-dev.73](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.73/phet/equality-explorer_en_phet.html), the operand picker defaults to 1 and does not wrap around.

[2018-03-20 21:08] pixelzoom commented on #14
@amanda-phet The navbar icon for Games doesn't match anything that will appear in the sim.  There would be no "+1", it would simply be "1".    OK to remove the "+"?  And consider using a more exciting number than "1" :)

[2018-03-20 21:48] pixelzoom commented on #49
The limit you've proposed in https://github.com/phetsims/equality-explorer/issues/48#issuecomment-374719522 is 1E16.  If you haven't been able to reproduce the problem with numbers below that limit (and don't want to continue trying), then feel free to close.  We can reopen if it's reproducible in the future.

[2018-03-20 23:19] pixelzoom commented on #14
Another nit... The solving screen icon shows "3x + 2 = 1x".   We never show "1x", we show "x".  And there's no value of x where this would be an equality.   So I'm going to change to "3x + 2 > x".

[2018-03-20 23:25] DianaTavares commented on #14
I am agree with delete te 1 in 1x, but in the other one  @amanda-phet told me that could be a good idea to use a - value for X (-1 in this case). One thing that I think is important in this icon is the = because the idea of solving is always with an equality.  Then we can use other expression with x=2 for example: 3x - 4 = x

[2018-03-20 23:27] pixelzoom commented on #43
Raising priority. It's not zero cost to change these names. Every day that goes by is more code that I'll need to change -- I created another couple of dozen instances of these names in the code today.

[2018-03-20 23:30] pixelzoom commented on #14
OK, I'll change to `3x - 4 = x`.

[2018-03-20 23:31] pixelzoom commented on #14
@amanda-phet Make A Ten license file indicates that you are the creator of the PhET Girl juggling stars that appears in Make A Ten.  Is that correct?

[2018-03-20 23:33] pixelzoom commented on #14
Sorry @DianaTavares, my bad. `3x + 2 = x` is true for `x = -1`. I'll change it back to that.

[2018-03-20 23:54] pixelzoom commented on #14
Re PhET girl... Slack discussion with @amanda-phet:

Chris Malley [5:29 PM]
Make A Ten license file indicates that you are the creator of the PhET Girl juggling stars that appears in Make A Ten.  Is that correct?

Amanda McGarry [5:44 PM]
Mariah Hermsmeyer made the original PhET girl juggling blocks I just replaced it with stars.

Chris Malley [5:45 PM]
Mariah Hermsmeyer appears nowhere in the Mak

[2018-03-20 23:59] pixelzoom commented on #14
[1.0.0-dev.74](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.74/phet/equality-explorer_en_phet.html) has the screen icons as specified.

To my eye, the navigation bar icons for the first 4 screens are too complex.

[2018-03-21 00:03] pixelzoom commented on #14
Suggestions:

Basics: Simplify to "2 apples > 1 orange".

Variables: remove the vertical space between terms, so it looks more like stacks.

Solving: Simplify the equation to something like "3x = 6".   I really don't think anyone is going to analyze the icons to the extent that we need to have a negative value for x here, or even x on both sides of the equation.

[2018-03-21 00:13] DianaTavares commented on #14
I like the suggestions :D

[2018-03-21 00:14] pixelzoom commented on #14
The above suggestions (https://github.com/phetsims/equality-explorer/issues/14#issuecomment-374798446) are demonstrated in [1.0.0-dev.75](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.75/phet/equality-explorer_en_phet.html).

[2018-03-21 00:21] pixelzoom commented on #48
I'm still trying to understand... What is the motivation for numbers as large 1E16 ?  Regardless of whether a number that large is legible in the equation, I find it hard to believe that anyone can (or will) count digits beyond perhaps 10.  Is a maximum this large solely motivated by the hope that users won't encounter the limit?

[2018-03-21 00:23] pixelzoom commented on #45
Slack with @amanda-phet:

Chris Malley [6:17 PM]
Re https://github.com/phetsims/equality-explorer/issues/45 …. Should I continue making this UX robust? (avoiding divide-by-zero, hiding variable terms when operator is times or divide, etc.)

Support for variable terms is now complete in the model.  But there’s significant work to be done on pickers in order to support this.

Amanda McGarry [6:22 PM

[2018-03-21 00:26] pixelzoom commented on #38
It sounds like we're proceeding with support for variable terms in the universal operation.  So we'll be able to have challenges with variables on both sides of the equation.  Assigning to @amanda-phet to revise the specification for generating challenges.

[2018-03-21 17:11] amanda-phet commented on #43
Let's rename "Solving" to "Operations." It seems to fit the flow better from previous screens.

[2018-03-21 17:13] pixelzoom commented on #14
Note to self: We may need larger versions of the apple and orange images for the Basics screen icons. They are currently being scale _up_ on the home screen, and therefore look a little fuzzy.

[2018-03-21 17:16] amanda-phet commented on #14
These are looking good! I like the simplifications you suggested, Chris. Just a couple requests.

(1) Can you increase the padding around the icon for "Solving" screen? The 2x term looks a little too close to the edge to me.

(2) I meant to respond to this question:

The +1 indicates an additional star that is added to your collection, not a total score. Can we change this back to +1?

[2018-03-21 17:18] amanda-phet commented on #2
Let's be sure to add Diana to the design team credits.

[2018-03-21 18:02] amanda-phet commented on #48
Yes, I'd like the limit to be difficult to encounter. But I'm not too invested in any particular limit, so I'd be fine with something smaller. How about 1E9?

[2018-03-21 18:43] amanda-phet commented on #38
Level 4 challenge generation specification is complete.

[2018-03-21 18:45] pixelzoom commented on #2
Slack conversation:

Diana would like to be credited as "Diana Berenice López Tavares".

[2018-03-21 19:02] pixelzoom commented on #14
@amanda-phet Your change requests are implemented in [1.0.0-dev.76](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.76/phet/equality-explorer_en_phet.html).

[2018-03-21 19:39] amanda-phet commented on #14
All looks good to me!

[2018-03-21 21:14] pixelzoom commented on #14
Reopening. I still need to create larger versions of the apple and orange PNG files, per https://github.com/phetsims/equality-explorer/issues/14#issuecomment-375023004.

[2018-03-21 21:22] amanda-phet commented on #14
Whoops, sorry about that.

[2018-03-21 21:26] pixelzoom commented on #14
Not a problem :)

[2018-03-21 21:50] pixelzoom commented on #14
Larger versions of the apple and orange are integrated. Closing.

[2018-03-21 21:53] pixelzoom commented on #43
Before I do the work required to rename things in code, folders, etc....  Here's a dev version with the new "Operations" name, [1.0.0-dev.77](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.77/phet/equality-explorer_en_phet.html).  @amanda-phet are you happy with this in context?  Seems nice to me.

[2018-03-21 21:54] pixelzoom commented on #43
Hmmm... Now that this screen is named "Operations", is the icon (which was designed to communicate "Solving") still appropriate?

[2018-03-21 22:03] pixelzoom commented on #34
Decision was to include "Solve It!" screen in 1.0.0 release.

[2018-03-21 22:06] pixelzoom commented on #14
Reopening.

The "Solving" screen has been renamed "Operations", see https://github.com/phetsims/equality-explorer/issues/43#issuecomment-375022168.   Do we need to revisit the screen icon? It was designed to communicate "solving".  Do we need something that communicates "operation"?

[2018-03-22 19:12] amanda-phet commented on #43
I am happy with it. Thanks for making the change!

[2018-03-22 19:15] amanda-phet commented on #14
I thought about that and wondered if we should maybe do "3x + 4 = 7" and show "–4" drop. But I like how similar the icons are to the other screens (in size and style) that I think we can keep it. I would consider changing it if we notice in interview that students don't find the universal operator or don't understand the universal operator. So, I'll leave this open and add the interviews label.

[2018-03-22 19:20] pixelzoom commented on #43
Reopening.  I haven't changed anything other than the string yet.

[2018-03-22 19:58] pixelzoom opened #50 "translation of "x = ?" check box label"
In screens that have variable terms, the Snapshots accordion box has a check box with label "_x_ = ?".

E.g. in the Variables screen:

![screenshot_516](https://user-images.githubusercontent.com/3046552/37794708-e9590b2c-2dd7-11e8-9f4d-075a46718c07.png)

Normally I'd just put `"x {{equals}} ?"` in the translated strings file, let the translator handle the whole label, and fill in the "=" symbol pr

[2018-03-22 20:17] pixelzoom commented on #48
The current proposal for the universal operation is to check whether the maximum would be exceeded when the "go" button is pressed.  That proposal has 2 problems: (1) It requires computing what the result _would be_ before applying the operation, which means additional/redundant computations. (2) It doesn't fully protect us from exceeding the maximum. Because there's an animation involved, the con

[2018-03-22 20:22] pixelzoom commented on #48
@amanda-phet Please mock up the dialog.  For the dialog message, keep in mind that there are 3 distinct scenarios: constant would exceed max; fraction numerator would exceed max; fraction denominator would exceed max.  Ideally a single message (and therefore single translated string) that covers all cases, or one message for each of the 3 scenarios.

[2018-03-22 20:24] pixelzoom commented on #43
Code changes completed. Closing.

[2018-03-22 20:25] pixelzoom commented on #44
No chance that I'll be pursuing this approach.  Branch deleted. Closing.

[2018-03-23 15:30] amanda-phet commented on #48
Yes that solution makes sense to me. If something like "+2" is being animated to the scale, the animation would complete but wouldn't actually be applied- is that correct? I imagine the dialog would also display quickly enough that we probably wouldn't notice that nothing changed as a result of adding 2.

[2018-03-23 16:30] amanda-phet commented on #50
I don't see why they would need complete control over "x=?". However I have some questions about "x" and "?" being translatable at all.

[2018-03-23 16:53] pixelzoom commented on #48
Yes, that's correct.

[2018-03-23 17:01] pixelzoom commented on #50
In all sims to date, I have been asked to make variable symbols translatable. E.g. 'x' and 'y' are translatable in Graphing Lines and Function Builder.  I see similar precedent in Curve Fitting, Least Squares Regression and Trig Tour.  My understanding is that while math symbols (+, -, =,...) are universal, variable symbols are not.   If that is for some reason different for Equality Explorer, let

[2018-03-23 17:03] pixelzoom commented on #50
In all sims to date, I have been asked to make variable symbols translatable. E.g. 'x' and 'y' are translatable in Graphing Lines and Function Builder.  I see similar precedent in Curve Fitting, Least Squares Regression and Trig Tour.  My understanding is that while math symbols (+, -, =,...) are universal, variable symbols are not.   If that is for some reason different for Equality Explorer, let

[2018-03-23 17:50] #14 closed

[2018-03-23 18:22] pixelzoom commented on #50
In Slack chat with @amanda-phet:

Translation of "?" is required.  Punctuation is not universal.

The general issue of whether variable glyphs (e.g. 'x', 'y') should be translatable was moved to https://github.com/phetsims/rosetta/issues/183.

There is no need to provide support for ordering of the equation.  And that would be undesirable since layout is LTR throughout PhET sims, with no general a

[2018-03-23 18:22] #50 closed

[2018-03-23 18:32] pixelzoom commented on #45
[1.0.0-dev.78](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.78/phet/equality-explorer_en_phet.html) supports skipping operands that are not appropriate for the operator.  It still has problems at the min/max of the operand range, which will require some major work on pickers. (E.g. If you have '× 10' selected, you're still able to change the operand picker to get to '

[2018-03-23 20:36] amanda-phet commented on #45
I agree that the UX is a bit awkward, but I think a special +/- would probably be more awkward to find the correct one that you want at a given time. Interviews will be important for this feature.

[2018-03-23 20:57] amanda-phet commented on #48
Would the dialog appear every time the user clicks the "go" button on an invalid operation? Or would we just show the dialog the first time, and after that the operation just doesn't get applied?

I am thinking we would show the dialog every time, but that seems like it could be annoying.

[2018-03-23 21:16] pixelzoom commented on #48
Showing the dialog when the "go" button is clicked is not part of the current proposal.  The proposal is to show the dialog as a term is about to be put on the scale.  For universal operations, this is after the "go" button has been pressed and the operation has been animated towards the plates.

I believe we need to show the dialog every time, since there are multiple scenarios (constant too big;

[2018-03-23 21:31] amanda-phet commented on #48
This is the latest draft:
![screen shot 2018-03-23 at 3 26 53 pm](https://user-images.githubusercontent.com/7852916/37854094-17582f08-2eaf-11e8-9dab-13438cef22a7.png)

The wording is definitely tricky because I want to only have one dialog for all three scenarios that would prompt it:

[2018-03-23 21:38] pixelzoom commented on #48
Re the "latest draft" above...

"That value is too large" is not appropriate because the operation that would result in "that value" is not going to be applied, and "that value" is therefore not displayed.   The message that needs to be communicated (in some user-friendly language) is: Your attempt to put something on the scale has been canceled, because it would cause constant/numerator/denominat

[2018-03-23 21:46] pixelzoom commented on #48
Slack discussion with @amanda-phet.

We're on the same page wrt https://github.com/phetsims/equality-explorer/issues/48#issuecomment-375800593.

To prevent users from pressing the "go" button in a rapid-fire manner (which serves no pedagogical purpose), I suggested that we disable the "go" button while the operation is animating.  This will make it less likely for that the limit will be encountere

[2018-03-24 00:12] pixelzoom commented on #48
In [1.0.0-dev.79](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.79/phet/equality-explorer_en_phet.html), the 'go' button is now disabled until the animation completes. Query parameter `?goButtonEnabled` keeps the 'go' button enabled at all times, allow you to press it "rapid fire" style, for the purposes of testing limits.

[2018-03-24 00:14] pixelzoom commented on #48
I did a quick evaluation of what it's going to take to implement the proposal in https://github.com/phetsims/equality-explorer/issues/48#issuecomment-375443211. It's going to be a big project, probably requiring yet-another round of expensive architectural changes.

Detailed notes to self:
There is currently nothing that keeps a running total of what's on the scale, so nothing to consult about wha

[2018-03-24 19:22] ariel-phet commented on #45
I generally agree this is the best suggestion we have thus far. I am guessing it will be a bit of cognitive work to get used to the interface the first time, but I do think it is a logical interaction.

 When starting with a certain value and switching to a disallowed operation (such as having "0" and then changing to "divide" and seeing the value switch to "1"), the interaction is a bit surprisin

[2018-03-24 19:57] pixelzoom commented on #45
@ariel-phet said:

The 'go' button was originally the standard PhET yellow. See for example [1.0.0-dev.60](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.60/phet/equality-explorer_en_phet.html?initialScreen=4). On 2/1/18, @amanda-phet requested that it be changed to white.

[2018-03-24 19:58] pixelzoom commented on #45
@ariel-phet said:

The 'go' button was originally the standard PhET yellow. See for example [1.0.0-dev.60](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.60/phet/equality-explorer_en_phet.html?initialScreen=4), screenshot below. On 2/1/18, @amanda-phet requested that it be changed to white.

![screenshot_517](https://user-images.githubusercontent.com/3046552/37868402-4f

[2018-03-25 03:46] pixelzoom commented on #45
[1.0.0-dev.80](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.80/phet/equality-explorer_en_phet.html) fixes the remaining issues with the pickers.

There are 2 outstanding issues, @amanda-phet please advise:

(1) Prominences of the "go" button, see https://github.com/phetsims/equality-explorer/issues/45#issuecomment-375920597.

(2) Order of the operands.

The current or

[2018-03-25 03:52] pixelzoom commented on #43
Reopening.  It looks like no changes have been made to the design document.  At the very least, the "Solving" screen section should be renamed to "Operations", and a reference to this issue should be added to the document.  Assigning to @amanda-phet.

[2018-03-25 16:20] pixelzoom commented on #48
More notes to self:
Consider having a "term accumulator" associated with each positive/negative term creator pair, which keeps a running total of the constant value (for constant terms) or coefficient (for variable terms).  Consult the term accumulator to decide if an operation would exceed the limits.  This could also simplify EquationNode, since it could use term accumulators instead of term cre

[2018-03-26 18:48] pixelzoom commented on #48
I'm going to proceed with this using a placeholder dialog, and assume that there will be one dialog, with one message. @amanda-phet if that's not a good assumption, please tell me asap.

[2018-03-26 21:12] amanda-phet commented on #43
I updated the name of this section of the design doc (and as many instances as I could find), and linked to this issue.

[2018-03-26 21:12] #43 closed

[2018-03-26 21:51] amanda-phet commented on #45
(1) I did design the button to be white because I prefer the appearance, but I'm fine with changing it to yellow or some other prominent color. We could also wait for an interview, but again I'm fine with changing it. @pixelzoom go ahead and make it yellow (to match the erase button yellow).

(2) Thank you for clarifying. I didn't realize the order didn't match the original specification, and was

[2018-03-26 22:12] pixelzoom commented on #45
[1.0.0-dev.81](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.81/phet/equality-explorer_en_phet.html) has a yellow 'go' button and orders the operands as in https://github.com/phetsims/equality-explorer/issues/45#issuecomment-376324038.

@amanda-phet Any other changes, or can we close this issue?

[2018-03-27 17:56] pixelzoom opened #51 "design level-selection icons for game"
As the result of https://github.com/phetsims/equality-explorer/issues/45, we now have 4 levels in the game.  Applying the same design used for 3 levels, the mockup currently looks like this:

![screenshot_523](https://user-images.githubusercontent.com/3046552/37985359-c3c1f388-31b5-11e8-9ca4-b36ed82c4060.png)

Slack discussion about changing the design direction for these buttons:

Amanda McGarry

[2018-03-27 17:58] pixelzoom opened #52 "add an "Info" button to level-selection screen for game?"
This is related to #51, where we are moving away from having "representative equations" on the level-selection buttons.

Should we include an "Info" button on the game's level-selection screen, ala Make A Ten?   The purpose would be to describe the levels.

Related Slack discussion:

Amanda McGarry [11:30 AM]
We could include an “info” button like we do in Make a Ten (although I’d liek to use an i

[2018-03-27 18:35] amanda-phet commented on #51
Here's an idea: we can label the levels with a variable term (although we don't typically show  the coefficient of 1, I would here).

<img width="681" alt="image" src="https://user-images.githubusercontent.com/7852916/37987393-5111eb8a-31bb-11e8-9a48-e6a9083fcb12.png">

[2018-03-27 18:36] amanda-phet commented on #45
Yes we can close this.

[2018-03-27 18:36] #45 closed

[2018-03-27 18:42] amanda-phet commented on #52
This is what I have in mind for the level info:

<img width="681" alt="image" src="https://user-images.githubusercontent.com/7852916/37987716-2fb52f50-31bc-11e8-82cf-4b5cff198838.png">

As for the placement of the button, I don't have any particular leanings. It could go right after "Choose your level", or it could go somewhere at the bottom near other buttons.

[2018-03-27 18:52] pixelzoom commented on #52
@amanda-phet In the Info dialog, will you want to show a "representative equation" for each level, like we previously had on the level-selection buttons?  Since we have no common-code support for equations, I need to plan in advance if you want this (or might want this).

[2018-03-27 18:54] pixelzoom commented on #51
I kind of like that idea - simple, effective.

[2018-03-27 18:54] pixelzoom commented on #51
I also like the placement of the Info button, to the right of "Choose Your Level".   Good use of proximity.

[2018-03-27 18:56] pixelzoom commented on #52
As I said in https://github.com/phetsims/equality-explorer/issues/51#issuecomment-376636021:

[2018-03-27 18:57] amanda-phet commented on #52
That won't be necessary. The descriptions here are understood by teachers. Students can play the level, and click refresh, to see the types of challenges that are on each level.

[2018-03-27 23:24] pixelzoom commented on #48
I pursued the "term accumulator" idea (https://github.com/phetsims/equality-explorer/issues/48#issuecomment-375982682) today, and it turned into a big mess, which I ultimately reverted :(   Back to the drawing board...

[2018-03-28 02:46] pixelzoom commented on #48
More notes to self:  Now I'm (re)considering the merging of positive and negative term creators into a single term creator (e.g. "x term creator"), with separate TermCreatorNodes for positive and negative terms (e.g. 'x terms' and '-x terms' ).   This is something I had previously investigated and abandoned in branch 'combined-term-creators', see https://github.com/phetsims/equality-explorer/issue

[2018-03-28 18:05] pixelzoom commented on #44
I ultimately did combine positive and negative term creators into 1 term creator.  I took a different approach, and it went more smoothly.  See https://github.com/phetsims/equality-explorer/commit/8c2165e4cdfe82b999b5669cd9dcfb68cc1e3fac.

[2018-03-28 19:04] pixelzoom commented on #48
In the preceding commit, I made the major architectural change of combining positive and negative pairs of term creators.  So now there's one "term creator" per term type, and each term creator can be consulted about the total constant or coefficient values for terms on a plate.

Bonus: this also simplified EquationNode, see https://github.com/phetsims/equality-explorer/commit/7e8b1271e720d2ba62a9

[2018-03-28 19:50] pixelzoom commented on #48
But this change totally broke the "organize" feature. Ugh.

[2018-03-28 21:14] pixelzoom commented on #48
Organize feature is fixed.  Now I'll see what it takes to restore the query parameters that populate the scale.

[2018-03-29 00:58] pixelzoom commented on #8
Reopening.

@amanda-phet @phet-steele FYI, this test/debug feature was lost as part of rearchitecting for #48.  It was going to be a significant amount of work to rewrite, so (for now? forever?) I simply removed the feature. I found it very useful in the beginning of development, but I haven't used it for awhile.    If anyone misses it, please complain here.  That will help me evaluate whether it'

[2018-03-29 03:00] pixelzoom commented on #8
For posterity, this is the bit of code that used to live in `TermCreator.initialize`.   I factored it out into its own method here.

[code]

[2018-03-29 17:14] amanda-phet commented on #8
I haven't used this query parameter in a while, either. @phet-steele might like it for testing later on, but I don't think we should spend a lot of time right now making this available.

[2018-03-29 20:06] pixelzoom commented on #51
Discussed at 3/29/18 design meeting. Everyone like the icons shown in https://github.com/phetsims/equality-explorer/issues/51#issuecomment-376629920.

[2018-03-29 20:09] pixelzoom commented on #52
3/29/18 design meeting:

Everyone liked having the Info button.

Noted that the same (similar?) descriptions of each level appear in the Status Bar.  @amanda-phet If possible, let's try to make the text the same, to reduce translation requirements.

[2018-03-29 20:13] pixelzoom commented on #48
3/29/18 design meeting:

Consensus is to have 1 dialog message that covers all situations.

Message brainstorming yielded:
"Oops! That will make a number that is too big for the sim. Try a different operation."

Dialog should have a close button, for a11y.

[2018-03-29 20:31] amanda-phet commented on #52
Update to the level descriptions: These are the strings I would like to use in both this dialog and the status bar for games.

![image](https://user-images.githubusercontent.com/7852916/38111820-568bd49c-335d-11e8-84a4-7a9110d723a6.png)

I also like this appearance where the level text is left aligned, and the level descriptions are left-aligned. No colon needed.

[2018-03-29 20:35] amanda-phet commented on #48
![image](https://user-images.githubusercontent.com/7852916/38112202-6b82d94e-335e-11e8-8117-ea35cd5e32d1.png)

[2018-03-29 23:12] pixelzoom commented on #52
@amanda-phet From the above comment, it sounds like you're assuming that (e.g.) "Level 1" and  "One-step equations" are separate text.  I can certainly do that.   But it's not going to be very friendly for RTL languages.   What I suggest we do is make "Level 1 One-step equations" one piece of text, with markup to make the "Level 1" bold.  That will result in the same alignment that you specified,

[2018-03-30 00:19] pixelzoom commented on #48
@amanda-phet please send me the artwork (.ai file) and credits for the PhET girl shown in the above dialog mockup.

[2018-03-30 03:20] pixelzoom commented on #48
Stuff that was added in the above commit:

• query parameter `largestInteger`, default `1E9`. Use `?largestInteger=100` for testing.
• `TermCreator.isNumberLimitExceeded` for detecting if a term would exceed the limit
• `TermCreator.numberLimitExceededEmitter` for notifying listeners when the limit is exceeded
• `Scene.disposeTermsNoOnScale` that is called when the limit is exceeded
• `OperationCa

[2018-03-30 03:24] pixelzoom commented on #48
Notes to self about detecting the limit for universal operations...  Detection has to be done at the Scene level, since if _any_ term would exceed the limit as the result of the operation, then no changes should be made to what's on the scale.   The easiest thing to do might be to (internally) use the snapshot feature to capture what's on the scale.  Then start trying to apply the operation to one

[2018-03-30 03:28] pixelzoom commented on #48
More notes to self...  Detecting that the limit is exceeded currently results in deleting of all terms that are not on the scale.  But it should also stop any universal operation animations that are in progress.

[2018-03-31 02:11] pixelzoom commented on #48
Reopening. Accidentally closed by commit message.

To implement this for universal operations, I implemented the ideas  in https://github.com/phetsims/equality-explorer/issues/48#issuecomment-377435219.  That is, if applying the operation resulted in any term exceeding the limit, I restored a snapshot that was taken before the operation was applied.

[2018-03-31 02:13] pixelzoom commented on #48
This feature is completed.  I emailed a dev version to the team, and @kathy-phet reported a bug.  That bug was fixed in [1.0.0-dev.85](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.85/phet/equality-explorer_en_phet.html).

From that email:

(1) the action is canceled
(2) universal operation animations that are in progress are canceled
(3) any terms that are not on the

[2018-03-31 02:20] pixelzoom commented on #48
@amanda-phet Let me know your thoughts on [1.0.0-dev.85](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.85/phet/equality-explorer_en_phet.html), and whether you'd like any changes.

@phet-steele Since you reported this, I'd also like your feedback on our solution in [1.0.0-dev.85](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.85/phet/equalit

[2018-04-02 16:42] pixelzoom opened #53 "informal dev test"
Equality Explorer has undergone massive changes over the past several weeks, all for the better.  It would good to have @phet-steele spend an hour or two testing.  No need for a test matrix, or coverage on all platforms - one desktop and a little bit of iPad would be great.  FYI, I've tested it mostly on macOS+Chrome and iPad.

Latest dev version:
https://www.colorado.edu/physics/phet/dev/html/equ

[2018-04-02 18:19] phet-steele opened #54 "Error when overlapping two non-constant non-variable items"
On the basics screen, attempt to "combine" two like objects (release one while overlapping another). The below error is thrown.

Note I only get this error when overlapping non-constant non-variable items: apples, animals, shapes, etc.

Combining constant and variable terms is functioning correctly on all screens.

[code]

Seen on macOS 10.13.3 Chrome. For #53.

<details>
<summary>Troubleshooting

[2018-04-02 18:47] phet-steele opened #55 "Restoring a snapshot can place items incorrectly if they were stacked in reverse order"
@pixelzoom pay special attention to the stacking order in this issue.

If you stack objects in the reverse order that they appear in the toolbox, you get bugginess while restoring a snapshot. Stacking in forward order is fine.

Minimal reproduction case:

1. Enter Basics Screen, first scene.
2. Looking at the tool box from right to left, the constant term is first, then the cube, then the sphere.

[2018-04-02 19:18] phet-steele opened #56 "Universal operation animation overlaps with terms"
When the scale is bottomed out, the animation for a universal operation just barely overlaps with the objects on the scale (look at the plus sign on the floating "+ 10x"):

<img width="640" alt="screen shot 2018-04-02 at 1 13 06 pm" src="https://user-images.githubusercontent.com/5863899/38211542-0eebaa9a-3678-11e8-959f-721be9e7aad0.png">

This is only for multiply, add, and divide. The subtraction

[2018-04-02 20:56] phet-steele opened #57 "iOS: equation does not scale to fit in accordion box"
Text doesn't scale down properly with long strings (in the equality panel):

![img_0153](https://user-images.githubusercontent.com/5863899/38215678-d796d7fa-3685-11e8-8f89-f2727332c62a.PNG)

The same strings look fine on my macOS 10.13.3 Chrome.

Seen on iPad Air 2 iOS 11.2.5. For #53.

[2018-04-02 21:17] phet-steele opened #58 "Oops! dialog dismisses on pointerDown"
The Oops! dialog is inconsistent (see title of issue). Other dialogs and the barrier rectangle dismiss on pointerUp.

This causes weird behaviour on touch devices. Since `touchToSnag` is enabled, you can grab terms "through" the dialog. In other words, tapping the dialog will both dismiss it and grab the term behind it in quick succession. Not necessarily a bug, but is a poor interaction that we c

[2018-04-02 21:32] phet-steele commented on #58
Maybe it's just on "fire". I can hold my finger down preemptively in the center of the screen before it appears, then cause it to appear, but never see it because it is dismissed immediately.

[2018-04-02 21:37] pixelzoom commented on #58
It currently dismisses on 'down', and should dismiss on 'fire'.

[2018-04-02 21:49] pixelzoom commented on #58
This is fixed in the above commits, where I also renamed `OperationCanceledDialog` to `OopsDialog` :)

@phet-steele please verify in master. Thanks!

[2018-04-02 21:57] phet-steele opened #59 "Halo remains when a term is removed via the number limit"
This is a LOT easier with mutlitouch, but it is not needed. You can use `?speed` if your mouse skills are sub-par.

1. Setup the scale such that dragging a single term onto the scale would put the sim over the number limit and show the Oops! dialog.
2. Make sure you have both a variable and constant term on the scale. Example:
<img width="461" alt="screen shot 2018-04-02 at 3 49 13 pm" src="https:

[2018-04-02 22:03] phet-steele commented on #58
Looks fixed.

[2018-04-02 22:03] #58 closed

[2018-04-02 22:29] phet-steele opened #60 "Terms are layered behind the Variable panel..."
...but they are in front of everything else!

<img width="170" alt="screen shot 2018-04-02 at 4 26 59 pm" src="https://user-images.githubusercontent.com/5863899/38219452-e47fe72e-3692-11e8-91ea-260c118d153f.png">

Seen on macOS 10.13.3 Chrome. For #53.

[2018-04-03 15:29] pixelzoom commented on #60
Good catch.  Fixed, closing.

[2018-04-03 15:29] #60 closed

[2018-04-03 15:59] pixelzoom commented on #54
On end drag, if two overlapping terms sum to zero, then they disappear.  But I forgot that mystery terms don't implement `plus`, since they don't generally combine.   So I reverted to using `isInverseOf`.

Closing.

[2018-04-03 15:59] #54 closed

[2018-04-03 16:20] pixelzoom commented on #56
I moved the end location of the animation up 10 pixels:

![screenshot_533](https://user-images.githubusercontent.com/3046552/38261823-9e675df8-3728-11e8-856f-c1da468e86de.png)

@amanda-phet please verify that this is OK.

[2018-04-03 16:50] pixelzoom commented on #59
Good catch.  I believe I have addressed this in the above commit.  But it's complicated enough that I'd appreciate it if @phet-steele would verify.

[2018-04-03 16:55] pixelzoom commented on #57
No idea why this would behave differently on iOS.

Scaling of the equation in the accordion box is a bit more complicated than normal, because the relational operator needs to remain centered over the scale.   Here's the relevant code, EquationAccordionBox.js line 67, where "side" refers to a "side" of the equation.

[code]

(Edited to reflect https://github.com/phetsims/equality-explorer/commit/7

[2018-04-03 16:59] pixelzoom commented on #57
I also see from the screenshot in https://github.com/phetsims/equality-explorer/issues/57#issue-310608713 that the relational operator is not remaining centered.

@phet-steele I don't have an iPad handy.  Does the equation scale at all on iOS?  Or does it just keep getting wider as the numbers get bigger?

[2018-04-03 17:01] pixelzoom commented on #57
I'm going to remove the "type:i18n" label, since this is not specific to i18n.  Regardless of what makes the equation big, it should be scale to fix inside the accordion box, and its relational operator should remain centered.

[2018-04-03 17:05] pixelzoom commented on #55
When run with `?ea`, this will result in an assertion failure when 2 terms are put in the same cell on a plate, for example:

    at window.assertions.assertFunction (assert.js:22)
    at Grid.putTerm (Grid.js?bust=1522774135588:218)
    at Plate.addTerm (Plate.js?bust=1522774135588:112)
    at ConstantTermCreator.putTermOnPlate (TermCreator.js?bust=1522774135588:314)
    at ConstantTermCreator.re

[2018-04-03 17:13] pixelzoom commented on #55
Good find @phet-steele.  This bug has apparently been around for awhile.  It was not present in 1.0.0-dev.64 (3/2/18) and first appeared in 1.0.0-dev.65 (3/5/18).   That narrows it down to this commit: https://github.com/phetsims/equality-explorer/commit/de349b847aefbfcbc60c858dfe5ded14fb189722 ("generalize Grid.compactColumn...")

The column is undoubtedly being compacted before all terms have be

[2018-04-03 17:33] amanda-phet commented on #48
I agree with @kathy-phet  that the button should not be disabled. 0 ÷ 4 is 0, so it makes perfect sense to me. I like that the button is disabled until the operation is complete. It forces me to think about what I’m doing, rather than mindlessly clicking enter, and the timing of the dialog makes the most sense this way. I don’t have anything else to add!

[2018-04-03 17:46] pixelzoom commented on #48
Looks like we're done here. Closing.

[2018-04-03 17:46] pixelzoom commented on #48
Oops. Reopening for @phet-steele feedback, since he created this issue.

[2018-04-03 18:16] phet-steele commented on #53
Done.

[2018-04-03 18:33] phet-steele commented on #57
@pixelzoom it does scale. What you are seeing is the extent of the horizontal scaling. Here is a gif of it happening:

![eqex04](https://user-images.githubusercontent.com/5863899/38268339-1362cb80-373b-11e8-8c39-9ed84a5a3c32.gif)

[2018-04-03 18:52] pixelzoom commented on #53
Reopening until I've addressed all the issues.  Reassigning to me.

[2018-04-03 18:53] pixelzoom commented on #55
This has been addressed. @phet-steele please verify.

[2018-04-03 19:07] pixelzoom commented on #57
@jjohnson5253 Any idea why the code in https://github.com/phetsims/equality-explorer/issues/57#issuecomment-378320706 would behave differently on iOS?

[2018-04-03 19:16] pixelzoom commented on #57
@jonathanolson  Any idea why the code in https://github.com/phetsims/equality-explorer/issues/57#issuecomment-378320706 would behave differently on iOS?

[2018-04-03 19:47] pixelzoom commented on #51
@amanda-phet The design document needs to be updated to reflect the decision in https://github.com/phetsims/equality-explorer/issues/51#issuecomment-376629920.  I went to the design document, and got confused.