[2018-04-03 21:30] jjohnson5253 commented on #57
@pixelzoom What part of the code resizes the accordion box when the equation gets bigger? As in, where is `equationNode.on( 'bounds', function()` called to resize the box?

[2018-04-03 21:40] pixelzoom commented on #57
@jjohnson5253 You can ignore this, I meant to assigning to @jonathanolson.

But to answer your question (in case you're curious), `equationParent.setScaleMagnitude` scales the equation, because `equation` is a child of `equationParent`.  If I scaled `equation` directly, I'd get caught in an infinite loop, since that would then call the `equation.on( 'bounds',...)` callback.

[2018-04-03 21:53] pixelzoom commented on #52
Info button and associated dialog are implemented in [1.0.0-dev.87](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.87/phet/equality-explorer_en_phet.html).  Screenshot shown below. @amanda-phet please review.

FYI, it's currently impossible to put the "Levels" title at the very top of the dialog.  It's yet-another problem with Dialog common code, see https://github.com/

[2018-04-03 21:56] pixelzoom commented on #51
Level-selection buttons are implemented in [1.0.0-dev.87](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.87/phet/equality-explorer_en_phet.html).  Screenshot below. They currently don't do anything.  Note that they are using the standard common-code, which does not provide the extreme shading shown in the mockups.

@amanda-phet please verify.

![screenshot_541](https://

[2018-04-04 16:27] phet-steele commented on #59
Looks to be working.

[2018-04-04 16:27] #59 closed

[2018-04-04 16:29] phet-steele commented on #55
Working for me.

[2018-04-04 16:29] #55 closed

[2018-04-04 16:58] phet-steele opened #61 "Oops! Dialog does not have a good max height"
Had to edit the string file to properly test this. Panel extends off the screen and the PhET girl gets giant. You're looking at `?stringTest=undecuple` (not really):

<img width="1920" alt="screen shot 2018-04-04 at 10 47 00 am" src="https://user-images.githubusercontent.com/5863899/38321855-fb8cba1e-37f5-11e8-8dd6-f8bb59f52b38.png">

Seen on macOS 10.13.3 Chrome. For #53.

<details>
<summary>Trou

[2018-04-04 16:59] phet-steele commented on #48
I agree with https://github.com/phetsims/equality-explorer/issues/48#issuecomment-378332835.

That's a biased question. I was purposefully trying to reach the limit, so my answer is "VERY often".

Sure do.

1E9 is fine, but so is 1E20. I wouldn't mind either.

Yea, they were #58 and #59, both fixed by some mystical wizard. Then there is a new one, #61.

[2018-04-04 19:50] amanda-phet commented on #51
The "extreme shading" is an approximation we have made in illustrator to get close to matching sims. This screen is looking good to me. Can this be closed?

[2018-04-04 19:54] amanda-phet commented on #52
The title is fine. Once we have a more robust common code dialog, will we go back to sims with dialogs and update them with the new dialog? (just curious).

One minor change: please make level 3 say "Multi-step equations with fractions"

[2018-04-04 20:07] amanda-phet commented on #56
Thanks for finding this @phet-steele . The change looks good to me.

[2018-04-04 20:07] #56 closed

[2018-04-04 21:37] #51 closed

[2018-04-04 22:25] jonathanolson commented on #57
I'm curious if it can be reproduced on desktop Safari? There's a chance things are erroring out.

I'm not immediately sure what's going on. There's a chance that the x-set and scale-set interaction is mainly acting buggy on iOS due to sizes.

Instead of grabbing the `equationNode.x` in the computations (which may be somewhat affected by scale changes), can `equationNode.x - equationNode.left` be r

[2018-04-04 22:39] jonathanolson commented on #57
Found we're able to reproduce the bug on any platform by increasing the integerFontSize to (e.g.) 50.

[2018-04-04 22:43] jonathanolson commented on #57
So it looks like (on my side) the code snip above is working as intended.

The contentWidth (on my test) is 581. The equationParent's width does NOT go above 581. However, the entire width of the accordion box's background is 513 (smaller). So I presume the issue is with the logic deciding what the contentWidth is.

[2018-04-05 01:16] pixelzoom commented on #57
@jonathanolson said:

Please elaborate, I don't understand  what the conclusion is.

[2018-04-05 02:18] pixelzoom commented on #52
@amanda-phet asked:

Ideally yes.  But "when" is up to @ariel-phet and @kathy-phet.

Dones.

Closing.

[2018-04-05 02:18] #52 closed

[2018-04-05 02:36] pixelzoom commented on #61
Fixed in above commits. @phet-steele please verify.

[2018-04-05 02:38] pixelzoom commented on #48
Thanks @phet-steele.  Looks like any remaining (related) issues are being tracked elsewhere, so closing.

[2018-04-05 02:38] #48 closed

[2018-04-05 02:40] pixelzoom commented on #53
There's one related that's still open, and it's going to require @jonathanolson's assistance, so closing this issue.

@phet-steele Thank you for your quick and thorough testing.

[2018-04-05 02:40] #53 closed

[2018-04-05 11:18] jonathanolson commented on #57
Your contentWidth is larger than the accordion box's width (at least before it has overflowing content). Unless you want to explicitly allow the overflow, you want to have the content be smaller than the containing accordion box.

Is it actually valid for the contentWidth (the variable in the code snippet used to compute maxSideWidth ) actually meant to be larger than the accordion box? If so, I d

[2018-04-05 22:47] pixelzoom commented on #57
@jonathanolson said:

I don't follow. `contentWidth` is a constant that _determines_ the accordion box's width.

Putting a `debugger` statement at the end of EquationAccordionBox's constructor, I see:

[code]

So the accordion box width is exactly as I would expect.  Please clarify.

[2018-04-05 22:55] pixelzoom commented on #57
To make sure there wasn't something peculiar with one of the EquationAccordionBox instances, I put this statement at the end of its constructor:

`console.log( 'contentWidth=' + contentWidth + ', contentXMargin=' + options.contentXMargin + ', this.width=' + this.width );`

I see the same output for the EquationAccordionBox in each of the 4 screens:

[2018-04-05 23:30] pixelzoom commented on #57
Discussed with @jonathanolson via Zoom. The problem is caused by different font size on iOS, and the fact `invisibleRectangle` gets scaled by this bit of code:

[code]

No scaling should be done to `invisibleRectangle`.

[2018-04-06 00:08] pixelzoom commented on #57
Fixed in above commit.

@phet-steele please verify in [1.0.0-dev.88](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.88/phet/equality-explorer_en_phet.html).

[2018-04-06 00:12] pixelzoom commented on #57
You may notice some `console.log` output in 1.0.0-dev.88.  You can ignore it, it was been removed in a later commit.

[2018-04-06 00:18] pixelzoom opened #62 "4/16/18 interviews"
Amanda will doing interviews on Monday, 4/16/18.

[1.0.0-dev.89](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.89/phet/equality-explorer_en_phet.html) is the dev version for interviews, with the "lock" feature and "Solve It!" screen hidden.

Specific things that I'm interested in from the interviews:
• Does the universal operation control have any usability issues?
• H

[2018-04-06 00:41] pixelzoom commented on #30
Assigning this to @amanda-phet so that it's on her radar for interviews, see #62.

[2018-04-06 00:47] pixelzoom opened #63 "what to do when user achieves 10 stars in "Solve It!" game?"
From https://github.com/phetsims/vegas/issues/59#issuecomment-379117231:

I asked:

@amanda-phet replied:

The "cheering" sound _does_ occur in Make A Ten, whenever you get to 10 stars.  And there's a reward streaming down in the back.   So there is in fact quite a bit of fanfare for getting to 10 stars.

So... What do you want in Equality Explorer?
• Do you want a cheering sound?
• Do you want a

[2018-04-06 02:01] pixelzoom commented on #63
For now, I've implemented exactly what Make A Ten does. See [1.0.0-dev.90](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.90/phet/equality-explorer_en_phet.html).   So to the "Solve It!" screen, turn on sound, press any level button, then press the "Next" button 10 times to accumulate 10 stars.

[2018-04-06 02:07] pixelzoom commented on #34
@amanda-phet Question...  I’m playing a challenge in Level 1. I press the Back button to return to the level-selection screen. The next time I go to Level 1, what do I see? The challenge that I was working on when I pressed the Back button, or a new challenge?

[2018-04-06 02:18] pixelzoom commented on #63
How about showing stars, smiley faces and variables for the reward? And for the variables, use the level number as the coefficient (1x, 2x, 3x, 4x), like we did on the level-selection buttons.   The screenshots below show the rewards for levels 1 & 2.

![screenshot_544](https://user-images.githubusercontent.com/3046552/38400660-75a77b5e-390e-11e8-8b6c-5e5a440fcc87.png)

![screenshot_545](https://u

[2018-04-06 03:01] amanda-phet commented on #63
I should have checked before saying that, apparently! I usually mute the game sounds. I'm usually in favor of doing the same thing in different sims so thanks for implementing the same behavior.

This looks good to me. I just tried it out and didn't see the blue variables, only the stars and smiley faces, but I would like the blue variables too those are nice. We could also do some numerals, like

[2018-04-06 03:03] amanda-phet commented on #63
I also noticed the sound is off by default in Equality Explorer, but on by default in Make a Ten.. I will look around at different games to see if there is a typical behavior but I am thinking we should have the sound on by default.

[2018-04-06 03:07] pixelzoom commented on #63
1.0.0-dev.90 was published before I added the variables, hence the screenshot.

I'm not sure what you mean by "numerals" or what they would look like (constant terms?)... But if you don't feel strongly about them, then I won't add them to the reward.  3 different types of things feels like enough fun :)

Graphing Lines also has sound 'on' by default.  So I'll make it so in Equality Explorer.

[2018-04-06 03:11] pixelzoom commented on #63
@amanda-phet [1.0.0-dev.91](https://www.colorado.edu/physics/phet/dev/html/equality-explorer/1.0.0-dev.91/phet/equality-explorer_en_phet.html) has variables in the rewards, and sound 'on' by default.   If this looks good and there's nothing else to do here, please close this issue.

[2018-04-06 16:16] amanda-phet commented on #34
My preference is to return to the same problem, since we offer a refresh button that allows the user to get a new challenge.

[2018-04-06 16:17] phet-steele commented on #61
Hooray!

<img width="1612" alt="screen shot 2018-04-06 at 10 16 35 am" src="https://user-images.githubusercontent.com/5863899/38432111-aa96fad6-3983-11e8-9582-445056a68051.png">

[2018-04-06 16:17] #61 closed

[2018-04-06 16:35] phet-steele commented on #57
Looks good on iOS, and other browsers when manually adjusting the font size.

[2018-04-06 16:35] #57 closed

[2018-04-06 20:14] pixelzoom commented on #8
@phet-steele Your opinion on how useful this would be for testing and long-term maintenance?

[2018-04-06 20:18] pixelzoom opened #64 "test for memory leaks"
This issue is to record the results of memory leak testing, and identify any issues.

[2018-04-08 01:23] pixelzoom opened #65 "disable showAnswers in production versions"
phetsims/joist#406 is a prerequisite to this.

In EqualityExplorerQueryParameters, set `showAnswers` to false if we're running a production version, so that answers can't be revealed.

[2018-04-09 15:50] phet-steele commented on #8
@pixelzoom this is still very useful. However, I've found it's mostly just maxing out the plate that's useful, not the pre-population. If it's any less amount of time, would it be easier to instead have a query parameter that allows us to change the max number of items on the plate, and not worry about pre-populating the plate at all? That way I can say something like `?maxTerms=6` and only need t

[2018-04-09 20:03] pixelzoom commented on #8
@phet-steele suggested:

Good idea, I'll investigate.

[2018-04-09 20:15] pixelzoom commented on #8
@phet-steele I've added these query parameters. Please test drive in master, let me know if these are useful.

[code]

[2018-04-09 20:19] pixelzoom commented on #48
I've deleted the `goButtonEnabled` query parameter.  You can accomplish the same thing (getting to the number limit fast) by using `largestInteger` query parameter.

[2018-04-10 16:31] phet-steele commented on #8
@pixelzoom working well in master, and it doesn't look like it took too long. They were useful enough indeed, thanks. Back to you to probably close.

[2018-04-10 17:12] pixelzoom commented on #8
Thanks @phet-steele.  Yes, it was relatively easy to add these, and I think they accomplish what we need.  Again, good idea.  Closing.

[2018-04-10 17:12] #8 closed

[2018-04-10 17:13] pixelzoom commented on #8
@amanda-phet FYI... If you need to fill the scale up more quickly, reduce the size of the grid using the `rows` and `columns` query parameters.  E.g. `?rows=2&columns=2` will give you a 2x2 grid.

[2018-04-15 19:10] pixelzoom opened #66 "add wipe transitions to game"
From https://github.com/phetsims/vegas/issues/65#issuecomment-380930042...

Add wipe transitions from level-selection to challenge and visa versa. Do not add any transition from one challenge to the next.

[2018-04-16 16:53] pixelzoom commented on #66
Wipe transition has been integrated.  Closing.

[2018-04-16 16:53] #66 closed

[2018-04-16 23:55] pixelzoom commented on #38
The challenge engine is implemented. Challenges are not yet being displayed, but if you run with `?showAnswers`, you'll see debug information about the challenge and its derivation below the Snapshots according box. For example:

![screenshot_74](https://user-images.githubusercontent.com/3046552/38963649-3a4f56e0-4330-11e8-966a-ad050efa4eef.png)

[2018-04-17 17:01] pixelzoom commented on #38
With `?showAnswers`, a "test challenge generators" button appears at the bottom of the level-selection UI.  Pressing this button generates 100 challenges for each level, and verifies that they meet the requirements in the design document.   Output is to the browser console.

![screenshot_563](https://user-images.githubusercontent.com/3046552/38884994-9fb7ea68-422e-11e8-9e23-324c9c51449f.png)

[2018-04-17 17:30] samreid opened #67 "Improve user experience for "solve it" level descriptions"
Currently if you click on the "info" button on the solve it level selection screen, you see this dialog:

![image](https://user-images.githubusercontent.com/679486/38886071-17027dc4-4232-11e8-960a-e158ebfc50c9.png)

This has a few problems:
1. You cannot see the descriptions at the same time you see the level icons
2. The descriptions are stacked vertically--the icons go horizontally
3. The descri

[2018-04-17 23:09] pixelzoom commented on #67
I'm not convinced that that is necessary.  The info dialog is intended for use by teachers, to remind them of the types of challenges in each level.  The same UX is used in Make A Ten.

I don't see how we can arrange the text horizontally without making a complete mess. I don't think that arranging the buttons horizontally is an option.  And I don't think it really matters in this case.

The coeff

[2018-04-17 23:59] pixelzoom commented on #2
Credits have been moved to `EqualityExplorerConstants.CREDITS` and (per @amanda-phet) will be shared by 3 sims:  _Equality Explorer_, _Equality Explorer: Basics_ and _Equality Explorer: Two Variables_.

[2018-04-18 19:35] amanda-phet commented on #62
Interviewed an 8th grader 4/16 and will have a 6th grader come in 4/19.

I will write a summary soon, but quickly: no usability issues with the operation control. The student immediately recognized it as "doing the same thing to both sides". He did not push the limits but when asked to do so, he said the dialog was clear. And he was attending to both the balance and the equation when playing with

[2018-04-18 20:37] pixelzoom opened #68 "optimize pointer areas"

[2018-04-19 00:35] pixelzoom commented on #38
Many refinements to challenge design doc via Slack today, with @amanda-phet.

[2018-04-19 17:29] pixelzoom commented on #38
@amanda-phet please review [1.0.0-dev.95](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.95/phet/equality-explorer_en_phet.html) to verify that challenge generation matches the specification.  Let me know if any further tweaks are needed.  Highly recommended to run with `?showAnswers` to display the debugging output that displays the challenge type and derived values -- see  https

[2018-04-19 17:35] pixelzoom commented on #34
@amanda-phet _Solve It!_ screen is feature complete.  Please review [1.0.0-dev.95](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.95/phet/equality-explorer_en_phet.html).

I have one usability concern: When a challenge has been solved, your attention is drawn to the smiley face, and the change from the refresh button to "Next" button is subtle and easy to miss. So I think that it'

[2018-04-19 18:19] pixelzoom opened #69 "test i18n support"
... with `?stringTest`.

[2018-04-19 18:24] pixelzoom commented on #65
In 4/17/18 Slack discussion with @ariel-phet, he said that it is currently not a priority to disable `showAnswers` in production versions.  OK to publish this sim with `showAnswers` enabled.

[2018-04-19 18:35] pixelzoom commented on #69
Issues as of [1.0.0-dev.95](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.95/phet/equality-explorer_en_phet.html):

- [x] Universal operand picker in _Operations_ and _Solve It!_ screens. For example:

![screenshot_565](https://user-images.githubusercontent.com/3046552/39010852-0af729e8-43cd-11e8-9d3b-c97ad9f2342d.png)

- [x] 'x' in "sum to zero" animations in _Variables_, _Opera

[2018-04-19 19:06] pixelzoom commented on #34
In [1.0.0-96](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.96/phet/equality-explorer_en_phet.html), I relocated the "Next" button so that it appears where the smiley face fades out (in the center of the screen). This feels more usable to me.  @amanda-phet your thoughts?

[2018-04-19 19:56] amanda-phet commented on #34
This looks great to me!

[2018-04-20 00:08] pixelzoom commented on #69
Addressed all of the above i18n issue.

I'll leave this issue open for awhile in case others pop up.

[2018-04-20 00:38] pixelzoom commented on #34
There are some other things that are not optimal in the current layout. See screenshot below of [1.0.0-dev.97](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.97/phet/equality-explorer_en_phet.html).  The elements that make up the challenge ("Solve for x", equation and refresh button) are not really tied together, and it's therefore not immediately obvious what the refresh button i

[2018-04-20 00:46] pixelzoom commented on #34
There are some other things that are not optimal in the current layout.

The screenshot below of [1.0.0-dev.97](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.97/phet/equality-explorer_en_phet.html) illustrates the following problems:
(1)  The elements that make up the challenge ("Solve for x", equation and refresh button) are not tied together, they feel disconnected. Both "Solve

[2018-04-20 03:41] amanda-phet commented on #34
I agree, I've thought the original challenge equation felt lost in the design. This looks like a nice improvement to me, but I still wonder if the white background is too stark in contrast to the original equation. What about something like this: the same white panel but at 50% opacity, so it doesn't look "active" but still looks prominent in comparison to the solution equation panel.

![image](ht

[2018-04-20 20:26] pixelzoom opened #70 "incorrect relational operator in equations"
Reported by @phet-steele in Slack.  In master and 1.0.0-dev.98.

All challenges in the _Solve It!_ screen should be equalities.  But Level 3 challenges (type 1 and type 2) will sometimes display an inequality (`<` or `>` relational operator).    Examples in screenshots below.

This is most likely due to precision issues with division.  If so, it potentially affects the _Operations_ screen as well.

[2018-04-20 20:36] pixelzoom opened #71 "Assertion failure: denominator must be an integer"
Reported by @phet-steele on Slack.  May be related to #70, since the relational operator is incorrect here.

In the GIF below, the following steps were done:

1. Go to Level 3 in _Solve It!_ screen.
2. Do a bunch of stuff to makes numbers 1 step away from hitting the limit of 1E9.
3. Take a snapshot
4. Apply divide-by-10 operation to cause 1E9 limit to be exceeded.
5. The operation is still applie

[2018-04-20 20:52] pixelzoom commented on #71
There are several places where precision may be lost due to using `Fraction` `getValue` to convert to `{number}`.  In these places, we should probably preserve `Fraction`.

[code]

... should be:

[code]

[2018-04-20 21:35] pixelzoom commented on #70
There are several places where precision may be lost due to using `Fraction` `getValue` to convert to `{number}`.  In these places, I should preserve the `{Fraction}`.

[code]

And in Fraction:

[code]

... should be:

[code]

[2018-04-20 21:36] pixelzoom commented on #70
Change to Fraction `isInteger` was handled in https://github.com/phetsims/phetcommon/issues/44.

[2018-04-20 22:19] pixelzoom commented on #70
All occurrences identified in https://github.com/phetsims/equality-explorer/issues/70#issuecomment-383229025 have been addressed.  The relational operator error was due to the occurrences in EquationNode.

Closing.

[2018-04-20 22:50] pixelzoom commented on #71
Note that in the stack trace, Fraction `copy` attempted to create a Fraction with non-integer denominator `3874204889.9999995`.  That means that the fraction instance that was being copied already had that non-integer denominator.  Looking in Fraction, there are a number of places where `this.numerator` and `this.denominator` are set without verifying that they are integers.  I've addressed that i

[2018-04-20 23:02] pixelzoom commented on #70
Reopening.  Over in #71, I hardcoded Challenge to this equation:

[code]

![screenshot_580](https://user-images.githubusercontent.com/3046552/39077091-8a6afd54-44bc-11e8-8352-93489fd2035f.png)

... and the relational operator is not `=`.

[2018-04-20 23:22] pixelzoom commented on #71
This is very weird.  Both of the above scenarios are the same equation. In scenario1, the scale is not balanced.  In scenario2 the scale is not balanced and bottomed out.  And in both cases, the relational operator is correct - they are inequalities.  So some step(s) preceding what is shown must not have been applied to both sides of the equation, and the equation became an inequality.

[2018-04-21 21:47] pixelzoom commented on #71
The equation in both scenarios is: `-7/9 x + 7 = -112/9`, which is Level 3, type 1, (a/d)x + b = c.

Solving for x:

-7/9 x + 7 = -112/9
-7 x + 63 = -112  (`× 9`)
-7 x = -175 (`- 63`)
x = 25 ( `÷ -7`)

So I'll try priming `Challenge` with values to create that equation.

[2018-04-21 22:05] pixelzoom commented on #70
This is actually fixed. I was using the wrong value of `x` in the above comment.  `x` is `25`:

-7/9 x + 7 = -112/9
-7 x + 63 = -112  (`× 9`)
-7 x = -175 (`- 63`)
x = 25 ( `÷ -7`)

Closing.

[2018-04-21 22:05] #70 closed

[2018-04-22 21:44] pixelzoom commented on #71
I have not been able to reproduce this.  It's possible that the fix for #70 might have also fixed this, but they don't feel related to me.

@phet-steele I realize that you're very busy right now.  But when some of your time frees up, please try to reproduce this.   Please run with `?ea&log&showAnswer` so that screenshots and console logging give me a complete picture of the challenge and the opera

[2018-04-22 21:46] pixelzoom commented on #38
In a phone call, @amanda-phet indicated that she might want to make some tweaks to the challenge generation specification.  Let me know what you'd like to change.

[2018-04-22 21:47] pixelzoom commented on #34
Revised UI to match https://github.com/phetsims/equality-explorer/issues/34#issuecomment-382964098.

Reduced fade time to 0.8 sec, per @amanda-phet's request.

[2018-04-22 21:48] pixelzoom commented on #34
I'm going to close this, and we can create new issues for any fixes or change requests.

[2018-04-22 21:48] #34 closed

[2018-04-23 17:47] pixelzoom opened #72 "remove '× 0' from the operator picker in game?"
Should we remove `× 0` from the operator picker in _Solve It!_ screen?  If you apply this operation, there's no way to solve the current challenge.

Or maybe that’s a teachable moment :)

[2018-04-23 17:58] pixelzoom commented on #72
In Slack, @amanda-phet said:

[2018-04-23 18:00] pixelzoom commented on #19
An additional simplification will be made, see #73.

Slack discussion:

Chris Malley [11:42 AM]
I’d like to propose an additional EqEx simplification to eliminate some weird corner cases with the lock feature.  When any of the following actions are performed, all terms that are dragging or animating (ie, not on the scale) will be deleted:  (1) organize button is pressed, (2) ‘reset scale’ button i

[2018-04-23 18:28] pixelzoom commented on #72
Done.  Will appear for the first time in 1.0.0-dev.100.

[2018-04-23 18:28] #72 closed

[2018-04-23 18:49] pixelzoom opened #73 "dispose of terms that are not on scale in these scenarios"
Identified in https://github.com/phetsims/equality-explorer/issues/19#issuecomment-383667216...

There are several scenarios where terms that are not on the scale (dragging or animating) should be disposed:

- [x] lock is toggled (already handled)
- [x] organize button pressed
- [x] clear scale button pressed
- [x] snapshot is restored
- [x] scene change (in Basics)

These changes will eliminate s

[2018-04-23 19:02] pixelzoom commented on #73
Work completed, closing.

[2018-04-23 19:02] #73 closed

[2018-04-23 23:07] pixelzoom commented on #19
@amanda-phet EqEx lock question.  Suppose I have ‘x’ on left plate, nothing on right plate, lock is on.  I drag ‘x’, which creates ‘x’ (ghost) and ‘-x’ (inverse) on the right plate.  While dragging, I turn the lock off.  Are all 3 terms (dragged, ghost, inverse) deleted, or does -x (inverse) remain on the right plate?

DECISION: All 3 terms are deleted.

[2018-04-24 01:40] pixelzoom commented on #19
Another simplification for EqEx:  While a term is animating (to the toolbox or scale) it cannot be grabbed.  Once you release it, you can’t grab it again until it lands on the scale.  This will disappoint @phet-steele (and disappoints me a tiny bit), but will not be an issue in practice — things move so quickly that there is no reason to support grabbing a term while it’s animating.   And not havi

[2018-04-24 16:53] pixelzoom opened #74 "use Oops! dialog for all sim limitations that are encountered"
@amanda-phet please review and provide feedback.

For #48, we added a dialog when the "max number" limit is hit.  We've been referring to this as the Oops! dialog, since the message starts with "Oops!".  It looked like this in 1.0.0-dev.100:

![screenshot_584](https://user-images.githubusercontent.com/3046552/39201827-7855d2e4-47ad-11e8-8cd8-878de60a9435.png)

In https://github.com/phetsims/equali

[2018-04-24 17:02] pixelzoom commented on #21
With the exception of the lock feature, all 5 screens are now feature complete.  So there is no impediment to making final decisions about screen background colors.

@amanda-phet Do you have an change requests? And if not, please close this issue.

[2018-04-24 17:05] pixelzoom commented on #68
With the exception of the lock feature, all screens are feature complete.   And the remaining work on the lock feature does not affect pointer areas.  So this issue is ready to be evaluated.    I examined all pointer areas and they look good to me.

@amanda-phet please review using `?showPointerAreas`.   Describe change requests, or close this issue if there are no changes.

https://bayes.colorado

[2018-04-24 17:08] pixelzoom commented on #67
@amanda-phet Are we making any changes here?

[2018-04-24 17:34] samreid opened #75 "SlidingScreen is likely to be replaced with TransitionNode"
From https://github.com/phetsims/twixt/issues/10

Transition and TransitionNode are still in review as part of https://github.com/phetsims/twixt/issues/11 .  Once review is complete, it is very likely that we will deprecate SlidingScreen and use TransitionNode instead.  Just giving a heads up since I noticed that Equality Explorer uses SlidingScreen in SolveItScreenView.  I'll put this issue on ho

[2018-04-24 18:45] pixelzoom opened #76 "informal dev test of "Solve It!" (game) screen"
I'd love to get an hour or two of @phet-steele's time to test the "Solve It!" screen during the week of 4/30. No need for a test matrix, or coverage on all platforms - one desktop and a little bit of iPad would be great. FYI, I've tested it mostly on macOS+Chrome and iPad.

Closing https://github.com/phetsims/equality-explorer/issues/38 (challenge engine) is a prerequisite to testing.  @amanda-phe

[2018-04-24 19:44] pixelzoom commented on #75
+1 to deprecate SlidingScreen and use TransitionNode.  Preferably well before Equality Explorer enters testing phase.

[2018-04-24 19:48] pixelzoom commented on #71
@phet-steele reproduced with master, and pasted info into Slack. Here it is:

phet.log:

[code]

Stack trace:

[code]

Screenshot:

<img width="1319" alt="screen shot 2018-04-24 at 1 32 52 pm" src="https://user-images.githubusercontent.com/3046552/39210494-1d49946c-47c6-11e8-9697-a90f625eadcc.png">

[2018-04-24 20:05] pixelzoom commented on #71
Here's a more readable version of the above phet.log output:

[code]

[2018-04-24 20:24] pixelzoom commented on #71
I modified the Go button logging to look like my "more readable version" above.

[2018-04-24 21:00] pixelzoom commented on #71
In the above commit, I added the `?challenge` query parameter for testing a specific challenge.  The challenge we're working with here, `-7/2 x + 4 = 0 x + -17 (x=6)` is tested using `challenge=-7,2,4,1,0,1,-17,1,6`

[2018-04-24 21:04] pixelzoom commented on #71
I reproduced the assertion failure using the above phet.log steps.  Below is a screenshot just before the final `Go ÷ 10`.

All of the denominators are `87890625`, and dividing by 10 would make them `878906250`.   The value identified in the assertion failure, `439453125.00000006`, is `878906250 / 2` with some precision error.

![screenshot_588](https://user-images.githubusercontent.com/3046552/39

[2018-04-24 21:17] pixelzoom commented on #71
Use `?challenge=16,87890625,128,87890625,128,87890625,-544,87890625,6` and then `Go ÷ 10` to reproduce the problem with 1 operation.

[2018-04-24 21:27] pixelzoom commented on #71
The failure is in Fraction `setToSum`:

[code]

`lcm` in this case has some precision error ( `439453125.00000006`).  And in general, line 204 should be:

[code]

@jonathanolson made the recent changes to Fraction that introduced `setToSum`.   @jonathanolson do you agree there's a missing `Util.roundSymmetric` here?

[2018-04-24 21:31] pixelzoom commented on #71
Applying the above fix to Fraction `setToSum`, the problem is resolved.  I'll wait to hear back from @jonathanolson before closing this issue.

@phet-steele Thanks again for locating a reproducible example.

In summary... Fraction addition and subtraction were changed to rely on a least-common multiple utility function (`DOT/Util.lcm`), which has inherent (unavoidable) floating-point precision err

[2018-04-24 21:54] pixelzoom commented on #71
Discussed on Slack with @jonathanolson and he suggested pushing the `roundSymmetric` call into `Util.lcm`, which should always return an integer.   I've done that in the above commits.

[2018-04-24 21:55] #71 closed

[2018-04-25 15:54] pixelzoom commented on #74
This might be a good standard dialog for use in all sims.  Something to keep in mind for future designs and redesigns.

[2018-04-25 20:27] amanda-phet commented on #62
Second interview confirms that 6th grade student didn't have any issues with the universal operation controls. The one thing that could be tricky, based on my use and watching others, is that with the operation picker we don't always know where the operation is that we're looking for, so we click a bunch and sometimes pass it but eventually find it. It's not a big deal, people certainly understand

[2018-04-25 20:36] pixelzoom commented on #62
@amanda-phet said:

This has been my concern since we added variable-term operands.  It works, but it's not a great experience.  And that seems like a significant problem in the last 2 screens, where the universal operation is the centerpiece.   If the universal operation control isn't "the best experience", then that's going to reflect on those screens.

Perhaps we should take some time to brains

[2018-04-25 20:39] amanda-phet commented on #62
Students seemed really comfortable with the variable-term operands, actually. I just mean, in observing them use the operation picker, it's hard to know how many clicks to get to the operation you are looking for.

I showed this to the math team last week and David was of course enthusiastic about it but I didn't get much feedback from others and it seemed like they might've had something to add.

[2018-04-25 22:06] amanda-phet commented on #38
My issue with with level 3 type 1. A problem like this, for instance, could be solved (and I would encourage students to solve) by first multiplying the entire equation by 5 to remove any fractions. It is much simpler math than adding 9 to both sides first (although, the computer will do that computation for you!). If you multiply by 5, you end up with 4x-45=67. The next step is to add 45 to both

[2018-04-25 22:32] pixelzoom commented on #62
Slack:

Chris Malley [4:34 PM]
Are students having trouble with the operator picker or the operand picker?

Amanda McGarry [4:57 PM]
not really “trouble”, but it’s the operator picker

[2018-04-25 22:38] pixelzoom opened #77 "make it easier to select operator for Universal Operation"
In interviews (https://github.com/phetsims/equality-explorer/issues/62#issuecomment-384423085), @amanda-phet noted that student lost track of the order of operators, so had to scroll around in the operator picker.   Investigate other designs to eliminate/mitigate this problem.

[2018-04-25 22:45] pixelzoom commented on #77
The problem here is that (unlike numbers) operators have no standard order, so there's no reference point for where you are in the picker.  Lack of standard order and the fact that we have a small number of operators (4) suggests that a picker is not the correct UI component for this task.   Radio buttons would be a more appropriate choice.  See [1.0.0-dev.101](https://bayes.colorado.edu/dev/html/

[2018-04-25 22:46] pixelzoom commented on #62
See https://github.com/phetsims/equality-explorer/issues/77 for possible solutions to the operator picker usability issue.

[2018-04-26 00:20] pixelzoom commented on #38
The current specification for Level 3, type 1 is:

Let x be a random integer between [-40,40], x !== 0
Let d be a random integer between [-10, 10], d !== [0,1,-1]
Let a be a random integer between [-10,10], a % d !== 0
Let b be a random integer between [-10,10], b !== 0
Let c = (a/d)x + b, c == 0 is OK

With that specification, I don't see any other way to constraint things other than what you sug

[2018-04-26 03:53] kathy-phet commented on #77
Thanks for the alternative option, Chris. Hopefully we will get to have design meeting to discuss the interview feedback and options. I like that this gives access to know that there are four operations available and select one quickly, but it also feels a bit overwhelming/distracting to have all of them visible at the same time. I liked how the original operand spinner made it very clear what ope

[2018-04-26 13:46] pixelzoom commented on #77
For posterity, here's a "visual summary" of approaches that we've discussed or tried.  To be clear, I'm not advocating, just recording our thoughts and decisions.

---
**DESIGN 1** - Current approach (2 spinners), as in [1.0.0-dev.100](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.100/phet/equality-explorer_en_phet.html).

Pros:
• Clear (1:1)  correspondence between a control and

[2018-04-26 13:57] pixelzoom commented on #77
About DESIGN 2, @kathy-phet said:

Just brainstorming... What if the operation was visible on the left and right sides of the control as you were "building" it, then dropped to the plates when you pressed the Go button.  E.g.:

![control4](https://user-images.githubusercontent.com/3046552/39310324-5868a350-4927-11e8-86e0-3f865cdd76a2.jpg)

[2018-04-26 14:00] pixelzoom commented on #77
About DESIGN 2, @kathy-phet said:

Just brainstorming... What if the operation was visible on the left and right sides of the control as you were "building" it, then dropped to the plates when you pressed the Go button.  E.g.:

(EDIT: fixed screenshot)

![control4](https://user-images.githubusercontent.com/3046552/39310551-e3c73d94-4927-11e8-8c7b-1afdd38f7237.jpg)

[2018-04-26 18:13] pixelzoom opened #78 "Sum-to-zero animation doesn't happen on Solve It! screen"
... and it should.  Noted by @phet-steele.

[2018-04-26 18:49] pixelzoom commented on #78
Fixed, closing.

[2018-04-26 18:49] #78 closed

[2018-04-26 19:25] pixelzoom commented on #38
4/26/18 design meeting:

With b=[-3,3], b*d will be [-30,30].  I'll implement that change, and @amanda-phet can play around with it to see if the challenges are still interesting enough.

[2018-04-26 19:30] pixelzoom commented on #67
4/26/18 design meeting:

We decided not to make any changes to the Info dialog. The current presentation is sufficient for the intended purpose, and allows us to reuse the same strings, with same presentation (horizontal) in the game status bar.

Using coefficient to communicate level number seemed to be fine in interviews.  If it comes up, we'll revisit.

Closing.

[2018-04-26 19:30] #67 closed

[2018-04-26 19:30] phet-steele opened #79 "Halo sticks when dragging away from an inverse and towards a "like""
Go to the Numbers or Variables screen:

1. Place a term and its inverse on one plate, next to each other (stacked or side by side).
2. Take a third term from the toolbox and hover it over it's inverse so that it gets a halo. Don't release the term.
3. Drag the same term over to the non-inverse term. The halo will remain on the one you are dragging. This shouldn't be since you cannot combine them.

[2018-04-26 19:31] pixelzoom commented on #21
4/26/18 design meeting:

Current colors are working well.  No changes to make. Closing.

[2018-04-26 19:31] #21 closed

[2018-04-26 19:33] pixelzoom commented on #74
4/26/18 design meeting:
• Looks good for this sim.
• Wait to pull out into common code until some other sim needs it.

[2018-04-26 19:33] #74 closed

[2018-04-26 19:41] pixelzoom commented on #77
4/26/18 design meeting:

• Kathy has a "soft preference" for DESIGN 1.
• Amanda, Diana, Chris, and Steele have a preference for DESIGN 2.

TODO:
- [x] We'll do interviews on DESIGN 2 to see if there are any issues. (See #80)
- [x] Test radio buttons on mobile (tablets, phones)
- [x] Chris will leave both DESIGN 1 and DESIGN 2 implementation in the code for now.

Other designs:

• Steele suggested

[2018-04-26 19:54] pixelzoom commented on #68
4/26/18 design meeting, change requests:

In universal operation control:
- [x] increase height of radio button touch areas
- [x] increase height of picker touch areas
- [x] increase Go button touch area

Other:
- [x] increase touch areas for snapshot buttons
- [x] increase touch areas for snapshot load button
- [x] increase height of touch area for 'x' picker a bit, don't get into Snapshot zone
-

[2018-04-26 19:55] pixelzoom commented on #38
4/26/18 design meeting:

A challenge in Level 4 that @DianaTavares found that is problematic, see below. @amanda-phet will investigate the generation.

Need to reject anything where `|a - m| > 10` and odd, which is impossible.  After choosing `a`, limit range of `m` based on `a`.  @amanda-phet will come up with the function of `a` that computes range of `m`.

![screenshot_596](https://user-images.

[2018-04-26 20:09] amanda-phet commented on #38
generate *a*, a random integer from [-10,10] *a*≠0.
then *m* =  a random integer from [*a*-10, *a*+10], excluding 0 and *a*.

[2018-04-26 20:58] amanda-phet commented on #38
I've updated the google doc with these two changes (level 3 type 1, and level 4).

[2018-04-27 00:57] pixelzoom commented on #38
@amanda-phet @DianaTavares I've made the changes for Level 3 (type 1) and Level 4.  Please verify in this dev version:

https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.102/phet/equality-explorer_en_phet.html?showAnswers

Note the `?showAnswers` query parameter.  If there's a problem, I'll need a screenshot that shows the derivations, which is what this query parameter provides.  Tha

[2018-04-27 01:19] pixelzoom opened #80 "interview on radio buttons for choosing universal operator"
In https://github.com/phetsims/equality-explorer/issues/77#issuecomment-384765795, we decided to have interim support for 2 different controls that select the universal operator: a set of 4 radio buttons, or a picker.

Interviews have already been done with the picker (see #62), and that motivated the radio buttons.
Now we need to do interviews on the version that uses radio buttons.

In versions

[2018-04-27 01:22] pixelzoom commented on #77
The universal operation control now supports both radio buttons and picker for the operator control.  In versions >= [1.0.0-dev.105](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.105/phet/equality-explorer_en_phet.html), the default is radio buttons.  Use query parameter `?operatorControl=picker` to switch to a picker.

Interviews on the radio buttons version will be tracked in ht

[2018-04-27 01:25] pixelzoom commented on #77
I'll leave this unassigned until interviews are completed in #80.  Depending on which way interviews point, I'll delete either the buttons or picker support from `UniversalOperationControl`.

[2018-04-27 01:38] pixelzoom commented on #79
Reproduced. Occurs with both constant and variable terms.

This problem first appears in [1.0.0-dev.70](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.70/phet/equality-explorer_en_phet.html), 3/15/18, 5:12 PM.
It was not present in [1.0.0-dev.69](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.69/phet/equality-explorer_en_phet.html), 3/12/18, 2:46 PM.

There is one

[2018-04-27 02:23] pixelzoom commented on #79
The problem was indeed in `TermDragListener.refreshHalos`. Fixed in above commit.

@phet-steele please verify in master.

[2018-04-27 02:38] pixelzoom commented on #68
Touch area adjustments requested in https://github.com/phetsims/equality-explorer/issues/68#issuecomment-384769118 have been completed, see:

https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.104/phet/equality-explorer_en_phet.html?showPointerAreas

And here's a screenshot:

![screenshot_597](https://user-images.githubusercontent.com/3046552/39341751-d1d30234-4991-11e8-9d47-d1fa87528

[2018-04-27 03:27] ariel-phet commented on #77
Just my two cents...

Of the designs suggested design 2 seems the best.

My personal preference would be to be more along the lines of @phet-steele suggestion. And then to have the operation BE the "go" button. I have an intellectual preference for reverse polish notation style operations, so to me this is very logical. Choose an operand, then operate. Something along the lines of the mockup below

[2018-04-27 04:41] pixelzoom commented on #77
Let's call the above **DESIGN 5**.

A minor nit with the above mockup....  Since pushing one of the operator buttons would apply the operation, the buttons would be push buttons, not radio buttons as shown in the mockup.  They would all look the same, there would be no button that looks "selected", since there is no selection involved. That said...  I like this, but understand the concerns about R

[2018-04-27 05:17] pixelzoom opened #81 "Automated testing error: unexpected operand type"
Introduced sometime between 7:04:55PM and 7:36:22PM (MDT?) on 4/26/2018.

equality-explorer : xss-fuzz : run
Uncaught Error: Assertion failed: unexpected operand type: VariableTerm: 1/1 Variable: ‪x‬<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2NkYGD4DwABCQEBtxmN7wAAAABJRU5ErkJggg==" onload="window.location.href=atob('aHR0cHM6Ly93d3cueW91dHViZS5jb20vd2F0

[2018-04-27 05:25] pixelzoom commented on #81
Related to #77.  I neglected to wire up the `operatorListener` for the new radio buttons in the universal operation control.  Fixed in the above commit.  Closing.

[2018-04-27 05:25] #81 closed

[2018-04-27 05:27] kathy-phet commented on #77
Ariel, I’m not sure about how you would deal with order here. X is only available on + and - so if you selected x and then times it would have to say that was not allowed.

K

Sent from my iPhone

On Apr 26, 2018, at 10:41 PM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

A minor nit with the above mockup.... Since pushing one of the operator buttons would apply

[2018-04-27 05:35] pixelzoom commented on #77
@kathy-phet You'd have to disable operator buttons based on what operand was selected in the picker. I.e.:
• disable the times and divide operator buttons when the operand is a variable term
• disable the divide button when the operand is zero
• in the game, disable the times and divide buttons when the operand is zero

[2018-04-27 05:48] kathy-phet commented on #77
That sounds like it could be quite distracting as you scroll through the choices, with things constantly switching between disabled or not. I favor design 2.

Sent from my iPhone

On Apr 26, 2018, at 11:35 PM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

@kathy-phet<https://github.com/kathy-phet> You'd have to disable operator buttons based on what operand was s

[2018-04-27 05:59] pixelzoom commented on #77
Agreed, distracting.  The other alternative is worse -- let them push any operator button, and display a dialog (like below) when it's not a supported operation.  Yuck.

![screenshot_599](https://user-images.githubusercontent.com/3046552/39346917-b36fd6ac-49ad-11e8-9c62-7000a9a1eafa.png)

[2018-04-27 12:26] kathy-phet commented on #77
Agreed, that is worse. I am preferring the go botton.

Sent from my iPhone

On Apr 26, 2018, at 11:59 PM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

Agreed, distracting. The other alternative is worse -- let them push any operator button, and display a dialog (like below) when it's not a supported operation. Yuck.

[screenshot_599]<https://user-images.githubus

[2018-04-27 16:31] phet-steele commented on #79
Looking better 👍.

[2018-04-27 16:31] #79 closed

[2018-04-27 17:24] amanda-phet commented on #38
The challenges are all looking really good to me. I've spent quite a bit of time refreshing on all 4 levels now and don't see any issues. I realize that level 3 may present some challenges that need multiple steps to add/subtract a constant but I think the limit we put on those is acceptable).

[2018-04-27 17:33] pixelzoom commented on #38
@DianaTavares do you want to take this for a test drive before I close this issue?

[2018-04-27 17:42] DianaTavares commented on #38
I just see it, the problem with the division is solved!

[2018-04-27 17:54] DianaTavares commented on #38
But I still having questions about some exercises with big constants, for example this one:
![screen shot 2018-04-27 at 11 50 05 am](https://user-images.githubusercontent.com/26031501/39377106-3e0f8862-4a11-11e8-8fa2-43f098c51138.png)

at the beginning the exercise was  17x + 142 = 7x - 8, my first step was take away the 7x (because the 17x require 2 steps). But now I have the problem of take away

[2018-04-27 18:15] pixelzoom commented on #38
@amanda-phet can you discuss "big constants" (see above) with @DianaTavares?

[2018-04-27 18:54] amanda-phet commented on #38
I found something similar...

I have two ideas.

1. Make x a smaller range. However it's possible for n to still be as big as 110 even if x is restricted to [-10,10], so that doesn't seem like much of a solution.

2. Change the generation slightly so that a and m are no more than 10 apart, AND are within [-10,10]. Currently, m = [a-10, a+10]. If a=10, m could be as large as 20. instead, it would b

[2018-04-27 20:53] amanda-phet commented on #30
I observed a student in an interview specifically playing with the x picker and saying "that tips the scale" and "like when you do an input [...] like plugging in the number" and plays around with the value of x. So, I observed him coordinating this information very easily. The other student also seemed to be paying attention to the play area when changing the value of x.

I don't disagree that it

[2018-04-27 21:01] pixelzoom commented on #38
@amanda-phet @DianaTavares I revised the constraints for Level 4 'm' in this dev version:
https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.106/phet/equality-explorer_en_phet.html?showAnswers

From the design doc:

Better?

[2018-04-27 21:05] DianaTavares commented on #38
I think is perfect!  I try several times and I found all the exercises according with the sim level. Thanks @amanda-phet and @pixelzoom!

[2018-04-27 21:07] pixelzoom opened #82 "Automated testing errors related to lock feature"
I decided to push a partial implementation of lock (which is a giant bear of a feature).  I fuzz tested, but obviously not long enough.  Errors as of 4/27/2018, 2:20 PM:

Uncaught Error: Assertion failed: attempt to access equivalentTermCreator before it was initialized
Error: Assertion failed: attempt to access equivalentTermCreator before it was initialized
    at window.assertions.assertFunctio

[2018-04-27 21:10] pixelzoom commented on #38
@amanda-phet if everything looks OK, please close this issue.

[2018-04-27 21:11] amanda-phet commented on #38
Level 4 is looking great to me as well. I really like seeing the large constants, too. It's a good experience for students to have.

Since all of the levels are good I think we can close this issue.

[2018-04-27 21:11] #38 closed

[2018-04-27 21:21] pixelzoom commented on #82
This was a problem in the Basics screen, which doesn't have the lock feature.  But TermDragListener was assuming that some lock-related things were initialized.  Fixed in the above commit.

Since the lock feature is going to be a "work in progress" for awhile, it is now hidden behind the `?lock` query parameter, so that it doesn't make CT unhappy.

[2018-04-27 21:26] amanda-phet commented on #62
All interviews are backed up, notes summarized in design doc, and interview survey filled out.

[2018-04-27 21:26] #62 closed

[2018-04-27 21:34] pixelzoom commented on #76
[1.0.0-dev.107](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.107/phet/equality-explorer_en_phet.html?log&showAnswers) is ready for informal dev testing.

Please focus on the "Solve It!" screen.

User-interface design is specified in issue https://github.com/phetsims/equality-explorer/issues/34.

Challenge generation is specified in [this design document](https://docs.google.com/d

[2018-04-27 21:46] pixelzoom opened #83 "performance testing"
Test performance on all supported platforms, identify performance issues.

[2018-04-27 22:05] pixelzoom commented on #82
CT now appears to be happy. Closing.

[2018-04-27 22:05] #82 closed

[2018-04-30 01:34] ariel-phet commented on #77
@pixelzoom @kathy-phet an alternative would be not disabling, but as you scroll it switches between all 4 buttons, and just the "+" and "-" button. The "+" and "-" button would then be centered under the operand.

Right now, with the radio button design, if you have "3x" selected as an operand and choose "multiply" it just changes it to a "3"...that seems subtle. Whereas simply showing the availab

[2018-04-30 17:47] phet-steele commented on #63
@pixelzoom I completely disagree! The current reward is entirely boring! Even if @pixelzoom and @amanda-phet "don't feel strongly" about adding constant terms, I feel quite strongly that we need them.

Furthermore, I honestly thought it was a bug that I only saw one coefficient value on the falling variables, until I read through this issue. Not including randomization has never been done before i

[2018-04-30 17:51] pixelzoom commented on #63
This is @amanda-phet's call.  Unassigning myself.  Let me know what (if anything) you'd like to change.

[2018-04-30 17:56] pixelzoom commented on #63
A bit more info....

Constant terms would be relative easy to add.  If you want me to add them, let me know what constant values for each level.

@samreid said:

Not true.  Other games that I've done have specific objects that are unique to specific levels.  In this case, the variable terms (and their specific coefficient) are unique to each level.    There would be no convention violated for doin

[2018-04-30 17:56] pixelzoom commented on #63
A bit more info....

Constant terms would be relative easy to add.  If you want me to add them, let me know what constant values for each level.

@phet-steele  said:

Not true.  Other games that I've done have objects that are unique to specific levels.  In this case, the variable terms (and their specific coefficient) are unique to each level.    There would be no convention violated for doing th

[2018-04-30 18:02] phet-steele commented on #63
This is not what I'm referring to. I absolutely know that one level may include one item (like "5x-3") on a level that used slope-intercept form, but then not include that item on a level that doesn't use slope-intercept form (this is a hypothetical game I'm using as an example).

What I AM referring to is that, in the same hypothetical game, that level would never ONLY show "5x - 3". It would be

[2018-04-30 18:11] phet-steele commented on #63
(I deleted a duplicate comment).

[2018-04-30 18:13] pixelzoom commented on #63
Again, not true in general.  There's no reason why a level couldn't choose to show one (and only one) equation.   There are no conventions for randomization.

We could show objects that are not necessarily related to the challenges.  For example, in RPAL, we show sandwiches for later levels, not because sandwiches are related to the challenges, but because it's something fun that's related to the

[2018-04-30 18:17] pixelzoom commented on #63
Imo, it's fine to show variable terms with only 1 coefficient for each level's reward precisely because of the association with the level-selection icons.  I.e. "1x" for "Level 1" only.  I think the same should apply to the value of constant terms, if we add them to the reward.  And we should add other objects from the Basics screen to the rewards for more difficult levels.

[2018-04-30 21:33] amanda-phet commented on #63
Steele and I discussed at length and I am happy with the following variations for each level. @pixelzoom let me know if any of this sounds like it wouldn't look good or would be difficult.

random integers should come from the range [-9,9]

- Level 1: random coefficients with x, random constants, apples, and oranges
- Level 2: random coefficients with x, random constants, random operations [+,-,•,

[2018-05-01 00:30] pixelzoom commented on #63
The revised rewards are implemented in [1.0.0-dev.108](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.108/phet/equality-explorer_en_phet.html?rewardScore=1).  Run with `?rewardScore=1` to see the reward after one correct answer.

Revisions took ~2.5 hours. I made one change: in level 3, I substituted smiley faces for stars.

@amanda-phet @phet-steele please review.

[2018-05-01 00:32] pixelzoom commented on #76
#63 required extensive changes to the game.  Use [1.0.0-dev.108](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.108/phet/equality-explorer_en_phet.html) or master for testing.

[2018-05-01 00:41] phet-steele commented on #63
@pixelzoom we originally shied away from using smiley faces because we thought there was not enough shape contrast between them and the constant terms. Now after see them in context, I "don't feel strongly" either way.

@amanda-phet I think the operations involving negative integers are...sort of ugly. What do you think about restricting that range to [1,9]? The randomized integers for constants a

[2018-05-01 02:01] pixelzoom commented on #63
I agree about the operations with negative operands.

[2018-05-01 02:07] pixelzoom commented on #63
I agree about the operations with negative operands -- they are ugly.    I've made a change to use only positive integers [1,9].  See master.  If you don't like it, I'll change it back.

[2018-05-01 02:14] pixelzoom commented on #63
Smiley faces look plenty different than constant terms to me, see screenshot below.  And if you're going for "standardization", nothing is more ubiquitous in games than smiley faces.

![screenshot_600](https://user-images.githubusercontent.com/3046552/39458596-09b5d5b8-4cb3-11e8-99c0-8cabff561419.png)

[2018-05-01 15:40] pixelzoom commented on #77
@amanda-phet About 2 hours to implement what @ariel-phet has described in https://github.com/phetsims/equality-explorer/issues/77#issuecomment-385298915, if you want to try it.  I think it's worth trying.

[2018-05-01 16:01] kathy-phet commented on #77
I am curious pedagogically about what @amanda-phet thinks. The RPN seems problematic pedagogically here - for the age group and the level of learners that these kids. They need to be thinking "+1" not "1+". ... it seems to me.

[2018-05-01 16:29] phet-steele opened #84 "Reward dialog appears independent of active screen"
1. Solve It! screen, on the last challenge before receiving a reward....
2. Set up the correct operation where pressing "Go" would result in the answer and give you the reward (in other words, you are one step away from winning)
3. Press "Go" and BEFORE the operation can be applied (while there is still animation), switch screens OR press the back button in the score bar OR go to the home screen.

[2018-05-01 16:41] pixelzoom commented on #77
You can test drive @ariel-phet's design (**DESIGN 5**) in [1.0.0-dev.109](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.109/phet/equality-explorer_en_phet.html).  It was trivial to implement, about half the code, no gymnastics required to add/remove operands from the picker.  But the operator buttons appearing/disappearing and jumping around as you scroll through the picker is inc

[2018-05-01 16:43] pixelzoom commented on #84
Hmmm... This is not good, because it indicates a general problem with dialogs.

[2018-05-01 17:07] pixelzoom commented on #84
There are multiple general problems here:

• The operation animation uses TWEEN. There is no way to associate a TWEEN animation with a screen, and all TWEENS are treated as global by joist.  So when we switch screens, the TWEEN animation continues to run, and displays the dialog when the operation is applied.

• There is no way to associate a dialog with a screen. All dialogs are treated as global

[2018-05-01 17:10] pixelzoom commented on #77
[1.0.0-dev.110](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.110/phet/equality-explorer_en_phet.html) is a variation of @ariel-phet's design.  It disables operator buttons instead of hiding them, so there's less jumping around.  Less distracting, but still distracting.

[2018-05-01 17:44] pixelzoom commented on #84
Assigning to @amanda-phet to choose an option.

Mentioning @ariel-phet too, in case he wants to weigh in.  FYI, the root cause of this problem is that `TWIXT/Animation` (the eventual replacement for TWEEN) is still not done.  In the future, I'm going to roll my own sim-specific animations until something in common code is actually completed.  For this specific issue, we can either live with the pr

[2018-05-01 18:50] pixelzoom commented on #84
After discussion on Slack developer channel...  I chose option (2).  I rewrote the animation using TWIXT/Animation, because @jonathanolson said that it "doesn’t have a lot of the desired hooks yet, and there are improvements, but I still think it is ready for general use. And I will update any usages whenever I make breaking changes."

The conversion was not exactly straightforward, but now that I

[2018-05-01 18:57] pixelzoom opened #85 "convert animations from TWEEN to TWIXT/Animation"
Using TWEEN animation has many known problems, for example https://github.com/phetsims/equality-explorer/issues/84.

TWIXT/Animation is the replacement for TWEEN.  It was not available when development on this sim started, and it's still missing key features.  According to @jonathanolson, it "doesn’t have a lot of the desired hooks yet, and there are improvements, but I still think it is ready for

[2018-05-01 18:58] pixelzoom commented on #85
The animations to convert are:

- [x] smiley face fade in SolveItSceneNode
- [ ] sum-to-zero fade in SumToZeroNode

Animation of terms is done in the model, and does not involve TWEEN.

[2018-05-01 19:01] amanda-phet commented on #63
Each level looks nice to me. @phet-steele close if you are happy too.

[2018-05-01 19:17] amanda-phet commented on #77
Since it's only implemented in the Operations screen, it's really hard to adequately compare. I really want to know how it feels on the Solve It screen.

However, I'm pretty sure we cannot use this new design. We just don't think in that sequence, especially when solving equations in the game screen. From two interviews with students, we consistently saw them change the operator first, then the op

[2018-05-01 19:20] amanda-phet commented on #84
I was going to say option (1), but I'm glad it is working out ok to use TWIXT.

[2018-05-01 19:49] pixelzoom commented on #85
Conversion of the smiley face fade went relatively smoothly.

Conversion of the sum-to-zero fade did not go well. Equality Explorer uses the PhET "creator" pattern, where a Node in the view (a TermNode in this case) is automatically created when a model element (a Term in this case) is created.  Trying to add a `step` function to TermNode and call it from ScreenView’s `step` function was a mess.

[2018-05-01 19:50] phet-steele commented on #63
So fun.

[2018-05-01 19:50] #63 closed

[2018-05-01 20:02] pixelzoom commented on #77
@amanda-phet See [1.0.0-dev.11](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.111/phet/equality-explorer_en_phet.html), which has @ariel-phet's design in both screens (buttons become disabled, not invisible).  If there's any possibility that you want to try it in interviews, I'll keep it around (with associated cost to keep it in-sync with changes).  Otherwise I'll delete it (reco

[2018-05-01 20:05] phet-steele commented on #84
@pixelzoom your conversion works except for the middle case in step 3:

The "press the back button in the score bar" will still have the dialog appear in the level select.

[2018-05-01 20:33] pixelzoom commented on #84
The remaining problem is due to the fact that the level-selection UI is part of the same `ScreenView`.  So after pressing the back button, the operation animations continue to run, and display the dialog when they complete.

Discussed with @phet-steele on Slack and we agreed that it makes sense to cancel in-progress operation animations when the back button is pressed.  Implemented in the above co

[2018-05-01 20:35] pixelzoom commented on #85
Addressing this issue is not a prerequisite to publishing 1.0.0.

[2018-05-01 20:36] pixelzoom commented on #75
Addressing this issue is not a prerequisite to publishing 1.0.0 (but sure would be nice).

[2018-05-01 20:45] amanda-phet commented on #77
I would encourage everyone to play with it on the game screen... I played for quite a while and it never felt comfortable to me. My preference is to stick with "design 2" with the horizontal radio buttons.

[2018-05-01 20:50] phet-steele commented on #84
Working 👍

[2018-05-01 20:50] #84 closed

[2018-05-01 20:50] pixelzoom commented on #85
Hmmm… For the sum-to-zero animation, I realized that there’s no harm in letting it run after switching screens.  So I guess I could convert to Animation and use `stepper: 'timer'` to avoid the whole `step` issue.  It certainly wouldn’t be any worse than TWEEN.  I'm going to proceed with that plan.

[2018-05-01 21:00] pixelzoom commented on #85
Converting `SumToZeroNode` to Animation with `stepper: 'timer'` was a piece of cake.  Equality Explorer is now TWEEN-free.  Closing.

[2018-05-01 21:00] #85 closed

[2018-05-01 21:03] kathy-phet commented on #77
I also prefer "design 2"

[2018-05-01 21:33] phet-steele opened #86 "Game may leak memory on repeated play"
@pixelzoom I took heap snapshots using https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.111/phet/equality-explorer_en_phet.html?screens=5 (notice `?screens=5` and the lack of `?rewardScore`).

I took one at startup, then one after completion of each level (letting the reward node trickle to the bottom of the sim before pressing "New Level"), then one after Reset All. The snapshot siz

[2018-05-01 21:53] pixelzoom commented on #86
Thanks @phet-steele.  Highly possible that there's a memory leak.  No memory leak testing has been done on this sim yet, see #64.

[2018-05-01 21:53] pixelzoom commented on #64
See https://github.com/phetsims/equality-explorer/issues/86 for possible leak in the game.

[2018-05-01 22:15] phet-steele commented on #64
@pixelzoom I went ahead and took snapshots while running https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.111/phet/equality-explorer_all_phet.html?fuzzMouse. Looks like you had a steep initial climb (probably from entering all the screens for the first time), but then stabilized over the remaining minutes. The larger snapshots had more things on the screen at the moment of recording,

[2018-05-01 22:17] pixelzoom commented on #19
A note about the lock and snapshots, from Slack discussion with @amanda-phet:

Chris Malley [3:17 PM]
An interaction that I’ve notice between the lock and snapshots feature… When you take a snapshot, it does not include the state of the lock.  So (for example) you may take a snapshot with the lock off, then restore the snapshot later when the lock is on.   That’s probably fine, but I wanted to mak

[2018-05-02 03:42] pixelzoom commented on #19
Email that I sent to the design team, reproduced here because it contains terminology and things that need followup (check list items).

---

Team,

Here’s the first version of the lock feature:

https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.112/phet/equality-explorer_en_phet.html

Some terminology, so we can communicate about this feature:

• The dragged term is the term that you

[2018-05-02 03:52] pixelzoom opened #87 "document user scenarios for the lock feature"
The lock feature is incredibly complicated to describe, since there are so many user scenarios. As noted in https://github.com/phetsims/equality-explorer/issues/19#issuecomment-385856336, there are a minimum of 30 scenarios that require testing every time a change is made to the lock feature, and will require QA testing.   Those scenarios should be documented.

[2018-05-03 17:01] ariel-phet commented on #77
Thanks @pixelzoom - to me this is a more logical interface, and removes an extra button press. But looks like I am being out voted. Oh well :)

[2018-05-03 22:30] pixelzoom commented on #19
5/3/18 design meeting notes:

Discussed issues in https://github.com/phetsims/equality-explorer/issues/19#issuecomment-385856336, decisions as noted in that comment.

[2018-05-06 17:56] pixelzoom opened #88 "Assertion failed: cannot be disposed twice"
Investigate this CT fuzz error, which happens rarely:

equality-explorer : fuzz : require.js-canvas : run
Uncaught Error: Assertion failed: cannot be disposed twice
Error: Assertion failed: cannot be disposed twice
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1525578098739/assert/js/assert.js:22:13)
    at BooleanProperty.dispose (https://bayes.co

[2018-05-06 18:05] pixelzoom commented on #88
The problem is at line 417 of `animateToToolbox` in TermDragListener.  `dispose` must have been previously called for `equivalentTerm`.

[code]

... and it's failing on line 93 of Term `dispose`:

[code]

The assertion is on line 407 of Property:

[code]

[2018-05-06 18:11] pixelzoom commented on #88
Hmmm.... I don't see how `dispose` could have been called twice for `equivalentTerm`.  It's private (verified) to TermDragListener, and everywhere that `dispose` is called, it's immediately set to `null`, e.g.:

[code]

So any attempt to call `dispose` again would have failed with `"Cannot read property 'dispose' of null"`.

[2018-05-06 20:42] pixelzoom commented on #88
Steps to reproduce:

1. Run with `?ea&maxInteger=1`
2. Got to Operations screen
3. Drag an 'x' from left toolbox to left plate
4. Turn on lock
5. Drag an 'x' from right toolbox to right plate
5. Drag another 'x' from right toolbox to right plate

This is not specific to 'x' terms, also reproducible with '1' terms.

[2018-05-06 23:16] pixelzoom commented on #19
All issues noted in https://github.com/phetsims/equality-explorer/issues/19#issuecomment-385856336 have been addressed.

I need to do more testing (particularly multi-touch) before I declare this ready for interviews.

[2018-05-06 23:19] pixelzoom opened #89 "break up TermDragListener"
Related to https://github.com/phetsims/equality-explorer/issues/19...  [TermDragListener](https://github.com/phetsims/equality-explorer/blob/master/js/common/view/TermDragListener.js) is responsible for all interaction with terms, including the lock feature.  It's gotten very complicated and large (790 lines).  Investigate ways to break it up into more maintainable pieces.

[2018-05-06 23:29] pixelzoom opened #90 "equivalent term on right plate is in wrong location"
Related to #19, the lock feature.

When put in an empty cell, the location of an equivalent term on the right plate is incorrect.

To reproduce:
1. Run the sim with `?showGrid` so you can see the grids on the plates.
2. Got to _Variables_ screen
3. Drag an 'x' from the right toolbox to the right plate.
4. Set x = 10.
5. Turn the lock 'on'.
6. Drag a '1' from the left toolbox to the left plate.

Th

[2018-05-06 23:31] pixelzoom commented on #90
Until I can investigate, there's a workaround in place for this. See above commit and TODO item in the code.

[2018-05-06 23:46] pixelzoom commented on #90
The equivalent term's x,y location appears to be at the same relative location as the cell that the dragged term is put in on the left plate.

[2018-05-07 00:05] pixelzoom commented on #88
This was fixed by the above commit, related to the lock feature #19.   When maxInteger was exceeded, all terms not on the scale were being deleted, but the drag listener code continued to run for the equivalentTerm side of the scale.  Since equivalentTerm was off the scale at that point, this resulted in 2 calls to `dispose` for equivalentTerm.

Closing.

[2018-05-07 16:32] pixelzoom commented on #76
@phet-steele has completed testing. The only issue was #84, and it's been addressed.

Closing.

[2018-05-07 16:32] #76 closed

[2018-05-07 16:45] pixelzoom opened #91 "informal dev test of lock feature"
@phet-steele expressed interest in testing the lock feature.  It is admittedly under-tested, especially with multi-touch. But all known issues have been addressed, and I think it would be valuable to have @phet-steele give it a preliminary shakedown.

There were definitely some usability/behavioral tradeoffs with this feature. For design specification, see #19.

The current dev version is [1.0.0-d

[2018-05-07 18:39] phet-steele opened #92 "Cannot sum-to-zero on a full plate"
@pixelzoom it's pretty hard to find documentation on every change from #19; sorry if this isn't an issue...but I find it hard to believe this was on purpose.

This issue was from testing #91, but is totally INDEPENDENT from the lock feature.

1. Numbers or Variables screen.
2. Fill up one side of the plate.
3. Trying to sum-to-zero a term on the filled side of the plate is not possible:

![eqex07]

[2018-05-07 18:45] pixelzoom commented on #92
Fixed in master.  @phet-steele please verify.

[2018-05-07 19:04] phet-steele commented on #92
Magnificent.

[2018-05-07 19:04] #92 closed

[2018-05-07 20:34] phet-steele commented on #68
@pixelzoom @amanda-phet I'd request that the following be changed too:

- [x] increase the height of each term's touch area while in the toolbox

I can't see these touch areas with `?showPointerAreas`, but they feel like they match the bounds of a term. I'm finding, more often than I care to admit, I'm failing to grab a term from a toolbox because my finger aimed too high. Can the touch areas be t

[2018-05-07 21:08] phet-steele opened #93 "Dragging terms are abandoned while switching screens"
1. Pick a non-game screen.
2. Start dragging a term with finger A (way more fun if lock is on, but not needed).
3. With finger B, switch to a new screen. This will cancel your drag with finger A, so you can go ahead and release that finger from the screen.
4. Return to the screen you chose in step 1.

The term you were dragging will be floating where you left it. It can be dragged again like norma

[2018-05-07 21:08] pixelzoom commented on #68
@phet-steele requested:

Can do, stand by.

[2018-05-07 21:24] pixelzoom commented on #68
Touch areas have been expanded for terms in the toolboxes. Their height is the height of the toolbox, and I added a bit of width too.   See screenshot below.  @phet-steele please review.

![screenshot_606](https://user-images.githubusercontent.com/3046552/39725982-ccf449e0-520a-11e8-95d5-67ac1e95b57c.png)

[2018-05-07 21:39] phet-steele commented on #68
That feels a lot better to me, thanks @pixelzoom!

[2018-05-07 21:59] phet-steele commented on #93
The floating term still has a shadow and can still get a halo when it begins to overlap something. Makes me think it is still being "dragged" instead of "cancelled" like I mentioned above.

[2018-05-08 15:51] pixelzoom commented on #93
A general deficiency of joist is that Screens are not notified when they are activated/deactivated.  So I'll probably have to resort to something like:

[code]

Two problems with this approach:
(1) It relies on a global
(2) `screenIndexProperty` is currently `@public (joist-internal)`, so should not be used outside of joist.

[2018-05-08 15:52] pixelzoom commented on #93
Investigate:

(1) Are active drag sequences interrupted when changing screens?
(2) Use Screen `screenActiveProperty` to `disposeTermsNotOnPlate`.

[2018-05-08 16:03] phet-steele opened #94 "Assertion failed: attempt to step disposed movable"
1. Numbers or Variables screen (start with empty plates just to eliminate extraneous variables).
2. Pick a plate and stack a term and its inverse:
<img width="967" alt="screen shot 2018-05-08 at 9 59 08 am" src="https://user-images.githubusercontent.com/5863899/39768433-80ad7998-52a6-11e8-9a3e-7d306711c94b.png">

3. LOCK!
4. Rapidly click the bottom term in your stack to get the below error. I hav

[2018-05-08 16:52] phet-steele opened #95 "?showAnswers lets you score multiple times in one prompt"
@pixelzoom this is not a public facing bug since it involves `?showAnswers`.

If you click the cheat button FIRST, you can solve for "x" a second time and get two stars for one prompt. Maybe best to fix this? (I don't know)

[2018-05-08 18:12] pixelzoom commented on #93
In the above commit, any terms that are not on the scale (i.e., terms that are dragging or animating) are disposed of when switching screens.  @phet-steele please verify.

[2018-05-08 18:16] pixelzoom commented on #95
Yep, worth fixing. Done in above commit. @phet-steele please verify.

[2018-05-08 18:17] pixelzoom commented on #94
Reproduced, will investigate.

Verified that the failure occurs only when a term and its inverse are stacked (e.g. 1 and -1, x and -x).  If two non-inverse terms are stacked (i.e. 1 and 1, -1 and -1, x and x, -x and -x), there is no failure.

[2018-05-08 19:01] phet-steele commented on #95
👍

[2018-05-08 19:01] #95 closed

[2018-05-08 19:10] phet-steele opened #96 "Equivalent term loses drop shadow when still being dragged"
1. Numbers, Variables, or Operations screen.
2. LOCK!
3. Grab a new term from the toolbox with finger A and just hold it on the screen, maybe above the scale so it's easy to see.
4. Take finger B and add something to the scale. As you do this, keep your eyes on the equivalent term you are holding with finger A.

The drop shadow disappears on the equivalent term!

@pixelzoom this is one of many dif

[2018-05-08 21:32] phet-steele commented on #94
@pixelzoom I have a better idea of what is happening.

Just after locking in step 3, we have it so that picking up one of the terms, say "-1", will create two new terms on the opposite plate, a "-1" and "1". Then, when releasing the dragged "-1", those two terms on the opposite plate go away. This phenomenon:

![eqex08](https://user-images.githubusercontent.com/5863899/39784169-bf5f93a0-52d4-11e8-

[2018-05-08 21:35] pixelzoom commented on #94
@phet-steele Thanks for the additional info.

[2018-05-08 22:04] phet-steele opened #97 "Have to touch twice to dismiss "Left|right side of the balance is full" dialogs"
@pixelzoom when using TOUCH input, I have to consistently touch the screen twice to dismiss the Oops! dialog when a plate is full (from #74, not the dialog for hitting max integer). This is regardless of touching the close button, the dialog, or the barrier rectangle.

Only takes one mouse click to dismiss.

Seen on macOS 10.13.4 Chrome, using the iPad emmulator in the dev tools, and iOS 11.2.5 iP

[2018-05-08 22:07] pixelzoom commented on #97
@phet-steele is that also the case for the Oops! dialog when the maxInteger limit is exceeded? (Run with `?maxInteger=1` to get there quickly.)

[2018-05-08 22:09] phet-steele commented on #97
No, maybe I wasn't explicit enough in saying that dialog was fine. Sorry.

[2018-05-08 22:14] pixelzoom commented on #97
You were plenty explicit.  I skimmed too quickly (in a meeting, multi-tasking poorly).

[2018-05-08 22:29] phet-steele commented on #97
@pixelzoom I tried disabling `touchSnag` on the terms and it fixed the issue for me.

[2018-05-08 22:35] pixelzoom commented on #97
Hmm, curious.  Also curious that it doesn't occur for all Oops! dialogs, since they are all identical dialogs with different message strings.

[2018-05-09 00:03] pixelzoom commented on #97
I discussed with @phet-steele and I now understand why this occurs only for the "Left|right side of the balance is full" dialogs.   This condition occurs at the start of a drag sequence, in TermDragListener `start`, and results in a call to `interrupt`.  TermDragListener is a subtype of SimpleDragHandler, with `allowTouchSnag: true`.

Here's the relevant piece of TermDragListener `start`:

[code]

[2018-05-09 00:27] pixelzoom commented on #97
Steps to reproduce on a touch device:

1. Start the sim with `?ea&showGrid&rows=1&columns=1` so that there's 1 cell on each plate.  This makes it easy to fill a plate.
2. Go to the Variables screen
3. Drag an 'x' from the left toolbox to the left plate.
4. Drag a '-x' from the right toolbox to the right plate.
5. Turn on the lock (below the scale)
6. Try to drag the 'x' off of the left plate.  You

[2018-05-09 01:38] pixelzoom commented on #96
Reproduced.

`shadowVisibleProperty.value` is set exclusively in TermDragListener (7 places), so start the investigation there.

[2018-05-09 01:42] pixelzoom commented on #96
`this.equivalentTerm.shadowVisibleProperty.value = false;` occurs in only 1 place, and it looks correct to me.  In TermDragListener `end`, see line 302:

[code]

... and if this code were being executed, I would expect the shadow on the dragged term to disappear also (see line 300), but it does not.

[2018-05-09 01:54] pixelzoom commented on #96
I commented out [line 302 above](https://github.com/phetsims/equality-explorer/issues/96#issuecomment-387593973) and the problem persists.

[2018-05-09 02:00] pixelzoom commented on #96
There are 2 other calls to `shadowVisibleProperty.value = false`, both in `refreshHalos` (private to TermDragListener).  The call on line 779 appears to be the culprit:

`this.term.shadowVisibleProperty.value = false;`

... but `this.term` is the _dragged_ term, so unclear why this is affecting (what should be) the equivalent term.

[2018-05-09 02:34] pixelzoom commented on #96
I tried this on the Variables screen, using 'x' terms for step 3, and '1' terms for step 4.   This was to confirm that it's not somehow related to "like" terms.   The problem occurs in that scenario too.

[2018-05-09 02:47] pixelzoom commented on #96
All terms have an associated TermDragListener, but the drag listener should be considered "active" only for terms that are being explicitly dragged.  In this case, the equivalentTerm is not being dragged, is following the dragged term.  But regardless of whether the drag listener was active, `refreshHalos` was being called whenever the plate's contents or location changed.

This was fixed in the a

[2018-05-09 14:35] pixelzoom commented on #94
Looks like this started showing up in CT on 5/8/2018 @ 1:35:09 PM.

[2018-05-09 14:40] pixelzoom commented on #94
In CT, it's showing up consistently in the Operations screen, with both constant and variable terms.

Examples:

Uncaught Error: Assertion failed: attempt to step disposed movable
Error: Assertion failed: attempt to step disposed movable
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1525835433331/assert/js/assert.js:22:13)
    at ConstantTerm.step

[2018-05-09 14:42] pixelzoom commented on #94
@phet-steele In https://github.com/phetsims/equality-explorer/issues/94#issue-321249302, you said:

Did you mean "Numbers or _Variables_ screen"?  Because it's impossible to do step 2 in Operations screen.

[2018-05-09 14:43] phet-steele commented on #94
I found it 3.5 hours before bayes could, take that you silly machine!

[2018-05-09 14:44] phet-steele commented on #94
Yup definitely, typo that I will edit.

[2018-05-09 14:48] pixelzoom commented on #94
CT is finding this problem in the Operations screen, but I have not been able to manually reproduce the steps required to make it happen.

[2018-05-09 14:49] phet-steele commented on #94
Sounds like a fun challenge. I'm on it!

[2018-05-09 14:50] pixelzoom commented on #94
Hmmm... Perhaps CT noticed that @phet-steele found the problem in the other 2 screens, "realized" that the report was incomplete, and decided to point out the omission to the silly human :)

[2018-05-09 14:58] phet-steele commented on #94
1. Used `?speed=0.1` to help me. Start with empty plates.
2. Place an "x" on one plate.
3. LOCK!
4. Grab that "x" and move it up off the plate. This will create a "-x" on the opposite plate.
5. Release the "x", and as it is floating back down, grab the "-x" and hold it.

Once the "x" touches down, while you are still holding the "-x", the assertion is hit.

[2018-05-09 14:59] phet-steele commented on #94
To my credit, if the "omission" was the Operations screen, I did include it as a typo...so ha!

[2018-05-09 15:02] pixelzoom commented on #94
Another variation to reproduce it on Operations screen. This variation is important because it does not involve the lock feature.

1. run with `?speed=0.1`
2. put 'x' on right plate
4. drag 'x' from right toolbox, release above right plate
5. while 'x' is animating to right plate, click 'x' on right plate rapidly/repeatedly
6. after animating 'x' reaches right plate, stop clicking, and the asserti

[2018-05-09 15:17] pixelzoom commented on #94
When doing `step`, we're iterating over an array of terms.  We necessarily make a copy of the array, since stepping may modify the array and would be a "concurrent modification" problem.  Stepping a term may result in some other term being disposed, but still in the array.  So while we iterate over the array, we need to skip terms that have been disposed.   Implemented in the above commit.

@phet-

[2018-05-09 15:21] phet-steele commented on #96
Looks good, thanks.

[2018-05-09 15:31] pixelzoom opened #98 "warning: AudioContext was not allowed to start"
Related to general vibe issue https://github.com/phetsims/vibe/issues/32.

This warning started appearing in the browser console about a week ago, and occurs 100% of the time in requirejs mode (not tested in built versions)

According to @jbphet, this can prevent audio from playing.  And nothing sim-specific can be done to address this. So https://github.com/phetsims/vibe/issues/32 needs to be add

[2018-05-09 15:32] pixelzoom commented on #98
@amanda-phet @ariel-phet FYI.

[2018-05-09 15:54] pixelzoom opened #99 "what to do with 'x & y' screen?"
While implementing Equality Explorer, I created a hidden screen that supports multiple variables.  I did this to verify that I wasn't writing code with "single variable" assumptions.  After showing it to @amanda-phet and @kathy-phet, there was some interest in using this screen, possibly in a new sim.

The screen is currently named "x & y",  and it's hidden behind the `?xy` query parameter.  You c

[2018-05-09 15:59] pixelzoom commented on #94
CT appears to be happy.

[2018-05-09 16:09] pixelzoom opened #100 "document testing scenarios for lock feature"
The lock feature is incredibly complicated to describe, since there are so many user scenarios. As noted in https://github.com/phetsims/equality-explorer/issues/19#issuecomment-385856336, there are a minimum of 30 scenarios (15 for Numbers/Variables, 15 for Operations) that require testing every time a change is made to the lock feature, and will require QA testing.  I have my own cryptic notes th

[2018-05-09 16:11] pixelzoom opened #101 "model description"
Complete the model description in [model.md](https://github.com/phetsims/equality-explorer/blob/master/doc/model.md).

[2018-05-09 16:11] pixelzoom opened #102 "implementation notes"
Complete the implementation notes in [implementation-notes.md](https://github.com/phetsims/equality-explorer/blob/master/doc/implementation-notes.md).

[2018-05-09 16:14] pixelzoom commented on #100
Here are my "cryptic notes" on the test scenarios.

_Numbers and Variables screens_:

scenarios: term dragged from toolbox, equivalent comes out of other toolbox
(1) term released below plate, term and equivalent return to toolbox
(2) term released above inverse on plate, term and inverse sum to zero, equivalent goes to plate
(3) term released above plate, term plate full (or becomes full), term a

[2018-05-09 16:17] phet-steele commented on #100
@pixelzoom #87?

[2018-05-09 16:20] phet-steele commented on #83
Just as a reminder for the future: decent performance hit when restoring snapshots that completely fill both plates (early screens).

[2018-05-09 16:31] phet-steele commented on #94
@pixelzoom if I repeat the original steps after pulling https://github.com/phetsims/equality-explorer/commit/39bb822629cefe6b9372e6db6251a38a4d82da21, I get a dead term on the opposite plate (can't interact with it, but it is still recognized by the sim [has weight on the scale]). No assertion is thrown.

Looks like the "double click" has to successfully combine the two terms? Didn't look too hard

[2018-05-09 16:32] phet-steele commented on #94
Removing the automated testing label because I found it! 😠

[2018-05-09 16:39] pixelzoom commented on #100
The hazards of creating issues before finishing my coffee.  I'll keep this issue open (since it has more detail) and close #87 as a duplicate.

[2018-05-09 16:39] pixelzoom commented on #87
Duplicate of #100. Closing.

[2018-05-09 16:39] #87 closed

[2018-05-09 16:43] pixelzoom commented on #83
That performance hit is (unfortunately) unavoidable; the time to restore a snapshot's view increases linearly with the number of terms.  It's previously been run past the design team, and the consensus was that the user can tolerate (perhaps might even expect) a bit of time to restore a snapshot.

[2018-05-09 16:57] pixelzoom commented on #94
Reproduced, will investigate.

[2018-05-09 17:01] phet-steele commented on #94
Removing that dead term via locked dragging throws an assertion for trying to dispose twice....so that dead term was likely "disposed" at some point.

[2018-05-09 17:23] pixelzoom commented on #94
Pushing the reset button (either Reset All or on the scale) also results in `Assertion failed: cannot be disposed twice`.   So yes, the dead term was definitely disposed at some point.

[2018-05-09 17:52] pixelzoom opened #103 "no halo refresh when column is compacted"
Noted while working on https://github.com/phetsims/equality-explorer/issues/94#issuecomment-387798268...

1. Stack 2 inverse terms on a plate, e.g.:

![screenshot_613](https://user-images.githubusercontent.com/3046552/39830898-faa80716-537f-11e8-8bfd-3bbf1c48fb08.png)

2. Click (but do not drag) on the bottom term (1).

3. The top term (-1) falls down, compacting the column.  The 1 and -1 now over

[2018-05-09 17:58] pixelzoom commented on #103
Verified that TermDragListener `refreshHalos` is called during this sequence.  So there's either an ordering issue, or a subtle bug in the logic.

[2018-05-09 18:52] pixelzoom commented on #103
This problem was introduced between [1.0.0-dev.100](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.100/phet/equality-explorer_en_phet.html) (4/23/18 @ 4.51 PM) and [1.0.0-dev.101](https://bayes.colorado.edu/dev/html/equality-explorer/1.0.0-dev.101/phet/equality-explorer_en_phet.html) (4/25/18 @ 4:40 PM).  While this is isolated to TermDragListener, there are unfortunately dozens o

[2018-05-10 18:15] phet-steele commented on #93
@pixelzoom I think this is working 🤞.

[2018-05-10 18:15] #93 closed

[2018-05-10 19:15] pixelzoom opened #104 "Reward dialog obscures challenge solution"
When 10 challenges are solved, a reward dialog is displayed immediately. E.g.:

![screenshot_618](https://user-images.githubusercontent.com/3046552/39893951-a65a4956-5462-11e8-923e-4319bce94ebd.png)

@amanda-phet brought up the concern that the solution (the value of 'x') is obscured in this case. And the student can't see the solution until they close the dialog.

And the dialog is arguably a bit

[2018-05-10 19:16] pixelzoom commented on #104
@amanda-phet Is this problem specific to Equality Explorer?  Or does it occur in other sims (e.g. Make A Ten) when this reward dialog is used?

[2018-05-10 19:33] pixelzoom commented on #104
We might alleviate this problem (somewhat) by first displaying the smiley face, and waiting until it fades out to display the reward dialog.  There wouldn't be "immediate gratification".  And more importantly, the smiley face is likely to distract the student from seeing the answer, so this might be a non-solution.

Note to self: This would involve relative easy (but not trivial) logic changes to

[2018-05-10 19:37] pixelzoom commented on #104
We could make the reward dialog smaller, so that the solution is visible.  This also allows you to see more of the stuff that's falling in the background. E.g: with `scale:0.5` for the dialog:

![screenshot_616](https://user-images.githubusercontent.com/3046552/39890172-3d569668-5457-11e8-98bb-29d9c5fed90a.png)

Changes required for this in SolveItSceneNode:

[code]

[2018-05-10 20:55] pixelzoom commented on #104
Here's a variation on https://github.com/phetsims/equality-explorer/issues/104#issuecomment-388161852.  Dialog `scale: 0.75` (so not as small), but dialog is not centered on the screen, it's shifted down.

![screenshot_617](https://user-images.githubusercontent.com/3046552/39893792-22db427e-5462-11e8-9717-6adee2c49afe.png)

Changes required for this in SolveItSceneNode:

[code]

[2018-05-10 20:55] pixelzoom commented on #104
@amanda-phet Let me know if any of the above solutions would address your concerns.

[2018-05-10 21:12] amanda-phet commented on #104
This occurs in Make a Ten as well.

I like the third option the best (0.75 and shifted down). It makes me realize that the original dialog design was probably excessively large.

[2018-05-10 21:23] amanda-phet commented on #104
@phet-steele what do you think?

[2018-05-10 21:26] pixelzoom commented on #104
@amanda-phet said:

The implementation (RewardDialog) is currently used only in Equality Explorer and the vegas demo application.   But I think it's OK that it's a bit large -- it's preferable to scale down than scale up.

[2018-05-10 21:27] pixelzoom commented on #104
I asked:

@amanda-phet said:

And are there other sims that use a similar reward dialog, and have a similar problem?

[2018-05-10 21:48] pixelzoom commented on #104
The issue of whether other sims have this problem has been moved to https://github.com/phetsims/vegas/issues/72.

I implemented the preferred solution -- `scale:0.75` and shifted down. @amanda-phet please review in master.  If it looks OK, you can close this issue.

[2018-05-11 01:37] phet-steele commented on #104
To be blunt, I hate the offset. I know it solves the issue, but it is very buggy looking placement. Maybe I'm not used to non-centered dialogs?

I'd like to see the delayed option, where the dialog appears once the smiley starts to fade. I'd imagine you would even still get to hear the "ding" sound for a correct answer. We could even delay it further, right up until when the Next button should app

[2018-05-11 03:14] pixelzoom commented on #104
I'm not a fan of off-centered dialogs either.   But this was the best solution that I could come up with.   My gut reaction was that it's a non-problem, but I felt like I should offer some potential solutions.

This is going to be 1-2 hours of work.  Imo, it may not solve the problem, and is likely to cause other problems.   Delaying the appearance of the dialog any amount of time after the smiley

[2018-05-11 15:33] phet-steele commented on #104
@pixelzoom @amanda-phet  turns out this difference feels significant. IMO, waiting until the fade ends (1.8 sec) is way better than waiting for the fade to start (1 sec). (Tired this myself to check)

@pixelzoom said:

There was never an intent to have there be a gap time between the smiley and the reward, which it sounds like you are implying.

[2018-05-11 19:11] pixelzoom commented on #104
Following up on @phet-steele's point:

In commit https://github.com/phetsims/vegas/commit/f2d7b0ac2273bf1d61f7231c1a2ea56a5e320a62, I've reworked RewardDialog so that the defaults are appropriate for standard sim layoutBounds, and added options to support customization by sims that use non-standard layoutBounds.   Sims should no longer need to scale this dialog, and scaling has been removed from E

[2018-05-11 19:22] pixelzoom commented on #104
Here's the current state of EqEx, no scaling of the dialog, but it is off center.

![screenshot_624](https://user-images.githubusercontent.com/3046552/39942935-4d69172a-551e-11e8-9dc4-4325b40ac6ba.png)

[2018-05-11 19:56] pixelzoom commented on #19
This feature has now received sufficient testing to close this issue.  Any related problems will be (and have been) tracked in new GitHub issues.

[2018-05-11 19:56] #19 closed

[2018-05-11 20:00] pixelzoom commented on #77
Closing this issue.  Interviews on DESIGN 2 are tracked in #80.

[2018-05-11 20:00] #77 closed

[2018-05-11 20:03] pixelzoom commented on #91
Informal testing is completed. @phet-steele found some good stuff, see linked issues above.

Closing.

[2018-05-11 20:03] #91 closed

[2018-05-11 20:15] pixelzoom commented on #103
Fixed in above commit. Closing.

[2018-05-11 22:18] pixelzoom commented on #103
Reopening.  Not sure if this is related or should be a new issue.

From @phet-steele in Slack:

multitouch
hold a term over another to get a halo (do the Operations screen)
hold this term very still
use a different finger to add a term to the same one you are hovering over
the term you are holding will have its halo, but the term it was hovering over will not have a halo anymore

[2018-05-11 22:36] pixelzoom opened #105 "convert "mystery terms" to a type of variable term"
In the design for Equality Explorer, "mystery terms" were terms in the Basics screen that are associated with objects -- shapes, fruits, coins, animals. The value (weight) of each mystery object was constant, and the user was supposed to guess the value.

Everything changed with the new Lab screen in Equality Explorer: Basics (see https://github.com/phetsims/equality-explorer-basics/issues/3).  Th

[2018-05-11 22:39] pixelzoom commented on #89
It would be best to do this before I address any more of the issues that are related to dragging or lock.

[2018-05-11 22:49] pixelzoom commented on #105
Some preliminary work was done on 5/4/18, see the above commits.  I was hoping this might be enough, but no dice.

[2018-05-12 01:19] pixelzoom commented on #105
Done.  There are now 2 types of variables: symbolic and object.  Symbolic variables are associated with an abstract symbol, e.g. 'x'.   Object variables are associated with real-world objects, e.g. apple, coin, cat.  VariableNode handles choosing the correct display.  Everything else remains the same -- there is still the need to have separate TermCreator, Term and TermNode subtypes.

Closing.

[2018-05-14 17:29] kathy-phet commented on #99
David had a number of learning goals that could be addressed by this screen:

[2018-05-14 17:31] kathy-phet commented on #99
But what should the sim name be. Here is a brain dump:

Equality Explorer XY
Equality Explorer: X & Y
Equality Explorer: Systems
Equality Explorer: Two Variables

[2018-05-14 18:16] jbphet commented on #98
@pixelzoom - can you please provide OS and browser info to make this easier for me to duplicate?

[2018-05-14 18:19] pixelzoom commented on #98
As reported in vibe issue https://github.com/phetsims/vibe/issues/32#issuecomment-386911406:

[2018-05-14 18:23] pixelzoom commented on #99
@kathy-phet requested a version with xy screen only, here it is:

https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.116/phet/equality-explorer_en_phet.html

[2018-05-14 21:31] jbphet commented on #98
After much mucking about with flags, Media Engagement Indices, and such, I found that I am able to duplicate this reliably using the MacBook Pro generally referred to a "Arnab's dev machine" on Chrome 66.0.3359.139, Mac OS 10.13.4, but only in incognito mode.  So far, I haven't been able to make it happen at all on my Windows 10 machine, which is running Chrome version 66.0.3359.170 (Official Buil

[2018-05-14 21:52] pixelzoom commented on #98
I don't see the warning in Chrome Canary `68.0.3430.0 (Official Build) canary (64-bit)`.  I tested with and without Incognito.

[2018-05-14 22:55] pixelzoom commented on #89
It took me awhile to find a natural way to break this up.  Below is the API that must be implemented by subtypes.  There are 2 subtypes: `CombineTermsDragListener` for the scenario where like terms are combined in one cell, and `SeparateTermsDragListener` for the scenario where like terms occupy separate cells.

I'll proceed with some of the drag-specific issues that need to be addressed, to see i

[2018-05-15 15:29] pixelzoom commented on #101
First pass at model description is completed. @amanda-phet please review, let me know if you have any suggestions.  Keep in mind that this is supposed to be a very high-level overview, not a comprehensive description of the sim.

[2018-05-15 15:36] samreid opened #106 "Add padding to images to simplify layout"
Discovered in https://github.com/phetsims/sun/issues/360, the lock images look like so:

![image](https://user-images.githubusercontent.com/679486/40066697-ee78dcd0-5821-11e8-9dfa-d91ad838dbf6.png)
![image](https://user-images.githubusercontent.com/679486/40066719-f8d81ccc-5821-11e8-8a84-3fdd49ec1be6.png)

This leads to layout code like this:

[code]

and

[code]

Generally, for patterns like this

[2018-05-15 15:40] pixelzoom commented on #106
I disagree.

[2018-05-15 15:53] jbphet commented on #98
My educated guess is this: They modified Chrome such that it allows the creation of the audio context, but doesn't allow any usage of it until the user has interacted with the page.  That would prevent auto-play of videos, which is what they were trying to do, without messing up PhET and everyone else who makes apps that include audio.

I'm not sure what the release schedule looks like for Equalit

[2018-05-15 16:02] pixelzoom commented on #106
While I disagree with the "generally" part of this issue...  In this case, adding padding to the images does make for a more pleasing touchArea dilation, so I've done that in the above commit.   And I've added an assertion that the 2 images must have identical dimensions.

[2018-05-15 16:02] #106 closed

[2018-05-15 16:04] pixelzoom commented on #106
Touch area before:

![screenshot_630](https://user-images.githubusercontent.com/3046552/40069029-5148bf74-5827-11e8-8a42-04dd236db957.png)

Touch area after:

![screenshot_631](https://user-images.githubusercontent.com/3046552/40069057-6d0b9ace-5827-11e8-9d11-c59a9ceefb8e.png)

[2018-05-15 16:12] pixelzoom commented on #98
Current milestones for Equality Explorer are at [this link](https://docs.google.com/document/d/1xu9nawWcndFqgg5zyCGm25h-OFUsuFYnXF3QHW42spQ/edit#heading=h.zfo7jfd6g7pk).  8/1 publication date is effectively 7/18, since it does not account for my vacation.  To meet that, we should start RC by 6/18.

[2018-05-15 16:19] pixelzoom opened #107 "interviews on feature-complete version"
Equality Explorer has been feature complete since 5/1/2018.   It's ready for formal interviews.

To meet publication milestones, we need to start RC testing no later than 6/18.  Interviews need to be completed well before that date to allow for changes.

[2018-05-15 16:24] pixelzoom commented on #98
If we're relying on the fix in Canary 68, that's not going to work with the Equality Explorer milestones.  According to the [Chrome release schedule](https://www.chromestatus.com/features/schedule), Chrome 68 is anticipated to be stable (GA) on July 23, about 1 month after Equality Explorer needs to start RC testing.

[2018-05-15 16:25] pixelzoom commented on #98
@jbphet Have you tried Chrome 67, which will be stable on May 28?

[2018-05-15 16:33] pixelzoom commented on #100
Documentation will appear in [lock-scenarios.md](https://github.com/phetsims/equality-explorer/blob/master/doc/lock-scenarios.md).

[2018-05-16 15:42] pixelzoom commented on #107
Shooting for interviews on Fri 5/25/18.

[2018-05-16 16:06] pixelzoom commented on #104
@amanda-phet and I discussed via Slack.  The goal is to keep the answer visible at all times (temporary occlusion by falling reward objects is OK.)  Delaying the appearance of the dialog in order to keep it centered does not achieve that goal - it delays the problem, and the student may still not see the answer because they are distracted by the smiley face. So we're going to stick with shifting t

[2018-05-16 16:08] pixelzoom commented on #107
@amanda-phet said: shooting for interviews on Fri 5/25/18.

Interviews should include https://github.com/phetsims/equality-explorer/issues/80.

[2018-05-16 21:15] amanda-phet commented on #107
Have two scheduled so far for next week, aiming for ~3 interviews.

Still a question if we will include Basics and/or Systems spinoff sims, but I am hoping at the end of the interviews we can include them. It might also be worthwhile to interview on those separately, I'm not sure.

[2018-05-16 21:27] pixelzoom commented on #107
Dev version for interviews:
https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.117/phet/equality-explorer_en_phet.html

[2018-05-16 22:06] amanda-phet commented on #99
Some of David's examples can be achieved in the Variables screen of EqEx and don't need two variables. I think we need to consider the value of having two variables and what that gets us.

From my perspective, I see this is a more formal version of what students can do with the objects, so the learning goals aren't much different.

For example, you could set x and y to specific values, and come up

[2018-05-17 02:33] ariel-phet commented on #98
@pixelzoom this warning appears in the console...is there any other issue (besides audio not working in the sim)? I do not necessarily see that as a "blocking issue" if it is will be fixed in the browser at some point in the nearish future. Especially since this sim is unlikely to get much usage until after August, I would be fine on punting on this, and putting a reminder on the calendar for us t

[2018-05-17 19:03] amanda-phet commented on #101
Should I edit it directly?

The only change I'd like to make at the moment is in this line:

The Basics screen introduces equations using terms that correspond to real-world objects (shapes, fruits, coins and animals) whose ~~weights~~ values are hidden.

[2018-05-17 19:13] amanda-phet commented on #68
All looks good to me.

[2018-05-18 19:03] phet-steele commented on #104
@pixelzoom can you put a note of the offset somewhere that QA can see so that no one creates an issue thinking it's a bug? (Just in case someone misses this issue)

[2018-05-18 19:26] amanda-phet commented on #104
@phet-steele Where would such a note go, if this issue and the code do not suffice?

[2018-05-18 19:37] phet-steele commented on #104
Likely in [implementation-notes.md](https://github.com/phetsims/equality-explorer/blob/master/doc/implementation-notes.md), where it would be linked for review in a future QA test task.

[2018-05-22 15:53] pixelzoom commented on #99
Raising priority of this issue to "top".   I need to know immediately if there are any changes/requirements that will impact Equality Explorer.

[2018-05-22 16:02] pixelzoom commented on #101
Requested change made in above commit.

Closing.

[2018-05-22 16:02] #101 closed

[2018-05-22 16:07] #104 closed

[2018-05-22 16:09] pixelzoom commented on #104
I don't see the point in mentioning this in implementation-notes.md.   This is a design decision, not unlike the decision about whether or not to show an accordion box's title when it's open.   Yes, most of the time a Dialog is centered, but it's not a requirement, it just happens to be the default.  And it's not going to be the default for non-modal Dialogs (the specification says they will open

[2018-05-22 16:21] pixelzoom commented on #98
I would have thought that audio not working would be considered a serious issue, especially in a sim with a game.  But if you don't consider that I problem, then I'll mark this as deferred and ignore it for the purposes of 1.0 release.

[2018-05-22 19:31] pixelzoom commented on #30
Reopening.

@kathy-phet received input related to this issue.  I received the info from @amanda-phet, and I'll try to summarize here.   What's shown in the "Equation or inequality" accordion box is only true based on the variable value(s).  So it's important to show the values with the equation or inequality.

Putting the values inside the accordion box is not possible -- there is simply not room

[2018-05-22 20:06] amanda-phet commented on #107
Today I'll be interviewing with the above version (dev.117) as well as the Two Variables sim (https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.116/phet/equality-explorer_en_phet.html).

Hoping @pixelzoom will have a new version for interviews friday with the change discussed in https://github.com/phetsims/equality-explorer/issues/30#issuecomment-391113019.

[2018-05-22 20:19] pixelzoom commented on #30
https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.118/phet/equality-explorer_en_phet.html?xy, note the `?xy` query parameter so you can test that screen.

If you want to run standalone xy screen, use `?xy&screens=6`.

Basics version, so you can also check the Lab screen: https://phet-dev.colorado.edu/html/equality-explorer-basics/1.0.0-dev.5/phet/equality-explorer-basics_en_phet.html

[2018-05-22 22:26] pixelzoom commented on #102
Done, closing.

[2018-05-22 22:27] pixelzoom commented on #107
See https://github.com/phetsims/equality-explorer/issues/30#issuecomment-391126834.

[2018-05-23 06:18] jonathanolson commented on #97
Hmm, I'm getting an assertion failure (Assertion failed: lock is on, equivalentTerm expected) when trying to reproduce.

Also, I see checks for `this.interrupted` in your start() function. Are you expending the endDrag of the interrupt drag listener to call start?

It would be good to collaborate on this to resolve the issue, let me know when you're available?

[2018-05-23 06:19] jonathanolson commented on #97
Also since we didn't have touch fuzzing until an hour ago, I can't be 100% sure this assertion failure I'm hitting wouldn't have happened before (in which case I'll want to investigate what is causing it Scenery-side).

[2018-05-23 06:24] pixelzoom commented on #97
`start` function checks `this.interrupted` because it calls `startOpposite` (abstract, implemented by subtypes) which may interrupt the drag cycle.

I recently factored out big chunks of TermDragListener into subtypes CombineTermsDragListener and SeparateTermsDragListener, possible that I may have broken something.

Available tomorrow (5/24), catch me on Slack.

[2018-05-23 15:17] pixelzoom commented on #97
I indeed have broken interrupt handling in TermDragListener.  Fixed in the above commit.  Verified that steps to reproduce this issue work, as shown in https://github.com/phetsims/equality-explorer/issues/97#issuecomment-387583148.

[2018-05-23 15:50] pixelzoom commented on #94
@phet-steele I can't seem to reproduce https://github.com/phetsims/equality-explorer/issues/94#issuecomment-387797937 anymore.  There have been significant changes to drag handling over the past couple of weeks, so this might have been fixed indirectly (I hate when that happens).  Can you please verify?

[2018-05-23 16:20] pixelzoom commented on #97
Discussed with @jonathanolson via Slack.  I'll try to summarize here.

This is a general issue with SimpleDragHandler, and probably with the new DragListener.  With `allowTouchSnag: true`, touch deals with 2 events when a drag starts: 'enter' and 'down'.   If we call `interrupt` during processing of the 'enter', then `start` will still be called when processing the `down`.   Logic needs to be adde

[2018-05-23 16:33] amanda-phet opened #108 "X & Y / Two Variables sim: change to snapshots display"
I think it would be a good idea to put the variable values *under* the equation when in the snapshots panel, just like you did with the Lab screen of Equality Explorer: Basics. We settled on a font size for equations back when we only had one variable, and this scenario in the Two Variables sim is unpleasant.
![image](https://user-images.githubusercontent.com/7852916/40438124-7cef47b2-5e74-11e8-8e

[2018-05-23 16:57] phet-steele commented on #94
I can't reproduce anymore either. Tentatively closing. I guess....good job?

[2018-05-23 16:57] #94 closed

[2018-05-23 17:02] pixelzoom commented on #108
Done, you can test drive in master.   The snapshot equations now seem a bit small to me, see screenshot below.   Options are (1) live with it, or (2) reduce the number of snapshots.  @amanda-phet let me know how you want to proceed.

![screenshot_638](https://user-images.githubusercontent.com/3046552/40439634-ba67add8-5e78-11e8-89c2-2c2feefec1a9.png)

[2018-05-23 17:10] pixelzoom commented on #108
I could also investigate option (3) reduce the amount of vertical space between snapshots.  That will affect _all_ screens.

[2018-05-23 17:24] pixelzoom commented on #108
I'm going to proceed with option (3), reducing the amount of vertical space between snapshots.

[2018-05-23 17:30] amanda-phet commented on #108
I assumed we'd need fewer snapshots, just like we have in the Lab screen. Sorry for not being clear about that.

[2018-05-23 17:37] pixelzoom commented on #108
OK, option (2) it is.

[2018-05-23 17:39] jonathanolson commented on #97
Implemented the solution for SimpleDragHandler and DragListener. Can you verify the above commit fixes the issue for this sim?

[2018-05-23 17:58] pixelzoom commented on #108
I made the following related changes:
- reduced the number of snapshots in the XY screen to 4
- optimized the height and spacing of snapshots for the XY and Lab screens
- removed the horizontal separator between the "Snapshots" accordion box title and the top snapshot. This was a non-standard place for a separator, and buys us a significant amount of vertical space. (The horizontal separator above

[2018-05-23 18:30] pixelzoom commented on #97
@phet-steele Can you please verify?

[2018-05-23 19:19] amanda-phet commented on #108
All of these tweaks look great to me! Thanks. I think we can close this issue, unless you want to wait to close this once you publish a dev version.

[2018-05-23 19:54] pixelzoom commented on #98
@ariel-phet In https://github.com/phetsims/vibe/issues/32#issuecomment-391470509, @jbphet indicated that this issue is going to resurface when Chrome 70 is published in October 2018, and that developers have been granted a temporary reprieve in which to address it.   With that new information... Do you want this issue to be addressed before Equality Explorer 1.0 is published, or are you comfortabl

[2018-05-23 19:56] pixelzoom commented on #89
I'm comfortable with how refactoring worked out.  Closing.

[2018-05-23 19:56] #89 closed

[2018-05-23 19:58] pixelzoom commented on #108
No need to wait for a dev version.
The changes will appear in EqEx >= 1.0.0-dev.119 and  EqEx:Basics >= 1.0.0-dev.6.

[2018-05-23 19:58] #108 closed

[2018-05-23 20:14] pixelzoom opened #109 "halo state is incorrect when more than 2 terms are involved"
From https://github.com/phetsims/equality-explorer/issues/103#issuecomment-388499584, as reported by @phet-steele in Slack:

hold a term over another to get a halo (do the Operations screen)
hold this term very still
use a different finger to add a term to the same one you are hovering over
the term you are holding will have its halo, but the term it was hovering over will not have a halo anymore

[2018-05-23 20:15] pixelzoom commented on #103
While this is related to the halo state, it is definitely a different issue.  Moved to https://github.com/phetsims/equality-explorer/issues/109.

Closing.

[2018-05-23 20:15] #103 closed

[2018-05-23 20:17] ariel-phet commented on #98
@pixelzoom lets plan on trying to address it before publication. If @jbphet has not come up with a robust workaround by the time you are ready to branch for RC, lets discuss further.

[2018-05-23 20:19] pixelzoom commented on #98
Removing deferred label. @jbphet FYI.

[2018-05-23 20:20] pixelzoom commented on #98
@jbphet FYI, RC testing is schedule to begin no later than 7/11/18.

[2018-05-24 04:00] pixelzoom commented on #69
Everything looks good, including the "Basics" and "Two Variables" sims.  Closing.

[2018-05-24 04:00] #69 closed

[2018-05-24 04:03] pixelzoom commented on #75
@jonathanolson In https://github.com/phetsims/make-a-ten/issues/283#issuecomment-389718351 I see that you replaced Make A Ten's `SlidingScreen` (it's own copy) with TWIXT/TransitionNode.   If I follow same pattern for converting, will it work here, where I'm using TWIXT/SlidingScreen?

[2018-05-24 04:09] pixelzoom commented on #30
One thing I'm not too satisfied with... The pickers in the "Lab" screen look small to me, see screenshot below.  I haven't evaluated their usability on iPad yet.

The pickers became smaller because we need to hide the 'Values' accordion box title when expanded, so that the accordion box height matches the height of the 'Equation or inequality' accordion box.  And hiding the title means that the co

[2018-05-24 04:43] kathy-phet commented on #30
I thought I had seen a prior version when the Values word was still visible ant the pickers were lower and the heights did not match. I thought it worked well that way. I agree they look squished here.

Does it have to be the same height as the Equation or Inequality?

[2018-05-24 04:45] kathy-phet commented on #30
If left this way, the images could be smaller (only in the Values box) giving more horizontal room and the overall height of the equation box and the values box could be made 10% bigger, so the pickers can be bigger.

[2018-05-24 08:44] jonathanolson commented on #75
I'd expect so, the API for both SlidingScreens was quite similar. I'd also be interested in any feedback on TransitionNode.

[2018-05-24 16:20] pixelzoom commented on #30
@kathy-phet said:

There was no such dev version. Perhaps you're thinking of [1.0.0-dev.4](https://bayes.colorado.edu/dev/html/equality-explorer-basics/1.0.0-dev.4/phet/equality-explorer-basics_en_phet.html), when Values was below Snapshots.

That was my understanding.  We want the equation and values to "read well" from left to right, as a compromise for the inability to put the values in the Equ

[2018-05-24 16:24] pixelzoom commented on #30
Another option we haven't discussed is making the Values box _wider_.  There is space to the left of it.   Making it wider than the Snapshots box may look a little odd, but it would make all pickers bigger without the drawbacks associated with making the box taller.

[2018-05-24 17:55] pixelzoom opened #110 "snapshots: display variable values smaller than equation"
Change request... Use a smaller font for variable values in snapshots so that they are smaller than the snapshot equation, and therefore deemphasized.   Definitely do this when values are shown below equation (e.g. Lab and Two Variables screens), make it optional when values are shown to the right of equation (e.g. Variables screen).

[2018-05-24 17:58] pixelzoom opened #111 "investigate why accordion boxes don't have predictable sizes"
Investigate why EquationAccordionBox and VariablesAccordionBox don't have identical heights.  Their heights are currently 74.03294117647059 and 75 respectively.  They should both be 75.  It's slightly noticeable when they are side-by-side.

[2018-05-24 18:43] pixelzoom opened #112 "put a light stroke around unselected snapshots?"
As the Snapshots accordion box gets populated, it starts to be a bit overwhelming, especially on the Lab screen.  Here's an example:

![screenshot_643](https://user-images.githubusercontent.com/3046552/40504663-252e9754-5f4f-11e8-8491-c564ac65012f.png)

Should we consider putting a light stroke around each snapshot?  This would more clearly group them, and might also be a clearer indicator that th

[2018-05-24 18:47] pixelzoom commented on #110
This got complicated very quickly.  I have some design questions, so labeling with "meeting:design".

[2018-05-24 18:57] pixelzoom commented on #111
This seems to be an issue with width too, and involves all 3 accordion box subtypes: EquationAccordionBox, VariablesAccordionBox and SnapshotsAccordionBox.

[2018-05-24 19:34] pixelzoom opened #113 "deemphasize variable values in Lab screen snapshots"
`opacity: 0.75` for variable values in snapshots shown in Lab screen.

[2018-05-24 19:37] pixelzoom opened #114 "reduce size of icons in equations"
In all equations, reduce the size of icons so that their height is the same as numbers.  This is for EquationsAccordionBox and snapshots.

[2018-05-24 19:37] pixelzoom commented on #112
5/24/18 design meeting:  We decided not to add strokes to unselected snapshots.

[2018-05-24 19:38] #112 closed

[2018-05-24 19:45] pixelzoom commented on #99
5/24/18 design meeting:

This sim will be named "Equality Explorer: Two Variables".
Move this to new repo equality-explore-two-variables.

[2018-05-24 19:45] pixelzoom commented on #110
5/24/18 design meeting:

Make the values scale relative to the equation.

[2018-05-24 19:46] pixelzoom commented on #30
5/24/18 design meeting:

We decided to make the Values box wider.

[2018-05-24 20:41] pixelzoom commented on #107
@amanda-phet requested "latest" dev versions, here they are:

[Equality Explorer 1.0.0-dev.119](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.119/phet/equality-explorer_en_phet.html)

[Equality Explorer: Basics 1.0.0-dev.8](https://phet-dev.colorado.edu/html/equality-explorer-basics/1.0.0-dev.8/phet/equality-explorer-basics_en_phet.html)

[Equality Explorer: Two Variables 1.0.0-de

[2018-05-24 20:52] pixelzoom commented on #99
Migration to equality-explorer-two-variables is done.   If there are any additional issues or requests, please create issues in that repository.

Closing.

[2018-05-24 20:52] #99 closed

[2018-05-25 17:25] phet-steele commented on #97
Verified; I only have to touch once now.

[2018-05-25 17:25] #97 closed

[2018-05-25 19:56] amanda-phet commented on #107
3/4 interviews complete. Unfortunately, one family forgot, so I am really hoping we will be rescheduling that one for next week.

Student (1): Plays on each screen except the Numbers screen. Notices the lock, but jumps to the Variables screen to use it. Clearly understands how the lock is supposed to work. Didn’t readily find the variable value control. When he gets to Operations, he finds the con

[2018-05-25 21:39] pixelzoom commented on #107
Would you like the Snapshots accordion box minimized by default for the 4th interview?

The UOC is proving to have some usability problems.  Should we try interviews with the design (reverse Polish notation) that @ariel-phet proposed in https://github.com/phetsims/equality-explorer/issues/77#issuecomment-384853083?

[2018-05-25 23:34] pixelzoom commented on #114
This is done.  Some examples are shown below.

To adjust, change constant `ICON_SCALE_MULTIPLIER ` in ObjectTermNode.

@amanda-phet Let me know if this is good or if you'd like to adjust further.  You can either change `ICON_SCALE_MULTIPLIER` yourself (use smaller values to make the icon smaller) or let me know how tall you'd like the icon to be relative to the height of the coefficient.

![screen

[2018-05-26 00:56] pixelzoom commented on #113
Done in master.   I did this only for the Lab screen, example below.  It looked odd and was ineffective for situations where we're using symbolic variables (x, y).  @amanda-phet please review.

![screenshot_647](https://user-images.githubusercontent.com/3046552/40570913-24a024b6-604d-11e8-9f3e-147d731d5f28.png)

[2018-05-26 00:58] pixelzoom opened #115 "use nested options for propagating options to SnapshotControl"
BasicsSceneNode, LabSceneNode and SnapshotAccordionBox (and others?) have individual options that are propagated to SnapshotControl. And this set of options has been growing as we pixel polish.  For example in SnapshotAccordionBox:

[code]

This looks like a good place to use nested options.

[2018-05-29 16:18] pixelzoom commented on #115
Done.  Much cleaner.

[2018-05-29 16:18] #115 closed

[2018-05-29 16:35] pixelzoom commented on #110
This has been implemented in master. @amanda-phet please review.

When variable values are on the same line as equations in snapshots, the variable values are the same size, e.g.:

Variables screen:
![screenshot_648](https://user-images.githubusercontent.com/3046552/40672323-b53b6cfc-632b-11e8-9979-d46f8610ec13.png)

When variable values are _below_ the equations in snapshots, the variable values

[2018-05-29 16:38] pixelzoom commented on #30
The Values box was made wider.

[2018-05-29 17:19] pixelzoom commented on #75
In the above commit, I converted from SlidingScreen to TransitionNode, following what was done in MakeATenGameScreenView.   The "slide" from level-selection to challenges is not working, it's an abrupt jump.  @jonathanolson what am I doing wrong?

[2018-05-29 17:26] pixelzoom commented on #75
Hmmm... I guess there is a bit of a "slide".  But there's a pause first, followed by an abrupt slide.  Not the same smooth slide from challenges to level-selection.   I'm using identical options for both slide directions.

[2018-05-29 19:04] pixelzoom commented on #75
This was (is) a performance problem.

TransitionNode uses addChild and removeChild to change its content.  In the case of Equlity Explorer, `scenesParent` contains Nodes for all scenes, not just the selected scene, and visibility is used to show the selected scene. But  when this is executed:

`self.transitionNode.slideLeftTo( selectedSceneNode, TRANSITION_OPTIONS );`

... TransitionNode does `add

[2018-05-29 19:04] #75 closed

[2018-05-29 20:28] pixelzoom commented on #111
Fixed. There was a bug in VariablesAccordionBox, looks like some test code that got accidentally committed.

Closing.

[2018-05-29 20:28] #111 closed

[2018-05-29 20:36] pixelzoom commented on #109
Something similar to this probably happens on the Numbers and Variables screen.  I have not confirmed yet, but the steps would be something like:

1. drag a term over an inverse term on the scale to get a halo, do not release, do not move
2. with a different finger, drag another term over the same inverse term on the scale, do not release, do not move
3. pull one of the terms away with either fing

[2018-05-29 20:57] amanda-phet commented on #107
Interview (4) complete. Same grade level as (1) and (3). I had snapshots minimized on startup (I manually did this for all except the game screen) and it definitely helped with this student too, so I'm going to recommend that as a change for all screens. This student had no problems with the UOC and immediately began using it correctly.

I think what could have caused issues with the UOC is that s

[2018-05-30 16:48] pixelzoom commented on #109
I don't think this needs to be fixed for 1.0 release. And it may be something that we don't fix at all.  It's something that the user is highly unlikely to do: it involves multitouch, putting 2 terms so close together is physically challenging, the halo will be correct as soon a term is moved, and this doesn't result in any type of failure or incorrect result.  That said, I'll put some time into i

[2018-05-30 16:50] pixelzoom commented on #109
First place to start investigating is line 108 in TermDragListener:

`this.plate.contentsChangedEmitter.addListener( refreshHalosBound );`

I expected that this emitter/listener combination would handle these scenarios.

[2018-05-30 17:05] amanda-phet commented on #107
I am fine doing that, but I would need to schedule additional interviews and I won't be able to do that until at least next Thursday 6/7 because of next week's workshop.

After the 4th interview, I am less concerned about usability issues. Can we discuss this in tomorrow's design meeting?

[2018-05-30 17:16] pixelzoom commented on #107
Summary of Slack conversation with @amanda-phet:

(1) We will have a design meeting on Thursday 5/31 (tomorrow) to discuss the interview results.

(2) Change the Snapshots accordion box to be collapsed by default.

[2018-05-30 17:17] pixelzoom opened #116 "make Snapshots accordion box collapsed by default."
From https://github.com/phetsims/equality-explorer/issues/107#issuecomment-393244027, as the result of interviews:

[2018-05-30 17:34] pixelzoom commented on #116
Snapshots accordion box is now collapsed by default, in all screens.

If this resolves interview/usability issues, I can live with it.  But aesthetically...

(1) The initial state of the sim now has a lot of negative space on the right and looks lopsided.  See for example "Numbers" screenshot below.

(2) The different widths of the Values and Snapshots accordion boxes also bothers me a bit in the

[2018-05-30 18:16] amanda-phet commented on #116
Aesthetically, I 100% agree, it's not great. But it proved to help students find the pickers more readily so I think it's worth the tradeoff. The Lab screen is the worst, IMO.

[2018-05-30 19:05] amanda-phet commented on #110
I'm very happy with it! @kathy-phet please take a look too!

[2018-05-30 19:10] amanda-phet commented on #113
This seems like a duplicate of #110 . @pixelzoom can we close this?

[2018-05-30 19:14] pixelzoom commented on #113
It's not a duplicate -- #110 dealt with size, this one deals with opacity.  If the level of opacity is OK with you, feel free to close.

[2018-05-30 19:19] pixelzoom opened #117 "self code review"
This issue is for the code review that I'll do before turning it over to another developer to review.

---

*Please mark failed items with* ❌

PhET code-review checklist
=============

#### **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built ve

[2018-05-30 19:19] kathy-phet commented on #110
I really like the two line ones with the smaller font below. If easy, I would like to see the one line one have the same smaller font for the (x=1) part when inline just for comparison before closing this issue. I kind of like forefronting the equation over the variable value, as opposed to equal weights. I don't have a strong opinion but it seems worth seeing how it feels at least.

[2018-05-30 19:29] pixelzoom commented on #110
@kathy-phet said:

See [1.0.0-dev.121](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.121/phet/equality-explorer_en_phet.html), comparison screenshots below.  This is committed to master, so let me know whether to keep it or revert it.

![screenshot_648](https://user-images.githubusercontent.com/3046552/40672323-b53b6cfc-632b-11e8-9979-d46f8610ec13.png)
![screenshot_653](https://us

[2018-05-30 19:31] amanda-phet commented on #113
I see, thanks. Yes 0.75 looks best to me.

[2018-05-30 19:31] #113 closed

[2018-05-30 19:37] kathy-phet commented on #110
Adding full screen shots in context:
![image](https://user-images.githubusercontent.com/5096804/40743320-6dce19c6-640e-11e8-9d4a-bd3cbe15434d.png)
![image](https://user-images.githubusercontent.com/5096804/40743344-7d2dca74-640e-11e8-91ec-5480c25cf0eb.png)

[2018-05-30 19:40] kathy-phet commented on #110
My soft preference is the smaller font to distinguish it, but I can go either way here. The larger will be read better from the back of the room.

[2018-05-30 19:43] kathy-phet commented on #110
And as I try it on my phone, the larger will be easier to read on a phone. The smaller is readable, but small.

[2018-05-30 19:45] pixelzoom commented on #110
I have a slight preference for smaller too, especially when the equations get longer:

![screenshot_654](https://user-images.githubusercontent.com/3046552/40743784-b4deae42-640f-11e8-8523-0f55121a3319.png)

[2018-05-30 21:11] pixelzoom opened #118 "use nested options"
Similar to #115...  There are some additional places where nested options might be appropriate.

termsToolbox*, hasNegativeTermsInToolbox - BasicsSceneNode, VariablesSceneNode
plate* - BalanceScale
grid* - EqualityExplorerScene, OperationsScene, BalanceScale, Plate

[2018-05-30 21:15] pixelzoom commented on #118
I took a look at these and decided that it's more trouble than it's worth.  It would also create opportunities to pass undesirable options to subtypes and subcomponents.   So do nothing, closing.

[2018-05-30 21:15] #118 closed

[2018-05-30 21:17] pixelzoom commented on #98
Work in https://github.com/phetsims/vibe/issues/32 appears to have addressed this.  There's no warning in Chrome 66 console (macOS), and audio works in the _Solve It!_  screen.

Closing.

[2018-05-30 21:17] #98 closed

[2018-05-30 21:50] pixelzoom opened #119 "problem with algorithm for choosing equivalent term's cell"
As the scale gets less balanced, the algorithm that chooses where to put an equivalent term on the scale seems to have problems.   If the dragged term is put in (say) cell 32, the equivalent term will be put in (say) cell 31, even though cell 32 is empty.

To reproduce:

1. Got to Variables screen
2. Put an 'x' on one of the plates
3. Set value of 'x' to 30 so that the scale is bottomed out.
4. Tu

[2018-05-30 21:53] pixelzoom commented on #119
Ah... All is well, I misunderstood what's going on here.  There is no requirement to put the equivalent term in the same column as the dragged term.   The equivalent term's cell is chosen based on the location of the equivalent term at the time that the dragged term is put on the plate.

[2018-05-30 21:53] #119 closed

[2018-05-31 01:29] pixelzoom commented on #109
The scenario I hypothesizes about in https://github.com/phetsims/equality-explorer/issues/109#issuecomment-392934757 is physically impossible for me to produce.  I can't drag two terms over the same inverse term on the scale.  Can't do it with 2 finger, or with 2 tablet pens.  So the probability that this will happen is even lower than what @phet-steele  reported, unlikely to ever happen in practi

[2018-05-31 01:37] pixelzoom commented on #109
I did reproduce the scenario originally reported in https://github.com/phetsims/equality-explorer/issues/109#issue-325856788.

This is unlikely to ever happen, and if it does happen it's unlikely to cause any confusion. So resolving this issue has a benefit approaching zero.  It will be so costly to address, and I've already spent a couple of hours on it.  So I'm recommending that we do not addres

[2018-05-31 01:40] pixelzoom commented on #90
Update... Since there's a workaround in place, this is not a showstopper for 1.0 release.  I've already spent a fair amount of time on this issue, but would like to spend a little more time before throwing in the towel.

[2018-05-31 02:48] pixelzoom commented on #90
In BalanceScale, plate locations are updated in the listener for `this.angleProperty` (line 127).  Currently, the right plate's location is updated first, then the left plate.   If I reverse that (update the left plate location first), then the problem noted here switches plates - that is, an equivalent term on the _left_ plate will be in the wrong location.

[2018-05-31 03:17] pixelzoom commented on #83
@amanda-phet Please review the performance, let me know if there's anything that's not acceptable.  The only thing that I've noticed is time to restore a snapshot, as noted by @phet-steele above.  But as I said above, that's unavoidable, since restoring involves recreating all of the model and view elements.

[2018-05-31 03:24] pixelzoom commented on #83
I should note that I tested performance on an iPad2 (iOS 9.3.5) and my 9-year-old MacBook Pro (macOS 10.11.6), and everything feels snappy.

[2018-05-31 15:50] pixelzoom opened #120 "CT error: Cannot read property 'lazyLink' of undefined"
This started on 5/30/18 @ 3:49PM:

equality-explorer : fuzz : require.js : load
Uncaught TypeError: Cannot read property 'lazyLink' of undefined
TypeError: Cannot read property 'lazyLink' of undefined
    at BasicsScreen.EqualityExplorerScreen [as constructor] (https://bayes.colorado.edu/continuous-testing/snapshot-1527716950478/equality-explorer/js/common/EqualityExplorerScreen.js?bust=1527718836

[2018-05-31 16:14] pixelzoom commented on #120
This was broken by https://github.com/phetsims/joist/commit/69e76f81a0003f9cd8672dc6ad0b9f0ef3be277d, where Screen `screenActiveProperty` was renamed to `activeProperty` by @zepumph.  This Property is public and used by Equality Explorer.

[2018-05-31 16:19] pixelzoom commented on #120
Renamed to `activeProperty` in Equality Explorer. Closing.

[2018-05-31 16:19] #120 closed

[2018-05-31 19:47] pixelzoom commented on #116
5/31/18 design meeting:  Everyone is OK with default state of Snapshots being collapsed.

[2018-05-31 19:47] #116 closed

[2018-05-31 19:57] pixelzoom commented on #80
5/31/18 design meeting: OK to delete the version of this control that involved 2 pickers.

[2018-05-31 20:13] pixelzoom opened #121 "range of pickers on Lab screen"
The range of the pickers on the Lab screen is currently [0,20].   Zero has potential for confusion, since the objects here are physical.  Do we want to change to [1,20]?

[2018-05-31 20:16] pixelzoom commented on #30
5/31/18 design meeting: In interviews, putting the pickers above collapsed Snapshots was more effective.  Closing.

[2018-05-31 20:16] #30 closed

[2018-05-31 20:16] amanda-phet commented on #80
I am going to show all three versions (RP notation, pickers, and radio buttons) to some teachers on Monday for feedback.

[2018-05-31 20:17] pixelzoom commented on #114
5/31/18 design meeting:  Everyone OK with current sizes.

[2018-05-31 20:17] #114 closed

[2018-05-31 20:20] pixelzoom commented on #110
5/31/18 design meeting:  Smaller variable values in all cases.  Closing.

[2018-05-31 20:20] #110 closed

[2018-05-31 20:21] amanda-phet commented on #107
Interviews complete.

[2018-05-31 20:21] #107 closed

[2018-05-31 20:22] pixelzoom commented on #80
5/31/18 design meeting:
#107 still indicates some potential issues with UOC.  @amanda-phet will show various designs to some teachers during next week's math workshop.

[2018-05-31 20:24] pixelzoom commented on #109
5/31/18 design meeting:  No need to address this.  Closing as "won't fix".

[2018-05-31 20:38] pixelzoom opened #122 "terms on scale can overlap Equation accordion box"
Noticed in 5/31/18 design meeting:

When the scale is bottomed out, the terms on the scale can overlap the Equation accordion box. See screenshot below.

![screenshot_660](https://user-images.githubusercontent.com/3046552/40806964-41f9737c-64e0-11e8-9aec-f5f4ff5e1966.png)

[2018-05-31 20:54] pixelzoom commented on #122
Addressed in [1.0.0-dev.122](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.122/phet/equality-explorer_en_phet.html), see screenshot below.  The top and bottom margin of the screen was reduced from 20 to 16 pixels.  The scale was moved down 7 pixels.

@amanda-phet @kathy-phet please verify.

![screenshot_661](https://user-images.githubusercontent.com/3046552/40807761-6cb34280-64e2-

[2018-05-31 20:55] pixelzoom commented on #121
Note to self... Code to change is in LabScene:

[code]

[2018-05-31 20:57] pixelzoom commented on #83
5/31/18 design meeting:  Discussed and demonstrated the delay to restore a snapshot, and it was deemed acceptable.

[2018-05-31 21:01] pixelzoom commented on #121
5/31/18 design meeting:  @kathy-phet feels that the min should be 1, because of the connection to physical objects and the audience.  @ariel-phet was OK with min of zero.  We tabled the discussion and @amanda-phet will decide.

[2018-05-31 21:09] pixelzoom commented on #80
@amanda-phet Here are links to dev versions for each of the design options that we've implemented.

[1.0.0-dev.122](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.122/phet/equality-explorer_en_phet.html)
![screenshot_663](https://user-images.githubusercontent.com/3046552/40808382-27a41d66-64e4-11e8-9fa7-f004550ca6a6.png)

[1.0.0-dev.111](https://phet-dev.colorado.edu/html/equality-

[2018-05-31 23:09] pixelzoom commented on #100
Done. There are currently 22 scenarios.  I tested the document, but expect that the descriptions are not error-free, and will be debugged during dev and RC testing.

Closing.

[2018-05-31 23:09] #100 closed

[2018-06-04 17:29] pixelzoom commented on #64
I added query parameters `locked` and `lockVisible`, for testing memory profiling with the lock in a specific state.  Not sure yet whether I'll need it, but good to have and it was easy to add.

[2018-06-04 17:45] pixelzoom commented on #64
Testing the _Variables_ screen is sufficient for testing the _Basics_, _Numbers_, and _Lab_ screens. They all use the same "code paths".

Below are Chrome 67 heap snapshots (macOS 10.11.6) for the _Variables_ screen with `?screens=3&fuzzMouse`.   After 30 minutes, heap size stabilized at 27.0 MB.    My conclusion is that this collection of screens has no significant memory leaks.

| Minutes | Heap

[2018-06-04 18:45] pixelzoom commented on #64
The _Operations_ screen uses code paths not used in the _Variables_ et al. screens.  Specifically, it adds the universal operation and it combines like terms on the plates (which involves a different drag listener subtype, `CombinedTermsDragListener`).

Below are Chrome 67 heap snapshots (macOS 10.11.6) for the _Operations_ screen with `?screens=4&fuzzMouse`. After 30 minutes, heap size stabilized

[2018-06-04 19:11] pixelzoom commented on #64
The _Solve It!_ screen shares code with other screens, but has code paths that are unique to this screen.

Below are Chrome 67 heap snapshots (macOS 10.11.6) for the _Solve It!_ screen with `?screens=5&fuzzMouse`.  This screen has an overall bigger initial footprint because it contains 4 scenes (levels), and they are all instantiated at startup.  After 30 minutes, heap size stabilized at ~50 MB. T

[2018-06-04 20:07] pixelzoom commented on #64
To further test the _Solve It!_ screen, I followed a procedure similar to what @phet-steele did in #86.  I manually played all 4 levels, in order.  When I had solved 11 challenges  (and had seen the Reward after the 10th solution) I took a heap snapshot and went on to the next level.  After completing all 4 levels, I pressed the Reset All button, and took another heap snapshot.  Then I repeated th

[2018-06-04 20:08] pixelzoom commented on #86
@phet-steele I'm confident that the _Solve It!_ screen has no significant memory leaks. See https://github.com/phetsims/equality-explorer/issues/64#issuecomment-394465770 and https://github.com/phetsims/equality-explorer/issues/64#issuecomment-394465770.

Closing.

[2018-06-04 20:08] #86 closed

[2018-06-04 20:24] pixelzoom commented on #117
Done. Closing.

[2018-06-04 20:24] #117 closed

[2018-06-04 20:30] pixelzoom opened #123 "code review"
*Notes*:

- This review covers 3 sims: equality-explorer, equality-explorer-basics, equality-explorer-two-variables
- Mark failed items with ❌
- If you create issues as part of this code review, please associate them with this issue.
- As an alternative to creating issues, add `//REVIEW` comments to the code.
- Items that are not applicable have been checked off and marked with N/A.

---

PhET cod

[2018-06-04 21:25] pixelzoom commented on #64
Finally, I tested with all screens, using `?fuzzMouse`.  Below are Chrome 67 heap snapshots (macOS 10.11.6).  Memory usage started at 71.1MB, reasonable for a sim with 5 screens, and stabilized at ~82MB.    I'm confident that this sim has no significant memory leaks.

| Minutes | Heap Size (MB) |
| --- | --- |
| 0 | 71.1 |
| 5 | 79.7 |
| 10 | 78.7 |
| 15 | 82.2 |
| 20 | 82.2 |
| 25 | 81.4 |
| 30 |

[2018-06-04 21:30] #64 closed

[2018-06-06 17:12] ariel-phet commented on #123
@emily-phet gave the green light for @mbarlow12 to perform this code review. Given time constraints we will cap this review at 40 hours maximum (it is a big sim, and might take some time).

[2018-06-06 17:16] ariel-phet commented on #123
@pixelzoom and @mbarlow12 will have a short meeting for a high level tour, with the intention to begin the review this Friday, June 8

[2018-06-07 18:38] amanda-phet commented on #80
I spoke with 5 teaches about the options listed above and there were pros and cons of all three options, but by far they all preferred the radio button option (in dev.122).

[2018-06-07 18:38] #80 closed

[2018-06-07 18:41] pixelzoom commented on #122
@amanda-phet says looks good, closing.

[2018-06-07 18:41] #122 closed

[2018-06-07 23:42] pixelzoom opened #124 "make expanded/collapsed state of Snapshots accordion box specific to Screen"
Make the expanded/collapsed state of the Snapshots accordion box specific to each _Screen_, rather than to each _Scene_.   This is relevant to the _Basics_ and _Solve It!_ screens.

Email discussion:

@kathy-phet:

@pixelzoom:

@amanda-phet:

@pixelzoom:

@kathy-phet:

[2018-06-07 23:43] pixelzoom commented on #124
@amanda-phet Since this is a non-trivial change, I'm proceeding, so that it's done prior to code review.

[2018-06-08 00:08] pixelzoom commented on #124
@amanda-phet @kathy-phet This is done.

@amanda-phet please review and close if all looks well.

Equality Explorer [1.0.0-dev.124](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.124/phet/equality-explorer_en_phet.html)

Equality Explorer: Basics [1.0.0-dev.11](https://phet-dev.colorado.edu/html/equality-explorer-basics/1.0.0-dev.11/phet/equality-explorer-basics_en_phet.html)

[2018-06-08 00:10] pixelzoom commented on #83
Raising priority of this to "top", because we are now in code review, and any changes to address performance could potentially result in big code changes.

[2018-06-08 00:54] amanda-phet commented on #83
I tested this today and decided it was acceptable for iPad 2.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chris Malley <notifications@github.com>
Sent: Thursday, June 7, 2018 6:10:12 PM
To: phetsims/equality-explorer
Cc: Amanda McGarry; Assign
Subject: Re: [phetsims/equality-explorer] performance testing (#83)

Raising priority of this to "top", because

[2018-06-08 16:12] amanda-phet commented on #124
Looks good to me and is working well.

[2018-06-08 16:13] #83 closed

[2018-06-09 21:18] pixelzoom opened #125 "create screenshots"
These are the screenshots that will be used on the PhET website, in sim lists and on sim pages. We'll need one screenshot for each of the 3 sims in the Equality Explorer family.

@amanda-phet Please put each sim in the configuration that you'd like, take screenshots, and attached the screenshots to this issue.  I'll handle creating the final/processed screenshots that will get checked into GitHub.

[2018-06-14 17:33] pixelzoom commented on #121
@amanda-phet Dev testing on this sim will start on Monday 6/18.  Since this involves a code change, it would be good to wrap this issue up before then.

[2018-06-14 17:38] kathy-phet commented on #121
I still prefer sticking with the concrete representation here and starting at 1 for this sim.

K

Sent from my iPhone

On Jun 14, 2018, at 11:33 AM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

@amanda-phet<https://github.com/amanda-phet> Dev testing on this sim will start on Monday 6/18. Since this involves a code change, it would be good to wrap this issue up

[2018-06-14 17:40] amanda-phet commented on #121
I agree with @kathy-phet .

@pixelzoom please change the range to [1,20].

[2018-06-14 18:38] pixelzoom commented on #121
Range has been changed to [1,20]. Closing.

[2018-06-14 18:38] #121 closed

[2018-06-15 00:00] pixelzoom opened #126 "close issues that are blocking publication"
This issue will attempt to list the common-code issues that must be addressed before the 1.0 branch is created for RC testing.  RC testing is scheduled to begin on July 11.

- [x] https://github.com/phetsims/joist/issues/470
- [x] https://github.com/phetsims/joist/issues/413
- [x] https://github.com/phetsims/twixt/issues/11
- [x] https://github.com/phetsims/sun/issues/304 (@jonathanolson added as

[2018-06-18 14:45] mbarlow12 commented on #123
@pixelzoom @ariel-phet I finished up the review. The only issue I found has to do with the pointer areas as noted above. This may be standard behavior (I don't have much experience with optimizing/handling/debugging pointer areas), and if so, please disregard those comments.

I only have access to a MacBook Pro and an HP desktop, so I wasn't able to test on slower platforms. Even so, it performed

[2018-06-18 16:04] pixelzoom opened #127 "pointer area issues"
I pulled these comments from @mbarlow12 out of https://github.com/phetsims/equality-explorer/issues/123, where he also said:

---

- [ ] Are pointer areas optimized, especially for touch? (run with query parameter `showPointerAreas`)
// REVIEW
  - **There appear to be some discrepancies between draggable/clickable areas and their associated sim elements. The terms in the toolboxes have non-interac

[2018-06-18 16:07] pixelzoom commented on #123
Thanks @mbarlow12.  I moved the comments related to pointer areas to #127 for further investigation.

Closing.

[2018-06-18 16:07] #123 closed

[2018-06-18 16:14] pixelzoom commented on #88
Reopening.  This still occurs in CT (rarely, and with a different stack trace) so should be revisited.   It won't cause problems in a production version (assertions disabled), so it's not blocking for 1.0 publication.

equality-explorer-two-variables : fuzz : require.js : run
Uncaught Error: Assertion failed: cannot be disposed twice
Error: Assertion failed: cannot be disposed twice
    at window.

[2018-06-18 16:31] pixelzoom commented on #127
Yes, this is the purpose of pointerAreas. We typically expand the interactive (draggable/clickable) areas of an element to make it easier to drag.   The red dashed line indicates the interactive area for touch devices (aka `touchArea`), the blue dashed line indicates the interactive area for mouse devices (aka `mouseArea`).

Yes, these are all as requested.  For example, here's the request for the

[2018-06-18 16:33] pixelzoom commented on #127
@mbarlow12 Review my comment above and let me know if you have any questions.  If you're confident that there is no problem here, feel free to close.

[2018-06-18 19:03] mbarlow12 commented on #127
@pixelzoom That makes sense, and thanks for clarifying the color mapping. Closing.

[2018-06-18 19:03] #127 closed

[2018-06-19 01:02] jessegreenberg opened #128 "Remove RichText bounds workaround"
For https://github.com/phetsims/scenery/issues/769 `var RICH_TEXT_SPACE = '\u00A0'` was added to ChallengeDerivationNode, but it can be removed now.

[2018-06-19 01:05] jessegreenberg commented on #128
I removed it and verified that there were no bounds issues with an empty string with query parameter `showAnswers`, but would still be good for @pixelzoom to be aware/review of the commit.

[2018-06-19 01:07] pixelzoom commented on #128
OK, thanks.  This sim is now in dev testing (with the workaround), so I'll be sure to review before RC testing begins.

[2018-06-19 21:42] pixelzoom commented on #128
Verified, closing.

[2018-06-19 21:42] #128 closed

[2018-06-21 17:08] andrealin commented on #126
@jonathanolson will look at the first issue, https://github.com/phetsims/joist/issues/470, and @jessegreenberg will review the second, https://github.com/phetsims/joist/issues/413

[2018-06-25 19:22] lmulhall-phet opened #129 "additional reward rains"
For phetsims/QA/issues/131. This is kind of nitpicky, but I'm confused as to why apples and oranges are appearing in the additional reward for level 1:
![lvl1](https://user-images.githubusercontent.com/31285590/41870800-4c65d23a-787a-11e8-819c-cae905006108.png)

Here's level 2:
![lvl2](https://user-images.githubusercontent.com/31285590/41870814-5919b8c0-787a-11e8-87f7-4227fbf98668.png)

Here's lev

[2018-06-25 19:24] amanda-phet commented on #129
Yes, that is correct. We went through some different iterations, but really wanted it to rain cats and dogs on the last level :) Happy to take suggestion to improve or making the reward nodes less confusing!

[2018-06-25 19:36] ghost commented on #129
This might be a lot of work, but it would be cool to see PhET girl be "upgraded" in the "Keep Going / New Level" dialogue. Maybe she gets a star for each level she completes? Or something like that. It would be nice to see some progression beyond the "raining" items changing.

[2018-06-25 19:53] lmulhall-phet opened #130 "term still in toolbox when cells filled with term"
For phetsims/QA/issues/131. When the cells are completely filled with a term (e.g. lemons), I can still pick a lemon from the toolbox despite not being able to place more lemons:
![lemons](https://user-images.githubusercontent.com/31285590/41872331-bf48f008-787e-11e8-86be-5b12b37665fe.png)
Would it be a good idea to grey out the lemon and make it not pickable at this point?

[2018-06-25 20:15] amanda-phet commented on #130
That was an idea we tossed around and I can't remember the exact path that led us to this design, but I think it's working well and didn't pose issues in interviews.

[2018-06-25 20:15] #130 closed

[2018-06-25 20:17] amanda-phet commented on #129
I think for this purpose, it is fine to leave phet girl as she is since the levels aren't exactly cumulative (and the same dialog is used in make a ten, and that sim has 10 levels!).

But if you think the rewardnode objects are confusing, do you have ideas for how to improve those?

[2018-06-25 20:35] ghost commented on #129
I think something like this would make more sense:

Lvl1: integer variable terms + integer constant terms
Lvl2: integer variable terms + integer constant terms + stars
Lvl3: integer and rational variable terms + integer and rational constant terms + smileys
Lvl4: integer variable terms + integer constant terms + stars + smileys

Might be more boring, though. Again, sorry to nitpick. I just thought

[2018-06-25 21:20] lmulhall-phet opened #131 "snapshots appear uninteractable"
<b>Test Device</b>

MacBook Air, Hanson

<b>Operating System</b>

macOS 10.13.5, Windows 10

<b>Browser</b>

macOS:
Chrome, FF, Safari

Windows:
Chrome, Edge, FF

<b>Problem Description</b>

For phetsims/QA/issues/131. If you take a snapshot, it looks like you can't select it. (The cursor doesn't turn into a hand.)

Is there a reason for this?

<b>Visuals</b>

![ee](https://user-images.githubuserc

[2018-06-27 18:56] lmulhall-phet opened #132 "bounce when term lands on term"
For phetsims/QA/issues/131. Noticed while testing EqEx: Two Variables on macOS + FF.

Here's what it looks like when a term lands on top of another term:

![eqex](https://user-images.githubusercontent.com/31285590/41993361-7af47d6a-7a08-11e8-82fb-82dc390261df.gif)

And here's what it looks like when a term lands on the scale:

![eqex1](https://user-images.githubusercontent.com/31285590/41993386-8b

[2018-06-28 19:51] amanda-phet commented on #132
No, that is not part of the design. I only see it on the left of the first gif and right of the second gif. Is that accurate? Or are you seeing it everywhere?

[2018-06-28 19:52] amanda-phet commented on #131
I like this suggestion of having the cursor change when hovering over a screenshot.

[2018-06-28 19:53] amanda-phet commented on #131
@pixelzoom can you change the cursor into a hand when hovering over a snapshot?

[2018-06-28 20:05] ghost commented on #132
@amanda-phet, I hadn't noticed the slight bounce on the right of the second gif. Thanks for pointing that out.

Originally, I thought the bounce only occurred when a term landed on top of another term, but apparently this is not the case.

The intention of using the two gifs was to juxtapose the bouncing behavior that can be observed in the first gif on the left with the "smooth landing" behavior

[2018-07-02 19:36] phet-steele commented on #129
I talked to @lmulhall-phet on Slack and we came to the conclusion to leave the sim as is. @lmulhall-phet thought it was weird to see objects from other screens in the game screen, but this is not the first sim to do this. Similarly, as @lmulhall-phet states:

This is exactly what we wanted to avoid in #63. The current way spices up the game and adds more clear distinction between already very simi

[2018-07-02 19:36] #129 closed

[2018-07-03 15:42] ariel-phet commented on #126
All issues addressed, assigning to @pixelzoom so he is aware.

[2018-07-03 17:22] JRomero0613 opened #133 "multitouch problem with Android "quick settings" menu"
Test device: Galaxy Tab A

Operating System: Android 7.0

Browser: Chrome v. 67.0.3396.87

Problem description: For phetsims/QA/issues/131 When multiple items are dragged at the same time some items will not act properly and upon release will float in the air. These items do not return to the area where items can be chosen from and do not count toward the overall counter on the top of the screen.

[2018-07-03 18:56] lmulhall-phet opened #134 "small rational number whose denominator exceeds bounds breaks sim on iPad 2"
<b>Test Device</b>

Tycho

<b>Operating System</b>

iOS 9.3.5

<b>Browser</b>

Safari 9.0 Mobile

<b>Problem Description</b>

For phetsims/QA/issues/131.

@andrealin found an interesting bug...

In the Operations screen, making a rational number (_p/q_, where _p_ and _q_ are integers) whose denominator, _q_, is greater than 1 billion (10^9), breaks the sim. (See the video.)

This phenomenon does n

[2018-07-03 19:32] lmulhall-phet opened #135 "bottom of operator buttons disappear when operation performed on iPad 2"
<b>Test Device</b>

iPad 2

<b>Operating System</b>

iOS 9.3.5

<b>Browser</b>

Safari 9.0 Mobile

<b>Problem Description</b>

For phetsims/QA/issues/131. If you perform an operation, the bottom of the operator buttons that are not selected can disappear. (See screen capture and video.)

<b>Steps to Reproduce</b>

1. Operations screen.
2. Perform operations until bottom of the operator buttons dis

[2018-07-03 22:33] megan-phet commented on #134
It is posible to do this in the "Solve It!" screen as well, on the same device.

[2018-07-05 17:12] pixelzoom commented on #131
Good catch, this was an oversight. Fixed in master.  @lmulhall-phet please verify.

[2018-07-05 17:22] ghost commented on #131
Confirmed fixed in master.

[2018-07-05 17:29] ghost commented on #131
This seems to be an issue:

![eqex](https://user-images.githubusercontent.com/31285590/42338292-8ba57ea4-8046-11e8-8641-1063b71bb530.gif)

Seen on macOS + Chrome.

[2018-07-05 17:36] pixelzoom commented on #126
👍

[2018-07-05 17:36] #126 closed

[2018-07-05 17:57] pixelzoom commented on #131
Good catch. Fixed in master, please review.

[2018-07-05 18:01] pixelzoom commented on #132
While the lock is on, the _equivalent_ term tracks the _dragged_ term.   When the dragged term reaches its target cell on the plate (either via dragging or animating), the equivalent term jumps to a cell on the opposite plate.  This jump is the "bounce" that you're seeing.

The alternative involves animating terms at proportional speeds, and we decided long ago not to do that, due to complexity an

[2018-07-05 18:03] ghost commented on #131
Fixed in master.

[2018-07-05 18:08] pixelzoom commented on #131
👍 Closing again.

[2018-07-05 18:08] #131 closed

[2018-07-05 19:00] pixelzoom commented on #134
I confirmed that this does not happen on desktop (e.g. macOS + Chrome).  Very odd.

[2018-07-05 19:02] ghost commented on #134
@pixelzoom, also does not occur on latest iOS. [CM edit: latest = 11]

[2018-07-05 19:05] pixelzoom commented on #134
@lmulhall-phet Is it a problem on iOS 10, or specific to iOS 9?

[2018-07-05 19:10] pixelzoom commented on #135
@lmulhall-phet Could you investigate whether this occurs on iOS 10 and 11?

[2018-07-05 19:12] pixelzoom commented on #134
"Assertion failed: numerator must be an integer: NaN" occurs in PHETCOMMON/Fraction.

[2018-07-05 19:16] pixelzoom commented on #133
@JRomero0613 Have you been able to reproduce this on other touch devices (iOS, Chromebook,...), or is it specific to Android?

[2018-07-05 19:19] ghost commented on #134
@pixelzoom, my iOS 10 device was accidentally updated to iOS 11 a few ~~weeks~~ (EDIT: months, maybe?) ago, and Apple stopped signing iOS 10.3.3 in 2017, I think. I'll check on iOS 12, as it's the only other iOS I can test on atm. I can look into other ways to downgrade to iOS 10, but it won't be through iTunes.

[2018-07-05 19:46] JRomero0613 commented on #133
@pixelzoom It seems to be specific to Android as I have not seen the bug on iOS or Chromebook. After further testing it looks like multi touch is not the reason for the bug. It appears that when dragging an item around the screen if the Android drop down menu is pulled down while still holding the item it will freeze in mid-air.

[2018-07-05 19:51] ghost commented on #134
Confirmed does not occur on iOS 12.

According to @phet-steele:
- Our iOS 10 device was accidentally updated to iOS 11 after Apple stopped signing iOS 10.3.3.
- "iOS 10 has NEVER been uniquely problematic."

[2018-07-05 20:03] ghost commented on #135
It's unique to iOS 9, so far as I can tell.

EDIT: I.e. does not occur on iOS 11.

We don't test on iOS 10 for the reasons outlined [here](https://github.com/phetsims/equality-explorer/issues/134#issuecomment-402833899).

[2018-07-05 21:17] amanda-phet commented on #132
I was wondering if that's what was causing the issue, actually. I am fine with this behavior since it is consistent with the rules we defined. It's also fairly minor to my eye.

[2018-07-05 21:17] #132 closed

[2018-07-06 16:20] pixelzoom commented on #135
I've reproduced this on my iPad2 with iOS 9.3.5.  It happens consistently.

There's nothing sim-specific about this issue, it's likely a browser-specific rendering problem. Since it relatively minor and doesn't affect usability of the sim, my recommendation would be to close this with "will not fix".   If that's not acceptable, then we'll need to have @jonathanolson investigate.

@amanda-phet @ari

[2018-07-06 16:22] pixelzoom commented on #133
@JRomero0613 What is "the Android drop down menu"?

[2018-07-06 16:29] jonathanolson commented on #135
Can we check if this happens with `?rootRenderer=canvas`? It looks likely svg-only.

[2018-07-06 16:33] ghost commented on #135
I will check `?rootRenderer=canvas` when I get back from class ~12:00.

[2018-07-06 16:43] pixelzoom commented on #135
I confirmed that the rendering problem goes away where 1.0.0-dev.125 is run with `?rootRenderer=canvas`.   But then the animation of the operations is slow/jerky.

[2018-07-06 16:59] JRomero0613 commented on #133
@pixelzoom I think the actual term is the quick settings menu. This menu can be brought up on any Android by swiping down from the very top of the screen. There is a similar menu on iPad however it can not be pulled down while moving items unlike the Android quick settings menu.

[2018-07-06 17:01] pixelzoom commented on #133
@jonathanolson Can you comment on how pulling down the Android "quick settings" menu while dragging something might be affecting input event handling?

[2018-07-06 17:13] jonathanolson commented on #135
I'll wait on @ariel-phet before looking for workarounds.

[2018-07-06 18:11] amanda-phet commented on #135
That's fine with me. If this is a consistent issue though with many sims, and we are still supporting iOS9, it should probably be addressed at some point.

[2018-07-06 18:13] pixelzoom commented on #134
Just because a problem has not previously occurred, that is not justification for not testing on a supported platform.  And it could also provide important information on whether an issue (like this one) is definitively specific to one OS/browser version.   So I highly recommend that PhET figure out how to get an iOS 10 test device into service.

[2018-07-06 18:14] pixelzoom commented on #135
Based on @amanda-phet's input (above), I'm going to mark this issue as "deferred", and it will not be addressed for 1.0 release.

[2018-07-06 18:17] pixelzoom commented on #133
Also worth noting is that Android is not a supported platform.  From the FAQ at https://phet.colorado.edu/en/help-center/running-sims:

[2018-07-06 18:18] pixelzoom commented on #133
Also worth noting is that Android is not a supported platform.  From the FAQ at https://phet.colorado.edu/en/help-center/running-sims:

So my feeling is that, unless this is trivial to fix, we should ignore it for 1.0 release and create a more general issue for scenery.  @amanda-phet @ariel-phet Do you agree?

[2018-07-06 18:46] pixelzoom commented on #88
I could change Term `dispose` to this:

[code]

... but that hides the problem without addressing it.

[2018-07-06 19:03] pixelzoom commented on #88
For an error of the form "equality-explorer : fuzz : require.js-canvas : run", CT is using query parameters `&ea&fuzzMouse&fuzzTouch`.  See continuous-server.js line 640.

[2018-07-06 19:05] ghost commented on #134
I agree, @pixelzoom.

It would be nice to get some input from @ariel-phet and @phet-steele.

[2018-07-06 19:16] amanda-phet commented on #125
OK, here are the three I like best. Equality Explorer will need the screenshot to be taken while the +x is animating.

![screen shot 2018-07-06 at 12 05 49 pm 2](https://user-images.githubusercontent.com/7852916/42396364-97df1968-811e-11e8-9456-6b53289af120.png)

![screen shot 2018-07-06 at 1 12 55 pm](https://user-images.githubusercontent.com/7852916/42396371-9d1df1b0-811e-11e8-82cd-0014c1418118.

[2018-07-06 19:25] pixelzoom commented on #125
@amanda-phet said:

Is the +x really necessary?  At the size that these screenshots are displayed, the +x operations are barely visible.   I.e.:

![eqex-thumb](https://user-images.githubusercontent.com/3046552/42396685-fc55ac9e-811f-11e8-848f-5db7665bfb29.png)

![eqex-page](https://user-images.githubusercontent.com/3046552/42396687-fd4b487a-811f-11e8-901c-aeaa1112c893.png)

[2018-07-06 19:29] phet-steele commented on #125
No it's not necessary, but it's not harmful either.

[2018-07-06 19:30] pixelzoom commented on #125
Creating a screenshot while things are animating is a tad trickier.  But since I'm delegating that task, if you want it, you'll have it.

[2018-07-06 19:32] pixelzoom commented on #125
... and it does make me wonder whether the screenshots were evaluated at the size that they will be displayed (thumbnail and sim webpage).  But I'll assume that you've done that.

[2018-07-06 19:37] pixelzoom commented on #88
Apparently the `fuzzTouch` query parameter is important. Running with `&ea&fuzzMouse&fuzzTouch` in requirejs mode, I reproduced the failure.

Here's the stack trace, which is different from the previous 2.  In this case, it's failing as a result of the lock state changing, which disposes of all terms that are not on the plate.

dispose (Property.js?bust=1530905624500:412)
dispose (Term.js?bust=153

[2018-07-06 19:40] amanda-phet commented on #125
@phet-steele is a pro at screenshots like this but I'm not sure he is equipped to take screenshots right now.

I did see how they look when small, and that's why I have pretty exaggerated inequalities and objects that aren't too messy on each plate. Down the road we will have larger screenshots on the sim pages so I was thinking the +x would be more visible then, but we will have additional screen

[2018-07-06 19:45] phet-steele commented on #134
Sure, but it's also not justification that we MUST test on that platform.

Short of buying a brand new/used iPad that miraculously has the iOS we want and not the latest iOS instead, I don't see an easy way to get an iOS 10 device. Apple makes it impossible to downgrade once they stop signing OSes. I'd recommend looking at usage statistics for this iOS, because if it's low enough then it wouldn't

[2018-07-06 19:53] pixelzoom commented on #134
@phet-steele said:

I don't follow your logic.  In general, if PhET is advertising that a platform is "supported", then that seems like "justification" (or perhaps even a requirement) to test on that platform.  And iOS 10 is a supported platform.  From the System Requirements FAQ:

[2018-07-06 20:06] amanda-phet commented on #133
My thoughts: While we don't officially support android, we *do* have an app, and that app should be considered "supported." @lmulhall-phet was able to reproduce this bug in the android app (using Area Builder). But, as soon as he picked up the square it was fine, and this is also easily remedied using reset-all.

For the purposes of Equality Explorer, I do not think we need to invest in this parti

[2018-07-06 20:10] amanda-phet commented on #134
If we are still supporting iOS9 then we should still fix this bug.

If we decide to stop supporting iOS9, then we will need to figure out if we are supporting iOS10+ or iOS11+.

@ariel-phet might need to weigh in on this.

[2018-07-06 20:16] pixelzoom commented on #133
I've created a more general scenery issue: https://github.com/phetsims/scenery/issues/828.

Marking this issue as deferred, not to be addressed for 1.0 release.

[2018-07-06 20:25] pixelzoom commented on #88
I temporarily added an assertion to TermCreator `disposeTerms`:

`assert && assert( !terms[ i ].disposed, 'term was already disposed: ' + terms[ i ].toString() );`

Reproduced the error with `&ea&fuzzMouse&fuzzTouch`.  This time the failure was triggered by pressing the "clear scale" button.

Stack trace:

window.assertions.assertFunction (assert.js:22)
disposeTerms (TermCreator.js?bust=1530907423

[2018-07-06 20:25] ghost commented on #134
@phet-steele is right, getting an iOS 10 device would be difficult.

@amanda-phet also makes a good point. At some point, we'll drop support for iOS 9, and then we would be forced to drop support for iOS 10 if we don't have an iOS 10 device.

Perhaps the solution should be supporting the two latest iOS versions. When iOS 12 is released, we drop support for iOS 9 and iOS 10. (Obviously, we can only

[2018-07-06 21:15] pixelzoom commented on #134
Moving the discussion about which iOS versions should be supported and tested to https://github.com/phetsims/tasks/issues/943, assigned to @ariel-phet.  Until I hear otherwise, I am expecting Equality Explorer RC1 to be tested on iOS 9, 10 and 11.

[2018-07-06 22:08] pixelzoom commented on #88
After spending way too much time on this, I was seriously considering the workaround in https://github.com/phetsims/equality-explorer/issues/88#issuecomment-403116845, i.e. in `Term`:

[code]

But once this warning occurs (which can take a long while), then it occurs constantly.  And that might be indicative of a memory leak, perhaps TermCreator keeping a reference to a Term that was previously di

[2018-07-06 22:37] pixelzoom commented on #88
I added (but did not commit) a counter to Term to count the number of times that `dispose` is called.  The idea was to verify that the same instance of Term has its `dispose` called over and over, versus lots of instances that have their `dispose` called only twice.   I ran for a long time with `&ea&fuzzMouse&fuzzTouch`, but did not reproduced.  Will try again later.

[2018-07-08 18:40] pixelzoom commented on #88
This assertion failure happened in CT...

On 7/5:

Uncaught Error: Assertion failed: cannot be disposed twice
Error: Assertion failed: cannot be disposed twice
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1530902597009/assert/js/assert.js:22:13)
    at BooleanProperty.dispose (https://bayes.colorado.edu/continuous-testing/snapshot-1530902597009/ax

[2018-07-08 19:41] pixelzoom commented on #88
Using the counter mentioned in https://github.com/phetsims/equality-explorer/issues/88#issuecomment-403163140... I verified that once a Term is disposed of more than once, it will continue to be disposed of over and over (e.g. each time a scene is reset).    So this issue also represents a slight memory leak, since a Term that has been disposed should have been removed from TermCreator's `allTerms

[2018-07-09 03:42] pixelzoom commented on #88
Fixed a couple of things in the above commits, including getting rid of the `detachRelatedTerms` function in TermDragListener.   It survived 5 hours of `&ea&fuzzMouse&fuzzTouch` without failing.  I'll leave this open to see if anything shows up in CT.

[2018-07-09 03:45] pixelzoom commented on #102
Reopening. Implementation notes should say something about the limits on fraction numerator and denominator.

[2018-07-09 15:03] pixelzoom commented on #134
I verified that this is a problem only for the denominator.

I also noticed that if the max is reduced to `?maxInteger=100000000` (1E^8), this is not a problem.

[2018-07-09 15:39] pixelzoom commented on #134
Hmmm.... Looking at the console output, the error message is:

`Assertion failed: numerator must be an integer: NaN (equality-explorer_all_phet_debug.html, line 28463)
[Error] Error: Assertion failed: numerator must be an integer: NaN`

I would have expected the problem to be with the _denominator_, but something's going wrong with the numerator.  And the problem looks to be in Fraction `setSumTo`

[2018-07-09 16:12] pixelzoom opened #136 "Verify that we don't run out of memory on iPad"
Related to https://github.com/phetsims/QA/issues/131 (dev test).

While working on https://github.com/phetsims/equality-explorer/issues/134, I experienced a lot of errors of the type "A problem occurred with this webpage so it was reloaded” from Safari Mobile on iPad2 (iOS 9.3.5).   This is indicative of a memory issue, and occurred while running in requirejs mode, which requires a lot more memory

[2018-07-09 16:34] ghost commented on #136
Top priority is getting Katie up to speed and other QA issues, but I will try to squeeze it in this afternoon or tomorrow afternoon.

[2018-07-09 17:17] pixelzoom commented on #134
I added the follow to PHETCOMMON/Fraction.setSumTo:

[code]

When the error occurs on iPad2, the alert shows:

Note that the denominators are 1E10.

Confirming in the Web Inspector console:

[code]

On Chrome desktop:

[code]

So it appears that we have a problem with `Util.lcm` on iPad2.

[2018-07-09 17:26] pixelzoom commented on #134
`Util.lcm` uses `Util.gcd`.

Chrome desktop:

[code]

Safari + iOS9:

[code]

And Util.gcd uses `%`, and on Safari iOS9:

[code]

So there appears to be a problem with `%` on Safari + iOS9.

[2018-07-09 18:16] pixelzoom commented on #134
This was fixed in https://github.com/phetsims/dot/issues/75 by creating `Util.mod` as a replacement for `%`, then using `Util.mod` in `Util.gcd`.

@lmulhall-phet please verify in master.

[2018-07-09 18:19] pixelzoom commented on #136
In a Slack discussion, @phet-steele pointed out that the numbers in https://github.com/phetsims/equality-explorer/issues/64 "show that the sim gets close to the memory limit on iPad 2, but does not surpass it", so this issue is unnecessary.   That seems reasonable, so closing.

[2018-07-09 18:19] #136 closed

[2018-07-09 18:22] pixelzoom commented on #88
And the problem is still present for the `animationCompletedCallback` case :(

From 7/9/2018 CT:

Uncaught Error: Assertion failed: cannot be disposed twice
Error: Assertion failed: cannot be disposed twice
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1531149676751/assert/js/assert.js:22:13)
    at BooleanProperty.dispose (https://bayes.colorado.e

[2018-07-09 18:49] pixelzoom commented on #125
@amanda-phet said:

@phet-steele is not currently equipped.  But he tells me that @lmulhall-phet has been trained on how to create screenshots.   So assigning to @lmulhall-phet -- if you have questions, please consult with @phet-steele (process) or @amanda-phet (content).  Feel free to either check the PNG files into their respective repositories, or email them to me.

[2018-07-09 19:02] #102 closed

[2018-07-10 20:32] pixelzoom commented on #88
To summarize, there are 5 scenarios where this issue has manifested:

1. `TermDragListener.animateToToolbox`, in the `animationCompletedCallback`
2. `SeparateTermsDragListener.animateToPlate`, in the `animationCompletedCallback`
3. `TermCreator.disposeAllTerms`, as the result of pressing the ‘Reset All’ button
4. `TermCreator.disposeTermsOnPlate`, as the result of pressing the ‘clear scale’ button

[2018-07-10 21:58] pixelzoom commented on #88
I applied workaround for all of the scenarios, see above commits.  I'll give this a couple of days to verify in CT.

In the case of scenarios 3-5, if you run with `?log` and a term is encountered that has already been disposed, the term will be cleaned up, and you'll see a red log message in the console, e.g.:

![screenshot_691](https://user-images.githubusercontent.com/3046552/42539982-04d9cdb8-8

[2018-07-10 22:24] pixelzoom commented on #88
Running equality-explorer-two-variables with `?ea&log&fuzzMouse&fuzzTouch`, I identified a 6th scenario.

6. `TermCreator.putTermOnPlate`, where the term has already been disposed

Stack trace:

manageTerm (TermCreator.js?bust=1531259608058:300)
putTermOnPlate (TermCreator.js?bust=1531259608058:374)
animationCompletedCallback (SeparateTermsDragListener.js?bust=1531259608058:207)
step (EqualityExpl

[2018-07-10 22:49] pixelzoom commented on #88
OK, this makes sense to me now.  A drag listener has `this.term` and (optionally) `this.equivalentTerm` and `this.inverseTerm`.   If term has been disposed of, its step function will not be called, and `animationCompletedCallback` will not be called.  But that doesn't take into account whether equivalentTerm or inverseTerm have been disposed.   So in `animationCompletedCallback`, I need to provide

[2018-07-10 23:08] pixelzoom commented on #88
Pushed a fix for scenario 6, and a fix for a bug that crept in on the Operations screen.

[2018-07-11 16:58] pixelzoom commented on #88
I ran equality-explorer and equality-explorer-two-variables for 10+ hours with `?ea&log&fuzzMouse&fuzzTouch` and did not encounter this problem.   And nothing has shown up in CT since yesterday's fixes.   So (fingers crossed) I'm going to close this issue.

[2018-07-11 16:58] #88 closed

[2018-07-11 17:00] pixelzoom commented on #133
I'm going to close this issue at "will not fix", since this is not a sim-specific problem. phetsims/scenery#828 will involve deciding how/whether to address, and how to patch all sims.

[2018-07-11 17:00] #133 closed

[2018-07-11 18:58] pixelzoom commented on #2
@lmulhall-phet We're getting close to starting RC testing.  Who should I add to the QA credits?

Currently:
`qualityAssurance: 'Steele Dalton, Liam Mulhall, Jacob Romero',`

[2018-07-11 19:01] pixelzoom commented on #2
Current QA credits are:

`qualityAssurance: 'Steele Dalton, Liam Mulhall, Jacob Romero',`

[2018-07-11 19:17] ghost commented on #2
@pixelzoom, we need to add @andrealin, as she found #134. (Unless she doesn't want to be in there twice.)

[2018-07-11 19:36] pixelzoom commented on #90
To examine what happens to `equivalentTerm`'s location when `putTermOnPlate` is called, I replaced line 207 with this in `SeparateTermsDragListener`:

[code]

The location changes 4 times. The 3rd of these is the correct location.

[code]

[2018-07-11 19:41] pixelzoom commented on #90
Interestingly, if the scale is bottomed out (e.g. x=40), the problem disappears, and `equivalentTerm`'s location only changes twice. E.g.:

[code]

[2018-07-11 20:09] pixelzoom commented on #90
The problem was that `equivalentTerm` was continuing to track movement of `term` after `putOnPlate` was called.   In TermDragListener:

[code]

So as long as `self.equivalentTerm` is defined, it will continue to track `term`.

The solution was to copy `self.equivalentTerm` to a local variable, then set `self.equivalentTerm = null` before calling `putOnPlate`.   I.e., in SeparateTermsDragListener:

[2018-07-11 20:09] #90 closed

[2018-07-11 21:25] pixelzoom commented on #2
I'll add @andrealin to QA. She is not currently in the credits, so adding her to QA will not cause her to "be in there twice".  If she was already part of the "team" group (the core design team), then we would not add her a second time.

[2018-07-11 21:29] pixelzoom commented on #2
@amanda-phet RC testing will start in the next couple of days. Below are the current credits.  Please specific changes, or sign off.

![screenshot_694](https://user-images.githubusercontent.com/3046552/42600291-07f80ac6-851f-11e8-8c63-837dae8b5888.png)

[2018-07-11 21:35] amanda-phet commented on #2
I don't think there are any more changes to make! Thanks!

[2018-07-11 23:04] ghost commented on #134
Fixed in master!

[2018-07-11 23:09] #134 closed

[2018-07-11 23:16] pixelzoom commented on #135
I discussed workarounds with @jonathanolson on Slack.  Easiest might be to add a transparent Rectangle that is slightly taller than the RadioButtonGroup, something like this:

[code]

[2018-07-11 23:30] pixelzoom commented on #135
The workaround in https://github.com/phetsims/equality-explorer/issues/135#issuecomment-404339567 did not work, no change.  Verified that I was indeed testing the workaround by using colors other than `'transparent'`.

[2018-07-11 23:37] phet-steele commented on #135
Nobody has said this yet, but isn't this just https://github.com/phetsims/scenery/issues/654? If it is, we should add these screenshots to that issue and probably close this one if we don't find a solution.

[2018-07-12 15:18] pixelzoom commented on #135
Thanks for identifying the relevant scenery issue @phet-steele.  I thought this was probably a known scenery issue, which is why I involved @jonathanolson.

[2018-07-12 16:43] pixelzoom commented on #135
I considered expanding the bounds of the RadioButtonGroup, but @jonathanolson said "I’m not sure increasing normal bounds would work, since bounds aren’t actually output to SVG at all."   So I'm going to stop looking for a workaround and wait for this to be addressed generally in scenery.

[2018-07-12 16:50] pixelzoom commented on #2
I've added @KatieWoe to credits, since @lmulhall-phet says that she'll be involved in RC testing.  Final credits are shown below.    Closing.

![screenshot_695](https://user-images.githubusercontent.com/3046552/42647479-5d0de024-85c1-11e8-9600-d69447c7b188.png)

[2018-07-13 17:03] pixelzoom commented on #65
`?showAnswers`is now part of initialize-globals.js, and is set to `false` for in the primary built html file, see https://github.com/phetsims/joist/issues/406.  So I've changed EqEx to use `phet.chipper.queryParameters.showAnswers`.

[2018-07-13 17:20] pixelzoom commented on #124
Reopening. We decided to do the same for the "Equality or Inequality" according box.

[2018-07-13 19:10] pixelzoom opened #137 "make state of Equation accordion box specific to screen, not scene"
Similar to what was done for Snapshots accordion box in https://github.com/phetsims/equality-explorer/issues/124.  Default state is expanded.

[2018-07-13 19:11] pixelzoom commented on #124
Moved "Equality or Inequality" according box work to https://github.com/phetsims/equality-explorer/issues/137.

[2018-07-13 19:11] #124 closed

[2018-07-13 19:14] #65 closed

[2018-07-13 19:15] pixelzoom commented on #137
@amanda-phet please verify in [1.0.0-dev.126](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-dev.126/phet/equality-explorer_en_phet.html).

[2018-07-13 19:18] amanda-phet commented on #137
Looks great.

Just to clarify, will this change also apply to Equality Explorer: Basics?

[2018-07-13 19:29] pixelzoom commented on #137
Yes, applies to all EqEx sims with screens that have multiple scenes.

[2018-07-13 19:29] #137 closed

[2018-07-13 21:32] ghost commented on #1
Links to Matrices:

1. EqEx: https://docs.google.com/spreadsheets/d/1-wXbbXEuK1M8-8zOoBZJjgGkWohWb57q3fwOtFFNeMI/edit#gid=2
2. EqEx Basics: https://docs.google.com/spreadsheets/d/1OA3O2j8Ruek4ELKLpYrMpKI6XVXB9qMDjO_Gt2YZFnU/edit#gid=2
3. EqEx Two Variables: https://docs.google.com/spreadsheets/d/1hoCfDa2wdUbZMwcjFbCflj0UfG1AKF5A3PWm3pUVxE4/edit#gid=2

[2018-07-13 22:41] EthanWJohnson opened #138 "lock Scenario 8 fails"
Windows 10 Ver. 1803.17134.165

Chrome Ver. 67.0.3396.99

The sim fails scenario 8 under specific circumstances with the setup. Scenario 8, for reference;
![image](https://user-images.githubusercontent.com/22551096/42716595-7cb3ea10-86b9-11e8-90b4-49328579c5b3.png)

On the variables screen, set up the balance so that there is one "1" circle on each side at the bottom of the stack, and the rest of

[2018-07-13 22:53] pixelzoom commented on #138
Reproduced on macOS + Chrome, so the problem is not specific to Windows.

With `?ea`:

window.assertions.assertFunction (assert.js:22)
animationCompletedCallback (SeparateTermsDragListener.js?bust=1531522144297:184)
step (EqualityExplorerMovable.js?bust=1531522144297:178)
step (TermCreator.js?bust=1531522144297:264)
(anonymous) (EqualityExplorerScene.js?bust=1531522144297:211)
step (EqualityExplor

[2018-07-13 23:05] pixelzoom commented on #138
This is faster to reproduce by making the grid smaller with `?rows=1&columns=2&showGrid&speed=0.1`.  After step 3, we have:

![screenshot_697](https://user-images.githubusercontent.com/3046552/42717580-439c5efa-86bf-11e8-9303-5ae031504fd5.png)

For step 4, drag off the left '1'.

For step 7, the empty cell on the right plate must be filled by dragging a term from the _right_ toolbox.  If you drag

[2018-07-13 23:20] pixelzoom commented on #138
Fixed in the above commit, to be verified in 1.0.0-rc.2.  Feel free to verify in master in the meantime.

[2018-07-13 23:32] pixelzoom opened #139 "animating term does not re-examine the state of a full scale"
Related to RC test https://github.com/phetsims/QA/issues/144.

I'm creating this issue since it's likely to come up during testing.

To demonstrate:

1. Run equality-explorer sim with `?speed=0.05&showGrid`.
2. Go to the _Basics_ screen
2. Fill the scale, leaving one cell open, like this:

![screenshot_699](https://user-images.githubusercontent.com/3046552/42717942-ded34fda-86c1-11e8-9410-4b7e1a78

[2018-07-14 13:57] pixelzoom commented on #138
Note to self: This needs to be patched in 1.0 branch.

[2018-07-14 13:58] pixelzoom opened #140 "fixes to lock-scenarios.md"
lock-scenarios.md describes the testing scenarios for the lock feature.  This document has never been used by anyone expect me.  So while testing the lock feature, QA will also be testing this document.

[2018-07-14 18:40] pixelzoom commented on #138
Fixed in the above commits, to be verified in 1.0.0-rc.2. Feel free to verify in master in the meantime.

[2018-07-16 15:43] KatieWoe opened #141 "[Win10 + Firefox] multitouch is broken"
When using a multi touch Windows 10 laptop to test scenario 13 on Firefox the test fails.  Instead of being able to replace the dragged term with a new term while still holding the old one aloft, the old dragged term and its equivalent on the other side will freeze in mid air.
This is for phetsims/QA/issues/144

[2018-07-16 15:48] pixelzoom commented on #141
Can you please repeat the test with `?ea&log` and include console output?  I don't have access to a Windows 10 device with touch.

[2018-07-16 15:49] pixelzoom commented on #141
Can you also please test whether this is specific to Windows 10 + Firefox? Does it occur with other Windows 10 browser?  Does it occur with other touch devices?

[2018-07-16 15:51] pixelzoom commented on #141
Note to self, scenario 13 is:

[2018-07-16 15:52] KatieWoe opened #142 "Failure in lock Scenario 8"
Both iPad 2 using Safari and a Windows 10 laptop using Firefox fail scenario 8.  Instead of the terms returning to their toolboxes, the dragged and equivalent terms will both be added back to their plates.  The right will therefore fill beyond capacity.
Screenshot:
![too many 1s](https://user-images.githubusercontent.com/41024075/42768824-b9726974-88dd-11e8-913c-067f90e6aada.PNG)
This is for phets

[2018-07-16 15:53] pixelzoom commented on #142
@KatieWoe This looks like a duplicate of https://github.com/phetsims/equality-explorer/issues/138. Do you agree?

[2018-07-16 15:58] KatieWoe commented on #142
Yes it does look similar.

[2018-07-16 16:01] pixelzoom commented on #142
Closing as duplicate of #138.

[2018-07-16 16:01] #142 closed

[2018-07-16 16:02] KatieWoe commented on #141
It does not occur on iPad 2, safari.  We haven't been able to test other devices/browsers yet, but as they do, they will be added.  I'll do the requested test momentarily.  I did have one note of clarification, is this a multitouch only test?  I may be reading it wrong but it only seems to be possible if you can drag two things at once?

[2018-07-16 16:03] pixelzoom commented on #141
Yes, it's a multi-touch only test.

[2018-07-16 16:04] pixelzoom commented on #140
@KatieWoe Thanks for pointing out the buggy scenario descriptions that I've fixed above.  Have you been through all of the scenarios?  If so, and you've found no other problems, then I'll close this issue.

[2018-07-16 16:10] pixelzoom commented on #141
Scenario 13 and 8 have much in common.  So it's possible that the fix for Scenario 8 (#138) may also fix this issue.  @KatieWoe could you please test [1.1.0-dev.1](https://phet-dev.colorado.edu/html/equality-explorer/1.1.0-dev.1/phet/equality-explorer_en_phet.html) and let me know whether the problem is present in that version?

It would be also useful to have the full problem report (browser vers

[2018-07-16 16:12] KatieWoe commented on #141
[code]
![frozen 1](https://user-images.githubusercontent.com/41024075/42769765-6d28d35c-88e0-11e8-8e5d-d7d98f29e2b0.PNG)
I don't see anything coming up on the council.  If you want I can bring the laptop to you to show you.

[2018-07-16 16:19] KatieWoe commented on #141
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Firefox 61
**Problem description:**
When using a multi touch Windows 10 laptop to test scenario 13 on Firefox the test fails. Instead of being able to replace the dragged term with a new term while still holding the old one aloft, the old dragged term and its equivalent on the other side will freeze in mid air.
This is for

[2018-07-16 16:22] KatieWoe commented on #140
We are going through the scenarios on each device and on each browser.  I have finished the iPad 2 and am still working on the Windows 10 Firefox.  I have been stopping to report problems as they're found.

[2018-07-16 16:27] KatieWoe commented on #141
In the link you gave me scenario 8 seems to be fixed, but scenario 13 is not.

[2018-07-16 16:32] pixelzoom commented on #141
OK thanks.

And thanks for the offer to bring the laptop to me to demonstrate, but I'm off campus.

[2018-07-16 17:10] pixelzoom commented on #138
If you encounter further Scenario 8 failures during RC testing, please test [1.1.0-dev.1](https://phet-dev.colorado.edu/html/equality-explorer/1.1.0-dev.1/phet/equality-explorer_en_phet.html) to confirm that the failures are addressed by this fix.   And please note the OS+browser here.

[2018-07-16 17:15] amanda-phet commented on #139
This seems like a very reasonable simplification.

[2018-07-16 17:15] #139 closed

[2018-07-16 18:32] pixelzoom opened #143 "home screen icons move up and down"
Related to RC testing https://github.com/phetsims/QA/issues/144 and reported by @phet-steele.

Changes to joist to support more screens on the home screen apparently created a new problem. As you change the screen selection on the home screen, the unselected icons move up and down. See https://github.com/phetsims/joist/issues/470#issuecomment-405336702.

@amanda-phet @ariel-phet Do you want this p

[2018-07-16 18:47] KatieWoe commented on #141
According to our testing so far it also fails on Windows 10 chrome but does work on Windows 10 Edge

[2018-07-16 18:54] ariel-phet commented on #143
@pixelzoom we can live with this, since it is not happening in the regular sim. I understand it may affect translations, but this seems like a pretty minor aesthetic annoyance for the moment, and not pedagogically damaging or such (most people just go to the first screen anyhow from the homescreen from all our user testing experience). So it is not necessary to be fixed for the 1.0 release.

[2018-07-16 19:07] amanda-phet commented on #143
I agree with everything @ariel-phet said.

It's not a problem in *this* sim, but could be in a future 5-screen sim, so it should be handled at that time.

[2018-07-16 19:11] pixelzoom commented on #143
@amanda-phet This has nothing to do with the number of screens.  It's a problem in all sims, noticeable in any sim with >= 3 screens.

[2018-07-16 19:18] amanda-phet commented on #143
Well it seems like something that should be handled, but perhaps not right now for this sim. It's @ariel-phet 's call on when.

[2018-07-16 19:23] pixelzoom commented on #143
Agreed.  I just wanted to clarify that it's not caused by (or specific to) having 5 screens.

[2018-07-16 20:14] KatieWoe commented on #141
My mistake.  Windows 10 chrome does seem to work.  It looks like its just windows 10 firefox so far

[2018-07-16 20:24] ghost commented on #141
Conversation with @phet-steele on Slack...

SD: See if at any point a "right-click" happens, i.e. you see the right click menu.

LM: Katie does right click while reproducing her issue.

SD: I still don't think this is a problem with the scenario, it's just a gesture issue on touch-screen desktop, which is why iPad 2 is fine.

[2018-07-17 03:32] pixelzoom commented on #141
@KatieWoe Looking at the console output in https://github.com/phetsims/equality-explorer/issues/141#issuecomment-405300950, I don't see "enabling assert", and that should appear if you're running with assertions enabled (query parameter `ea`).  And based on the description in https://github.com/phetsims/equality-explorer/issues/141#issuecomment-405303070 ( "unable to drag it and the first one and

[2018-07-17 03:33] pixelzoom commented on #143
Deferred, will not be addressed for 1.0 release.

[2018-07-17 03:37] pixelzoom commented on #2
@lmulhall-phet In the [EqEx test matrix](https://docs.google.com/spreadsheets/d/1-wXbbXEuK1M8-8zOoBZJjgGkWohWb57q3fwOtFFNeMI/edit#gid=2), I see EJ and ML.  Those initials don't match anyone in the QA credits.  Do we need to add someone?

[2018-07-17 14:55] pixelzoom commented on #141
@phet-steele said:

@phet-steele Could you elaborate on this?  It sounds like you're implying that this might be a general issue with gestures on touch-based desktop.  Sort of like the Android "quick settings" menu issue that was reported in #133.  If that's the case, then the problem would be in scenery's input handing subsystem, not something fixable in the sim.

[2018-07-17 15:48] amanda-phet commented on #2
Ethan Johnson and Megan Lai.

[2018-07-17 17:10] pixelzoom commented on #2
Revised credits:

![screenshot_701](https://user-images.githubusercontent.com/3046552/42833650-e9646e28-89b1-11e8-9a53-9d0248b2aa7e.png)

[2018-07-17 17:10] #2 closed

[2018-07-17 17:11] pixelzoom commented on #140
The QA team has been through all of the scenario descriptions, so I'll close this.

[2018-07-17 17:11] #140 closed

[2018-07-17 17:14] pixelzoom opened #144 "make scoreboard float to the top of the browser window"
... to compensate for incorrect layout bounds on iOS (see https://github.com/phetsims/joist/issues/500) where things currently look like this:

![42830755-916ef420-89a9-11e8-894b-3efcd81cda4e](https://user-images.githubusercontent.com/3046552/42833819-7fc51c64-89b2-11e8-94e6-acc23f0c9d9b.jpeg)

Related to RC testing https://github.com/phetsims/QA/issues/144.

[2018-07-17 17:32] pixelzoom commented on #144
Changed in 1.0 and master, to be verified in 1.0.0-rc.2.

[2018-07-17 17:53] pixelzoom commented on #141
I met with @KatieWoe and @lmulhall-phet to reproduce and discuss this issue.

First... `?ea` wasn't working because we were testing the main html file, which has assertions stripped out.  I forgot to mention that the debug.html version needed to be used.  That said, with `?ea&log` and the debug.html, assertions were enabled, but there was no assertion failure.

Second... @phet-steele's hunch was c

[2018-07-17 17:57] amanda-phet commented on #141
Is it worth saying in our help center that if using a touch desktop with windows 10, to not use firefox? (Also, in the scenery issue, we should verify if this occurs on windows 10 tablets as well, right?)

[2018-07-17 17:59] pixelzoom commented on #141
I marked this issue as "deferred" and opened scenery issue https://github.com/phetsims/scenery/issues/837.  I copied @amanda-phet's above comment to that issue.  Let's continue the general discussion there.

[2018-07-17 18:08] pixelzoom commented on #125
@lmulhall-phet Reminder that if we do complete RC testing and are able to publish (tomorrow 7/18?), then we will need these screenshots in order to publish.   So raising the priority.

[2018-07-17 21:03] EthanWJohnson commented on #138
I'm not seeing this happening in my testing anymore, so i'll mark it closed.

[2018-07-17 21:03] #138 closed

[2018-07-17 21:10] KatieWoe commented on #144
Possible to hide scoreboard behind tabs
Test device:
iPad2
Operating System:
iOS 9.3.5
Browser:
Safari
Problem description:
For phetsims/QA/issues/148
The Pink Scoreboard can be hidden behind newly created tabs briefly on an iPad.  When creating a new tab in safari to create a tab bar, the scoreboard will not lower to a new position and will therefore be hidden behind the new tab bar.  This is cor

[2018-07-17 21:12] phet-steele commented on #144
@KatieWoe let me introduce you to this awesome issue: https://github.com/phetsims/joist/issues/234 (I think this is what you are describing, you didn't post a screenshot)

@pixelzoom the floaty-ness is looking good. Closing.

[2018-07-17 21:12] #144 closed

[2018-07-17 21:13] pixelzoom commented on #144
Ah yes, the lovely complications of rotating an iPad.   Not something I can address here, as @phet-steele pointed out.  So we'll call this good.

[2018-07-17 21:16] ghost commented on #144
@pixelzoom, @phet-steele confirmed same issue.

[2018-07-17 21:23] pixelzoom commented on #125
We are ready to publish sims when screenshots are completed.

[2018-07-18 17:50] KatieWoe commented on #125
How does this look instead for the operations screenshot?
![equality-explorer](https://user-images.githubusercontent.com/41024075/42898520-a019419c-8a80-11e8-8521-58c7a40855a5.png)

[2018-07-18 17:55] amanda-phet commented on #125
@KatieWoe I'm fine showing a few snapshots, but the equation I set up was intentional so I'd like to keep that. I also want the lock to be locked.

[2018-07-18 17:59] phet-steele commented on #125
@KatieWoe I suppose this could be used when we need alternates.

[2018-07-18 18:00] KatieWoe commented on #125
Sorry, miscommunication.  I misunderstood what was wanted in the screenshot.  My bad, I'll fix it.

[2018-07-18 19:01] pixelzoom commented on #125
Screenshots received from @lmulhall-phet, approved by @amanda-phet, pushed to master and 1.0 branches.

Closing.

[2018-07-18 19:14] pixelzoom commented on #1
All remaining items in the checklist are for @amanda-phet to complete.

[2018-07-18 19:36] pixelzoom commented on #143
To be addressed in 1.0.1 maintenance release.

[2018-07-19 00:46] jonathanolson commented on #143
Should I make the patch in the 1.0 branch for the sim?

[2018-07-19 00:51] pixelzoom commented on #143
Is there another way to make a 1.0.1 maintenance release than in the 1.0 branch?

[2018-07-19 00:53] jonathanolson commented on #143
No, I just didn't know if you would prefer to make the change. I'm happy to.

[2018-07-19 00:59] pixelzoom commented on #143
I won't be able to make the change until > August 5, and I believe that @ariel-phet would like it done sooner.   And there may be other sims that need to be patched.

[2018-07-19 01:00] jonathanolson commented on #143
I'll take care of it, and I'll look up the commits to see about other sims that may also need the patch.

[2018-07-19 02:17] pixelzoom commented on #143
@ariel-phet said something about masses-and-springs in https://github.com/phetsims/joist/issues/470#issuecomment-406009180.

[2018-07-19 02:18] pixelzoom commented on #143
... and thanks for handling the patch.

[2018-07-25 22:32] amanda-phet commented on #1
@ariel-phet can you please add to Gooru and Edmodo?